[2020-04-17 19:25] ColCh commented on #1138
May be, there is some way to get this working?

I'd like to utilize `TypeSchema` as well

may be, there is some generic with 4 parameters? e.g. `MachineDefinition<TContext, TSchema, TEvent, TTypestate>`? That would be enough for me, to use it in somewhat like following snippet:

[code]

[2020-04-17 19:35] ColCh commented on #1138
may be related but I'm not sure https://github.com/davidkpiano/xstate/issues/1120

[2020-04-17 19:52] davidkpiano commented on #1138
The `Typestate` feature is for `state.matches(...)`, and not yet for within the state machine. That's something we're going to work on for V5.

[2020-04-17 19:52] ColCh commented on #1138
Thank you for your answer!

So, there is no temporary workaround for this?

[2020-04-17 19:56] ColCh commented on #1138
Ah yes, it seems that main point is here:

[code]

[2020-04-17 20:02] davidkpiano commented on #1138
I would accept a PR if you really want this feature.

[2020-04-17 20:04] ColCh commented on #1138
Sure but please advise me on some steps to get started, because I'm not familiar with codebase. It's `StatesConfig` right?

[2020-04-17 20:06] davidkpiano commented on #1080
@Yuyz0112 This has been published

[2020-04-18 18:00] AlbertoLopSie opened #1140 "TypeError: choose is not a function"
**Description**

Trying to run the sample code at https://xstate.js.org/docs/guides/actions.html#choose-action throws an `TypeError: choose is not a function `  error

**Expected Result**
It should run fine

**Actual Result**

**Reproduction**
Just try to run a project with the sample code in de [documentation](https://xstate.js.org/docs/guides/actions.html#choose-action)

**Additional context**

[2020-04-19 00:26] Ethan-Arrowood opened #1141 "Misleading docs for the guardMeta argument"
**Description**

In the Guards documentation section, the 3rd argument has misleading descriptions:

https://xstate.js.org/docs/guides/guards.html#guards-condition-functions

https://xstate.js.org/docs/guides/guards.html#serializing-guards

Is the `state` property the machine state after or before transition?
Or is this the different between nonserialized and serialized guard functions?

Whichever

[2020-04-19 02:25] CodingDive opened #1142 "[TypeScript] State randomly becomes `never` type"
**Description**
I'm running into a weird type error with `state` randomly becoming the `never` type.

It doesn't seem to matter what I try:

[code]

After successfully using `state.context` or `state.matches` a couple of times, `state` suddenly gets into the `never` type and starts throwing errors randomly.

**Expected Result**
`state` to not lose its designated type.

**Actual Result**

Here you

[2020-04-19 02:34] CodingDive commented on #1142
Is it possible that `state.matches` somehow changes the `state` to never?
https://github.com/davidkpiano/xstate/blob/3dcf91861964f0e3c581b08fcb3357f658b75bea/packages/core/src/State.ts#L290

I seem to run into this issue right after using `state.matches`. Will try to reproduce this one more time soon :)

[2020-04-19 03:19] CodingDive opened #1144 "[4.9] stateGuard state for choose action creator"
Hey, I've just started playing with the new `choose` action creator. Amazing job @Andarist and @davidkpiano. I just saw the tests and was amazed to see even nested `choose` actions work. 🔥

**Description**
It would be very nice to pass the whole `guardMeta` object, including the `state` to the conditional expressions of the `choose` action creator.

[code]

**Expected Result**

Passing the current

[2020-04-19 04:21] davidkpiano commented on #1144
Great that you're playing around with it! By the way, for your specific example, there might be a better way to model it. You shouldn't use `state.matches()` in a guard function - that function should be part of the matched state naturally.

[2020-04-19 14:06] davidkpiano commented on #1142
Can you please put this in a CodeSandbox?

[2020-04-19 14:18] CodingDive commented on #1144
@davidkpiano I very rarely have the need to use `state.matches` in a guard. When I do, it's typically to check the machine state of orthogonal nodes. Is there a better way to do this?

___

Closing this issue. `stateGuard.state` is not available during the initialization of the machine. It should work right after. See the discussion [here](https://github.com/davidkpiano/xstate/pull/1145).

[2020-04-19 14:18] #1144 closed

[2020-04-19 14:42] CodingDive commented on #1142
I was able to reproduce it in a CodeSandbox [here](https://codesandbox.io/s/never-state-xstate-i796v). Had to use `<any, any>` again to reproduce it, just like in the test. I also tried the latest `@xstate/react` rc.4 but am running into the same issue.

[2020-04-19 15:12] CodingDive commented on #1140
Make sure you are using XState `4.9.1`. Check your `yarn.lock` that you are on the correct version. It's working fine for me.

[2020-04-19 17:01] davidkpiano commented on #1140
If you can still reproduce this with `4.9.1` I expect a CodeSandbox (links are in the issue template) showing the issue.

[2020-04-19 17:01] #1140 closed

[2020-04-19 17:04] davidkpiano commented on #1142
Workaround: use `createMachine` instead: https://codesandbox.io/s/never-state-xstate-ch5m3

That is what you should be using instead of `Machine`, moving forward.

[2020-04-19 17:06] davidkpiano commented on #1144
Yes, using `in`: https://xstate.js.org/docs/guides/guards.html#in-state-guards

Remodeling might also help.

[2020-04-19 17:29] LouDou commented on #1099
Hi all, I've since realised that this is achieved by invoking an entire new sub-machine, as it is fully explained in the documentation :)

Just one caveat, that the parent machine event types must be a union of all events used by that machine and it's children, recursively. That's easy enough to manage for now as I don't need to make any child-machine re-usable in a different configuration - all I

[2020-04-19 19:31] CodingDive commented on #1141
Nice catch. I believe the docs are wrong here.
I think a `stateGuard` always has the current machine state. Only when the guard evaluates to true, the transition can be taken. Therefore, the state in a guard should always be the one before the transition.

[2020-04-19 19:53] davidkpiano commented on #1141
Would gladly accept a PR for this one!

[2020-04-19 19:53] #1099 closed

[2020-04-19 20:19] davidkpiano opened #1146 "--"
https://github.com/davidkpiano/xstate/blob/v5/actorref/test/actor.test.ts#L65-L65

[2020-04-19 20:20] davidkpiano commented on #1146
(hah, apparently you can make issues from inside VS Code...)

[2020-04-19 20:20] #1146 closed

[2020-04-20 01:20] cellog opened #1147 "pure action is not exported from `actions`"
**Description**

the `pure` action creator appears to be exported from `xstate/lib/actions`, but contrary to the docs, is not exported from `actions` when imported this way:

[code]

**Expected Result**

pure should exist as documented

**Actual Result**

can be worked around, but does not import as documented

**Reproduction**

- [CodeSandbox template (JavaScript)](https://codesandbox.io/s/xstate

[2020-04-20 09:46] imjuni commented on #90
I think [Mermaid](https://mermaid-js.github.io/mermaid/#/) that is great opensource drawing tool. If xsate can extract transition flow, easily can draw mermaid chart. Also Mermaid can export png, pdf, svg. How about it?

[2020-04-20 12:17] davidkpiano commented on #1147
Please try 4.9.1

[2020-04-20 12:17] #1141 closed

[2020-04-20 18:49] jeremy-deutsch commented on #1094
@davidkpiano Just saw `useEffectReducer` - does the "scheduling side effects with `useEffect`" approach used there mean you're likely to do something similar with `useMachine` when concurrent mode becomes stable?

[2020-04-20 18:55] EddyVinck opened #1149 "Improve contribution documentation for implementing xstate in other frameworks"
## Feature request
Improve the documentation for future (unofficial) implementations of `xstate`

## Description:
New frameworks come and go. I can't imagine having an official version of XState for every library or framework out there (although [@xstate/svelte would be great!](https://twitter.com/Veinq_/status/1245082165215444998)) as it would be too much of a burden to maintain.

I'm personally

[2020-04-20 18:58] davidkpiano commented on #1094
Already done. Check out `@xstate/react@next` - it handles actions through `useEffect` rather than just firing them.

[2020-04-20 20:19] jeremy-deutsch commented on #1094
That's really cool! Looking over the `useActor` code now - looks like I was a bit behind the curve :smile:

[This](https://github.com/davidkpiano/xstate/tree/davidkpiano/xstate-react/packages/xstate-react/src) is the branch, right?

[2020-04-20 20:21] davidkpiano commented on #1094
Yep! That's the branch. Still a couple things left to fix, though.

[2020-04-20 20:30] jeremy-deutsch commented on #1094
Cool stuff! Definitely a lot less extreme than reimplementing `interpret()` in a React hook.

[2020-04-21 04:40] #1147 closed

[2020-04-21 04:44] #1142 closed

[2020-04-21 08:08] zrthust opened #1151 "Missing documentation for sendParent(context => {})"
Hello David,

I write this as a reminder for you to add, as you've asked on the chat.

Also, Typescript is not aware of the context in sendParent(context => {}). It gives me the 'implicit any' error. In other situations, it already knows that the context is related to the machine and it's aware of the context structure.

[2020-04-21 23:30] saadshahd opened #1152 "Chosen actions are not applied if it's pure or assign"
**Description**
I'm trying to use the new choose action creator but the chosen actions don't get applied if they are pure or assign.

Only log and send work with me.

**Expected Result**
The child assign action of the choose to be invoked

**Actual Result**
The child assign action of the choose didn't get invoked.

**Reproduction**

- [CodeSandbox (JavaScript)](https://codesandbox.io/s/quizzical-s

[2020-04-22 01:32] davidkpiano commented on #1152
Given your current code, you shouldn't be using `choose(...)` at all. What is your use-case for using `choose(...)`?

[2020-04-22 09:27] saadshahd commented on #1152
@davidkpiano Thanks for the awesome library.

The code is just a simple example of using the `choose(...)`. in the real work example, I am trying to trigger a different set of actions based on the state of a parallel machine.

[2020-04-22 09:30] saadshahd commented on #1152
But however, even if semantically my use-case doesn't make sense. Based on the docs I think my snippet of code should work differently. Am I right?

[2020-04-22 09:40] Andarist commented on #1152
@saadshahd yes, it should work - I've located the problem, gonna prepare a PR with the fix soon.

[2020-04-22 09:46] Andarist commented on #1152
Here you go: https://github.com/davidkpiano/xstate/pull/1153

[2020-04-22 10:11] saadshahd commented on #1152
@davidkpiano below is a chunk my real-world use case, I would really appreciate if you looked and suggested some refactoring.

[code]
I see now that I could easily get rid of `setVideoTimestampWithMode` by decalring the `SET_VIDEO_TIME_WITH_MODE` event on the video mode state nodes instead of the rool level.catch((err) => {})
But I still can't figure out what could I do better to get rid of `setLo

[2020-04-22 13:03] #1152 closed

[2020-04-22 19:04] CodingDive opened #1155 "Delayed transition should keep the event that originally caused the transition"
**Description**
I think this is more a question than a bug report. Is it possible to keep the original event that triggered the delayed transition?

[code]

Is there a way to possibly access the `nonContextVariable` of the event inside the `filtering` state node?

**Expected Result**

I expected a delayed transition to behave similarly to a transient transition. Conceptually, I think about the `af

[2020-04-22 19:10] davidkpiano commented on #1155
Yeah, it should be pretty trivial to put the original event on the special `xstate.after` event.

[2020-04-23 01:55] #1151 closed

[2020-04-23 03:39] tylerthehaas opened #1158 "runtime exception when used with next.js"
**Description**
runtime exception is thrown when used with next.js

**Expected Result**
to be able to run when used in a next.js app

**Actual Result**
runtime exception thrown see attached image.

**Reproduction**
https://github.com/tylerthehaas/nextjs-xstate

**Additional context**
![image](https://user-images.githubusercontent.com/11150235/80056368-45b1a700-84e1-11ea-8f54-8d40d4f6b3b6.png)

[2020-04-23 07:53] knobo commented on #1111
I have the same problem.

[2020-04-23 07:57] knobo commented on #1111
Wrapping the whole thing in as a child state worked. But it's a bug anyway.

[2020-04-23 08:39] aksonov commented on #221
@davidkpiano Sorry, but I don't understand why we can't have 'local' context for each machine too. It is like local variable in the program. Just check iOS 'Time' app. It has many tabs, alarm, timer, world clock, etc. Each tab has own context data.

About restaurant example - it is natural for restaurant app to have separate UI that will display all internal stages of cooking.. In other words, app

[2020-04-23 12:04] CodingDive commented on #221
Hey @aksonov,

Each machine has it's own private context.

Each area will also have its own behavior and responsibility. You could have a generic `timerMachine` that is used by the `microwaveMachine`, `ovenMachine` or just on it's own. You'd maybe think that those machines need to know about the timer at all times when in reality, they are just concerned about rendering the UI for starting, stoppi

[2020-04-23 12:10] aksonov commented on #221
@CodingDive Thanks for quick response! I'm old fan of state machines and integrated some kind of state machine into my React Native Router Flux v4 library (`onEnter`, `onExit` handlers for screens).

Now I'm working on RNRF v5 and want to integrate it with XState and react-navigation together. So idea is to build navigation state machine for global app navigation and children state machines would

[2020-04-23 12:19] CodingDive commented on #221
You don't need to go all actors for that. Even though you could and I'm using a ton of actors in my app, every know and then it feels good to break out of the `useService` chains and use `useMachine` for passing some services or context. `withConfig` and `withContext` are quite powerful so if your only `useMachine` hook lives at the very root, you're automatically missing out on a lot of goodies.

[2020-04-23 12:29] davidkpiano commented on #1111
Looking into this now.

[2020-04-23 15:40] abinavseelan opened #1159 "Transient Transitions issue in @xstate/fsm"
**Description**

[Transient Transitions](https://xstate.js.org/docs/guides/transitions.html#transient-transitions) seem to not trigger when using `@xstate/fsm`.

Have linked below a repro codesandbox using the example from the docs.

_On a side-note, thank you so much for putting together this package._ ❤️

**Expected Result**

Transient transitions allow state changes to occur without an event.

[2020-04-23 16:03] davidkpiano commented on #1159
Thanks for the report, but transient transitions (and microtransitions, raised events, etc. in general) are currently not supported in `@xstate/fsm`.

This is where you would want to either reach for `xstate`, or manually send a null event: `send('')`.

[2020-04-23 16:03] #1159 closed

[2020-04-24 04:11] JackCA commented on #1047
I'm encountering this now as well

[2020-04-24 04:35] JackCA commented on #1047
after digging further, this is probably https://github.com/davidkpiano/xstate/issues/603 in my case

[2020-04-24 06:10] davidkpiano commented on #1047
@JackCA Can you provide a reproducible example?

[2020-04-24 10:02] aksonov commented on #221
@CodingDive Thanks, the question how to use this approach for authentication/registration flow with navigation between different UI screens?

Use case: typical app with auth.
Screens:
1. "Loading" screen
2. Welcome UI (for new users), has links to Login/Register
3. Login UI
4. Register UI
5. Main UI

The most interesting moments are to check if user is new and to check if auth session is still val

[2020-04-24 12:37] CodingDive commented on #221
If that's the case, then model it as actors.

In the application I work on, I have quite some auth setup too. Sign up wizard, login, same component being used in a modal or as a standalone component, social auth, etc. The way I modeled it was to have an `AuthMachine` at the very top. It conditionally transitions to the sign up or register mode and accordingly invokes their respective machines. The

[2020-04-25 15:57] davidkpiano commented on #1158
Could not reproduce (thanks for the CodeSandbox example): https://codesandbox.io/s/github/tylerthehaas/nextjs-xstate

[2020-04-25 15:57] #1158 closed

[2020-04-26 18:18] chriscalo commented on #1136
I think all that's needed is a new deployment to npm and unpkg will mirror it.

[2020-04-27 08:09] knobo commented on #1111
I was fetching all resources needed by a webpage before displaying it.
It works for me to do it as I did, by wrapping it as a child state. I don't have to have this fixed now, but it should be documented. Because it took me some time to figure this out.

[2020-04-27 12:07] davidkpiano commented on #1094
Added to Roadmap

[2020-04-27 12:07] #1094 closed

[2020-04-27 12:08] davidkpiano commented on #1149
Added to Roadmap

[2020-04-27 12:08] #1149 closed

[2020-04-27 12:10] #939 closed

[2020-04-27 12:11] davidkpiano commented on #1116
Added to Roadmap

[2020-04-27 12:11] #1116 closed

[2020-04-27 12:15] davidkpiano commented on #1104
Added to Roadmap

[2020-04-27 12:15] #1104 closed

[2020-04-27 12:17] davidkpiano commented on #1101
@jtmthf Here's a more idiomatic way you can alternatively do this:

[code]

[2020-04-27 12:17] #1101 closed

[2020-04-27 12:20] davidkpiano commented on #1064
Added to Roadmap (also see #1149)

[2020-04-27 12:20] #1064 closed

[2020-04-27 12:26] davidkpiano commented on #1038
This is what `pure()` lets you do: https://xstate.js.org/docs/guides/actions.html#pure-action

[code]

[2020-04-27 12:26] #1038 closed

[2020-04-27 12:28] davidkpiano commented on #906
Added to Roadmap for improved documentation

[2020-04-27 12:28] #906 closed

[2020-04-27 12:30] davidkpiano commented on #880
Closing this for now - you can find many examples of state machines here: https://gist.github.com/search?q=xstate

[2020-04-27 12:30] #880 closed

[2020-04-27 21:34] Andarist commented on #1111
@davidkpiano maybe we could also add a dev-only working when we find `onDone` defined on the root? As it can't work (because the machine is determined by then, like you have said) then we could just surface misusage to the user early.

[2020-04-27 23:52] wuweiweiwu opened #1161 "Machines don't invoke service when spawned"
**Description**

I followed the reddit example but with `createMachine` instead of `Machine` and found that the subreddit machine which should send an api call on `spawn` does not. This does not occur with `Machine`

**Expected Result**

expect `createMachine` and `Machine` to have the same behavior

**Actual Result**

subreddit machine is always in `loading` state and never invokes the service

*

[2020-04-27 23:54] wuweiweiwu commented on #1161
although from initial looking at the source it doesnt seem to be different other than how initial context is inferred

[2020-04-28 00:05] wuweiweiwu commented on #1161
played around with the version of `@xstate/react` seems like only `1.0.0-rc4` is broken `1.0.0-rc3` works

[2020-04-28 02:46] jscheid commented on #947
Still an issue for me with latest everything: typescript 3.8.3, xstate 4.9.1, @xstate/react 0.8.1... in my case `tsc` is happy for some reason, it's only `tsserver` complaining. The `<any>` (or `<unknown>`) workaround doesn't help unfortunately.

[2020-04-28 03:09] davidkpiano commented on #1161
Duplicate of #1125

[2020-04-28 11:14] CodingDive commented on #947
I didn't realize this issue has been raised before. I experienced the same problem and reported it here https://github.com/davidkpiano/xstate/issues/1142.

@jscheid solution of moving `state.matches` into the variable works.

Another workaround is to reassign the state.

[code]

[2020-04-29 07:35] renerbaffa commented on #1111
My use-case is similar to @knobo. Fetching from different sources and moving on with the parent state afterwards. `service.onDone(...)` worked as pointed out.
I liked the idea of adding this use-case in the documentation. Would have saved me some time 😅

[2020-04-29 12:19] #1072 closed

[2020-04-29 14:51] #1111 closed

[2020-04-29 18:02] 11111000000 opened #1166 "Viz don't work"
**Description**
<ExtViz / > don't work

**Expected Result**
working ExtViz

**Actual Result**
render errors when I try to use lastest master. Provided example also don't start properly...

**Reproduction**
yarn
cd packages/xstate-viz/example
yarn start

[2020-04-29 18:14] davidkpiano commented on #1166
It's not meant for public consumption until I actually release it publicly.

[2020-04-29 18:14] #1166 closed

[2020-04-30 03:25] rwschmitz opened #1167 "Inject different contexts into Xstate testing based on results of mocked API call"
**Description**

I would like to be able to:
- Create one test machine.
- Create one test model.
- Within the single test machine, when an API call is intercepted (by mocking Axios for example), be able to provide different mocked results from this API call.

**Why?**

When in a loading state, waiting for the API call to resolve, the API call can resolve with different data.

Let's say I was check

[2020-04-30 04:52] rwschmitz commented on #1167
So, there actually is a solution for this.

When creating your test machine, and you need decide which path to take (`isVerified: true` or `isVerified: false`), you can simply add an `actions` property to your `verifiedStatus` state.

In this `actions` property, you can use `assign` to update the context to take you down whichever path you want.  So, in this case, you can use `assign` to set `isVe

[2020-04-30 04:52] #1167 closed

[2020-04-30 10:19] 11111000000 commented on #1166
@davidkpiano  How can I help you?

[2020-04-30 12:54] CodingDive commented on #943
@Andarist I love state schemas as it is the primary way for me to make sense of a machine. When actions, services, guards, and everything is already defined, it can be hard to see all the different states in the implementation.

As I haven't really used TypeStates yet, how would I represent parallel nodes or leave nodes that use the same state node name?

For a state machines as in the docs, it's

[2020-04-30 14:03] davidkpiano commented on #943
Thanks for your thoughts, @CodingDive. This is still being explored; ideally, as much as possible should be inferred from the passed in config object, but I see the value that some sort of state schema would provide. It would be better if that state schema could be _generated_.

[2020-04-30 15:07] sukima commented on #1167
You can do this two ways. Based on what you are describing I highly recommend using two separate states that test each situation the API can get yourself into.

![UML state diagram of a simple form validation test](https://www.plantuml.com/plantuml/svg/bP71Qi9048Rl-nHpj0Lz00_5Y2a46W-Q1agHi4qcpU9cLtOcKIc-UtSHshJnucc6-V-PR-1V44l7NQk5OCKQOQlQWo-vrAgIhAo1r5QenVlZ3gRJ9rXgQVRFrhNYfuCvjCXonaWyUO0lgCEmLgW

[2020-04-30 15:29] sukima commented on #1167
That said your specific need can be accomplished with the API mocking you just have to redesign the mocking a little. Instead of defining it in the test itself you have to manage it in the events. I did this basic promise based one.

[code]
[code]

[2020-04-30 18:24] rwschmitz commented on #1167
@sukima -- Thank you very much for the quick and detailed response.

Follow up question.  Is there anything inherently wrong with the way I implemented it, accessing the context in the `testPlans.getSimplePathPlans` loop, and providing that context to my mock API call?

[2020-04-30 19:57] davydof commented on #1058
@davidkpiano
I found better solution:

[code]

[2020-05-01 00:06] EulerTourist opened #1168 "Super Quick Example fails to run on Node v14"
**Description**
Super quick example fails to run

**Expected Result**

**Actual Result**
import { createMachine, interpret } from 'xstate';
                                          ^^^^^^^^^
SyntaxError: The requested module 'xstate' does not provide an export named 'interpret'
    at ModuleJob._instantiate (internal/modules/esm/module_job.js:92:21)
    at async ModuleJob.run (internal/modules/es

[2020-05-01 00:18] sukima commented on #1167
You can,

Doing it this way means you have two separate test paths. It might be right for you but then again it might remove some opportunity to have the computer build that branching paths for you. One of the advantages of using model-based testing is the ability to model your intent and let the computer do the work to generate the tests. In your case you are taking some of that generation on you

[2020-05-01 00:27] rwschmitz commented on #1167
Ah okay, that makes sense.  I'll see either in this implementation or the next machine that I author, about doing a more "hands-off" approach in testing generation.  I think  you make good points.

Thank you again for taking the time to provide examples and also explain what's going on with them!

[2020-05-01 01:20] davidkpiano commented on #1168
cc. @Andarist Is this an ESM issue?

[2020-05-01 06:16] EulerTourist commented on #1168
I am able to get it going for now with:

    import fsm from 'xstate';
    const lightMachine = fsm.createMachine(config);

    //also as service
    const lightService = fsm.interpret(lightMachine);

[2020-05-01 08:02] Alserda opened #1171 "escalate() in the XState Vizualizer"
**Description**
I'd like to see the [escalate action creator](https://xstate.js.org/docs/guides/actions.html#escalate-action) included into the [XState Vizualizer](https://xstate.js.org/viz/) so it can be used there.

**Expected Result**
`escalate` as an available variable.

**Actual Result**
`escalate` is not defined.

**Additional context**
I was trying to visualize a state machine that invoked

[2020-05-01 12:22] danielkcz opened #1172 "Partial support for observables subscribe method"
**Description**
Looking at the [proposal for observables](https://github.com/tc39/proposal-observable#observable) the `subscribe` method either accepts an object with `next/error/complete` properties or 3 callbacks.

However, looking at XState source it seems that only the latter form is accepted.

https://github.com/davidkpiano/xstate/blob/7f5f7adc8c2a1ccb369cb795bdc4a962a9ea175b/packages/core/sr

[2020-05-01 12:31] FredyC commented on #1172
The current workaround is to invoke a callback instead.

https://stackblitz.com/edit/react-ts-9w4fpr?file=index.tsx

[2020-05-01 13:08] davidkpiano commented on #1172
Can you make a PR for this? Would love to support the other subscribe signature.

[2020-05-01 13:12] FredyC commented on #1172
I think I will wait for V5 with it. It's not immediate pain since there is a viable workaround.

[2020-05-01 22:11] Andarist commented on #1168
Duplicate of https://github.com/davidkpiano/xstate/issues/963

Yes. We currently don't provide enough information for node (through package.json) for it to be able to load our ESM files. The issue is not so simple as it might look like though, comes with some caveats and at this point in time changing it for v4 would be a breaking change for every ESM consumer in node as they would have to change

[2020-05-01 22:14] Andarist commented on #963
Sorry for not responding sooner, I've missed your reply.

1. use CJS
2. or use default export for now
3. or use `esm` loader like you have done.

[2020-05-02 08:48] Andarist commented on #1063
Truth to be told - both works: https://codesandbox.io/s/determined-morse-nxm9j?file=/src/index.js , but the preferred way should be:
[code]

I also can't find any problem with TS in this regard:
https://codesandbox.io/s/small-glade-nbikr?file=/src/index.ts

@haywirez Could you prepare a repro case of your problem?

[2020-05-02 08:52] Andarist commented on #943
q: would in-editor schema visualizer or something like "copy schema" command in the IDE solve your concerns @CodingDive ?

[2020-05-02 11:36] CodingDive commented on #943
@Andarist yes, good visualization or autogeneration would definitely be a very good possibility to my problem.

The only problems I see then are

1. Typestate values are string-based
2. Typestate discriminatory types have no relationship with the actual state structure in the implementation. The primary way to move states around and to refactor would be to do it within the implementation. Then, if

[2020-05-03 18:07] FredyC commented on #1116
@davidkpiano So I take there is a way to stop actors, but it's not documented? Can you at least give some quick pointers?

[2020-05-03 18:20] davidkpiano commented on #1116
Sure:

- You can call `actor.stop()` to stop an actor.
- When a machine is stopped, all actors (spawned or invoked) are stopped.

[2020-05-03 18:36] FredyC commented on #1116
Great, it works :) Small example with observable in case someone else wonders about it.

https://codesandbox.io/s/thirsty-meninsky-m7t0j?file=/src/index.js

[2020-05-03 22:41] Andarist commented on #1056
@MrNovado this is a really cool experiment! It IMHO showcases nicely that this can be done.

The one problem I have with the used approach is that it requires defining schema separately and I believe that the experience of authoring machines should not change (not by much at least). Otherwise, we force people to learn more APIs, we need to document more, etc. Schemas are useful, but for the ideal

[2020-05-04 04:08] ericfuxealth opened #1174 "Warning "No implementation found for action type" shown when starting machine from persisted state"
**Description**
The following code persists a state then recreate it. It then starts an interpreter based on the saved state. The following warning is shown in the output:

Warning: No implementation found for action type 'report'

**Expected Result**
No warning

**Actual Result**
Warning: No implementation found for action type 'report'

**Reproduction**
[code]

[2020-05-04 04:15] chancestrickland commented on #552
On the topic of TypeScript examples, it could be nice (and possibly automated?) if code snippets could be illustrated in both TS and JS. I see that this gets asked about a lot, so perhaps this could reduce the number of TS-related issues and questions coming in as well. Perhaps doable without cluttering up the screen by using tabs at the top of each code element that toggle between the two?

[2020-05-04 08:21] lukekarrys opened #1175 "TypeScript compilation error in @xstate/react/lib/fsm.d.ts"
**Description**
I'm getting the error `node_modules/@xstate/react/lib/fsm.d.ts:2:169 - error TS2344: Type 'TC' does not satisfy the constraint 'object'.` when including `import { useMachine } from "@xstate/react/lib/fsm"` in my app. I can work around it with `--skipLibCheck true`.

**Expected Result**
I expected the code to compile with `tsc` without using `--skipLibCheck true`.

**Actual Result**

[2020-05-04 17:52] gpietro commented on #188
I'm trying to do something similar:
States:
- created
- ready
- in_progress

can go to a state **suspended**, ON_RESUME: I need to go back to the previous state that could be created, ready or in_progress.

[2020-05-04 18:27] davidkpiano commented on #188
@gpietro That is possible if those created/ready/in_progress states are in a nested state:

[code]

[2020-05-05 06:07] amir-zahedi opened #1177 "React hooks loose StateSchema types"
**Feature request description**
React hooks do not allow StateSchema generic types to be passed and always pass any to StateMachine<TContext, any, TEvent>

**Current Behaviour**
StateSchema is always typed to any in useMachine and useService hooks, resulting in the state object coming back as not being typed.

**Expected Result**
A generic type to be exposed by the hooks for the StateSchema

**Rep

[2020-05-05 11:33] davidkpiano commented on #1177
Typestates don't use the StateSchema. Please see https://codesandbox.io/s/floral-shadow-8qoy3?file=/src/index.tsx

The StateSchema is only useful for constructing the machine, and that information is not needed after the machine is constructed.

[2020-05-05 11:33] #1177 closed

[2020-05-05 22:06] amir-zahedi commented on #1177
Thanks @davidkpiano. That's what I was looking for.

[2020-05-06 15:40] gunn4r commented on #1015
Can confirm fixed on mine as well. Thanks!

[2020-05-07 11:39] PetrBrabec commented on #711
Is someone working on this? Or may I help with that?

[2020-05-07 21:28] impleri opened #1179 "Typescript error in compound child state"
**Description**

Typescript does not seem to like a child state node having a final state and a defined initial state. However, removing the initial property fixes the TS error (though it then causes the machine to be invalid). Also, omitting the schema from

**Expected Result**

A child compound node that contains a final node without TS error.

**Actual Result**

The error given by typescript is

[2020-05-07 21:38] impleri commented on #1179
Workaround: Turn off `strictNullChecks` in tsconfig.

[2020-05-07 22:40] davidkpiano commented on #1179
Not sure what's going on (lots of type indirection here) but if you defined your schema as this:

[code]

There is no issue. Please check against this.

[2020-05-07 22:40] #1179 closed

[2020-05-08 17:17] impleri commented on #1179
Except that causes another TS error: `Type 'OwnStateSchema' does not satisfy the constraint 'StateSchema<any>'.`. It's why I've added more explicit typings. The repro has been updated with the above schema and his the typing error.

[2020-05-08 19:02] davidkpiano commented on #1179
When you nest states, you need to add them in the `states` property:

[code]

[2020-05-08 20:03] jschppll opened #1180 "Parallel state machines don't call invoke when using raise()"
**Description**
Given two paralell states (One and Two) where One has an invoke and an event listener, and Two has an event listener listening for the same event, the state chart will break if:
a) One uses the RAISE action when the event is fired AND
b) Two enters a new state with another invoke.

It won't break if One doesn't have an invoke or if the raise action inside One is replaced with "targ

[2020-05-08 20:45] Andarist commented on #1180
Thanks for reporting this with a repro case - I'm going to investigate this 🔜 and hopefully provide a fix for it.

[2020-05-08 22:47] #711 closed

[2020-05-09 16:17] MrNovado commented on #1056
@Andarist

Technically, `xstate` already asks its users to define their schemas separately. Not necessarily into a separate module right away, but once a schema is completely declarative, decoupled from its implementations (which is the way it should be), you can move it around no problem. And let us not forget about `scxml`-schemas which, one could argue, will always be sourced as their own compl

[2020-05-10 11:53] nik-lampe commented on #1174
Having the same problem here.
When you set the actions array on the previousState Object to an empty array it seems to work fine. I have no Idea if that breaks anything though

[2020-05-10 21:39] #1174 closed

[2020-05-12 11:17] Hydrock opened #1184 "machine instance type is never"
**Description**
when using the machine after the operator or is defined as never
this problem is appear in xstate@4.7.0

**Expected Result**
this result on 4.7.1
![image](https://user-images.githubusercontent.com/20814779/81677706-d7b22d00-9459-11ea-802d-3f623dcd8bdf.png)

**Actual Result**
this result on 4.6.7
![image](https://user-images.githubusercontent.com/20814779/81677488-aa657f00-9459-11ea

[2020-05-12 12:35] davidkpiano commented on #1184
Please share a CodeSandbox example and ensure you're using the latest TypeScript version.

[2020-05-12 13:41] CodingDive commented on #1184
Duplicate of https://github.com/davidkpiano/xstate/issues/1142 and https://github.com/davidkpiano/xstate/issues/947

One workaround is to assign the state.matches return value into a variable. State only becomes never when returning early.

E.g
`const isNotSelected = !state.matches("selected");` and then using the variable in your conditionals should make it work.

[2020-05-13 12:25] #1180 closed

[2020-05-13 12:36] bsunderhus commented on #947
The solution I've came up to solve this problem is simply assign the initial state value to different constants and then use those constants

[code]

[2020-05-13 23:19] UberMouse commented on #255
I'm using XState at [Koordinates](https://koordinates.com) to power an Electron app we are using. Lots to learn, lots of patterns to figure out, but I'm finding XState great to work with.

First React project I have done without Redux. Just XState + RxJS.

[2020-05-14 14:09] agcty commented on #986
+1 it's really really hard to even get a simple app working with typescript and the error messages definitely don't make it easier

[2020-05-14 18:34] davidkpiano commented on #986
I will investigate this soon.

[2020-05-14 23:18] lanmonster opened #1186 "Make sure .start() is called for this service"
**Description**
I create a machine like so: `const foo = Machine({/*...*/});` and use it in my react component like so: `const [current, send] = useMachine(foo)`

when I start up the app, I get console warnings in the browser about calling .start(), but I can not find any documentation on where to call .start().

**Expected Result**

No console warnings

**Actual Result**

Browser console says
[co

[2020-05-14 23:49] CodingDive opened #1187 "[Promise as a service] Missing `onError` handler for invocation despite being defined"
**Description**
I'm running into a very strange issue where the `onError` handler is never called. It works for most of my machines and services flawlessly, but there is one that always prints an error in the console that I'm missing the `onError` handler.

**Expected Result**

`onError` handler to be taken for all my throwing services

A simplified version of my service looks like this:

[code]

[2020-05-15 11:18] christoph-fricke commented on #1186
The machine is interpreted and the service started for you. So you do not need to do it.

It must have something to do with the React render cycle. In the `useMaschine` hook the service is is started and assigned to a React ref. I know that `useEffect` hook execution is scheduled after the render is complete but am not really sure about the scheduling of `useRef`. In general you should avoid to ca

[2020-05-15 12:53] davidkpiano commented on #1186
Only do side-effects in `useEffect`, and you'll see the error go away.

[code]

[2020-05-15 12:53] #1186 closed

[2020-05-15 14:10] mgostisha commented on #255
We've recently started using it at [Flipgrid](https://info.flipgrid.com) across a couple of our repos. Love it ❤️

[2020-05-15 14:33] RuiOrey commented on #37
@davidkpiano I have a question about XState and Redux differences. I will write it here but I can move to a new issue or other place if you think does not belong here.
Basically I left the question on [stack overflow also](https://stackoverflow.com/questions/61771366/redux-and-xstate-for-data-store) but I will quote myself:

I think I will start using XState as I don't have to use effects as a plu

[2020-05-15 15:00] davidkpiano commented on #37
@RuiOrey This would be a good conversation for spectrum.chat/statecharts, but in general yes use a machine (like local state) for each component.

[2020-05-15 15:55] RuiOrey commented on #37
Thanks, will question there

[2020-05-16 18:53] davidkpiano commented on #1187
That's really weird that you can't replicate it, but I'm not able to fix this without a proper reproduction.

Let's reopen this if you are able to reproduce the issue. Try reinstalling/clearing `node_modules`/etc. as well.

[2020-05-16 19:03] davidkpiano commented on #986
Here is an example of the example in the docs, with types: https://codesandbox.io/s/nostalgic-darwin-jjpfl?file=/src/index.ts

The trick is to use `DoneInvokeEvent<Whatever>` in the `assign` type params. We're thinking about ways to simplify/properly infer this in V5.

[2020-05-17 09:07] Andarist commented on #1109
Im looking into fixing this and while this is on fact defined behavior in SCXML Im wondering - what is your exact real life use case for this? Im trying to think through what unexpected things this change might cause for people.

[2020-05-17 23:56] artoale opened #1190 "Potential type inference bug with send actions event expression"
**Description**
Using typescript, when within a transition definition I use a `send` using the event expression, typescript fails to compile if the type of event returned by the expression is not the same as the type of the event that caused the transition

**Expected Result**
Another valid event should be acceptable

**Actual Result**
Typescript fails to compile with error:

[code]

**Reproductio

[2020-05-18 01:32] davidkpiano commented on #1190
I believe this was fixed recently in #1178 - we'll cut a release soon.

[2020-05-18 01:32] #1190 closed

[2020-05-18 06:48] overtune opened #1191 "Xstate with typescript: state.value is always reported as a string even if it can be an object"
**Description**
When using Xstate with React I sometimes find the need to pass properties of `state.value` when it is an object to child components. There are no problem doing this in javascript with nullchecks, but I can't manage to get Typescript to allow this.
The Typescript compiler gives the error: `Property 'X' does not exist on type 'string'`.

**Expected Result**
When typing the state like

[2020-05-18 07:02] FredyC commented on #1191
I am just curious what is your use case behind passing pretty much internal structures of the machine around. I mean with your interface, only one property will be ever-present and you would have to do checking which one. Doesn't that kinda beat the purpose of the state machine?

[code]

What about passing a whole `service` instead and then with `useService` in child component you can easily do `c

[2020-05-18 10:07] overtune commented on #1191
The most common usecase I have is when using Styled components.
Lets say I have a statemachine which describes an input (which handles focus/validity/pristine/toched states of the input):
https://xstate.js.org/viz/?gist=a0352e44d41ddcb36cd533a28720ca8b

Then I would like to pass some of these props directly to the styled components so they can set their style accordingly.

For example I might have

[2020-05-18 10:08] CodingDive commented on #1187
Still spooky and haunting me 👻

Not paying too much attention to it. If I can't reproduce until alpha (this is the error handling of the login and the machine is just stuck in the service), I just may make the promise never throw and return some flag in event.data since the `onDone` works stellar 👍 Alternatively, tell the users they really need to make sure to not mistype their password as they'll

[2020-05-18 11:38] davidkpiano commented on #1191
Two things:

1. Prefer using `state.matches(...)`, your use-case is what that is for:

[code]

2. If you're set on using `state.value` directly, understand that `state.value` is typed to `string | StateValueMap` and coerce the type appropriately:

[code]

[2020-05-18 11:38] #1191 closed

[2020-05-18 17:56] brandonread commented on #533
@3plusalpha, been a while since this thread was active (your example was incredibly helpful!)--wanted to check back and see if you had a chance to fully develop the error-handling, edge-cases, etc.

[2020-05-18 19:33] robertvorthman commented on #1187
I have the exact same problem, same package versions.  `onError` works if the action is `sendParent('someEvent')` but including event data in `sendParent`, `assign` and `forwardTo('parentMachine')` actions all result in the `Missing onError handler for invocation` error so I have no way of passing error details back to the parent machine from the child machine's state's invoked promise.

[2020-05-18 19:35] davidkpiano commented on #1187
@robertvorthman Do you have a reproduction?

[2020-05-18 19:58] robertvorthman commented on #1187
@davidkpiano No, I just started learning the library on Saturday and it's difficult to run the code because it's a react-native app that uses Bluetooth so it only runs on a physical iPhone.  The parent machine scans for bluetooth devices.  When a bluetooth device is found, an event is `forwardTo`'d the child machine.  I want the child machine to be able to report back to the parent that connecting

[2020-05-18 20:43] brandonread commented on #533
Looks like there's a [fork here](https://github.com/jfun/xstate/blob/async/src/StateNode.ts#L769) that awaits guard resolution.

[2020-05-18 21:04] davidkpiano commented on #533
@brandonread That is not recommended. Async guards are an anti-pattern. You should represent waiting for an async result (whether it is a guard or otherwise) as a state.

[2020-05-18 21:28] brandonread commented on #533
Got it--thanks! I'm looking to build a more automated way of scaffolding/configuring machines to enable devs to quickly contribute to a non-deterministic flows with reasonable error-handling by default, without having to worry about whether guards are synchronous/asynchronous. Since I'm leveraging this tool as a wizard layer, I intend to have a consistent experience for clicking "Next" or "Back" i

[2020-05-18 22:47] davidkpiano commented on #533
That approach still uses promises, so no, unfortunately.

[2020-05-18 22:52] #947 closed

[2020-05-19 05:21] CodingDive commented on #1187
@robertvorthman welcome to XState! 🖤

Try playing around with the Codesandbox I posted if you can somehow reproduce it.

[2020-05-19 07:06] 3plusalpha commented on #533
@brandonread I actually moved away from async guards in transitions. I created instead a dedicated state that handles async conditions.

You can use this type of guard as an own state and transition to it.

<img width="832" alt="Bildschirmfoto 2020-05-19 um 09 03 39" src="https://user-images.githubusercontent.com/1685307/82295225-b8faeb80-99af-11ea-9368-6ae44b79c247.png">

[2020-05-19 12:49] gsbelarus commented on #871
Any updates on how to persist/restore whole state of complex machine, including states of children sub machines?

[2020-05-19 17:04] seloner commented on #1132
@davidkpiano Is any work around for that ?   I am trying to put the service in React Context and consume it after but I am getting the same error .

[2020-05-19 18:55] davidkpiano commented on #1132
Try updating to the latest `xstate` and `@xstate/react@next`; the warning is no longer there.

[2020-05-19 19:33] seloner commented on #1132
@davidkpiano  I am on "@xstate/react": "^0.8.1", and "xstate": "^4.9.1" and I am still getting the warning . The useService is returning undefined  so I can not use the machine .

[2020-05-19 20:05] robertvorthman commented on #1187
I reproduced the error here: [https://codesandbox.io/s/xstate-bug-with-promise-rejection-in-child-machine-s8rkl?expanddevtools=1](https://codesandbox.io/s/xstate-bug-with-promise-rejection-in-child-machine-s8rkl?expanddevtools=1)

The parent (bluetoothMachine) searches for a device and sends it to the child (deviceMachine).  The child machine invokes promise device.connect(), and forwards the resu

[2020-05-19 20:37] CodingDive commented on #1187
Thank you so much for reproducing!
My `signInMachine` is also a child (while having another child actor) so this should be the exact same bug.

[2020-05-19 23:24] davidkpiano commented on #1187
Okay, so the main issue is that you're trying to pass XState-specific error events around. The behavior is that if a machine encounters an error it does not know what to do with, then it will throw the `event.data` as an error.

So, in this case, you're trying to send yourself the original XState error, which it does successfully handle, but since you're trying to send it again, it will fail.

The

[2020-05-19 23:24] #1187 closed

[2020-05-19 23:35] davidkpiano commented on #1132
Does the app otherwise work fine? If so, you can ignore the warning for now.

[2020-05-19 23:36] davidkpiano commented on #1109
Related to #1111?

[2020-05-19 23:37] davidkpiano commented on #1184
Fixed in #1189

[2020-05-19 23:37] #1184 closed

[2020-05-19 23:38] davidkpiano commented on #1168
Closing as duplicate

[2020-05-19 23:38] #1168 closed

[2020-05-20 02:59] njdancer opened #1195 "state.matches does not accept valid parent value when using typestates"
**Description**
When using typestates, the parentStateValue accepted by state.matches is constrained to only valid states of the machine(as specified in the typestate) whereas the documentation indicates this function should also be used to determine if a state is a subset of the given state.

**Expected Result**
state.matches should accept any state that is a valid parent of the states provided i

[2020-05-20 03:31] davidkpiano commented on #1195
Regardless of the string literals, the behavior here is correct. In the CodeSandbox, you are trying to match `"active"` with `"active.test"`, which is not a match, since `"active.test"` is more specific than `"active"` (since `"active"` can mean `"active.anything"` which does not match `"active.test"`).

The right thing to do here is to be more explicit about your typestates:

[code]

Note to self

[2020-05-20 03:31] #1195 closed

[2020-05-20 06:03] seloner commented on #1132
@davidkpiano
It is not wokring. I am getting undefined in the useService Hook and not only on mount.It does not change.
![image](https://user-images.githubusercontent.com/29483115/82410015-ac41ca80-9a77-11ea-9cd8-8381b0bcf021.png)
![image](https://user-images.githubusercontent.com/29483115/82410363-646f7300-9a78-11ea-826e-9e52e2a9a3c8.png)

My workaround is to pass into React context, [state,send]

[2020-05-20 12:41] peterhe2000 opened #1196 "Angular xState example"
Thanks for a awesome package. Thanks for the great work.
I am also a huge fans of FSM.
However I am struggling to find a good example of Angular working with xState.
Is there a recommendation?

List i found so far. Not many angular xstate example for some reason.
Seems each of those example got it's own implementation.
Hope there is a standard which xstate team may suggest with.
https://stackblitz

[2020-05-20 21:18] CodingDive opened #1197 "[Discussion] Spawn grandchild actor while spawning child"
**Description**

In the [docs](https://xstate.js.org/docs/guides/actors.html#spawning-actors), it says that actors must always be spawned within an `assign` call.

When we have a hierarchy like this `grandParentMachine => parentMachine => childMachine` and our `grandParentMachine` wants to spawn the `parentMachine` + it's child machine, should it be allowed to spawn the child straight into the par

[2020-05-20 21:28] Andarist commented on #1197
I believe the 2nd mentioned option is the most idiomatic one. Only a parent can start its children in the actor model, this shouldn't be bypassed anyhow as an actor keeps track of a child lifecycle (to some extent) etc.

[2020-05-20 21:30] CodingDive commented on #1197
Perfect, thank you for the quick reply 😊

[2020-05-20 21:30] #1197 closed

[2020-05-20 22:24] Andarist commented on #1109
Not quite - when looking at #1111 resolution. This is about what we were discussing today - aligning with SCXML spec by calling onExit handlers for canceled/finalized machines. I hope to get this done this week.

[2020-05-21 03:55] edgarjrg commented on #711
Thank you 💛

[2020-05-21 15:24] CodingDive opened #1198 "[4.10: TypeScript] Typed actions throw type errors"
**Description**
Hello everybody,
I just upgraded to version 4.10 ready to fix my `send` types. I'm so happy about this release! Thank you so much for introducing the third generic `toSendEvent`. I oftentimes had to go for `<any, any>` as a workaround and am so glad to finally change those. 🖤

When defining an assign action within the configuration object, TypeScript goes nuts.

[code]

I got the s

[2020-05-21 16:00] davidkpiano commented on #1198
Workaround:

[code]

[2020-05-21 16:23] CodingDive commented on #1198
`(event as SubmitEvent).data.name`
I didn't know this worked in TypeScript 😲

[2020-05-21 17:45] seloner commented on #1132
@davidkpiano in @xstate/react/v/1.0.0-rc.4 I have no problem . Is it safe to use the next version for production ?

[2020-05-22 11:32] czabaj opened #1199 "guard evaluated before exit and transition actions"
**Description**
I have a real word example. User enters a PIN, if she fails enter the pin for >= `maxFailedAttemptsCount`, she must authenticate with login and password. `failedAttemptsCount` is persisted, so if she forcefully terminates the app and open it again, the app skips PIN authentication as well. I defined it like this:

[code]

This flow checks `maxPinFailedAttemptsReached` in transient

[2020-05-22 14:36] davidkpiano commented on #1199
I know it might seem counter-intuitive, but it is the SCXML spec behavior and XState will not deviate from that, so no, it will not change.

Think of guarded transitions as saying "if the `cond` passes, _select this transition_, meaning transition to this `target` and execute these `actions`". The actions should not be executed if the transition isn't taken.

So the logic you actually want is:

No

[2020-05-22 14:36] #1199 closed

[2020-05-22 16:47] Blacktiger opened #1200 "Unable to pass invoked machines (children) down to child components in React"
**Description**
Children cannot be passed to child components when invoked. I'm working with React, though this probably isn't specific to React.

**Expected Result**
I'd like to invoke a machine, then pass it down to a child component to control what is rendered in the child component. Then I'd like to use sendParent to send events back to the parent machine to transition to other states as requi

[2020-05-22 16:53] Blacktiger opened #1201 "Parent is not sent on spawned machines"
**Description**
I'm unable to use sendParent from a spawned machine to send an event back to the machine that spawned it. Something that would be nice is if the sendParent action could automatically forward an event from the child as well rather than having to write out the event completely. (ie { on: { CREATE: sendParent() }} would just send the whole event automatically)

**Expected Result**
The

[2020-05-22 17:37] FredyC commented on #1200
This would be indeed very nice if it would work somehow. The problem appears to be that `children` get modified slightly later after the re-render of useMachine happens and we end up passing undefined to `useService` which cannot be reinitialized later when children arrive.

[2020-05-22 18:35] ccontreras commented on #956
Hi @Andarist , we recently experienced a memory leak using a simple SSR web application with Nextjs. The issue is actually being caused when we use to use actors. For now, we decided to stop using xstate and fallback to React hooks. Here you can find a reproducible repo with all the steps to follow https://github.com/ccontreras/xstate-memory-leak

[2020-05-22 18:40] Andarist commented on #956
Thank you for sharing the repro case i will take a look at this soon!

[2020-05-22 18:44] Blacktiger commented on #1200
Theoretically the child component could just not render until a service is passed in I guess.

[2020-05-22 20:34] FredyC commented on #1198
Or a different workaround, imo slightly nicer :)

[code]

[2020-05-22 21:18] Blacktiger commented on #1200
I tried to just handle the missing service in the child by checking for a missing state.

[code]

However, while that worked I ended up in the same situation where the sendParent action didn't seem to work as reported in #1201 except here we're using invoked machines and not spawned machines.

[2020-05-23 03:08] chriscalo commented on #1136
Is it much work to get a new version deployed to npm?

[2020-05-23 04:17] davidkpiano commented on #1198
That's the goal

[2020-05-23 06:33] FredyC commented on #1200
@Blacktiger Your "hack" certainly cannot work like that, because `useService` hook will consider only initial value, for any subsequent renders it's effectively ignored. The better hack is to convinced React reconciler to throw away that component and do it from scratch with `key` prop.

However, there is something else strange. In the case of spawn, we are getting `Interpreter`, however by invoki

[2020-05-23 07:10] FredyC commented on #1201
This is strange. When I try this today, the warning about stopped service is not happening. The `CREATE` event is sent to `listMachine`. I've added `actions.log` to `listMachine` and nothing is logged after clicking a button.

https://codesandbox.io/s/spawn-test-hufjx?file=/src/App.js

**It seems that actions are not interpreted at all with this pattern.**

[2020-05-23 08:41] Andarist commented on #1201
Just want to let you know that I'm investigating this issue.

[2020-05-23 08:47] Andarist commented on #1201
Duplicate of #1125

The issue got explained here: https://github.com/davidkpiano/xstate/issues/1125#issuecomment-613425210 . We plan to fix it soon - although in a slightly different manner than mentioned there. This PR is related to the planned fix: https://github.com/davidkpiano/xstate/pull/1202

[2020-05-23 08:47] #1201 closed

[2020-05-23 10:10] Andarist commented on #1200
The problem you are having is that you have 2 separate states in which you have a different service invoked but you render 2 components (each wanting to access one of those invoked services) unconditionally. That it doesnt work seems quite natural to me as you implicitly create a bound between a component and a service so how could component render OK without its counterpart being live?

Keep in m

[2020-05-23 22:42] njdancer commented on #1195
Ahh ok. That makes sense. Thanks for the example.

Does this mean that a typestate can only specify the context type for a top level state?

Would be happy to submit a PR to update the typestate example in the docs to include a compound state if you’d be willing to accept.

In any case, thanks for the great library.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-05-23 23:12] davidkpiano commented on #1195
Context is for the entire machine; not sure what you mean by this.

[2020-05-24 00:32] njdancer commented on #1195
Isn’t the benefit of typestates vs stateschema that the typestate allows you to narrow the type of the context based on which state the machine is in?

Looking at your example, you seem to be specifying that “active” and “active.test” should both have a context of shape ToggleContext, or in other words, that any substate of the top level state “active” should have ToggleContext. You’ve also stated

[2020-05-24 02:29] davidkpiano commented on #1195
You shouldn't represent _string_ compound states, e.g., `value: "active.test"` would be invalid. But yes, you can narrow down context:

[code]

[2020-05-24 15:13] CodingDive commented on #1198
Will this be only fixed when V5 hits? I have 100+ type errors because of this and am contemplating if it's worth to fix them with the described workaround.

I was hoping to upgrade to 4.10 not only to fix my `send` types but also because the `pure` and `choose` actions were not available in the machine configuration object in 4.9.1.

[2020-05-24 15:22] FredyC commented on #1198
@CodingDive I've extended my workaround and I basically have all my actions declared in a separate file, exporting them in a single object, and then in machine config I can do just this. It's easy to find later and remove.

[code]

[2020-05-24 15:39] CodingDive commented on #1198
This is the point in time where I regret having quite a few inline-actions 😁

[2020-05-24 18:24] davidkpiano commented on #1198
The main problem is that TypeScript often has a hard time inferring object values when it can be one of many things. Looking into a few ways to remedy this at the TS level.

[2020-05-25 06:41] FredyC commented on #1201
@Andarist I am looking at the linked PR and if I am understanding it correctly, we will have to apply `as(Layout)Effect` to mitigate this problem? Is that a good approach?

I mean I have actions declared in the config of the machine, it's nicely separated logic, framework agnostic. With that PR it would mean I will have to copy code of the "broken" action and wrap it into `asEffect`?

How would I

[2020-05-25 07:35] Andarist commented on #1201
The current RC version is scheduling **all** actions through React's effect callbacks. This is not necessarily good. If you are interested in my thoughts about this you can dive into this:
<details>
<summary>lengthy explanation 😅</summary>

I'd like to discuss how executing actions should be done when using `@xstate/react`. This seems like not an obvious decision, concerning how little actual expe

[2020-05-25 09:20] FredyC commented on #1201
Oh that makes sense now. So the problem of this issue is coming from the fact that effects are used, not that they wouldn't be used.

Still, it makes me wonder how is the developer going to decide which actions should be executed in the effect? Apparently, it requires some deep knowledge of React and not everyone is capable of absorbing that. From that PR I don't see much of explanation behind use

[2020-05-25 09:36] Andarist commented on #1201
Well - I assume that when one develops an application in React they need to learn how it works. I agree though that even knowing React quite well this might not be that obvious when to wrap things with `asEffect` because when abstracting the behavior with machines you kinda disconnect yourself from React (mentally). When developing regular React components it's much easier to feel this stuff intui

[2020-05-25 10:08] stefanoslig opened #1205 "onDone event name is undefined when invoked Observable completes"
**Description**
onDone event name is undefined when invoked Observable completes. You can reproduce it easily if in the https://codesandbox.io/s/xstate-react-reddit-example-with-actors-lj9cs?file=/src/subredditMachine.js you replace the "fetch" method with an "of({})"

**Reproduction**
![image](https://user-images.githubusercontent.com/6942946/82803232-74c08d00-9e80-11ea-8aec-0d0f99bfffea.png)

![

[2020-05-25 11:38] CodingDive commented on #1198
It also seems to behave non-deterministic. It would sometimes show 0 errors then list quite a few when recompiling without changing anything.

Another TypeScript related problem is that when one of the machines has a type error, it also shows errors when spawning the machine. If an actor is spawned by three machines but also has a type error, it would sometimes print 4 errors. One for the machine

[2020-05-25 12:01] davidkpiano commented on #1205
This is as intended:

You're not sending an event, you're sending an empty object.

https://xstate.js.org/docs/guides/communication.html#invoking-observables

[2020-05-25 12:01] #1205 closed

[2020-05-25 12:39] RomainLanz opened #1206 "[TypeScript] Should StateSchema be typed with Record<string, unknown> instead of {} ?"
Hi there! 👋

With the rule [@typescript-eslint/ban-types](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/ban-types.md) added lately to ESLint [the TypeScript code example](https://xstate.js.org/docs/guides/typescript.html#using-typescript) given in the documentation triggers an error.

[code]

This will trigger the rule because "we should" avoi

[2020-05-25 12:42] RomainLanz commented on #1106
Hey there! 👋

If needed, I can make a PR to create an example with Vue 2.

[2020-05-25 12:44] czabaj opened #1207 "Event action invoked after transient transition guard evaluation"
**Description**
I created an already closed issue #1199. I investigated the issue further and identified the root cause, which I believe, is a bug.

Given a simplified example (the use case is described in #1199)

[code]

We are in `pin` state. Null transition checks, if user failed to enter PIN more than 5 times. When user enters wrong PIN, the form sends `FAIL` event, which triggers `incrementPi

[2020-05-25 13:37] davidkpiano commented on #1106
@RomainLanz That would be greatly appreciated!

[2020-05-25 15:36] sunndeath commented on #1112
Is it relevant?

[2020-05-25 16:03] seloner commented on #1132
@davidkpiano
In versions after 1.0.0-rc.1 when you try to put initial context in the Machine like the example in docs
https://xstate.js.org/docs/guides/context.html#initial-context I am getting this warning

Machine given to `useMachine` has changed between renders. This is not supported and might lead to unexpected results.
Please make sure that you pass the same Machine as argument each time.

I

[2020-05-25 16:16] davidkpiano commented on #1112
Sorry about that; in the future, don't hesitate to go in the chat https://gitter.im/statecharts/statecharts and ask for help.

Yes, this currently only works for machines, but we can make an enhancement to make it work for callbacks too.

[2020-05-25 16:19] davidkpiano commented on #1132
@seloner Prefer this:

[code]

[2020-05-25 16:56] phryneas commented on #1112
Yeah... sorry for my tone. I was quite frustrated at that point.
Oh, and I was in the chat, but as it is with chats: some time everyone is asleep ;)

Personally, I'm not using this at the moment, but it would still very cool if you could add it :)

[2020-05-25 21:16] Andarist commented on #1132
@seloner the problem is that `useMachine` can only ever work with the same instance of a machine. Machines need to have static config - and it's not possible to change this for a particular `useMachine` call. The warning exists to avoid confusion that you could actually provide a different argument there - and as you are calling `withContext` each render it creates a new Machine each render and we

[2020-05-25 22:03] hnordt commented on #547
Closing. That's the final version based the previous discussion:

[code]

[2020-05-25 22:03] #547 closed

[2020-05-25 22:08] Andarist commented on #956
I've recognized the problem successfully - but it's not as trivial to fix this as I would have hoped. Gonna think about possible solutions in the following days.

[2020-05-25 22:55] ccontreras commented on #956
Nice!!!!, Thank you!!, I'm so looking forward for it

[2020-05-26 00:10] Blacktiger commented on #1201
Just to be clear, the symptom here is opposite of #1125 but it appears to be due to the same cause. Just looking at that issue it seems like it’s the exact opposite situation (parent sending events to children) from this issue (children sending events to the parent)?

[2020-05-26 03:45] njdancer commented on #1195
Thanks for your explanations. I've tried updating the typescript documentation to be more explicit about some of these things and have created #1208 for you to review.

Regarding the behaviour of ```state.matches```, I've taken on board your comment about using the object syntax for compound states and I think ultimately the answer to my original question is that a typestate needs to explicitly mo

[2020-05-26 12:18] Andarist commented on #1207
I'm afraid that currently, this behavior won't change - the API is not supposed to be used like that and I would recommend only ever using structures provided by a machine (context, event, etc) to implement your guards. It should be fairly easy to just store your counter inside the context by using assign and only syncing the current counter to the localStorage when needed.

Keep also in mind that

[2020-05-26 12:18] #1207 closed

[2020-05-26 13:58] sateesh2020 commented on #529
@davidkpiano will this feature be available in V5

[2020-05-26 14:07] FredyC commented on #1200
@Blacktiger I think that `matches` checks for the state only, but `children` are most likely set a bit later. When you change it to explicit `current.children.listMachine && <List service={current.children.listMachine} />` it sort of works better, but then there is a problem I outlined above. The invoked children are a different object that cannot be consumed by `useService` imo.

[2020-05-26 14:21] davidkpiano commented on #529
Yes it will.

[2020-05-26 21:44] Andarist commented on #1200
Sorry, I had to misread the code in a hurry.

This doesn't matter - `this.children` keys are set immediately.

---

This problem is one of several caused by the latest changes to make all actions (including invoke) scheduled through React's commit phase - we are reverting this and providing means to actually schedule a particular action through React's commit phase in https://github.com/davidkpian

[2020-05-26 21:51] Blacktiger commented on #1200
Thanks, I just wanted to make sure there wasn't any confusion. Sounds like this will be closed by #1202 which is fantastic.

[2020-05-26 22:21] Andarist commented on #1201
Yes - I can confirm that the root cause is the same. The symptoms are actually also the same, but it's slightly obscured by how the "test case" is presented in #1125. The problem is not that you can't send an event to the child, but only that child is not executing its actions. Take a look at this adjusted demo and console output after clicking the button twice:
https://codesandbox.io/s/xstate-rea

[2020-05-27 17:09] seloner commented on #1132
@Andarist I want to persist state also. I am getting no warning ,I guess its ok to do it like that ?
![image](https://user-images.githubusercontent.com/29483115/83050891-de45c480-a055-11ea-955c-31afbce138cc.png)

[2020-05-28 00:46] alexreardon opened #1209 "useService performance recommendations"
I'm trying to find a good way to use xstate at scale with good performance.

I create a machine fairly high in my react tree

[code]

I put the `service` on the react `<ServiceContext.Provider value={service}>` so that other components can also talk to the service

[code]

My trouble is that in order for `state` to be updated in everything with `useService`, they are re-rendered.

[code]

I often

[2020-05-28 08:14] RomainLanz commented on #1206
In fact, when using the [Typestates](https://xstate.js.org/docs/guides/typescript.html#typestates) system there's no error like the one above.

I believe we can close this since it's fixed with the new syntax.

[2020-05-28 12:39] davidkpiano commented on #1206
Since it's a lint rule issue that's easily worked around, yes we can go ahead and close this.

[2020-05-28 12:39] #1206 closed

[2020-05-28 13:20] davidkpiano commented on #1209
I'm thinking something like this can help for now:

[code]

[2020-05-28 15:48] lanmonster opened #1210 "how to transition to new state based on the result of an action?"
## ~Bug or feature request?~ Question
How can I decide what state to transition to as a result of an action?

## Description:

I have two states, empty and ordering. Users can 'ADD' in both states, and 'REMOVE' from the ordering state. if the result of the 'REMOVE' is an empty list in context, it should transition to the empty state, otherwise it should stay in the ordering state.

## Example Mach

[2020-05-28 15:55] Andarist commented on #1210
You should be able to leverage eventless transitions like this:
[code]

[2020-05-28 15:59] lanmonster commented on #1210
Thanks for the suggestion. Unfortunately, it did not work. here is a link to the viz: https://xstate.js.org/viz/?gist=9aabf31dea2ad3c1e0fe70c94d8096f8

[2020-05-28 16:05] Andarist commented on #1210
You have put this into the wrong line - you have put it directly under the`ordering` key, but it should be defined together with other transitions under `ordering.on`.

[2020-05-28 16:09] lanmonster commented on #1210
whoops. after fixing that, it works! Thank you!

[2020-05-28 16:09] #1210 closed

[2020-05-29 05:16] alexsbryan opened #1211 "Xstate.init sent multiple times to services"
**Description**
When sending event during entry of an initial state it seems the `xstate.init` event gets fired twice. This ends up causing the `entry`s to get fired twice for the app I'm working on. I've provided a simplified example.

The main thing we're trying to accomplish is having a state that mainly drives our UI states and transitions and a parallel one that handles background tasks, espe

[2020-05-29 06:15] alexreardon commented on #1209
So:

👍

[2020-05-29 07:36] idlefingers commented on #995
I'm having the same problem in next.js now they've started using fast-refresh. Here's a tiny example of it breaking using next: https://github.com/idlefingers/next-xstate-fast-refresh-bug

Hope that helps!

[2020-05-29 19:19] #255 closed

[2020-05-29 19:20] #742 closed

[2020-05-29 19:20] #552 closed

[2020-05-30 11:59] Andarist commented on #995
I'm too familiar with Fast Refresh design, does anyone have a link to its technical details?

I've investigated your repro (thanks for it!) with our `@xstate/react@next` (so a different one that you have installed there). What I'm observing is that our effect gets "remounted" - its cleanup (`service.stop()`) is being called even though `[]` is passed as inputs so it should only be cleaned up when

[2020-05-30 16:10] hnordt commented on #995
@Andarist I've changed the `useConstant` to:

[code]

It worked like a charm. `latestStateRef` was used to enable rehydration.

[2020-05-30 19:59] Andarist commented on #995
The problem with `useMemo` is that it is not a semantic guarantee - but is only treated as an optimization. Theoretically React reserves the right for itself to just drop the cached value and reevaluate useMemo at any given time. This means that a previously created service could not be stopped and you would start its copy.

There is also a problem with this that we trust that currently received `

[2020-05-31 11:51] Andarist commented on #1211
This happens because "initial actions" are scheduled for executions both here:
https://github.com/davidkpiano/xstate/blob/02ef7a0b22e7ede5a49999b783b6573b54b65c7c/packages/xstate-react/src/useMachine.ts#L91
and here:
https://github.com/davidkpiano/xstate/blob/02ef7a0b22e7ede5a49999b783b6573b54b65c7c/packages/xstate-react/src/useMachine.ts#L107
because `onTransition` fires its callback synchronousl

[2020-05-31 13:54] orouz commented on #1058
so far the following seems to work well for me when defining types for a machine:

[code]

the addition of `TypeState` which seems to be needed to make `matches()` work.

in addition, although not quite sure it's legit, until a new version of `@xstate/react` is released, augmenting the typings for `useService` helps too:
[code]

the important part in both of these snippets is

[2020-05-31 22:45] rodrigovallades opened #1216 "Visualizer crashes with TodoMVC Machine (documentation example)"
**Description**
Visualizer crashes with both `todoMachine` and `todosMachine` [presented in the docs example section ](https://xstate.js.org/docs/examples/todomvc.html)

**Expected Result**
Visualizer should be able to handle this code example

**Actual Result**
`todoMachine` crashes with:
```TypeError: Cannot read property 'indexOf' of undefined```

`todosMachine` crashes with:
```TypeError: Cann

[2020-06-01 20:35] tmikeschu commented on #351
@davidkpiano it looks like the https://github.com/davidkpiano/xstate/issues/351#issuecomment-461110580 is no longer functioning code. Can we revisit this? I hit this when trying to invoke a service on a rehydrated state.

[2020-06-01 21:01] davidkpiano commented on #351
@tmikeschu Can you prepare a reproducible code example?

[2020-06-02 07:31] FredyC commented on #1200
Seems that #1202 will take more time so I wonder what would be viable workaround till then? Is there some safe way of accessing invoked services to pass them to children components for consumption?

[2020-06-02 08:01] FredyC commented on #1200
Btw, I also noticed a TypeScript that kinda confirms the problem I outlined above.

The children are declared as Actors...

https://github.com/davidkpiano/xstate/blob/c29ab8a82b47c15d00b31e467b564420fb404b7f/packages/core/src/State.ts#L129

While `useService` expects Interpreter

https://github.com/davidkpiano/xstate/blob/c29ab8a82b47c15d00b31e467b564420fb404b7f/packages/xstate-react/src/index.ts#

[2020-06-02 08:41] czabaj commented on #1207
Hello. Thanks for quick reply. I understand that storing data in context is preferred for many reasons, it was BTW my first instinct when implementing `loginMachine`, but i realized during implementation that almost all of my state needs to be persisted, and since my storage is synchronous, I can use it directly and omit bloated transport logic from storage to context and vice versa.

One of the g

[2020-06-02 13:18] davidkpiano commented on #1207
@czabaj There is a good chance that your behavior will "just work" in V5, with the action resolution work we're doing.

[2020-06-02 13:21] timdeschryver commented on #1196
I think a simple machine can be implemented with the [RxJS recipe](https://xstate.js.org/docs/recipes/rxjs.html).

I also experimented with XState in Angular and came up with a [POC implementation](https://gist.github.com/timdeschryver/dcdeefdba43bef7134c8249e8257dae7) that was inspired by the `useMachine` hook from `xstate/react`. This implementation also takes a stream of events, instead of invo

[2020-06-02 13:51] tmikeschu commented on #351
@davidkpiano here ya go!

https://codesandbox.io/s/rehydrate-machine-forwardto-fmkkr?file=/src/App.tsx

1. open app in separate browser window
<img width="1132" alt="Screen Shot 2020-06-02 at 9 49 26 AM" src="https://user-images.githubusercontent.com/19894032/83527956-81636780-a4b6-11ea-89de-53cdd9698acd.png">

2. Click `continue`

3. Refresh the page ↺

4. observe error

[2020-06-02 16:00] davidkpiano commented on #351
This is expected not to work, because XState doesn't magically restart the service for you, nor should it - imagine if you invoked some `POST` request that you only want invoked at most once; it would be wrong and error-prone for XState to "re-invoke" every service.

Instead, what you should do is persist _events_ and replay those events. Here's a rough idea of how you can do that:

[code]

[2020-06-02 16:03] davidkpiano commented on #1200
Yes; #1215 will add the `useActor` hook that will remedy this, so this is what that will look like:

[code]

Also #1202 was just merged - I will release an RC for that soon.

[2020-06-02 16:05] tmikeschu commented on #351
@davidkpiano thank you! Sorry for the true negative claim.

[2020-06-02 16:10] davidkpiano commented on #351
@tmikeschu  No worries! Thanks for the repro - you bring up a good use-case for handling event-sourcing patterns in XState, whether it's through documentation and/or helper functions.

[2020-06-02 16:28] tmikeschu commented on #351
Yeah I hadn't come across event sourcing before. Very nifty. I'm working on using a state machine that collaborates with nextjs routing, and being able to store event sequences will definitely help with restoring state.

[2020-06-03 08:13] peterhe2000 commented on #1196
Thanks @timdeschryver  Most of angular example seems come from you.
For ur POC implementation, how do i send machine next event from XStatePocComponent?
Also where can i find ur machine which i can play in https://xstate.js.org/viz/?

[2020-06-03 12:53] timdeschryver commented on #1196
@peterhe2000 sending events is done via ["input observables"](https://gist.github.com/timdeschryver/dcdeefdba43bef7134c8249e8257dae7#file-table-component-ts-L58).
Seems like I didn't add the machine to the gist, I don't have that code anymore - sorry.

[2020-06-05 23:24] JackCA commented on #1209
I've written a slightly modified typescript version that uses `state` instead of `context` as the argument:

[code]

[2020-06-05 23:25] JackCA commented on #1209
I've written a slightly modified typescript version that uses `state` instead of `context` as the argument:

[code]

[2020-06-07 12:38] #529 closed

[2020-06-08 01:30] gilesbutler commented on #1110
Hey @Andarist. I found @BorisDaich's question on StackOverflow and it led me here. I'm struggling with this setup in a Vue app. I have an alert-machine that's instantiated when I start my app. It's a simple machine that I send user notifications too. When I create machines in other files _(components)_ I'm not sure what's the best way of sending events to the alert machine as it's already a runnin

[2020-06-08 01:55] davidkpiano commented on #1110
@gilesbutler That has to be done within the machine itself. I know it's confusing, but the `send(...)` function that you get from `service.send` is different than the `send(...)` action creator.

So you can `service.send('ALERT')`, which will send it to the machine, which will know what to do with it; e.g.:

[code]

Hopefully that makes sense.

[2020-06-08 12:59] PetrBrabec opened #1223 "Typed xState Guards"
## Feature request
Typed xState Guards

## Description:
I want to be able to provide `Guard` type (like `PropertyEqualsGuard` here in the example) to the Machine function and xState types covering guards. So the `conds` in action in the machine config is typed.

## Expected usage:
[code]
This way I will be able to define types for my Guards like this, so I can make a guard that like in this exampl

[2020-06-08 13:06] davidkpiano commented on #1223
Hey, not sure what you're asking, can you give me a realistic usage example?

[2020-06-08 13:28] Andarist commented on #1110
I think the problem here might be that @gilesbutler wants to send an event to an arbitrary machine, whereas you can only send it to your children when sending it to an "id". Each machine has `sessionId` though which can be used for this but, ideally, you need to share this `sessionId` through events, put it into your sender's context and use it as a target then.

Keep in mind that we are aiming fo

[2020-06-08 13:36] Andarist commented on #1207
@czabaj we realize this is not strictly compatible with SCXML right now, but it really rarely matters - even if this would work like in SCXML then I still would believe that this could be better modeled explicitly (by keeping your data within machine's context).

We might revisit this in the future, but we need to maintain two sets of APIs - Interpreter and Machine, where the latter is pure, so it

[2020-06-08 14:15] czabaj commented on #1207
@davidkpiano @Andarist guys, thank you both for feedback. I understand that using data from `context` is the primary API and I can live with it. It would probably deserve some bold notice in the docs, for other people not step in the same puddle, although it might be already in the docs and I just forget it. I'm still new to state-charts and XState and I might sometimes demand too much from it giv

[2020-06-08 14:50] davidkpiano commented on #1110
Right, an alternative would be to grab the "service" ref from `state.children` and send the event directly to the ref.

[2020-06-08 20:13] gilesbutler commented on #1110
Hey @davidkpiano thanks for the response. Ha I must be missing something here still. Unfortunately I still get the following error `Unable to send event to child 'alert' from service 'campaignMachine'`. I don't see how my "campaignMachine" knows about the alert service which has been instantiated in a completely separate file. In your example...
[code]
Are you assuming that the alert service (`to:

[2020-06-08 20:14] nazmifeeroz commented on #1209
this code is interesting and looks legit.
I tried it out, but i still getting re-renders from other child components not related to the context changed.

it seems that anything under the same context provider still gets re-rendered.

maybe i missed something out?
do you mind creating a sandbox i could refer to?

[2020-06-08 20:26] davidkpiano commented on #1209
@nazmifeeroz Chances are the rerenders are _not_ due to XState, but other things in React. Try using `React.memo(...)`.

[2020-06-08 20:26] #1209 closed

[2020-06-08 20:27] davidkpiano commented on #1110
@gilesbutler Please create a reproducible CodeSandbox example. No it doesn't know of arbitrarily created services; everything must be eplicit.

[2020-06-09 21:44] gilesbutler commented on #1110
Thanks @davidkpiano - I'm working on a CodeSandbox example, for some reason the exact same code that works in my local environment isn't working in there. Once I get it fixed I'll post here.

[2020-06-09 22:15] gilesbutler commented on #1110
Hey @davidkpiano I can't get the UI working properly because I think it's something to do with the vue composition api plugin not working in the [CodeSandbox environment](https://codesandbox.io/s/hopeful-minsky-7bzmb?file=/src/main.js).

Anyway I think the structure and what I'm trying to do with xstate is there. The main thing I'm trying to figure out is if this architecture makes sense. I'm impo

[2020-06-10 03:18] UberMouse opened #1228 "Not supplying a config level context and using assign should be an error"
I just got bit by this, probably spent approx 7h debugging everything under the sun I could think of. Just didn't think to check I had set an initial context for the machine in the config (because my initial context was an empty object).

I guess I had assumed that xstate would create an empty context object if I tried to use assign to set something on the context. I was lead in the wrong directio

[2020-06-10 05:38] UberMouse opened #1229 "[TypeScript] Using sendParent requires exposing child events in parents machine Events Type"
I'm having a go at using Actors for the first time and there seem to be problems with it in TypeScript.

<del>1. Because the type definition for `sendParent` has the first argument typed as `event: Event<any> | SendExpr<TContext, TEvent>` it ends up collapsed to just `event: any` when the type is resolved (which also means passing a function to access `ctx` and `event` is a type error)
2. `sendPar

[2020-06-10 06:21] Andarist commented on #1229
This has been fixed in v4.10: https://github.com/davidkpiano/xstate/blob/4282c1ef1b0817fa4572b008e63078089d6a918d/packages/core/CHANGELOG.md#minor-changes

[2020-06-10 06:24] UberMouse commented on #1229
Ah great. That gives me some impetus to fix our open XState 4.10 PR that has some problems.

[2020-06-10 06:25] Andarist commented on #1228
Could you prepare a quick repro case? Would allow us to check out how things behave quicker.

[2020-06-10 06:26] UberMouse commented on #1228
I'll create one tomorrow when I'm back at work. But it seems to be as simple as a machine that has an context of `undefined` causes `assign` to no-op silently.

[2020-06-10 06:49] Andarist commented on #1228
Right, I understand the simplicity of the issue but providing a repro case helps nevertheless. We try to handle as many questions/issues we can and any help given to us is highly appreciated because setting things up takes time (even if probably not that much time in this case).

[2020-06-10 09:29] Andarist commented on #1110
This.

---
Ideall

[2020-06-10 09:33] Andarist commented on #1110
This.

---

Ideally, you should have a common ancestor machine that would invoke `alertService` and pass its address to the other machine so they could communicate using `send`. Putting purity aside you can technically put imported `alertService` into the other machine's initial context and send to it using send expressions like:
[code]

[2020-06-10 21:22] UberMouse opened #1230 "assign requires specifying context type when using type states"
**Description**
If you use `assign` in a TypeScript typed machine that is using TypeStates it causes a type error unless you manually specify the context generic to be the machines context type.

**Expected Result**
This does not cause a type error as it's unnecessary

**Actual Result**
A type error is generated on the line with the `assign` action

**Reproduction**
https://codesandbox.io/s/hungry

[2020-06-10 21:45] #1230 closed, assigned to nobody

[2020-06-10 22:44] Andarist commented on #1110
Yes, you can't invoke already running services.

Yes.

I have just meant that the ideal situation (where you have a single root machine which invokes everything else in a tree-like structure) might not be practical sometimes. You should strive to reach it, but if the cost of introducing it is too great for the moment then you can put an existing machine in the initial context to get your code work

[2020-06-10 23:35] gilesbutler commented on #1110
Thanks for clarifying @Andarist that's really helpful, appreciate your support and I hope you're staying safe during the pandemic.

[2020-06-11 10:44] yasirhantoush commented on #533
Oh, I am facing the same problem, I would love to have this feature implemented to make life a bit easier.

I was basically having a multi step (7 forms) wizard each containing a form using Vue with VeeValidator for validation.

However to validate a form, the VeeValidate returns a promise with true / false
I wish I could guard the transition with this promise result.

Implementing this feature wo

[2020-06-11 11:20] Andarist commented on #533
@yasirhantoush as mentioned - this is a no go from our perspective, we believe that those intermediate state within „async guard” should not be hidden and should be explicit, because you should think about error handling of such async operations.

There is nothing wrong about writing your own little abstraction over this in a form of state factory or similar to reduce a boilerplate if you want. Se

[2020-06-11 11:43] 3plusalpha commented on #533
@yasirhantoush I second what @Andarist is saying. You don't need a "switch" in your transition configuration. You can simply create a "switch" state like follows.

Disclaimer: it's not tested - but you might get the idea

[code]

[2020-06-11 18:06] yasirhantoush commented on #533
@Andarist , @3plusalpha Thanks for the detailed explanation, I did exactly as you stated, I went the path of adding a `checking` state for each form and things went smoothly.

The idea of having multiple targets onDone:[] is fascinating

Best Regards

[2020-06-11 18:17] PetrBrabec commented on #1223
I'm sorry, I've changed the description. Is it clear now?

[2020-06-11 18:44] davidkpiano commented on #1223
This is for parameterized guards, right?

[2020-06-11 18:52] JackCA commented on #849
Resurfacing this as I've been running into semi-related issues after updating my typescript eslinting setup.

Is there a reason that `StateConfig<TContext,TEvent>`[ isn't used here](https://github.com/davidkpiano/xstate/blob/master/packages/core/src/Actor.ts#L19)? Wouldn't that address this?

[2020-06-11 18:59] davidkpiano commented on #849
Yes, an `Actor` can represent anything, not just a spawned machine. The issue in your above example is this:

[code]

You need to either coerce or check that the actor in your `children: ChildActor[]` array is an `Actor` or `Interpreter`.

[2020-06-11 21:25] gilesbutler commented on #1110
Hey @Andarist, I was just wondering if you know of any code examples of xState apps with the tree like architecture we were discussing? It would be super helpful to get my head around it a bit. I'm not quite sure how that architecture would work with say a vue or react setup and routing etc. Thanks.

[2020-06-11 21:33] Andarist commented on #1110
I'm afraid that I don't know any OSS app using such architecture, but this has just been open-sourced (or just announced for a broader audience):
https://github.com/cypress-io/cypress-realworld-app

Might give you some inspiration.

[2020-06-12 00:10] gilesbutler commented on #1110
Awesome thanks @Andarist I'll check it out 👍

[2020-06-12 09:06] FredyC opened #1235 "[React] Event cannot be send to child invoked machine"
**Description**
According to [the example in docs](https://xstate.js.org/docs/guides/communication.html#sending-events), it should be possible to sent events to the invoked machine.

**Expected Result**
Sending events to invoked child machines should work.

**Actual Result**
It works nicely with pure `xstate`

https://codesandbox.io/s/dazzling-cohen-5jf9e?file=/src/index.js

However, with React an

[2020-06-12 09:15] FredyC commented on #1235
Looking at the current code, I am failing to see where is it supposed to be handling other actions that don't use `asEffect` or `asLayoutEffect`.

The line 176 is clearly an only spot working with `currentState.actions` where it filters those that are supposed to be executed in effect. Are the other actions ignored?

https://github.com/davidkpiano/xstate/blob/2119a1d958380a8f8c12bf71b946d80ec757c4

[2020-06-12 10:41] FredyC commented on #1235
Oh wow, this is somewhat silly. There is no actual bug. The CodeSandbox failing example is most likely related to effect actions. In local development, my problem turned out to be a simple typo in the event name 😅

I wonder, why is the check for missing events hidden behind "strict" mode? Once I have enabled it I am getting correct error. Till then it's just silently ignoring the sent event.

[2020-06-12 11:55] alizbazar commented on #941
We are using XState on the backend (including history functionality) and are offloading state to a DB. When upgrading, introduction of `_event` property broke our build.

Is this the recommended way for handling offloading / rehydration? Or is there some other more "future proof" way?

![image](https://user-images.githubusercontent.com/736771/84499893-2a327380-acbc-11ea-94e0-0bd583b6a329.png)

[2020-06-12 12:28] Andarist commented on #1235
Yes, other actions should be executed like normal. Provided codesandbox is not using this version of `@xstate/react` and it's broken in regards to invoked machines - this is supposed to get fixed/changed when `asEffect` stuff gets released.

Technically it's valid to send any event to a machine - unknown will just get ignored. You should rely on a type system to disallow "invalid" events and not t

[2020-06-12 12:35] FredyC commented on #1235
I am absolutely using TypeScript and it surely helps in most cases, but frankly, when talking in terms of communication between services, it's not exactly possible to have it strongly typed. Especially when you identify service by a string and it's configured when consuming that machine. I am hoping this will get somehow improved with V5, but it's very hard to rely on that.

[2020-06-12 12:47] Andarist commented on #1235
I don't think it is - we might even remove it in v5. It's not set in stone yet, but we've talked about it. I think we should remove it and validate this at all times behind a dev flag, or not validate at all. There is a slight problem with `*` matcher - using it once within your machine would immediately make your machine non-strict as it would have to accept any event.

[2020-06-12 12:57] FredyC commented on #1235
Personally, I never used "*" so far yet, it feels like a poor model design to use that in my opinion. Perhaps it could be excluded from checks? It sounds like a bad idea to remove "strict" only to avoid this edge case. Alternatively, it could warn if you use "*" and tell you to disable "strict" mode.

[2020-06-12 13:12] davidkpiano commented on #941
@alizbazar Not sure how the addition of properties to a JSON object could break the build - how exactly are you storing it in the database? For example, in Postgres, if you have a column of type `json` / `jsonb`, you can just store the JSON state as-is without problems.

[2020-06-12 13:23] timoxley commented on #941
@davidkpiano please see the issue description

[2020-06-12 13:26] davidkpiano commented on #941
Ah never mind - sorry, forgot the original issue. However, IMO it's best to avoid blindly storing JSON objects as the top-level objects, because there is no guarantee that the object won't have top-level underscored properties. Storing it as:

`{ state: jsonStateToPersist }`

would solve it.

[2020-06-12 13:31] timoxley commented on #941
The bigger problem is the incompatibility between serialised formats causing a crash on deserialisation.

[2020-06-12 13:47] alizbazar commented on #941
@davidkpiano  is your idea that `jsonStateToPersist` was acquired via `JSON.stringify(state)`?

Previously, we only stored `state.value` and `state.context`, but then for supporting history we also started storing `state.history.value` and `state.history.context` and `state.historyValue`.

**If we were to store JSON.stringify(state)** and then used that for rehydration, would this be backwards com

[2020-06-12 16:59] tranzium commented on #1216
To prevent the visualizer from crashing (which I believe is due to empty event messages), change lines 37 and 46 from `e.value.trim()` to `(e.value || "").trim()`

Still personally interested as to why the visualizer does this though (e.g. an event with no `.value`).

[2020-06-13 03:39] davidkpiano commented on #941
Yes, although you can store `state.toJSON()` as well.

[2020-06-13 09:00] FredyC opened #1237 "[React] Duplicate machine execution with React.StrictMode"
**Description**
The core of the problem is that with `useMachine` a machine _instance_ is created twice and then follows whatever is on its initial path (invocation, actions...). Ultimately, this causes a cascade in my code where two WebSocket connections are created and receive events. Everything then happens twice.

**Expected Result**
An only a single instance of a machine should exist.

**Actu

[2020-06-13 09:10] FredyC commented on #1237
Upon initial inspection, the culprit seems to be in `useConstant` which is executed twice and that happens because of `React.StrictMode`. Once I remove that, it works as expected.

Honestly, I haven't really looked into this React future stuff, so I am not sure how to properly tackle that.

[2020-06-13 09:24] FredyC commented on #1237
Yea, I guess this isn't something that can be solved on XState side. React does that in DEV mode only. But it certainly makes debugging a hell to see all log outputs twice :/

[2020-06-13 10:11] Andarist commented on #1237
Yes, this is related to React's Concurrent Mode - there is no guarantee that your components will render just one time and StrictMode in DEV simulates this by **always** rendering your components twice before mounting them to help you notice such problems.

As you have concluded - this is not something that we can really tackle on our side, it's a byproduct of how React works (or will work in the

[2020-06-13 15:06] FredyC commented on #1237
What seems to be a viable workaround if instead of using "entry" or transient transitions to basically _boot up_ the machine with event sends from `React.useLayoutEffect`. That way the first _verification_ instance is not used and only the latter one is.

Could be perhaps bake something like that inside `@xstate/react` (in DEV mode only)? It could be enough to `.start()` machine in `React.useLayou

[2020-06-13 15:36] Andarist commented on #1237
Please note that this "problem" is not exclusive to the DEV mode - it's only surfaced 100% of the time thanks to the StrictMode, but this could happen at any time when using Concurrent Mode. Concurrent Mode is not yet ready to be used, but its semantics around this are clear and we want to be ready for it - so no changes will be required from our consumers when it finally gets released.

Starting

[2020-06-13 15:54] FredyC commented on #1237
Yea, there are always tradeoffs, but semantically it would even make more sense to start the machine as a side effect.

Ultimately, it might be interesting to utilize Suspense to suspend rendering until those resources are ready. For example instead of accessing `service.children` there would be `service.getChild(...)` which would throw a Promise if not ready yet. It would of course require some g

[2020-06-13 18:29] davidkpiano commented on #1237
I was able to juggle some things around `useMachine` and get this to work. The only difference (which shouldn't affect apps) is that the first `[state, ...]` that comes from `useMachine(...)` comes from the non-interpreted created `machine`, _not_ the created `service` (but the `service` uses that `machine`).

The main issue is/was that `service.start(...)` is a side-effect that is being called in

[2020-06-13 18:42] FredyC commented on #1237
Oh wow, did not expect such a fast fix. Thank you, David. 🙌 I can confirm it works. I have updated the repo above with your code.

[2020-06-13 18:42] davidkpiano commented on #1237
By "it shouldn't affect apps", the caveat is that if you invoke a service on initialization, you should _not_ expect that service to be present on first render... I think.

[2020-06-14 03:38] davidkpiano commented on #1237
There is still the issue with immediately invoked services.

Funny enough, this thread you created a few months back: https://github.com/facebook/react/issues/15317 is part of the issue. If we could have an effect that is executed on first render (instead of after), it would solve this issue.

[2020-06-14 07:44] Andarist commented on #1237
I must say that I haven't read the whole linked thread just yet as it's quite lengthy, but it mostly seems to describe a slightly different issue than we have here. Of course, they are overlapping in some parts and a cleanup hook for canceled renders would make our lives easier.

React team is mostly concerned about rendering deopts here which is a fair concern from the point of view. We don't qui

[2020-06-17 19:46] chreck commented on #995
I am also using react-native and storing state and context. This is my current version, with some ideas from this issue. Maybe someone sees some optimisations or mistakes.

**hooks.ts**
[code]

**Contexts.tsx**
[code]
**App.tsx**
[code]

[2020-06-18 09:15] PetrBrabec commented on #1223
Yes.

[2020-06-18 09:40] PetrBrabec commented on #1223
custom guards exactly: https://xstate.js.org/docs/guides/guards.html#custom-guards

[2020-06-18 10:42] Andarist commented on #1223
Could you prepare a "full" pseudo-code of how would you like to use the proposed feature in the code assuming it would be implemented? It's very hard for me to assess what you are actually asking for from the given description.

[2020-06-19 07:34] danielkcz opened #1250 "[TypeScript] Inlined `send` & `sendParent` not type checked correctly."
**Description**
Possible regression from #1178 where inlined `send` and `sendParent` isn't correctly type-checked.

**Expected Result**
Events should be type-checked correctly.

**Actual Result**
Typos in event names are ignored.

**Reproduction**
https://codesandbox.io/s/inspiring-snow-c3ich?file=/src/index.ts

[2020-06-19 13:23] davidkpiano commented on #1250
This correctly throws an error, and keep in mind that you can `send(...)` _any event_ to any target, so it's infeasible to limit the events sent to just those defined on the machine.

We can probably improve the typings for this in V5, but see this PR (and related issues) for now: https://github.com/davidkpiano/xstate/pull/1178 #711

[2020-06-19 14:44] Andarist commented on #1250
It's true for `send`s to **other** machines but a simple `send('FOO')` is being sent to the same machine so limiting to own events would be preferable. If only we could write proper overloads.

[2020-06-19 17:41] pipex opened #1251 "Interpreter.nextState triggers spawn() calls"
**Description**

I saw this first using the XState visualizer. Here is some example gist for a ping pong machine with actors

https://xstate.js.org/viz/?gist=dc355bee0b368a5fc80e62141db4996d

<img width="601" alt="Screen Shot 2020-06-19 at 13 28 05" src="https://user-images.githubusercontent.com/1822826/85163386-bbf82e80-b230-11ea-9e55-c3b38988927e.png">

When passing the mouse over the `started`

[2020-06-19 18:56] davidkpiano commented on #1250
I'll take a stab at seeing if we can overload `actions.send` to do the right thing.

[2020-06-19 19:00] mkhennoussi opened #1252 "@xstate/vue not working with vue beta"
**Description**
@xstate/vue is not working with vue beta. The module still use @vue/composition-api as a dependency. Should we drop it as vue has enter beta ?

**Actual Result**
when I use the example in the readme, I get an error like
[code]
**Reproduction**
Create a new project with `vue-cli` or `vite`
To use vue 3 (with composition api) with `vue-cli` you need to do : `vue add vue-next`
Then ju

[2020-06-19 19:16] FredyC commented on #1250
Yea, I should have probably elaborated more. It's coming from [discussion about strict mode](https://github.com/davidkpiano/xstate/discussions/1248#discussioncomment-28247). Obviously, if TS doesn't work for such a simple case, the strict mode is a very useful "crutch". Can you reopen, please?

[2020-06-19 21:08] davidkpiano commented on #1252
I would accept a PR for this 🙏

[2020-06-20 07:34] Andarist commented on #1252
We don't use `@vue/composition-api` as a dependency but rather as a peer dependency. I'm not sure but maybe [this PR](https://github.com/davidkpiano/xstate/pull/1253) will resolve this issue? If not - please create a repro case so we could take a look at it.

[2020-06-20 07:37] Andarist commented on #1251
Hm, that's weird as `nextState` is just using `machine.transition` which is a pure API. Could you prepare a CodeSandbox representing a problem? I have a suspicion that this might be just a visualizer bug, not a runtime one.

[2020-06-21 09:37] raarts commented on #995
So there is no solution to this yet? Can anybody explain what is the problem with @Nohac 's solution `Hot-patching the library and replacing useConstant with useState seems to have solved the problem.` ?

[2020-06-21 14:43] jianzhongli commented on #55
Need some help about concept clarification here:

In the "word editor" example, transitions from superstate to substates can be treated as a simplication of the transitions in `Figure 6.12`. [Wikipedia](https://en.wikipedia.org/wiki/UML_state_machine#Local_versus_external_transitions) refer these transitions as "local transition" rather than "internal transitions", which is fine as long as "intern

[2020-06-21 16:24] Andarist commented on #55
1. When a machine is in a leaf state it is also in every ancestor state containing this leaf
2. If any ancestor is a parallel state then a machine can be in more than one leaf state (there is no restriction in how many leafs ot can be as you can create any number of parallel states)

Yes, this description seems to be accurate.

[2020-06-21 22:20] pipex commented on #1251
Hi @Andarist. Here is a codesandbox replicating the behavior. As you can see, the service in the end has 2 children where I would expect it to have only one. It may be possible that I'm misundertanding the purpose of the `nextState` method though.

https://codesandbox.io/s/wizardly-goodall-3g7no?file=/src/index.js

[2020-06-21 22:32] davidkpiano commented on #1251
In this example, you shouldn't need to use `.nextState(...)`, but the behavior is a little buggy - `.nextState(...)` should have no side-effects, but spawning is itself a side-effect.

[2020-06-21 23:43] pipex commented on #1251
Yes, I only used `nextState` there for the purpose of the example. As I said before I see the same behavior when trying to use actors with the visualizer, which calls `nextState` to highlight the next state.

[2020-06-22 03:32] jianzhongli commented on #55
![image](https://user-images.githubusercontent.com/5278523/85245681-f35a1b80-b47a-11ea-8e4c-c2c0016151d6.png)

Thanks! Now I get it, according to [wikipedia](https://en.wikipedia.org/wiki/UML_state_machine#Local_versus_external_transitions).

1. In the top row, we can interpret the transition as an internal transition as in `Figure 6.12`, hence "the local transition does not cause exit from the so

[2020-06-24 13:35] #1056 closed

[2020-06-24 13:37] davidkpiano commented on #623
Addressed in #1240

[2020-06-24 13:38] davidkpiano commented on #671
@Andarist is this still valid?

[2020-06-28 07:22] AlCalzone opened #1259 "interpreter.start does not follow transient transitions"
**Description**
When starting an interpreted machine in a state that contains a transient transition, this transition is not executed.
While developing a state machine with a delayed transition using TDD, I stumbled across the problem that delayed transitions in the "start" state are not executed by the interpreter. I tried to use a dynamic transient state as a workaround (like mentioned in https:

[2020-06-28 08:55] Andarist commented on #1259
IMHO it makes sense that those are not resolved because `.start(rehydratedState)` is mainly supposed to be used for, well, rehydration and whatever state that you have stored somewhere should be a result of already taken transitions and that would mean that for the given `rehydratedState` all transient transitions were already checked (before returning the final resolved state to you - the caller)

[2020-06-29 16:22] #1237 closed

[2020-06-29 19:56] Andarist commented on #956
@ccontreras this memory leak in `@xstate/react` has been fixed in https://github.com/davidkpiano/xstate/pull/1239 by starting machines in an effect. It has not been released yet but we plan to release a new RC version this week or so - so please keep an eye for new releases and in the meantime, I'm going to close this issue.

[2020-06-29 19:56] #956 closed

[2020-06-30 01:22] ccontreras commented on #956
Thank you so much guys!!

[2020-06-30 16:09] tmikeschu commented on #711
This is great! I'm declaring a wrapper for the child machine so I only have to type the generics once:

[code]

[2020-06-30 23:03] nickzylstra opened #1264 "Context displayed incorrectly when using JS 'Map' object in context"
https://github.com/davidkpiano/xstate/blob/05477103bfb42a8bd0a9ef9291a13f178ec2bc4f/packages/xstate-test/src/index.ts#L200

`JSON.stringify` shows `{}` when called on a JS Map, regardless of Map content.  This leads to confusing failed test messages when the current context has a Map value in it.

Possible solution using `replacer` and `reviver`:
[stackoverflow](https://stackoverflow.com/a/5615032

[2020-07-01 20:43] rlaffers opened #1268 "[React] asEffect and asLayoutEffect are not re-exported"
**Description**
According to [@xstate/react docs](https://xstate.js.org/docs/packages/xstate-react/#aseffect-action), it should be possible to import **asEffect** and **asLayoutEffect** functions. However, they are not available for import.
[code]

**Expected Result**
[code]

**Actual Result**
[code]

**Reproduction**
https://codesandbox.io/s/aged-worker-yjb6i?file=/src/index.js

**Additional cont

[2020-07-02 02:40] #1268 closed

[2020-07-02 05:42] baeharam opened #1271 "useMachine is not working in custom hook"
Description: #1270
Reproduction: https://codesandbox.io/s/xstate-customhook-bug-8u7gc?file=/src/App.js

[2020-07-02 12:05] Andarist commented on #1271
1. you are using your custom hook in the wrong way - you shouldn't use them within your return value, all of them should be statements near the top of your component declaration. In this particular situation, it would work, but it is not advised to do this in React. Also - hooks shouldn't usually return React elements.
2. each `useMachine` **starts** a new machine. So in your example, you actually

[2020-07-02 14:57] Andarist commented on #623
@davidkpiano I'm not sure if this has been addressed in #1240. This issue here is about "async" errors events - and that PR has mostly tweaked cases when a service cant send an event to another actor.

I've created this issue because, as far as I understand, SCXML treats error events as **local** to a statechart. It never receives those `error.*` events from other actors, but yet it is what we are

[2020-07-02 15:05] davidkpiano commented on #623
Ah, yeah you're right. Regarding the original issue:

This is what we have to embrace. Any non-local "error" is an event like any other. Just like an HTTP request can respond successfully, but might have `status: 500`, which we would need to _interpret_ as an error (or not, depending on biz logic requirements).

[2020-07-02 20:54] chriscalo commented on #1136
This seems to now be fixed after the 4.11.0 release.

[2020-07-02 21:14] #1136 closed

[2020-07-03 00:57] baeharam commented on #1271
Thanks for your answer! @Andarist

1. If it is wrong way, how can I extract **very complex/verbose logic** made by `useMachine`? Is it impossible?
2. Great answer! I got it, this is very obvious explanation. 😄

[2020-07-03 09:54] liam33893 opened #1276 "Type 'EventObject' is not assignable to type 'CustomerModalEvent'."
**Description**
I'm building a state machine according to xstate documentation.
It's a pretty simple example. I'm using action `setCustomerDataFromResponse` in loading state `invoke` onDone, and get the error during webpack bundle.

Issue with the
[code]

**Expected Result**
Webpack bundle

**Actual Result**
[code]

**Reproduction**
Here's the smallest reproduction I can come up with.
[code]

**Ad

[2020-07-03 10:05] Andarist commented on #1276
In TS whenever you pass a type parameter you turn off the inference for the rest of arguments and defaults are used. So you have to provide **all** type parameters yourself if you provide any.

[2020-07-03 10:21] Andarist commented on #1271
You would have to describe what exact problem do you have, I'm not sure what exactly is complex/verbose in your eyes so I can't answer this without learning more about your perspective.

[2020-07-03 10:31] liam33893 commented on #1276
Thanks Andarist for the help!

I tried everything, with inference and without inference.
In this case:
[code]
Error:
[code]

[2020-07-03 10:37] Andarist commented on #1276
This is currently a shortcoming of our typings which is really hard to fix - given TS limitations. I would recommend just adding an appropriate event type (which would extend `DoneEventObject` to improve soundness) to your `CustomerModalEvent`. After all, this would be correct - your machine is accepting such an event, you just haven't declared it to be accepted up to this point.

[2020-07-03 10:53] ascorbic opened #1277 "Eventless/transient transitions in invoked machines are evaluated without context from parent"
**Description**

If an invoked machine has an eventless or transient transition defined, it is evaluated twice: first with the default context, and second with the context passed from the parent. This is changed from behaviour <4.11.0, where transient transitions were not evaluated before the context was passed. This is problematic where there are guards defined that rely on the passed context. In

[2020-07-03 11:09] Andarist commented on #1277
Thanks for the report - I will take a look into it soon.

[2020-07-03 11:28] liam33893 commented on #1276
[code]
I'm still learning XState.
I have many events. Can you, please, provide an example in my case. How I should extend?

And how the events are related to the onDone actions? I don't send any events.

[2020-07-03 12:15] Andarist commented on #1276
`onDone` is just a sugar syntax over something like:
[code]
Such an event is actually sent from the invoked service to the invoking one under the hood.

If you prepare a runnable repro case of your problem using CodeSandbox or similar then I could propose a fix for you.

[2020-07-03 16:21] liam33893 commented on #1276
[https://github.com/liam33893/webpack-ts-xstate-error/](https://github.com/liam33893/webpack-ts-xstate-error/)
I created the smallest possible repo with the error here on GitHub as an example.
Just run `npm run build`. The error will be there.
I really appreciate your help. Thanks

[2020-07-03 16:44] BenoitDel opened #1281 "Regression with xstate/react@1.0.0-rc.5"
**Description**

userService throws an exception complaining about the fact that the service argument is undefined

`Uncaught TypeError: Cannot read property 'initialState' of undefined`

**Expected Result**
Since the service is defined. It should not throw error

This is a regression specific to xstate/react@1.0.0-rc.5.
With xstate/react@1.0.0-rc.4, everything was ok.

**Reproduction**

https://c

[2020-07-03 20:35] davidkpiano commented on #1281
Can you fix the CodeSandbox? There are typos, e.g., `refMchine` and some TS errors.

[2020-07-03 20:42] davidkpiano commented on #1271
I will close this as invalid - @baeharam Feel free to [create a discussion](github.com/davidkpiano/xstate/discussions) if you want to talk about your use-case further.

[2020-07-03 20:43] #1271 closed

[2020-07-03 20:48] davidkpiano commented on #1277
This has a simple (and almost necessary) workaround - if your machine expects anything in `context`, it _must_ have initial `context` defined.

In other words, add this:

[code]

See here for the working example with 4.11: https://codesandbox.io/s/competent-raman-eno75?file=/src/index.js:248-343

[2020-07-03 20:52] davidkpiano commented on #1276
@liam33893 Can you put that in a CodeSandbox instead?

[2020-07-04 05:50] BenoitDel commented on #1281
@davidkpiano  Sorry for that, the CodeSandbox should work now.

[2020-07-04 07:27] Andarist commented on #1281
I've reproduced your problem with the previous version of your codesandbox and:
1. you should avoid using `useService` and prefer using `useActor`
2. it still wouldn't quite fix your problem though (yet) because you are using `spawn` and it is implemented differently than `invoke` which we have missed while working on this
3. `spawn` doesn't schedule spawning children like invoke does, it's eager

[2020-07-04 07:30] liam33893 commented on #1276
Sure.
Here is the link - [https://codesandbox.io/s/bold-frost-ccfjb?file=/webpack.config.js](https://codesandbox.io/s/bold-frost-ccfjb?file=/webpack.config.js)
In terminal run `npm run build`.

Thanks

[2020-07-04 07:55] BenoitDel commented on #1281
@Andarist I decide to use` useService` to get access to the context  child  machine, but maybe this is an anti-pattern or not the best way to do it.
I try to import `useActor` with xstate/react@1.0.0-rc.5 but it seems that the hook is not exported in this version
the problem is shown here:
[CodeSandbox](https://codesandbox.io/s/thirsty-wind-1hz1i)

When you say eager what do you mean? That the chi

[2020-07-04 13:48] davidkpiano commented on #1276
Hey @liam33893, I don't see any TypeScript errors in the CodeSandbox provided.

[2020-07-04 14:40] liam33893 commented on #1276
![error](https://user-images.githubusercontent.com/57877061/86514775-e21af280-be1c-11ea-8108-24a9dd54c8aa.PNG)

Yes. The error appears only when you run `npm run build` in the terminal. Click on the terminal and type something, dialog window should popup with button `create terminal`, then you can run any npm scripts there.

[2020-07-04 16:58] davidkpiano commented on #1276
We can probably improve the types here, but it has a simple workaround:

[code]

Try that.

[2020-07-04 18:23] Andarist commented on #1281
Yeah, I've fixed this here: https://github.com/davidkpiano/xstate/pull/1283 . Haven't mentioned it as there are still other problems with the current `xstate/react@1.0.0-rc.5` and spawned children.

Most actions are just objects which get returned by the machine and later interpreted (executed) by the interpreter. However, `spawn` is executed right away: https://github.com/davidkpiano/xstate/blob/

[2020-07-04 19:32] Andarist commented on #1277
I believe this is an actual bug and the proposed workaround is not sufficient.

This is caused by those lines:
https://github.com/davidkpiano/xstate/blob/8226700aab94031f66133c6518430786aab4780c/packages/core/src/Actor.ts#L52-L54

As we may see the `.initialState` of the invoked machine is being read and this leads to initial transient transitions being evaluated which in this case crash the progr

[2020-07-04 21:35] liam33893 commented on #1276
Thank you guys for the help. That did the trick.

[2020-07-04 21:35] #1276 closed

[2020-07-04 22:36] Andarist commented on #1277
Just to let you know - I might have a fix locally but I still need to write the appropriate test for it, which I plan to do tomorrow.

[2020-07-06 21:03] myarjunar commented on #329
Hi @davidkpiano , thanks for all the hardwork on this! However I'm still getting this error on 4.10.0, and I'm not using nested machines.

Here is the xstate definition that I used -> https://codesandbox.io/s/romantic-herschel-0mmkd. The error only occurs when the serialisation happens after state transition in line 139 and 147.

Please let me know

[2020-07-06 23:05] davidkpiano commented on #329
@myarjunar Have you tried 4.11?

[2020-07-07 01:46] myarjunar commented on #329
@davidkpiano is there a bugfix or changes regarding this issue on 4.11? I will try that anyway, thanks!

[2020-07-07 01:56] davidkpiano commented on #329
Also, the CodeSandbox you linked is currently invalid @myarjunar. If you're still experiencing the same issue in 4.11, please open a [new issue](https://github.com/davidkpiano/xstate/issues/new) Thanks!

[2020-07-07 03:44] davidkpiano commented on #1281
@Andarist I think the simple fix here would be to add that `.deferred = true` tag to spawned actors that are spawned before the service starts as well. But yes, this should be using `useActor(...)`.

[2020-07-08 12:00] matchatype commented on #487
@larrybotha although working, it doesn't seem to be very efficient. In your example you are spawning new `task` and `alert` actors every time you add a task. All those services are orphans and will keep living in memory.

[2020-07-08 13:46] larrybotha commented on #487
@matchatype ye, very much a proof of concept while I was trying to understand how everything fits together - at the very least those actors all need a `.stop()` when removed

[2020-07-08 13:47] matchatype commented on #487
Also, thank you for sharing that!

[2020-07-08 15:13] #1277 closed

[2020-07-09 13:35] AlCalzone commented on #1259
Guess that makes sense. I've resorted to manually changing the initial state in my component tests and just calling `start()`.

[2020-07-10 09:12] rlaffers commented on #890
I have discovered a workaround: the 3rd argument passed to the guard is the meta object. It contains the current [state](https://xstate.js.org/api/classes/state.html). You can get your event from it.
[code]
This workaround works the same whether you define your transient transition with `'': {}` syntax or the [newer](https://xstate.js.org/docs/guides/transitions.html#eventless-transitions) `always

[2020-07-12 13:15] #1281 closed

[2020-07-12 22:30] coolfarmer commented on #1106
Any news about the example with Vue 2 ? I have the same error and I'm new to XState.
All the documentation is about Vue3 ? :/

[2020-07-13 03:59] davidkpiano commented on #1106
@coolfarmer The recipe for Vue 2.x is here: https://xstate.js.org/docs/recipes/vue.html

[2020-07-13 05:46] coolfarmer commented on #1106
Excellent thanks!! :)

[2020-07-13 14:50] CodingDive commented on #1223
Can't speak for OP and from the question I'm not sure if we are on the same page here, but I was hoping I could type my custom guards like this:

[code]

The second and third generic TypeScript argument of StateGuard could be used to pass in the context and event again with which it could type the `state: State<Context, Event>` of the `stateGuard`.

Arguably it should only allow a second type argu

[2020-07-13 23:55] timothyallan opened #1301 "Typescript 'matches' issue on xstate/react rc.1 and later."
**Description**
I've got a strange one. Typings for the context of Machines vanish depending on how you do a `matches` call.

**Actual Result**
![Screen Shot 2020-07-13 at 5 40 27 PM](https://user-images.githubusercontent.com/1995135/87364219-5138cb00-c530-11ea-9ed5-26400336130a.png)

Here I have a pretty typical check to see if I'm in a particular state. However, you can see that the context type

[2020-07-14 05:13] davidkpiano commented on #1301
That is really weird. What version of TypeScript are you using?

[2020-07-14 06:22] timothyallan commented on #1301
Uhh, yeah, it's super weird.

I'm using 3.9.6. It does it in that codesandbox link as well if you comment/uncomment my if's, and it looks like it's using Typescript v3.3.3

[2020-07-14 14:02] rmagon commented on #209
Hi @gurdasnijor .. did you end up using it for the backend API?

[2020-07-14 21:19] AndresRodH commented on #1058
I just happened to fix this by using [constate](https://github.com/diegohaz/constate).

[code]

I know that using a utility library is not what this issue is about though. Just wanted to share in case it could help someone avoid the extensive type ritual while we have a more definite answer :D

[2020-07-15 15:55] adiun opened #1307 "Visualizer crashes when adding entry action with incorrect conditional"
**Description**
When adding an `entry` action with an incorrect conditional, the entire visualizer goes blank with an error in the console. E.g. when adding the `entry` block here:

[code]

**Expected Result**
See an error shown in the form of a toast (not destructive)

**Actual Result**

[code]

**Reproduction**

https://xstate.js.org/viz/?gist=814d4a8c857ab5d323b6ad1fcc83e2c0
Gist: https://gist.

[2020-07-15 22:07] CodingDive commented on #1301
This may be related to #1142, #947, #1184. You can find a few workarounds that may work for you there

[2020-07-17 08:06] Andarist commented on #1301
This actually looks slightly different to me. In all linked issues this conditional type:
https://github.com/davidkpiano/xstate/blob/597cfdc659b03f2095e73faf3f82702ae68a3911/packages/core/src/State.ts#L294
was resolved to `never`, but in here it seems that the other branch is chosen and because supplied default here:
https://github.com/davidkpiano/xstate/blob/597cfdc659b03f2095e73faf3f82702ae68a39

[2020-07-20 14:10] jamesopstad opened #1322 "Resolve/document inconsistencies between @xstate/fsm and xstate"
**Description**
I use both `xstate` and `@xstate/fsm` depending on the complexity of the project and sometimes start with `@xstate/fsm` and move to `xstate` if needed. There are, however, some undocumented differences that have tripped me up a few times.

1. In `xstate`, the object returned by a function assigner is merged with the current context. In `@xstate/fsm` it replaces the current context.

[2020-07-20 14:17] davidkpiano commented on #1322
So, seems like two things to fix in `@xstate/fsm`:

- `assign(() => ...)` should merge, not replace
- undefined `target`s should be considered internal, whereas explicit `target: 'sameNode'` should be considered external transitions.

Sounds about right?

[2020-07-20 14:36] jamesopstad commented on #1322
Yep. That would help a lot. On a related note, in both libraries it would be useful if a function assigner could return `undefined` for no changes to the context. This would save having to return an empty object and make conditional logic a bit leaner.

[2020-07-20 15:36] tv-ravi commented on #51
i am a new in xState and also stuck on same point from last 2 days and didn't found any clue to navigate/map routes between screens in react native app.Like i have login screen and when i successfully login i need to navigate on home screen with same machine' state logic.Another thing i didn't understand that when i trying to create a instance of via useMachine() in home screen it will reset machi

[2020-07-20 16:06] davidkpiano commented on #51
@tv-ravi Want to open this [as a discussion](https://github.com/davidkpiano/xstate/discussions/new) instead?

There's nothing special about routing + XState, since XState is agnostic to routing, but I'd love to see your code to get a better idea of what you're trying to do.

[2020-07-20 17:34] tv-ravi commented on #51
Thank you for your quick response.
My main motive is to totally rid of the redux code from my existing react native app, which i am currently using for navigation/screen routing and trying to navigate screens on state change occur. To do that i also follow this link which is not working [https://codesandbox.io/s/ykmykxnm3z](url).
I started migration (redux to xState ) from my search module of appl

[2020-07-20 20:09] hamzazaidi commented on #1307
I am running in to the same issue, i am trying to update the visualizer with the following gist and its crashing
https://gist.github.com/hamzazaidi/e6da36a2d49ea4657717309b06444252

[2020-07-22 12:56] tv-ravi commented on #51
It would be helpful for me if you could share that how could i share machine instance with multiple screens in react native project.
Let's supposed i have three screen in my project A,B and C, i have created machine instance by using this line  "const [current, send] = useMachine(myMachine)" in A screen.
Now to make transition i need "**send**"  in screen B and C.
So how could i use the same insta

[2020-07-22 13:45] CodingDive commented on #1322
@jamesopstad while I agree that some syntactic sugar would be nice, why not guard your assign action? I believe the moment you execute the assign action, state.changed will be set to true even if the context wasn't changed.

The extra guard will also improve visualization.

[2020-07-22 14:39] jamesopstad commented on #1322
I use `if` statements inside function assigners as type guards to narrow the event type e.g.

[code]

I don't think there's another way of correctly inferring the event type in the `actions` object but correct if I'm wrong. If the function assigner could return `undefined` then the `else` statement would be unnecessary. Not a big deal but they add up and I think it would only require a very small

[2020-07-22 14:54] CodingDive commented on #1322
@jamesopstad that's great. I was talking about `cond: 'isEventOfMyType', actions: 'assignContextBasedOnMyType'`. That way your action is only ececuted when the guard evaluates to true.

[2020-07-22 16:42] Andarist commented on #1322
A more flexible solution for this would be using a `choose` action over guarded transition:
[code]

[2020-07-22 17:58] jamesopstad commented on #1322
True, but you still need a condition in the assign function to narrow the event type.

[2020-07-22 19:34] eerrecalde opened #1327 "Tiny correction in the docs: guides => #eventless-transitions"
**Description**
I might be wrong, but I believe the example on: https://xstate.js.org/docs/guides/transitions.html#eventless-transitions
was supposed to have the 'always' array inside the 'on' object, and not as sibling. See below

**Expected Result**
[code]

**Actual Result**
[code]

[2020-07-22 19:38] davidkpiano commented on #1327
The docs are correct; `always` is a sibling to `on`, similar to `onDone`, `after`, etc.

[2020-07-22 19:38] #1327 closed

[2020-07-22 19:45] eerrecalde commented on #1327
@davidkpiano Not sure why I can't get it to work then :/

Mind quickly looking at the init state? (The very first one)
https://xstate.js.org/viz/?gist=b809941cd092c0358fb933c3d0e022e6

Thanks!

[2020-07-22 20:24] Andarist commented on #1327
The visualizer probably runs on an older version of XState.

[2020-07-22 20:31] eerrecalde commented on #1327
Ah that'd explain the issue.. Thanks

[2020-07-23 06:42] Andarist commented on #1322
Right, that's true - you could also do this:
[code]

I'm not sure if allowing `undefined` as a return type of Assigner would be preferable as usually not returning something is an oversight on a developer's side.

[2020-07-25 05:29] BenoitDel commented on #1281
This issue has been closed but the bug is still there in version 1.0.0-rc.6

[2020-07-25 07:49] Andarist commented on #1281
The fix requires a new XState release - we'll probably do one in the upcoming week. Thanks for reminding us to do so.

[2020-07-25 15:44] davidkpiano commented on #1132
This is now fixed in the latest `@xstate/react` RC.

[2020-07-25 15:44] #1132 closed

[2020-07-25 15:46] davidkpiano commented on #1211
The `xstate.init` event no longer fires twice in the latest `@xstate/react` RC.

[2020-07-25 15:46] #1211 closed

[2020-07-26 15:17] mnhthng-thms commented on #221
@aksonov If you're still interested at integrating `XState` with `react-navigation`, you should pay a visit to my project at [this repo](https://github.com/mnhthng-thms/To-Do-List-App-ReactNative).

[2020-07-27 09:27] mircostraessle opened #1334 "Rehydrating from persisted state breaks delayed transitions"
**Description**
According to this section https://xstate.js.org/docs/guides/states.html#persisting-state in the documentation the state of running machines can be persisted and used to rehydrate the machine to this exact state later. This is a super useful feature in many ways and it worked great so far.
However if I add delayed transitions (https://xstate.js.org/docs/guides/delays.html#delayed-tr

[2020-07-27 12:37] davidkpiano commented on #1334
Your CodeSandbox seems to work fine. When I start the delayed transition, and then reload, the machine:

1. successfully starts in that `'doingStuff'` state
2. successfully transitions to `'idle'` after 2 seconds, as expected.

Am I missing something?

[2020-07-27 13:11] mircostraessle commented on #1334
hmm that is strange. I uploaded a recording of what happens for me here: https://gfycat.com/distortedcrazyduck
For me with this sandbox as soon as the machine gets rehydrated it will get stuck in the `'doingStuff'` state and not transition after the 2 second period.
I also tried the sandbox in a few different browsers with the same problem in all of them.

[2020-07-27 14:28] mircostraessle commented on #1334
Aaah I think we are doing different things...
When reloading the window while in the `'doingStuff'` state (which is what you did I guess) everything works fine in the rehydrated machine.
But if the delayed transition is allowed to transition back to the `'idle'` state before reloading the window (which is what the recording posted above shows) the delayed transition will not be fired in the rehydr

[2020-07-27 18:27] davidkpiano commented on #1334
I've identified the issue and am working on a fix.

[2020-07-28 18:24] pdcarroll commented on #434
This pattern is exactly what I'm trying to implement; however, I'm struggling to figure out how to use the `send` function the way you wrote in your example:

[code]

This sample doesn't appear to be valid JS because you're implicitly returning two separate values. Is there another way to use the `send` function in this manner (i.e., explicitly specifying the receiver and including the event data

[2020-07-28 18:51] davidkpiano commented on #434
@pdcarroll Please put your code in a CodeSandbox. Easier to diagnose the issue there.

[2020-07-28 19:41] pdcarroll commented on #434
Sure, here's a sandbox with a modified version of the sample you posted above:
https://codesandbox.io/s/laughing-margulis-zd4yh

I included your sample implementation of `send` (line 29), but commented it out because it's invalid syntax. The version of `send` that I wrote is valid (and works), but it doesn't capture the event data. My question is, is there a way to send the action to the invoked s

[2020-07-28 20:39] Andarist commented on #434
That's because you have made a syntax mistake, it should be:
[code]
https://codesandbox.io/s/delicate-https-ujfyh

[2020-07-28 21:36] pdcarroll commented on #434
@Andarist The invalid syntax was not my code, it was from the sample posted as a response to the original issue. That's why I asked for clarification. The change you made is exactly what I was looking for. Thank you!

[2020-07-29 22:14] x-aaron-moore opened #1340 "Wildcard Descriptors Do Not Transition When Child State Invokes Error"
**Description**
Create a machine with a parent state that has a wildcard descriptor transition, and child states with service invocations that do not have `onError` transitions hooked up. Then, cause an error to be thrown on of the children's service invocations.

**Expected Result**
The wildcard transition should be taken.

**Actual Result**
An error was raised of this shape: `Missing onError han

[2020-07-29 22:51] jpalof opened #1341 "Issues completing nested Parallel states"
## Bug or feature request?
Bug

## Description:
I am having problems getting nested parallel states completing. The odd thing is that the machine ends up in the expected state if I try it in the visualizer (https://xstate.js.org/viz/) but doesn’t if I run it as code.

## (Bug) Expected result:
The referenced machine should end up in 'completed_asyncTask'.   If I cut/paste the machine into VIZ and

[2020-07-30 22:11] EdmundsEcho commented on #1307
@adiun  Thank you for posting this bug.  I spent several hours debugging this one before reading yoru post.  I knew it was my mistake, but the error messages were truly impossible for me to work through (the state-machine is part of a large bundle).  It took me all of 2 minutes to at least isolate the source of the bug after having read your post.  Best regards, - E

[2020-07-30 22:43] davidkpiano commented on #1307
Please reach out in the issues, discussions, or gitter.im/statecharts or spectrum.chat/statecharts if you find yourself spending too long on an issue 🙏

[2020-07-31 19:00] EdmundsEcho opened #1344 "respond example in the documentation fails "interpretation"; requires a small change to make it work"
The guide for `respond` includes the following example:
[code]

However, this does not "compile" (if you will).  The error:

[code]

The fix is straightforward:

[code]

\ - E

[2020-07-31 20:12] NewAlexandria commented on #528
Was this ever referenced or moved to another issue?  It looks like this one referenced #500, and then that was closed, and then this was closed.

Pardon that I don't have a suggestion for how to solve this one - but would love to make it part of our pipeline.  Some people are strongly-visual learners and readers, and the diagram is the only way they can grok what's happening.

[2020-07-31 22:03] davidkpiano commented on #528
@NewAlexandria This would fit under https://github.com/davidkpiano/xstate/issues/90, which is in the roadmap.

[2020-07-31 22:31] davidkpiano commented on #1344
The `respond` action creator comes from:

[code]

[2020-08-01 06:27] EdmundsEcho opened #1347 "entry: send( ctx => ({/*...*/})) generates TypeError"
**Description**

In the machine configuration object the following generates an error:
[code]

Configure the `send` action creeator with an event object instead (and fix the value of the payload)... no error.

**Expected Result**

No error

**Actual Result**

[code]
**Reproduction**

- [CodeSandbox template (JavaScript)](https://codesandbox.io/s/xstate-example-template-m4ckv)
- [CodeSandbox templa

[2020-08-01 09:06] Andarist commented on #1347
Please always try to share a repro case in a runnable form - either by providing a git repository to clone or a codesandbox. OSS maintainers usually can't afford the time to set up the repro, even if exact steps are given.

[2020-08-01 13:30] EdmundsEcho commented on #1347
@Andarist thank you for your prompt reply. Your point is fair and I will do my best to get something up and running.

In the meantime, have you seen this type of error code before? It comes from the online `viz` with my pasted code base.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-08-01 14:06] EdmundsEcho commented on #1344
Good idea. However, here is [a link](https://xstate.js.org/viz/?gist=8e42bbabca87c9159a07081373b4676e) to the interpreted state-graph.  This works.  On the 9th line, remove the `() => ` and it fails.

[2020-08-01 14:26] davidkpiano commented on #1344
That's because the visualizer is currently running on an older version of XState, where `actions.respond` is not available.

[2020-08-01 14:27] davidkpiano commented on #1347
The visualizer is running on an older version of XState, which could be the source of this error.

[2020-08-01 21:11] also commented on #737
What's the specific issue in https://github.com/statecharts/xstate-viz? I encountered the same behavior trying to visualize the `todosMachine` from the TodoMVC example https://codesandbox.io/s/xstate-todomvc-33wr94qv1?from-embed=&file=/todosMachine.js:235-2179

[2020-08-02 02:33] mikecann opened #1350 "Poor Typescript Performance in editor?"
**Description**
This is a difficult one to lockdown, but I have searched the issues and surprisingly couldnt find a mention of other issues.

It seems like the typescript performance in the editor is really poor. I suspect this is to to lots of type aliasing and other complex type inferrence rules.

Theres probably not a lot that can be done about it but I thought I would open an issue anyways.

*

[2020-08-02 14:11] EdmundsEcho commented on #1347
Ah!! That explains soooo much.

I was looking for a way to run the visualizer locally. Is that possible?  Is it on github so that I might also see how I might help... if helpful (I did do a first pass look and did not find anything).

Regarding the version online, is there legacy code that will break with an upgrade?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-08-02 14:14] davidkpiano commented on #1347
I'm currently working on the new visualizer, which is expected to be completed by the end of the month. It is a complete overhaul of the existing visualizer which is why we can't incrementally update the current one.

[2020-08-02 15:02] #1301 closed

[2020-08-02 15:17] EdmundsEcho commented on #1347
@davidkpiano Thank you alround.  It's a great tool.  Clearly differentiating.   On a separate, but `viz`-related topic, is there a way to have one machine reference another machine specified in a different gist? So, ~ imports of gists?

[2020-08-02 15:25] davidkpiano commented on #1347
There will be! Sneak preview: see the _parent_ link?

<img width="943" alt="CleanShot 2020-07-20 at 00 03 05@2x" src="https://user-images.githubusercontent.com/1093738/89126330-ecc7b680-d4b2-11ea-9b7f-c96a437d14cd.png">

[2020-08-02 15:28] EdmundsEcho commented on #1347
Truly cool.

[2020-08-02 15:35] #1347 closed

[2020-08-02 15:40] EdmundsEcho commented on #1344
That makes sense.  I'm still getting familiar with the library and how to run it outside `viz`.  So I can't confirm accordingly, but close it regardless.  Thank you.

[2020-08-02 15:40] #1344 closed

[2020-08-02 16:30] EdmundsEcho commented on #1344
@davidkpiano Thinking more about the `viz` tool...  One of the things I really like about working `graphql` is being able to set-up an endpoint for the `GraphiQL` tool.  The tool reflects 100% of the functionality of the service.  The basis for how it works is `js` template provided by the community, and my setting-up the end-point on my http-server and configuring the client template to fetch the

[2020-08-02 16:46] davidkpiano commented on #1344
Good thinking; here's what I have so far (and this probably should be in discussions instead...)

Ideally, in any project you create that uses XState, you should only have to do two things:

1. Install `@xstate/inspect` (don't install this yet; it's not for public use yet unless you're really curious) and import it

[code]

2. Enable devtools for any machine that's used (this should work with any

[2020-08-02 18:30] NewAlexandria commented on #528
I think I was confused about #90 because it also says it's closed.  For future reference, to others, [this seems to be the roadmaps indicated](https://github.com/davidkpiano/xstate/discussions/742).

[2020-08-03 08:58] Andarist commented on #1344
I think the first option should be preferred - would be much easier for people to use it if they could only enable devtools globally in a single place.

[2020-08-03 11:49] davidkpiano commented on #1344
@Andarist Both steps would be done together.

[2020-08-03 14:06] Andarist commented on #1344
As in both would be required to make it work or one could choose between both approaches? If second - what would be the benefit of the second approach if the first one would be implemented? I assume the devtool would have filtering options, so I'm not sure how useful the second one really would be 🤔 .

[2020-08-03 16:23] EdmundsEcho commented on #1344
To help provide more context, I'm not sure how much you have an eye on `redux` as competition; either or.  A little verbose, but hopefully useful.

In my use case, while there is clearly overlap, I see them more as "one complements the other".  For my purposes and vision for an ideal workflow, I would have a separate window for `redux` and `viz`; each something I can open outside of `devtools`.  A

[2020-08-04 18:56] mattpocock opened #1355 "XState Visualiser does not accept the 'always' property on states"
**Description**
Given this machine:
[code]

The machine will never reached the `neverReached` status when it's put into the visualiser.

**Actual Result**
![image](https://user-images.githubusercontent.com/28293365/89333168-85fdf500-d68c-11ea-8790-5b66ef304f1e.png)

No connecting link is placed between the two states, as usually happens on a transient transition.

**Additional context**
The XState

[2020-08-04 19:31] davidkpiano commented on #1355
Yes; this is coming in late August.

[2020-08-04 19:31] #1355 closed

[2020-08-04 20:34] davidkpiano commented on #1350
This is likely fixed in `master`: https://github.com/microsoft/TypeScript/issues/39826 .

You can [install from a GitHub link](https://docs.npmjs.com/cli/install) and try it out - please let me know if performance is improved.

[2020-08-04 22:19] Andarist commented on #1350
Unfortunately, it's not possible to install monorepo packages from github when using npm (there is no way to specify which directory should be installed). I've heard that Yarn 2 has a syntax for this though.

However, I think it should be possible to install the current master using one of those thanks to our CodeSandbox CI integration:
[code]

[2020-08-05 15:40] bholmesdev commented on #645
Agreed. Having an event like `DoneInvokeEvent` where the type could be _anything_ makes it super hard to handle the `event` object in other contexts (for example, analyzing the result of `onDone` in a `guard`, or retrieving the event object in a service).

Specifying the dummy type `done.invoke` makes the type checker happy without any runtime errors. But under the hood, this type isn't actually w

[2020-08-05 16:08] mattpocock commented on #645
This is a good use case for a codegen tool to generate the required types. I've got a demo working in [this package](https://www.npmjs.com/package/xstate-codegen), albeit buggy.

Introspecting the machine and divining the connections between all of these services and actions would lead to some pretty awesome type inferences. I've added an example output below.

https://gist.github.com/mattpocock/f

[2020-08-07 02:20] pex commented on #1268
When is this fix going to be released?

[2020-08-07 03:28] #1334 closed

[2020-08-07 03:28] davidkpiano commented on #1268
Soon!

[2020-08-07 03:45] idhowardgj94 opened #1361 "can't use static value on assigner object using ts"
**Description**

according to official website

assign action creator can use like this:

[code]

but when i do this, ts show me error on `on` props:

[code]
change timeoutMsg to a function work fine.

**Expected Result**
no error
**Actual Result**

[code]

xstate ^4.11.0

[2020-08-07 03:58] davidkpiano commented on #1361
✏️ Please create a [CodeSandbox (XState TypeScript template)](https://codesandbox.io/s/xstate-typescript-template-6dsws) reproduction of this. Thanks!

[2020-08-07 11:43] FokkeZB commented on #90
@davidkpiano both this request and #528 (which forward to this) are closed. We'd love to be able to generate an SVG (so more #528 than this ASCII one) for documentation of each machine, in a pre-commit hook.

Is this still on the roadmap?

[2020-08-07 12:34] mattpocock commented on #90
This could also fold in with the [codegen](https://github.com/mattpocock/xstate-codegen) workflow. Run a single CLI command, output anything the user requires (types, ASCII, xstate-viz built as html) via a plugin system. You could run it on watch mode like Storybook's dev server to rebuild on file change.

[2020-08-07 13:00] davidkpiano commented on #90
@FokkeZB Yes, it's here: https://github.com/davidkpiano/xstate/projects/1#card-40599007

[2020-08-08 14:47] davidkpiano commented on #645
Just a note (for my reference too), the event is properly inferred inline:

<img width="451" alt="Screen Shot 2020-08-08 at 10 42 36 AM" src="https://user-images.githubusercontent.com/1093738/89713161-f1cdaf80-d963-11ea-9505-a29f3e97ec8d.png">

One of the problems is that `actions` (as well as `guards`, etc.) defined in the machine options (second arg of `createMachine(..., options)`) are assumed

[2020-08-08 14:54] davidkpiano commented on #1340
The interpreter for this is expecting that `error.platform.[id]` event to be present in `nextEvents`; otherwise, it just throws it as an error.

The workaround is to handle that error. You can either manually type `"error.platform.process1"` or use `error()` from `xstate/lib/actions`:

[code]

[2020-08-08 14:59] davidkpiano commented on #1106
This has been updated in the `@xstate/vue` docs with a 2.x notice.

[2020-08-08 14:59] #1106 closed

[2020-08-08 15:00] davidkpiano commented on #1235
Closing this issue as invalid (since you solved it 😅 )

Feel free to open another issue/discussion for strict mode considerations.

[2020-08-08 15:00] #1235 closed

[2020-08-08 15:01] davidkpiano commented on #1229
@UberMouse Can you create a CodeSandbox demonstrating the 4th issue?

[2020-08-08 15:02] #1196 closed

[2020-08-08 15:03] davidkpiano commented on #700
@Andarist Is this still valid with the `next` branch?

[2020-08-08 15:05] davidkpiano commented on #632
Not sure when this was fixed, but it's properly inferred now:

<img width="320" alt="Screen Shot 2020-08-08 at 11 04 42 AM" src="https://user-images.githubusercontent.com/1093738/89713640-0790a400-d967-11ea-9345-2aacbc4977d0.png">

[2020-08-08 15:05] #632 closed

[2020-08-08 15:08] davidkpiano commented on #464
Just a note: this would be a breaking change for V4. But we can address it in V5.

[2020-08-09 03:06] codingedgar commented on #645
I have the actions written in a diff obj, I opted to not use `assign<Context, Event>({})` but just inline the event `assign<Context, DoneInvokeEvent<...>>({})` in the case of DoneInvokeEvent, callback also has like a nicer interface than invoke Promise, as it just raises an event, and its all cake from there.

[2020-08-09 07:54] FredyC commented on #1235
There is already discussion about strict mode: https://github.com/davidkpiano/xstate/discussions/1248

But I believe that after taking care of https://github.com/davidkpiano/xstate/issues/1250 the strict mode won't be necessary.

[2020-08-09 17:10] markbjerke commented on #1047
I thought assign actions were treated differently in that they were batched and executed on the previous state.  This was because the extended state is (potentially) used to determine the transitions destination state. So the behavior is correct?

--------------------------------------------------------------------------------------------------------------
Custom actions are always executed with r

[2020-08-09 21:19] Andarist commented on #700
No - this was fixed, probably with the implementation of the core algorithm and computing entry/exit states properly in it. I've decided to add simple tests for this though in here: https://github.com/davidkpiano/xstate/pull/1370

[2020-08-09 21:19] #700 closed

[2020-08-10 00:51] UberMouse commented on #1229
Here you go @davidkpiano https://codesandbox.io/s/affectionate-dream-2uvsb?file=/src/index.ts

I've added comments on line 40 & 80 with the problem. Basically need a way to separate the events sent by child machines to their parents out of the events that can be sent to the machine. Unless that's already possible some other way than I have set it up in that code sandbox 🤷

[2020-08-10 11:10] jamesopstad commented on #1322
Few things to add here:

* I see from #1367 that an assigner function will now completely replace the context in `xstate` so this should no longer be changed in `@xstate/fsm`.
* As guards can be used on transitions in `@xstate/fsm` it seems strange that they can't be included in the machine options. It would be good if the machine options could include both actions and guards.
* The `StateMachine.

[2020-08-13 11:08] idhowardgj94 commented on #1361
https://codesandbox.io/s/xstate-typescript-template-forked-mb5vn?file=/src/index.ts:0-2706

error happen in line 40 and 45.

somehow this editor won't show the error msg.

maybe this error occur due to incompatible typescript version.

below is full msg occur to me on line 48:

[code]

other info

typescript: Version 3.8.2

ts config:

[code]

[2020-08-13 12:17] idhowardgj94 commented on #1361
btw, use with react typescript.
tis seem not a prombleem of ts server ,
cause i upgrade ts to the latest stable version,
and still got the same problem

ill check which dependecy conflict

[2020-08-13 12:37] davidkpiano commented on #1361
As the CodeSandbox shows, this shouldn't be a problem in newer versions of XState and TypeScript, so please double-check the versions.

If the error still occurs, you should pass in the context type as a type param:

[code]

[2020-08-13 12:37] #1361 closed

[2020-08-13 13:44] idhowardgj94 commented on #1361
after some debug,

I find out that error happen when tsconfig.strict set to true.

I reduce the code to code bellow, and still got error:

[code]

and when I remove set the strict config to false, error gone:
[code]

i'm not sure why codesandbox didn't have the same effect when set the strict mode on

[2020-08-13 13:46] idhowardgj94 commented on #1361
pardon me to delete the codesandbox.

it has too many unnecessary info.

[2020-08-13 15:13] davidkpiano commented on #1361
I'll reopen this if it's reproducible with a CodeSandbox.

[2020-08-13 15:32] dustinknopoff opened #1382 "devTools: true does not show state/events in redux dev tools"
**Description**
When passing `{devTools: true}` to `useMachine` in React, the Redux Dev Tools appear but show no state/events, just `@@INIT`

**Expected Result**
The Redux Dev Tools display history, events, state

**Actual Result**
Nothing appears, just `@@INIT` as the most recent event

**Reproduction**
- [TodoMVC Forked from Docs](https://codesandbox.io/s/xstate-todomvc-4110-wdevtools-9m100):

[2020-08-13 16:02] idhowardgj94 commented on #1361
after digging, i think that types.d.ts host on codesandbox server is not the same with latest version of xstate on npm.
i try to clone the project and build again, and find out that the type.d.ts is the same with `npm install xstate ` version.

just a littile info, tks for reply and help .

[2020-08-14 12:41] sumanthyedoti opened #1384 "Type error: Property 'data' does not exist on type 'EventObject'"
Trying `assign` context value to `event.data` in an `action`
This is resulting **Type Error**: Property `data` does not exist on type `EventObject`
[code]

[2020-08-14 12:48] mattpocock commented on #1384
This is a known limitation of the current typing system. It can be alleviated by adding an explicit Event type to your Machine:

https://codesandbox.io/s/adoring-ptolemy-4yp9p?file=/src/index.ts

[code]

[2020-08-14 12:56] davidkpiano commented on #1384
Related to #645 #836 (and probably others)

[2020-08-14 14:10] kimroen commented on #1341
I was working on a reproduction to report this same issue, and then I found this issue!

Here's my reproduction: https://codesandbox.io/s/late-tree-ylimb

The hierarchy in this example is like this:

<img width="974" alt="state-machine" src="https://user-images.githubusercontent.com/520420/90257818-f1438600-de47-11ea-8f37-9a99e4a72790.png">

Looking at the console logs and playing with the timing

[2020-08-14 20:22] EdmundsEcho commented on #1382
Is it possible that you are using `redux` in your app already?

If so, you might think `devTools` would just "toggle" from one to the other.  Instead however, it behaves as you described it: only showing `@@INIT` when xstate `devTools:true`.

\- E

[2020-08-14 20:30] dustinknopoff commented on #1382
I'm pretty sure that isn't what's happening. The code sandboxes I linked to showing the differing results both do not have `redux` as a dependency.

[2020-08-17 08:39] mircostraessle commented on #1334
Hi @davidkpiano, thanks a lot for fixing this! Any timeline on when the @xstate/react package with the fix will be released?

[2020-08-17 12:02] davidkpiano commented on #1334
@mircostraessle Planning a release today!

[2020-08-17 12:11] mircostraessle commented on #1334
Awesome 🙏

[2020-08-17 21:41] Perlkonig opened #1387 "Typing issues with transition actions"
**Description**
See discussion #1383. I'm using @xstate/immer, an "immerable" class as context, and immer's `assign` function to create the actions. When the context includes a potentially undefined class property, TypeScript typing errors occur *only when called as a transition action.*

**Reproduction**
I've created a [CodeSandbox repo](https://codesandbox.io/s/xstate-transition-action-issue-b3h

[2020-08-17 21:53] Andarist commented on #1387
In the reported error we can observe this:

I don't believe this particular problem is caused by us stretching TS inference - this seems like a variance issue.

Let's check very simple assignability examples:
[code]

Based on this we can get a more focused error from TS which leads us to:
[code]

Why this doesn't type-check if we have already showcased that functions in a similar situation could b

[2020-08-18 10:08] DanCouper commented on #986
Hi, sorry to comment on a closed issue, but I'm getting the exact same issue (utterly incomprehensible type errors of the form `Types of property 'invoke' are incompatible...` ) on 4.12.0, downgrading to 4.11.0 immediately makes them disappear, so there seems to be _some_ kind of regression, or the way the types are interacting has changed subtly in an undocumented way between minor versions.

[2020-08-18 10:31] Andarist commented on #986
Please always try to share a repro case in a runnable form - either by providing a git repository to clone or a codesandbox. OSS maintainers usually can't afford the time to set up the repro, even if exact steps are given and there are none here.

[2020-08-18 11:15] FokkeZB commented on #1198
@davidkpiano I ran into this as well and while trying to find a good workaround, I actually wonder if it wouldn't be more accurate for actions to not depend on the transition events calling them, as different actions may share the same actions.

I'd expect `assign()` to be a generic accepting `<Context, { expectedProp: number }>` so that the action defines what props transition events must have to

[2020-08-18 11:36] RafaelKr opened #1389 "Various typing errors after TypeScript upgrade 3.5 => 3.8"
**Description**
I got a Machine which is working completely fine. But after an update from TypeScript 3.5.3 to 3.8.3 it throws various typing errors when using the `assign` action on `entry` or `actions`.

Am I doing something unintended or is there a bug with the typings?
At least I can confirm it's working as expected.

**Expected Result**
No typing errors as it was with TypeScript 3.5.3

**Actu

[2020-08-18 11:44] DanCouper commented on #986
4.11

https://codesandbox.io/s/xstate-4110-invoke-notypeerror-8tjqu

4.12

https://codesandbox.io/s/xstate-4120-invoke-typeerror-ovr1s

[2020-08-18 11:48] davidkpiano commented on #1389
The workaround for this (as mentioned [in the docs](https://xstate.js.org/docs/guides/context.html#typescript)) is to add the context type as a generic param:

[code]

https://codesandbox.io/s/zen-northcutt-5r8dp?file=/src/index.ts

[2020-08-18 11:53] RafaelKr commented on #1389
Thank you very much for that incredibly quick response! It's working now.

[2020-08-18 11:53] #1389 closed

[2020-08-18 12:08] davidkpiano commented on #986
@DanCouper The workaround is the same: use `DoneInvokeEvent<any>`:

[code]

[2020-08-18 12:25] DanCouper commented on #986
Thank you @davidkpiano (and thank you for the code sample).

Can we please, please, please get some updates to the docs re TS though, rather than just the tiny section there is atm? It has been, at times, incredibly painful using TS with XState, often the examples don't work out of the box and fail with exceptionally cryptic errors

[2020-08-18 12:55] davidkpiano commented on #1198
@FokkeZB Can you share a code example of the problem you're running into?

That's an interesting idea. Would have to explore how to best do that at the type level.

[2020-08-18 12:57] davidkpiano commented on #986
@DanCouper What specific updates would you like to see?

TypeScript is one of the most difficult parts about this library, since we're pushing the limits of what TS is able to provide re: logic safety within the context of statecharts, I know. There are some ways we're trying to alleviate the difficulty, such as with a TypeGen.

[2020-08-18 13:32] Andarist commented on #1198
Note that you can already sort-of do this:
[code]

I don't think we should support this out of the box - current types are already complex and this would only raise the complexity. Offloading this to the user space is also a more robust solution as one could write any type matcher on their own, instead of us enforcing a specific type of such matcher.

[2020-08-18 15:48] dustinknopoff commented on #1382
I've been unsuccessfully trying to see if I could narrow the scope. [Here's the Calculator example (no actors)](https://codesandbox.io/s/dreamy-sunset-6t91f) still with the `@@INIT` shown.

[2020-08-18 16:24] mindrones opened #1392 "Visualiser: in some cases the text area flashes when editing code in Firefox"
**Description**

In a couple of specific cases, when we want to edit code in the visualiser in Firefox, it goes black and redraws again everytime we edit, making it barely usable.

**Expected Result**

Editing code normally.

**Actual Result**

In the reported examples (see below), every time you press a key on the keyboard or click somewhere in the code area, it goes black and redraws again every

[2020-08-18 16:35] davidkpiano commented on #1392
There will be a new visualizer released in a couple weeks, completely different than this one.

[2020-08-18 16:35] #1392 closed

[2020-08-18 16:49] mindrones commented on #1392
Ah that's nice, thanks!

[2020-08-18 17:15] #1384 closed

[2020-08-19 07:43] FokkeZB commented on #1198
@Andarist I like that pattern, as with that you indicate you don't care what events call the action, as long as they have certain props. You could even do the same for `Context` if we'd have typing of what it may look like for each state, just like we do for `Events`.

@davidkpiano it's not so much of a problem, but a way to think about types. We've run into this with GraphQL where initially we'd

[2020-08-19 11:33] Andarist commented on #1341
@jpalof your codesandbox seems to be working as intended as per: https://www.w3.org/TR/scxml/#enterStates . Only parallel state that is a grandparent state of the entered final state can schedule a done event (and in turn cause `onDone` transition to be selected). That would mean that `onDone` on a parallel state that has parallel child state is always invalid - we could add a warning about such m

[2020-08-20 14:27] nathanhammond opened #1397 "Multiple transitions in invoked state machines."
**Description**
Since 460e831, state transitions (when descendant from an `invoke`d `StateNode`) will occur the same number of times as the `StateNode` is nested.

**Expected Result**
The transition occurs exactly once. The `assign` function is called exactly once.

**Actual Result**
The transition occurs twice. The `assign` function is called twice. (The number of invocations is dependent upon it

[2020-08-20 14:29] nathanhammond commented on #1397
### Bisecting

Bisect steps, in case you wish to reproduce. (Including a diff to make it build on one of the steps.)

[code]

[code]

[2020-08-20 14:41] Andarist commented on #1397
Thank you for providing a detailed repro case. I will investigate this soon.

[2020-08-20 14:56] Andarist commented on #1397
This happens because we read the child's initialState here:
https://github.com/davidkpiano/xstate/blob/ab7329eaf849b613b94cb815a7e1575e9c9f7ea9/packages/core/src/Actor.ts#L79
and here:
https://github.com/davidkpiano/xstate/blob/ab7329eaf849b613b94cb815a7e1575e9c9f7ea9/packages/core/src/interpreter.ts#L477

Maybe we could cache the evaluated initialState so this would happen, but I'm not sure right

[2020-08-20 17:11] nathanhammond commented on #1397
Mentioning issue #1237 and pull #1239 which are related to this discussion.

It seems like this might be a bit of a whack-a-mole game.

[2020-08-20 22:35] davidkpiano commented on #1397
Yeah, the fix will have to be avoiding a duplicate read of `.initialState`.

In version 5, this problem is mitigated systematically, because all actors (spawned and invoked) are initialized in a "not started" state, so you might have something like:

[code]

And that will create an actor that needs `someActor.start()` to be called to actually execute the promise. So it's resilient to being read an

[2020-08-21 06:54] nathanhammond commented on #1397
I find that, as a library pattern, this is likely a tremendous improvement in making xstate easier to integrate into other more-opinionated (say, concurrent) interpreters. This is definitely an improvement that will better enable adoption.

As you implied, resilience and mitigation does not necessarily resolve the underlying issue. The approach in v5 will still retain the problem where a lot of pe

[2020-08-22 21:02] nathanhammond opened #1403 "`initialState` lifecycle seems to miss "after" transition."
**Description**
State transitions in the `initialState` or immediately following do not seem to follow the full lifecycle. They instead appear to be possibly reentrant.

**Expected Result**
This state machine configuration should end up in an infinite loop. Each spawned `invocable-promise` should have `.stop()` called on it after 2 seconds, well before the 9 seconds that the promise takes to resol

[2020-08-24 00:31] davidkpiano commented on #1020
Serializing `currentState.configuration` could get pretty large, so it is intentionally ignored from the state configuration for now.

But this brings up an important point: a `State` is data representing the current state of a machine - a "snapshot in time" basically. If you want to figure out what can happen next, you need the actual machine to determine that.

The `machine.resolveState(state)`

[2020-08-24 06:29] senser1 commented on #1020
@davidkpiano, thanks for the follow-up. I'm using the react hooks (useMachine, useService) to get access to my xstate machine.

I would like to initialize my machine/state like this:

`    const [myState, send, service] = useMachine(myMachine, { state: serializedState });
`

In my React component I'm reading from `myState.nextEvents`. How does your call to `machine.resolveState` relate to using th

[2020-08-24 12:23] mircostraessle commented on #1334
@davidkpiano sorry to bother you again but as of now you released xstate 4.12 but no new version of @xstate/react which would contain the fix for this issue. It would really help to have this fix released so we are able to use delayed transitions again.
Thanks for your work!

[2020-08-24 14:33] davidkpiano commented on #1334
Thanks for the reminder; will release a new RC today or tomorrow.

[2020-08-24 18:40] tomenden opened #1406 "Contributing to xstate"
Hi,

I followed the instructions [here](https://github.com/davidkpiano/xstate/blob/master/CONTRIBUTING.md) and attempted to create a PR, but I am unable to push due to permission issues. This is the message I get:
`ERROR: Permission to davidkpiano/xstate.git denied to tomenden.`

What is the right process to create a PR?

Thanks!

[2020-08-24 18:42] brianespinosa commented on #1406
@tomenden typically the best way to submit a PR into a Github repo like this is to fork the repository so you have your own copy, commit and push your changes to your fork, then submit a PR from your fork. Development is not usually happening with branches inside of a repository itself unless you are the owner of a repository or part of the organization.

[2020-08-24 18:43] tomenden commented on #1406
@brianespinosa
Thanks for your response.
I get that, and it's perfectly fine, just that the Contributing Guidelines indicate otherwise. I will go ahead and fork, perhaps the Contributing guidelines should be updated to reflect that.

[2020-08-24 18:55] brianespinosa commented on #1406
Ah, yes. I see. Makes more sense to say "fork" instead of "clone" in step 1.

[2020-08-25 01:40] #1406 closed

[2020-08-25 17:31] Andarist commented on #1403
Thanks for reporting the issue and providing the repro case. I will try to look into it as soon as I can.

[2020-08-25 22:39] mreinstein opened #1412 "@xstate/fsm is generating es5 for the es/ build"
There are no javascript runtimes that support es modules but lack es6 support. When I look in `packages/xstate-fsm/es/index.js` I see that it was generated with es5 as an output.

This seems to be due to rollup's config file setting `tsconfig: 'tsconfig.compat.json'` for both the umd and esm builds. Is this intentional or an oversight?

[2020-08-26 16:45] Andarist commented on #1412
This is somewhat a common misconception about `"module"` field. Rollup was one of the first to adopt `"module"` (previously `"jsnext:main"`) and this is what [their old wiki page](https://github.com/rollup/rollup/wiki/pkg.module) says about it:

So as you can see one shouldn't link module syntax to other syntax features for the purpose of this field. That being said - we could decide to transpile

[2020-08-26 17:14] mreinstein commented on #1412
We shouldn't set the `module` field in v5;  That was a proposal put forward by rollup for how to deal with es modules without clobbering the `main` field in `package.json` prior to it being standardized in node. It has been superseded by setting `"type": "module"` in `package.json`. (see https://nodejs.org/dist/latest-v12.x/docs/api/esm.html#esm_package_json_type_field )

It's not a common choice

[2020-08-26 17:46] AlCalzone opened #1414 "raise actions cause TypeScript errors"
**Description**
I was asked to post this here ([original comment](https://github.com/microsoft/TypeScript/issues/39826#issuecomment-680761736))
After I turned on `strictFunctionTypes` in my repo, TypeScript started complaining about `raise` actions in my transition definitions.
In https://github.com/AlCalzone/node-zwave-js/blob/e10cb2c6d706bfc9dda0b5039ec38c651a2fbbd7/packages/zwave-js/src/lib/dri

[2020-08-26 17:52] AlCalzone commented on #1350
FYI, it seems that `strictFunctionTypes: true` **massively** improves the performance.

[2020-08-26 20:01] davidkpiano commented on #1414
✏️ Please create a [CodeSandbox (XState TypeScript template)](https://codesandbox.io/s/xstate-typescript-template-6dsws) reproduction of this. Thanks! (Makes it easier to test/debug)

[2020-08-26 21:10] Andarist commented on #1403
This is currently broken on our side pretty badly I would say.

One problem is that we prioritize `assign` actions and they all get executed (within a single transition) before other actions - therefore when your stopping action gets called we have already assigned a new value to the `ctx.promise` (even though the order of those operations is defined to be the opposite). There is no clean workarou

[2020-08-26 22:49] mikecann commented on #1350
Awesome thanks @AlCalzone, im just waiting for the dust to settle in https://github.com/microsoft/TypeScript/issues/39826 before I have another go at this.

[2020-08-26 23:30] ivorpad commented on #938
I'm having this exact same issue:

`TypeError: Cannot read property 'state' of undefined`

[code]

[code]

Once the `child` reaches its final state the `service` is `undefined` and the app crashes.

Repro: https://codesandbox.io/s/heuristic-dew-b2h23?file=/src/child.machine.js (uncomment `type: "final"` and comment `always: "idle"`)

[2020-08-26 23:52] ivorpad opened #1416 "TypeError: Cannot read property 'state' of undefined if interpreter passed to useService is undefined"
**Description**
If an interpreter at any point of the message passing dance between parent and child machines is `undefined` then the application crashes. I believe this is a bug because you can't use conditional with Hooks.

**Expected Result**
[code]

This is a problem specially when you're passing down the `service` to a child component:

[code]

Once the child machine reaches its final state t

[2020-08-27 03:39] davidkpiano commented on #938
@ivorpad Try `@xstate/react@1.0.0-rc.6` to verify that it solves the issue.

[2020-08-27 05:35] cybervaldez commented on #414
Any chance this would also show up for the choose action?

[2020-08-27 05:38] davidkpiano commented on #414
@cybervaldez That will most likely look like:

[code]

Or something similar.

[2020-08-27 05:39] davidkpiano commented on #1416
Not sure if this makes sense. You get the same type of error if you pass `undefined` as a reducer to the built-in `useReducer(undefined, ...)` hook.

In that case, you'd want to _prevent rendering_ that component until it has what's necessary for it to run. This is more of a React design concern than an XState problem.

[2020-08-27 06:08] ivorpad commented on #1416
@davidkpiano That's not exactly true:

<img width="516" alt="Screen Shot 2020-08-27 at 8 05 27 AM" src="https://user-images.githubusercontent.com/52452/91398303-22ef2080-e83c-11ea-83e3-22d7bf46614f.png">

That's how `useService` should behave IMHO.

I _could_ prevent rendering that component but what if, according to my app design, that's not what it's intended?

[2020-08-27 06:30] mattpocock commented on #1416
This feels like a 'I should be able to conditionally call hooks' discussion. If there are UI elements you want to render, you can pass down the relevant information via props instead of through a service. I think it's reasonable to expect, when you use a hook, it has all the information it needs.

If you need this behaviour, you can write a custom wrapper for useService which checks to see if the

[2020-08-27 06:30] Andarist commented on #1416
While this is not written by the React team itself in TS `useReducer` doesn't accept `undefined`: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/9c7b9007799572d3108ffa5f36887690ceed6b68/types/react/index.d.ts#L937 . No overload allows this.

Even if it works at runtime - it's not said to be a good idea.

[2020-08-27 06:51] Andarist commented on #1416
Just an additional comment - it is natural for us to clear `children` from the stopped child services as otherwise, we'd end up with a memory leak. If you need to preserve the stopped child's state for rendering purposes then you should sync this state with a parent and render based on parent's state. This is close to the classic "lift state up" advice.

[2020-08-27 09:49] nathanhammond commented on #1403
Good to know that I should turn my attention toward `next`! I'm happy to adopt the first version that can handle this—and do what I can to help it get here. You can at the least count on my contributing documentation for these details.

So: I switched over to `next` and trolled through test code to figure out how it would need to be wired up. [Here is a gist of the same test case reworked for `HEA

[2020-08-27 10:15] Andarist commented on #1403
Regular issues are OK for this IMHO, but since we already discuss this here - let's just keep it here as this issue has already some good context around this.

I will have to investigate this.

Right, my mistake - this is not a builtin action after all but a custom one. So it doesn't (at least currently) comply with the same rules as builtin ones.

Let me just explain a difference first - builtin

[2020-08-27 11:58] nathanhammond commented on #1403
Quick response for now: I have not yet, but I intend to. Having read your most-recent note (just once, will need to re-read) it seems like being able to mark it as a "pure" action to send a `stop` might make this approach _almost_ work in `v4` (by getting rolled into the transition), excepting the hoisting of `assign`. My presumption, based upon the mental model I'm building, is that `ctx.promise.

[2020-08-27 12:14] davidkpiano commented on #1416
It is definitely true: https://codesandbox.io/s/fragrant-tree-dnbuc?file=/src/App.js

This will throw an error:
[code]

[2020-08-27 14:50] Andarist commented on #1416
@ivorpad's case is slightly different though - he doesn't expect to be able to send events to the received service (after it gets stopped etc), he just wants to read its state and in case of `useReducer` you can do that (although only at runtime, types disallow this).

[2020-08-27 14:54] nathanhammond commented on #1403
Quick update (but I should really stop looking at this for today):

In V4 (`HEAD`, to pick up #1401) using a `pure` action as you suggested appears to work as desired without leaking memory (profiled in Chrome). More tomorrow, still intending to write documentation for this.

As I learn more, it seems like this should maybe be broken down into subpieces, will revisit this list tomorrow:
- [ ] [V4]

[2020-08-27 14:54] Andarist commented on #1403
Can't help myself 😅

I've tested `actions.pure(ctx => actions.stop(ctx.promise.id))` before posting it, so if I haven't misinterpreted something wrongly (I admit I go through issues very quickly, trying to be time-efficient) this should work. `pure` gets resolved with currentContext [here](https://github.com/davidkpiano/xstate/blob/ad3026d4309e9a1c719e09fd8c15cdfefce22055/packages/core/src/actions

[2020-08-27 14:55] nathanhammond commented on #1403
Look at that race condition on us responding. 😜

[2020-08-29 17:56] AlCalzone commented on #1414
I vaguely remember you wanting a CodeSandbox for this but I can't find that comment now. Is that still the case?

[2020-08-29 18:17] davidkpiano commented on #1414
Yes please!

[2020-08-29 19:14] AlCalzone commented on #1414
Mhh, I tried but it doesn't seem to work: https://codesandbox.io/s/nervous-panini-1tz0b
1. I'm getting a weird error "e is undefined" in the first line in `src/types.ts`
2. The error doesn't reproduce in the sandbox.

[2020-08-30 06:16] cybervaldez commented on #795
Came across this issue myself today, here's a sandbox:
https://codesandbox.io/s/optimistic-ride-1izew?file=/src/index.js

[2020-08-30 10:10] RavitHrr opened #1423 "onTransition is not invoked the 2nd time a state machine is run"
**Description**
I'm using onTransition on an interpreted state machine that works fine for all the states the first time the state machine runs, it reaches a type final state.
Then, I'm starting the same state machine again. All the states works fine, but onTransition is not invoked.

**Expected Result**
onTransition should be invoked on every transition, even if the state machine has been restart

[2020-08-30 10:11] cybervaldez opened #1424 "meta id showing up as (machine) instead of the id."
**Description**
getting "(machine)" instead of the machine's actual id when accessing a state meta.

**Expected Result**
age.type
email.type

**Actual Result**
(machine).type
(machine).type

**Reproduction**
See console log(line 75):
https://codesandbox.io/s/autumn-glade-t7p4l?file=/src/index.js:1543-1545

**Additional Context**
I'm using xstate/react, codesandbox was an example for an [enhancemen

[2020-08-30 10:29] cybervaldez commented on #1424
Turns out to be an issue on my part as i've destructured the id parameter InputMachine({ id })

[2020-08-30 10:29] #1424 closed

[2020-08-30 20:12] davidkpiano commented on #1423
✏️ Please create a [CodeSandbox (XState template)](https://codesandbox.io/s/xstate-example-template-qcwed) reproduction of this. Thanks!

[2020-08-31 03:17] nathanhammond commented on #998
I want to drop into this thread an example of something that makes `send('EVENT', { data })` a useful construct.

My goal is to be able to have semi-dynamic dispatch. You know where you are, and where you need to go, but the receiving state needs additional information (known statically in advance) in order to continue. I don't see it to be remarkably different from `done` data for invoked state m

[2020-08-31 07:26] Andarist commented on #998
How is it different from:
[code]
and
[code]

I've tested locally both versions and they yield the same results as far as I can tell.

[2020-08-31 11:06] nathanhammond commented on #998
You're, of course, correct. 😊 I just didn't know how to `send` using that approach. Since what I understand was semi-limited—"it is all just an action creator!"—I went with the most blunt-force approach to doing it that I found.

(I appreciate the consistent "yo, you're making this harder on yourself than necessary" comments. I'm going to turn this into something, promise.)

[2020-09-01 08:37] santicros commented on #1252
I wanted to try @xstate/vue with Vite and Vue 3 and can confirm it doesn't work. It still tries to import @vue/composition-api.

One of the errors I get is:
[code]
<br>

Here I created a repo for the example with the steps below: [Reproduction Repo](https://github.com/santicros/vite-xstate)
<br>

### Reproduction:
#### 1. Create project with Vite:
[code]

#### 2. Install xstate and @xstate/vue:
[c

[2020-09-01 23:03] FMcIntosh opened #1428 "[@xstate/inspect] - Send expression breaks the viz"
**Description**
Adding a send expression i.e. `send(() => ({ type: "NULL_EVENT" }))` breaks the inspector, although the machine works fine.

**Expected Result**
Send expressions should work in the inspector

**Actual Result**
The inspector shows `An unexpected error has occurred.`

**Reproduction**
[Codesandbox forked from the Vue example](https://codesandbox.io/s/xstate-vue-minute-timer-viz-forke

[2020-09-02 11:45] jramstedt opened #1429 "Warning: Attempted to spawn an Actor (ID: "undefined") outside of a service. This will have no effect."
**Description**
This might be regression with xstate@4.13.0, since I didn't get this error with previous versions.
Code works as expected altough I get a warning when machine is started.

I have entry actor:
export const machine = Machine<Context, MachineEvent>({
  id: 'machineId',
  initial: State.Enter,
  entry: assign({
    listenerRef: context => spawn(context.view.pick$.pipe(map(data => ({ ty

[2020-09-02 18:43] computnik opened #1431 "[xstate/inspect]-Inspector breaks when window width is less than 640px"
Firstly, I would like to add that the inspector looks really promising, and while I was playing around, I saw this bug.
**Description**

The inspector breaks when window.innerWidth < 640px, and shows "Unexpected error occured"
**Expected Result**

Resize shouldn't break UI
**Actual Result**

It says "Unexpected error occured"
(will
**Reproduction**

1. Open default Xstate inspector CodeSanbox exam

[2020-09-02 19:30] hemanth commented on #1431
This would be an issue on [xstate-viz](https://github.com/statecharts/xstate-viz).

[2020-09-02 21:10] computnik commented on #1431
@hemanth I think its in `viz` branch https://github.com/davidkpiano/xstate/tree/viz/packages/xstate-inspect

[2020-09-03 02:10] davidkpiano commented on #1431
Thank you!

I could not reproduce this issue. Can you please create a CodeSandbox?

[2020-09-03 02:11] davidkpiano commented on #1252
@AleksejDix Would you know what we would need to do here?

[2020-09-03 02:24] davidkpiano commented on #1428
This should be fixed - refresh soon!

[2020-09-03 02:24] #1428 closed

[2020-09-03 04:13] davidkpiano commented on #1382
It is recommended to use [the inspector](https://xstate.js.org/docs/packages/xstate-inspect) instead.

[2020-09-03 04:13] #1382 closed

[2020-09-03 04:13] #1307 closed

[2020-09-03 04:14] davidkpiano commented on #1216
Closing this in favor of using [the inspector](https://xstate.js.org/docs/packages/xstate-inspect) instead.

[2020-09-03 04:14] #1216 closed

[2020-09-03 04:14] #1171 closed

[2020-09-03 04:14] davidkpiano commented on #997
Closing this in favor of using [the inspector](https://xstate.js.org/docs/packages/xstate-inspect) instead.

[2020-09-03 04:14] #997 closed

[2020-09-03 04:14] davidkpiano commented on #912
Closing this in favor of using [the inspector](https://xstate.js.org/docs/packages/xstate-inspect) instead.

[2020-09-03 04:14] #912 closed

[2020-09-03 04:14] davidkpiano commented on #683
Closing this in favor of using [the inspector](https://xstate.js.org/docs/packages/xstate-inspect) instead.

[2020-09-03 04:14] #683 closed

[2020-09-03 04:14] davidkpiano commented on #834
Closing this in favor of using [the inspector](https://xstate.js.org/docs/packages/xstate-inspect) instead.

[2020-09-03 04:14] #834 closed

[2020-09-04 10:05] whitelizard opened #1437 "This machine config crashes both old and new visualizer."
**Description**
This totally serializable machine config crashes both old and new visualizer.

It works fine with xstate and useMachine.

[code]

**Expected Result**
Visualized mashine.

**Actual Result**
The new visualizer crashes with:
`TypeError: Cannot read property 'startsWith' of undefined`

The old visualizer crashes with:
`TypeError: Cannot read property 'indexOf' of undefined`

**Addition

[2020-09-04 12:04] davidkpiano commented on #1437
✏️ Please create a [CodeSandbox (XState template)](https://codesandbox.io/s/xstate-example-template-qcwed) reproduction of this. Thanks!

[2020-09-04 18:33] computnik commented on #1431
@davidkpiano i can see the issue on the default codesandbox https://codesandbox.io/s/xstate-viz-template-f3dtr
Now i see its turning to a black blank screen instead of that error when width <= 640px

[2020-09-07 08:32] AleksejDix opened #1441 "[xstate/inspect] payload of the event is undefined."
**Description**
When xstate inspect is enabled payload of the event is undefined.

1. take a data machine from [https://github.com/cypress-io/cypress-realworld-app/blob/develop/src/machines/dataMachine.ts](https://github.com/cypress-io/cypress-realworld-app/blob/develop/src/machines/dataMachine.ts)

2. create a second machine and extend it with config  and pass down any fetchData service
3. add xs

[2020-09-07 14:49] whitelizard commented on #1437
Sure.

Here is the example with the machine that won't be visualized:

[https://codesandbox.io/s/xstate-example-template-vanilla-forked-2b6bh](https://codesandbox.io/s/xstate-example-template-vanilla-forked-2b6bh)

It works in code as I said, but not in any of your visualizers.

[2020-09-07 17:00] davidkpiano commented on #1437
The error was in the code:

[code]

And there's a couple other places where that typo was made. Remember: `entry` and `exit` properties represent _actions_, not transitions.

Here's a working example: https://codesandbox.io/s/xstate-example-template-vanilla-forked-1z3ch?file=/src/index.js

[2020-09-07 17:00] #1437 closed

[2020-09-07 17:20] jeffbski commented on #1441
I am seeing the same thing. I just discovered last night. In my app, when I add the @xstate/inspect call, the events are ending up being empty so things break. As soon as I remove the inspect call everything works again. It seems to be specifically related to inspect, since devTools: true is fine as long as inspect is not called.

Here's a fork of the your xstate reddit example, using the latest d

[2020-09-07 18:03] davidkpiano commented on #1441
Fixed in `@xstate/inspect` version 0.1.1

[2020-09-07 18:03] #1441 closed

[2020-09-07 19:28] jeffbski commented on #1441
Thanks @davidkpiano for the quick fix, it works properly now. I am working on a presentation for Connect.tech to explain how to use xstate with React and was hoping to use the inspector. Awesome project!

[2020-09-07 20:51] whitelizard commented on #1437
Damn. Thanks. Will at least never forget that again!

[2020-09-09 11:27] mircostraessle commented on #1334
@davidkpiano wanted to check in to see if you are still planning to do a bugfix release for this @xstate/react or if there is something blocking that? If it is blocked until v1 or something like that I would have to look into fixing it temporarily in my project.

[2020-09-10 12:02] roytouw7 commented on #866
Any updates?

[2020-09-11 12:21] chopfitzroy commented on #1252
Add this here, I actually get this error with using `@xstate/react` with `vite` as well.

[2020-09-12 00:36] sarahdayan commented on #1252
There are two ways to use the Composition API:

- Using the [`@vue/composition-api`](https://www.npmjs.com/package/@vue/composition-api) Vue 2 plugin
- Built-in in Vue 3 beta

The problem comes from the fact that [this file](https://github.com/davidkpiano/xstate/blob/master/packages/xstate-vue/src/index.ts) tries to import Composition functions from [`@vue/composition-api`](https://www.npmjs.com/p

[2020-09-12 13:32] davidkpiano commented on #1252
@sarahdayan Thanks so much for this. My assumption is that Vue developers who want to use the composition API are probably already using Vue 3 beta, so Vue 2 developers can use the implementation [in the docs](https://xstate.js.org/docs/recipes/vue.html). Does this seem accurate?

If that's right (and we want to avoid supporting multiple entry points), I would vote to do the second option (switch

[2020-09-12 15:13] sarahdayan commented on #1252
@davidkpiano My thought is that the Composition API is ultimately meant to be used in Vue 3.

The Vue 2 plugin was a great way to discover the API and get familiar with it while Vue 3 was being developed, but there's a high chance that it ends up being deprecated and users are encouraged to upgrade. The plugin has a [limitations](https://github.com/vuejs/composition-api#limitations) and a [perform

[2020-09-13 00:24] xquelard opened #1457 "Calling stop on a child actor does not notify its parent that it should be cleaned"
This was originally discussed as a question here ( https://github.com/davidkpiano/xstate/discussions/1455 ) as I thought the problem was on my used of the library.

This issue was created for tracking purposes ( https://github.com/davidkpiano/xstate/discussions/1455#discussioncomment-77361 )

[2020-09-14 20:59] PetrBrabec commented on #1223
@CodingDive That's it, I have a react component which properties are reflected to the state context.
What you can see in the _expected usage_ section is an abstract type for a guard that can for example check if the `disabled` property equals `true`.

[2020-09-16 10:37] FokkeZB opened #1461 "Invoke transitions rendered twice on new inspector"
**Description**
`invoke.onDone` and `invoke.onError` duplicated on https://statecharts.io/inspect.

**Expected Result**
Each transition displayed once.

**Actual Result**
Each transition displayed twice:

![](https://cdn.zappy.app/2ad485d26b6f5bb46a62d95ddcc6855a.png)

**Reproduction**

https://codesandbox.io/s/intelligent-hill-v8tds?file=/src/index.ts

[2020-09-16 13:20] davidkpiano commented on #1461
You're using an older version of XState. Upgrade to latest; this issue was fixed.

[2020-09-16 13:20] #1461 closed

[2020-09-17 17:33] NathanKleekamp opened #1465 "ModuleWarning: Cannot find SourceMap after adding @xstate/react"
**Description**
After adding `@xstate/react` to our project, which uses Webpack and the `source-map-loader`, we started getting the following warning at build time:

[code]

**Expected Result**
There would be no warning related to source maps.

**Actual Result**
See Description

**Reproduction**
If you look at the distributed package, in `useActor.js.map`, there's a reference to a source map `useA

[2020-09-18 09:13] FredyC opened #1467 "[xstate-inspector] Waiting for connection"
**Description**
I know the inspector works nicely in CodeSandbox, but in my create-react-app it just sits there with the message.

What can I do to debug this? In the network of the inspector window, I don't see any obvious errors.

I have simply included the following in my `index.tsx`.

[code]

**Expected Result**
To have a working connection with my app.

**Actual Result**
![image](https://user

[2020-09-18 09:17] FredyC commented on #1467
Oh, in the main window I noticed these gibberish errors.

![image](https://user-images.githubusercontent.com/1096340/93580781-83d3c980-f9a0-11ea-9aca-0892d856c29b.png)

[2020-09-18 10:09] valcho commented on #1467
I'm having the same issue initializing the XState Inspect with the following code:

`(async (): Promise<void> => {
    const { inspect } = await import("@xstate/inspect");
    inspect({
      iframe: false,
    });
  })();`

And have the same result.

my package.json uses the following versions.
[code]

[2020-09-18 10:57] FredyC commented on #1467
@valcho Have you tried with that property `url: 'https://statecharts.io/inspect'` too? I would say that's kinda essential :)

[2020-09-18 11:01] valcho commented on #1467
Heh, yea, tried it both ways, still hanging up on "Waiting for connection" :/

[2020-09-18 11:18] FredyC commented on #1467
Just to clarify I am passing `devTools: true` to `useMachine`.

Strangely enough, when I download the official codesandbox, install deps, run it locally then it works just fine. So it's not a problem in my OS or something, but some clash of configuration I guess. It would be helpful if `https://statecharts.io/inspect` served source maps as well.

Is it possible to run it locally somehow? I am not

[2020-09-18 11:40] davidkpiano commented on #1467
What version of XState are you using? Please make sure you're using the latest version.

[2020-09-18 11:42] FredyC commented on #1467
@davidkpiano We have both said our versions which are the latest :/

[2020-09-18 11:44] davidkpiano commented on #1467
Can you please share the CodeSandbox? I'll try to reproduce the error locally.

[2020-09-18 11:45] FredyC commented on #1467
As I said, your official CodeSandbox works locally for me, but not the app. I am not sure what I have so special that would be a problem.

Can you give some pointers where to look for a possible problems? I guess the whole thing is not OSS?

[2020-09-18 11:47] FredyC commented on #1467
I just tried to debug this piece of code and it never receives an event that would contain `type` property.

![image](https://user-images.githubusercontent.com/1096340/93594075-7d9c1800-f9b5-11ea-88b4-f2542140c2ba.png)

[2020-09-18 12:00] davidkpiano commented on #1467
It is - it's on the `viz` branch.

My guess is that Sizzy is trying to send messages of its own and `@xstate/inspect` isn't properly inspecting it.

[2020-09-18 12:00] FredyC commented on #1467
Well, looks like it's a timing issue. By the time when `registerService` in `xstate` happens the `window.__xstate__` is not set yet. This is kinda fragile design, there should be probably some event when devtools become available.

Don't mind Sizzy now, I am trying to debug in regular Chrome now.

[2020-09-18 12:01] davidkpiano commented on #1467
Look here: https://github.com/davidkpiano/xstate/tree/viz/packages/xstate-inspect

[2020-09-18 12:12] davidkpiano commented on #1467
You should call `inspect()` at the beginning of your program, before anything else.

[2020-09-18 12:13] FredyC commented on #1467
Ok, got it working by moving `inspect` call above the `render` in `index.tsx`.

It shouldn't be probably fragile like that, I think many people will come bumping into this. I even had it like this similar to @valcho and that's a problem too.

[code]

[2020-09-18 13:18] davidkpiano commented on #1467
I understand, but it is also a bad idea to set up a global `window.__xstate__` object that stores and listens to registered machines if developers do not have dev tools set up; it must only be added explicitly (via calling `inspect()`).

I added this to the docs: https://xstate.js.org/docs/packages/xstate-inspect/

[2020-09-18 13:19] #1467 closed

[2020-09-18 13:23] FredyC commented on #1467
@davidkpiano Bad idea why exactly? There is essentially no performance cost from adding service into a Set. And having an extra object on `window`? Do you really think someone cares? :)

By moving initialization to `xstate`, there would no longer be such a problem, and `inspect` would only consume it.

[2020-09-18 13:54] davidkpiano commented on #1467
It brings a lot more complexity. XState should not be responsible for adding a global registry for services; that should be the responsibility of the dev tool/inspector (such as `@xstate/inspect`) that you choose to use.

[2020-09-18 14:30] FredyC commented on #1467
I don't know, feels like a weak argument. Sometimes DX is more important than "feels right", but your call. I am trying to improve something that will most likely be painful for many people.

[2020-09-18 14:51] davidkpiano commented on #1467
@FredyC That's fair, feel free to create a PR for this and we can discuss there?

[2020-09-18 20:48] gunn4r commented on #429
Is this just dead? How are people using the visualizer with all your machines / code written in typescript? Seems like it would make the visualizer impossible to realistically use since you'd have to go through and strip all your types out? Just wondering what the workflow looks like that yall are using in this case.

[2020-09-18 21:13] davidkpiano commented on #429
Like this: https://codesandbox.io/s/xstate-ts-viz-template-qzdvv 😉

Docs here: https://xstate.js.org/docs/packages/xstate-inspect/

[2020-09-18 21:21] gunn4r commented on #429
@davidkpiano Tight! Thanks for sharing!

[2020-09-20 12:35] larvanitis opened #1471 "[TypeScript] Generic types for `InvokeCallback`"
**Description**

I believe the `InvokeCallback` type definition could be improved by adding generic types for its params.

**Expected Result**
Something like this:

[code]

**Actual Result**

https://github.com/davidkpiano/xstate/blob/34a309717eff4ca04477a02c79e3d2ee3f142f8a/packages/core/src/types.ts#L205-L208

[2020-09-20 14:01] Andarist commented on #1471
In general, I think this makes sense - would you be willing to work on this improvement? Could you also include a real-life(-like) usage of this type?

[2020-09-20 21:22] sarahdayan commented on #1252
What are your thoughts @davidkpiano?
Do you prefer going with a breaking new version and drop [`@vue/composition-api`](https://www.npmjs.com/package/@vue/composition-api), or do you want to preserve compatibility via [`vue-demi`](https://github.com/antfu/vue-demi)?

[2020-09-20 21:23] davidkpiano commented on #1252
Let's go the compatibility route if it doesn't add complexity or other issues. Vue-demi looks good!

[2020-09-21 09:57] Andarist commented on #1252
Has `vue-demi` been confirmed to work with pnpm and Yarn 2? The `postinstall` script - while nice trick - seems like a can of worms to me 😅

[2020-09-22 00:31] fledman commented on #1341
this seems to have been considered in https://github.com/davidkpiano/xstate/pull/536

to me, the bit about "separate passes of the internalQueue" seems to not be the case?

I am not familiar enough to say if this was a bad assumption, or if done event propagation is addressed somewhere else in the spec

[2020-09-22 04:20] fledman commented on #1341
@Andarist

Upon further reflection, I think this is an oversight in the spec.

Compound done events are not expected to propagate up: https://codesandbox.io/s/quirky-kepler-lko1x

Rather, you need to explicitly transition to a final state of the parent, so the next call to `enterStates` will pick it up: https://codesandbox.io/s/suspicious-surf-6c2qj

However, if the parent is parallel, you cannot

[2020-09-22 12:05] kristofkalocsai opened #1476 "machine ignores invocation when starting from arbitrary state"
**Description**

When explicitly starting the machine via the interpreter from a state which defines an invocation, the machine does not transition from that state, regardless of the outcome -resolve or reject-. Starting from the baked-in initial state, the interpreter and machine working as expected.

[code]

**Expected Result**

The interpreter and machine should be indifferent to the _initialSt