[2019-12-13 23:00] #872 closed

[2019-12-13 23:34] chrisdhanaraj commented on #838
@Andarist could you happen to link to the git commit for this? Just wanted to try it out locally!

[2019-12-14 00:20] davidkpiano commented on #838
@chrisdhanaraj Try out the latest XState 4.7.3 and see if it fixes it!

[2019-12-14 00:39] dougmacklin commented on #838
@davidkpiano @chrisdhanaraj hm it's still happening for me on 4.7.3 ([example](https://codesandbox.io/s/action-in-different-state-runs-in-sendparent-9pydt))

[2019-12-14 08:12] Andarist commented on #838
@davidkpiano the issue was in @xstate/react

[2019-12-14 09:30] Andarist commented on #871
Just a quick question so I get a better understanding of the reported issue - you want to rehydrate your child machines' states, right?

[2019-12-14 21:12] allforabit opened #877 "Support behaviour subjects in invoked observables"
## Bug or feature request?
Feature
## Description:
It would be nice if invoked observables could respond to events that are sent to it. I noticed that this kind of behaviour was discussed in https://github.com/davidkpiano/xstate/issues/435. I know the functionality is achievable by invoking a callback. I just find dealing with something like a behaviour subject a little more easy to work with as t

[2019-12-14 21:17] Andarist commented on #877
Personally I would rather explore implementing smth similar to what I've described [here](https://github.com/davidkpiano/xstate/issues/418#issuecomment-532717406). Adding more & more use cases into the core bloats the implementation and I think it would be better to offload this by exposing a single way of hooking any particular data source as service and having different adapters for different da

[2019-12-14 21:34] allforabit commented on #877
Oh yeah that looks fantastic. An adapter based system would be much more flexible and would be a much better design. Is there an open issue for this? I think something like what you are suggesting would be a huge improvement. At the moment I'm using a slightly obscure library for streams (thi.ng/rstream) which is close but not exactly like an observable api. It would make things really straightfor

[2019-12-14 23:24] ASKobayashi commented on #871
Hello @Andarist, thanks for following up.

Yes, I would expect to be able to serialize the complex machine at any state and then resume it at a later point.

Thanks for the tip there.  I didn't realize that capturing the state of a machine wouldn't include the child states.  I would expect it would do so.  Is there a case where you might want to save a parent state without capturing the child stat

[2019-12-14 23:42] davidkpiano commented on #877
The real answer to this is having an Actor interface, which can be as simple as this:

[code]

Any API can be made to fit this interface (promises, observables, streams, near-observables, etc.) and this is also how most Actor libraries/frameworks/languages work.

So if you want a BehaviorSubject to work with this in the future, no adapters or built-in helpers or special libraries are needed. Just

[2019-12-15 07:56] Andarist commented on #877
By adapters I meant smth like this - we would expose a single interface and other data sources would just implement/adapt it.

A simple interface like you have proposed would be great, big thumbs up from me. We’d only need to add a possibility to send events from invoked actor to the invoking one.

[2019-12-15 11:05] allforabit commented on #877
Yes I was just going to say that. This covers receiving events from the system but not, as @Andarist pointed out, sending events back into the system.

From what I can see, the first part (sending events to the spawned actor) already works in the current implementation by spawning an object with a `send` method. See codesandbox: https://codesandbox.io/s/brave-keller-exg5v I'm assuming this is wher

[2019-12-16 09:43] iliasbhal opened #879 "[Help Wanted] - Need examples of complicated state machines"
**Description**
I'm working on a fluent / configurable builder for xstate. https://github.com/iliasbhal/xstate-builder
I really want to make a PR on xstate, but before so I will need your help.
I need to validate the idea and see if it scales well with complicated xstate configurations.

In order to do so, I'm asking you ( if you accept the mission ) to respond on this thread with simple to compli

[2019-12-16 09:44] iliasbhal opened #880 "[Feature] - I Need examples of complicated state machines"
## **Description**
I'm working on a builder function for xstate. ( dirty work is done on https://github.com/iliasbhal/xstate-builder (~10kb) ). I really want to make a PR as soon as possible on xstate, but I need to create a bunch of "stress tests" before embarrassing myself on the PR.

In order to do so, I'm asking you ( if you accept the mission ) to respond on this thread with simple to complic

[2019-12-16 09:44] #879 closed

[2019-12-16 14:21] iliasbhal commented on #880
I also need you opinions on what nifty methods you would like me to add :)

[2019-12-16 15:18] davidkpiano commented on #880
Very cool. The configuration object is meant to be low-level (but at an abstraction that still makes it acceptable to code manually), so I'm excited to see higher-level APIs on top of this!

[2019-12-17 15:55] CodingDive opened #881 "[Visualizer] Visualize variables of custom guards"
**Description**
I'd love to be able to see the variables and values passed to custom guards directly within the visualizer.

**Expected Result**
Either when hovering or clicking on the custom guard name next to an event, show the variables and their respective values.

**Actual Result**
No variables are shown.

![image](https://user-images.githubusercontent.com/28842311/71011550-e46e6700-20ed-11ea

[2019-12-18 13:30] davidkpiano commented on #881
Added to roadmap: https://github.com/davidkpiano/xstate/issues/742

[2019-12-18 13:30] #881 closed

[2019-12-18 13:32] davidkpiano commented on #741
This no longer occurs in 4.7.3

<img width="520" alt="Screen Shot 2019-12-18 at 8 32 23 AM" src="https://user-images.githubusercontent.com/1093738/71090407-f513f100-2170-11ea-9b93-3d6d819a1a9f.png">

[2019-12-18 13:32] #741 closed

[2019-12-18 13:33] davidkpiano commented on #751
Added to roadmap!

[2019-12-18 13:33] #751 closed

[2019-12-18 13:34] davidkpiano commented on #772
This should now work in 4.7

[2019-12-18 13:34] #772 closed

[2019-12-18 13:41] ikovic commented on #741
Thank you!

[2019-12-19 09:48] seeseesky opened #883 "[Help needed] Async/Await for the resulting context after the state machine finishes"
Is there any way to get the resulting context after the state machine finishes by using async/await? Currently, I can only get the lastest context by using onTransition callback.

[2019-12-19 09:51] Andarist commented on #883
State machine’s transition is always synchronous, there is nothing to be awaited because you can just read state/context immediately after the call.

[2019-12-19 09:59] seeseesky commented on #883
Sorry maybe my question is a little bit unclear, what I mean is that how can I get the latest context after the state machine reached the final state and stop running due to completion
[code]

[2019-12-19 10:24] Andarist commented on #883
You should be able to read that from within onDone callback

[2019-12-19 12:43] seeseesky commented on #883
Thanks a lot

[2019-12-19 12:43] #883 closed

[2019-12-20 09:56] MatrixNorm opened #886 "(4.7.2) Conditional transitions break `after` delayed transition."
(sandbox: https://codesandbox.io/s/determined-volhard-ke3dt)

Consider this simple machine. If event `FOO` is received within 1.5 seconds state X should be re-entered and delayed `after` transition resetted. Even if state X is re-entered many times, `after` transition should be fired only once. Sure enough all works as expected here.

[code]

But if conditional transitions are added to the `after`

[2019-12-20 10:01] Andarist commented on #886
Please prepare a runnable repro case - for example on CodeSandbox. It can significantly speed up us finding a time to evaluate your issue.

[2019-12-20 10:08] MatrixNorm commented on #886
https://codesandbox.io/s/determined-volhard-ke3dt

[2019-12-20 15:34] #838 closed

[2019-12-20 22:38] Andarist commented on #886
I can confirm a bug and diagnosed the problem. Gonna think about it (and hopefully fix it) tomorrow.

[2019-12-21 12:21] Andarist commented on #886
Here you go - https://github.com/davidkpiano/xstate/pull/888

[2019-12-21 15:24] #886 closed

[2019-12-21 16:22] ZempTime commented on #851
Thanks for the explanation. This makes sense. I had the assumption that it would have no way of knowing what service had originally produced the state. I updated the design of my machines to get around this.

If I end up making a workaround helper to help with testing, I'll post it here.

[2019-12-21 16:31] tmikeschu commented on #255
To elaborate on @jonbellah 's work, my favorite state machine at the moment is used for a digital signage app that transitions slides based on time and server data.

[2019-12-21 17:45] davidkpiano commented on #851
Please do, that would be great!

[2019-12-21 21:50] fparga opened #890 "Empty events in transient states guards"
**Description**
Guards on transient states transitions are not receiving the original events. This prevents using guards based on the events data.

**Expected Result**
The events received in transient state transitions should be the ones that originated the transition.

**Actual Result**
The events received are empty.

**Reproduction**
https://codesandbox.io/s/xstate-null-transition-guard-ogu34

[2019-12-22 09:10] Andarist commented on #890
Yes - from SCXML perspective this is a bug. Fixing this right now has too high possibility of breaking our users though. We are starting to work on a new major version and fixing this will have to wait for it.

[2019-12-22 12:30] amitnovick commented on #848
@davidkpiano It looks like you went ahead and implemented a slight variation of this in https://github.com/davidkpiano/xstate/blob/master/packages/core/src/devTools.ts

In your implementation
- only one devtools is registered (the one accessible from the global `__xstate__` binding)
- the `__xstate__` binding must have a method `register` with the signature (service) => void

I also notice that th

[2019-12-22 14:18] Andarist commented on #848
I like general idea of simplifying this and making XState more decoupled from devtools.

I think we should also consider if it’s possible to remove any devtools-specific code from XState in favor of devtools integrating with XState using other, general-purpose APIs. Redux has approached this really nicely although they had it a little bit easier thanks to everything being built on top of middlewar

[2019-12-22 14:58] davidkpiano commented on #848
I think the general approach of:

[code]

is minimal enough to eliminate boilerplate even though there's a tiny bit of devtools-specific code.

[2019-12-22 15:17] Andarist commented on #848
Yes - that wouldnt be too much extra code. Problem with this approach is different though - it somewhat ties internals to a specific implementation of devtools. This is something that Amit is proposing we dont do - and I also believe it would be better approach. Any devtools should be able to plug into XState (if only they satisfy interface/protocol), rather than XState registering into a single p

[2019-12-22 16:01] davidkpiano commented on #848
Okay, after rereading, I like this proposal. We can make it minimal:

[code]

If, for some reason, developers want to attach multiple dev tools, its their responsibility to compose the functions:

[code]

Which I'm fine with because that won't be a common use-case.

[2019-12-22 17:01] amitnovick commented on #848
There's a tradeoff here between the attempt to remove complexity from the library and the ease of use for the user (ergonomics).

The suggestion in my first post in this thread I valued the former, but after seeing @davidkpiano's version, I think that we would do best to take the (small) hit of complexity, for the benefit of the end-user.

Importing stuff can be really annoying for a user who just

[2019-12-22 17:16] amitnovick commented on #848
Oh and about Redux Devtools support, I think we should keep the custom logic for it in there (currently in `attachDev`) **for the time being**, for the sake of users who rely on features only available in it.

I want to reach full feature parity in my XState DevTools, which right now as far as I can tell only means implementing the `context` diff view for every event in the Events tab (I expect th

[2019-12-22 19:31] davidkpiano commented on #848
Redux DevTools support is staying in v4 for now - probably removed in v5 once we have the full-featured XState DevTools.

The default dev tools can be this: https://github.com/davidkpiano/xstate/issues/848#issuecomment-568270438 which gives it automatic support for XState.

In V5+, I don't believe there is any value to be gained by supporting the possibility of multiple dev tools, but of course we

[2019-12-22 21:59] ChrisShank commented on #807
FYI the alpha for [`vue@next`](https://www.npmjs.com/package/vue/v/3.0.0-alpha.0) and  [`@vue/reactivity`](https://www.npmjs.com/package/@vue/reactivity) were released on NPM a couple of days ago.

[2019-12-23 12:18] AjaxSolutions commented on #890
Is there any write up listing the planned features/changes of the next major version?

[2019-12-23 13:18] Andarist commented on #890
Some things are listed here https://github.com/davidkpiano/xstate/issues/742 - its not yet an exhaustive list though. One thing that will land for sure is 100% SCXML compatibility.

[2019-12-23 16:50] ASKobayashi commented on #871
Has anyone successfully achieved this?  I'm having a lot of trouble restoring child states correctly.

I created a new version of the code sandbox which captures the issue I'm having here:
https://codesandbox.io/s/xstate-parallel-machine-persist-ktjtw

It appears to correctly restore the state for step 1.. however on step 2 and further it hits
`console.log('no service for ' + name)` because the ca

[2019-12-23 19:35] e-martin commented on #443
This works for me (using local import) !

Thank you very much.

[2019-12-23 20:20] davidkpiano commented on #890
@AjaxSolutions I will start marking roadmap items as 5.0 here: https://github.com/davidkpiano/xstate/issues/742

[2019-12-24 01:18] CodingDive commented on #880
The project you are proposing sounds incredible. 😍

Are you also planning to build abstraction above actor communication?  I have to think about it some more but I could see an API where one declaratively defines two actors and the relationship between them. This could maybe allow us to define the event of an actor and how the event is send by another actor, inside the same API call(s) using the b

[2019-12-24 02:02] davidkpiano commented on #880
@CodingDive I'm working on this actually... (don't share this) it's going to be a new minimal package called `XActor`, which I've already started on.

The goal is for you to define systems of actors in a very simple way, and be able to fully log, trace, visualize them, etc.

[code]

[2019-12-24 09:02] RafalFilipek opened #894 "@xstate/react 1.0.0-rc.1 useLayoutEffect warning"
Hi,

`useLayoutEffect` from bc40dc826ce3176ed8faa3e0b5e77cc9e7e462d7 throws warning on server.

Demo: https://codesandbox.io/s/xstate-uselayouteffect-warning-cjqf6

[code]

More info about warning can be found [here](https://medium.com/@alexandereardon/uselayouteffect-and-ssr-192986cdcf7a).

Simple solution:

[code]

thanks

[2019-12-24 10:42] Andarist commented on #894
Yeah - I’ve already created a PR reverting this change https://github.com/davidkpiano/xstate/pull/892

[2019-12-24 16:24] #894 closed

[2019-12-25 06:43] bradwoods commented on #849
I don't understand why the interpreter type is returned from spawn. The [docs](https://xstate.js.org/api/classes/interpreter.html#spawn) are stating an Actor type should be returned. I did a [code sandbox](https://codesandbox.io/s/actor-type-error-v1b0w) showing the problem in case I missed something.

[2019-12-25 08:26] bradwoods opened #897 "sequenced forwardTo"
I'm forwarding an event from a spawned machine to its parent, then forwarding it again from the parent to a different spawned machine. The parent receives the event but the child does not. Is this a bug or bad implementation?

https://codesandbox.io/s/xstate-forwardto-playground-d76ny

[2019-12-25 11:09] bradwoods commented on #897
This turned out to be an incorrect implementation.

[2019-12-25 11:09] #897 closed

[2019-12-25 15:49] davidkpiano commented on #849
@bradwoods Try with 4.7.3

[2019-12-25 22:08] bradwoods commented on #849
Still getting the same type error - https://codesandbox.io/s/actor-type-error-v1b0w

[2019-12-27 16:15] miroshSa opened #899 "xstate version 3.3.3 failure when using TypeScript >3.7"
**Description**
It fail to TS check:
`../node_modules/xstate/lib/types.d.ts(1,10): error TS2440: Import declaration conflicts with local declaration of 'StateNode'.`

**Expected Result**
no TS error

**Actual Result**
TS error

**Additional context**
typescript@3.7.4
xstate@3.3.3

[2019-12-27 16:46] Andarist commented on #899
Im afraid that we wont be able to provide bug fixes to v3, given the fact that v4 is out for quite some time already and we have even started to work on v5.

Please consider upgrading your codebase to v4.

[2019-12-27 16:59] davidkpiano commented on #899
Please look at the migration guide here: https://github.com/davidkpiano/xstate/blob/master/migration.md

Let us know if you have any questions.

[2019-12-27 16:59] #899 closed

[2019-12-27 21:30] Andarist commented on #880
@davidkpiano could you share a little bit more about what kind of problems is this API suppose to solve? Will it be a part ofc XState? Something complementary to it? Or maybe something entirely different?

[2019-12-28 16:48] mrjogo opened #903 "Autoforwarding on invoked machine can't be used with strict: true"
**Description**
When invoking a machine with `autoforward: true`, if the parent machine has `strict: true` it will throw an error for events only accepted by the child machine. If the child machine has `strict: true`, it will throw an error for events only accepted by the parent machine.

**Expected Result**
An error should only be thrown if BOTH the parent and child machine cannot handle the even

[2019-12-28 17:20] Andarist commented on #903
Question - why do you want to use strict mode? We are considering removing it in the next major release so your feedback on that would be really valuable on that.

[2019-12-28 18:04] mrjogo commented on #903
Well, for one I just realized it doesn't actually work the way I had thought: I thought it would cause an error if an event was sent that did not have a transition in the current state (ie, not in the `on` property). However it seems to only throw an error if an event is sent that is not defined **anywhere** on the machine.

As I mentioned above, some of the transitions in my state machine are tri

[2019-12-28 21:38] Andarist commented on #903
I think you can achieve this by using a wildcard transition on the root of your machine. If such a transition gets triggered it means that it wasn't handled by your current state and this seems like what you were after here.

[2019-12-28 22:27] mrjogo commented on #903
I'd expect that wouldn't work with the invoked child machines (ie, if the invoked machine transitions but the parent does not, I would expect that wildcard to still be called).

However, I looked closer at the state object returned from `send()` and discovered `state.changed` reports what I want for the top level machine, and `state.children` allows me to recurse into any invoked machines and chec

[2019-12-29 09:34] damooo opened #905 "@xstate/fsm: ability to configure actions using options like xstate"
## Bug or feature request?
feature request
## Description:
like in xstate, it would be intuitive to have actions refactored to single place, and referred via names in machine descriptor. presently we cannot even export it and view in viz directly, as actions contain other bindings and imports from environment

[2019-12-29 11:17] iliasbhal commented on #880
@CodingDive

I am! For the moment, I have created an event-bus that let you `send` events to any machine registered at an address within the same process or browser window.
But for the moment, this is really just a proof of concept. What I really want is to use any channel you want not just a hardcoded event bus.

I would be interested to look into `xactor` once it's open-sourced ( if it's going t

[2019-12-30 13:42] PEZO19 opened #906 "XState: actors, downsides, conceptual barrier?"
## Bug or feature request?
❓ Question

## Description:
How do you decide the how fine-grained your actors are? At first glance I'd like to just implement everything in XState (especially with the new Typestates feature) and get rid of anything else (even js/ts functions?) as much as possible, but I am not sure about the downsides and I just can't see "conceptual the barrier". Can you please elabor

[2019-12-30 16:48] mrjogo commented on #593
Since it is by design that the assign meta argument has the previous state even when part of an `entry` action, what's the right way to do an assignment that needs the new state value?

My specific use case is I am storing an object per state in the context, with the state name as the key, and upon entry of each state, I want to call a method on the corresponding object and store the result in a `

[2019-12-30 17:45] davidkpiano commented on #906
Putting everything into actors has the same upsides and downsides of having local, private state instead of shared state. Of course, shared state makes things easier, but it also makes it easier to introduce bugs or impossible states, race conditions, etc.

Actors are also distributed by nature, so e.g., you don't get clear "time-travel" abilities like in Redux, but that isn't even feasible in Red

[2019-12-30 17:46] davidkpiano commented on #593
@mrjogo Can you give a more general, real-life example of what you're trying to accomplish? There might be a better way.

[2019-12-30 18:32] AjaxSolutions commented on #906
@davidkpiano can you explain in more detail why the "time-travel" feature is not feasible in Redux?  Thx.

[2019-12-30 18:42] davidkpiano commented on #906
Absolutely. Suppose you have a Redux reducer where an event changes the state such that `isLoading: true` (or something like that... hopefully the developer has better sense than to use boolean flags).

Now suppose that at the same time, some side-effect happened (to load data). The first problem is: did the side-effect happen _as a result_ of the state change (i.e., as a result of `isLoading` goi

[2019-12-31 01:02] davidkpiano commented on #824
This can be better modeled by moving some of the state to `context` (such as the answers for the questions) and having a generic `checkAnswer` guard, instead of hardcoding the questions/answers as states.

One enhancement we can do is to have `cases` optionally be a function that takes in `(state: State) => Event[]`, so you can do something like this (once you remodel):

[code]

[2019-12-31 11:15] victorb opened #912 "Visualizer sometimes crashes in a unrecoverable way"
Was playing around with the visualizer, especially around actions and context. When I modified the actions and clicked "Update", the visualizer crashed in a way that made me loose all the progress I had written in. Seems the only reliable way to use it right now, is to copy-paste from a proper editor, in order to not loose all the data.

This is how it looked once crashed:

![image](https://user-i

[2019-12-31 14:31] AjaxSolutions opened #913 "Why useConstant?"
I'm curious why [useConstant](https://github.com/davidkpiano/xstate/blob/8930df82b7b71124eb5cdafd4892a3354c396ce9/packages/xstate-react/src/useConstant.ts) is used as opposed to just using useMemo?

Looks like they both cache the return value of a function(?)

[2019-12-31 14:40] davidkpiano commented on #913
cc. @Andarist

[2019-12-31 15:19] PEZO19 commented on #906
Thanks, that helps clarifying.

However, related questions (in my head):
How do you decide something to implement via explicit state machines vs implicit state machines? Aka: why Xstate is not rewritten in Xstate? :)

My concern is that if I implement anything implicitly it can be OK for now but when requirements and code changes it is risky to maintain that implicit code and I'd rather rewrite it

[2019-12-31 16:05] davidkpiano commented on #906
Here's the pattern I always follow:

1. If it's simple enough, just use implicit state machines, BUT make everything event-driven (use event-emitter/pub-sub pattern, use events for everything, etc.)
2. Once things become complex, draw it out on pencil and paper to make sense of it 📝 (would it be helpful to share some of my diagrams I've drawn?)
3. Translate those drawn diagrams to state machines!

[2019-12-31 17:05] Andarist commented on #913
https://reactjs.org/docs/hooks-reference.html#usememo

We can't allow forgetting created service - we need it to be the same throughout the whole lifetime of a component.

[2019-12-31 17:18] damooo opened #914 "@xstate/fsm: actionMeta as param to actions, to access current state"
## Bug or feature request?
FEATURE
## Description:
it would be helpful to provide actionMeta as param to actions. an usecase will be that, when we exit from a state, we may want to cleanup, based on next state reached.. in my case i want to clear retry counter of an action within that state, when state actually changed, instead of transitioning to itself.

[2019-12-31 17:51] vivek12345 commented on #696
Although this issue is closed with the new release which now supports escalate.
I wanted to understand how can I pass the exact error event to the onError of parent.
I want to do something like this
[code]
The reason is I want the parent to get the exact error object that got returned when let's say an api call failed.
Can we do this?

[2019-12-31 18:19] davidkpiano commented on #696
@vivek12345 Can you open a separate issue for that enhancement request?

Also please keep in mind that `escalate(...)` and all other action creators are action creators. They do not actually execute the action.

[2019-12-31 18:32] #913 closed

[2019-12-31 19:43] colinbate commented on #443
This isn't a Svelte issue, it is a Rollup issue as it is the bundler in this case. The replace plugin mentioned above was the generally accepted solution to this particular issue, although, now a more robust solution for environment variables exists: https://www.npmjs.com/package/rollup-plugin-inject-process-env

Hope this helps.

[2019-12-31 20:00] vivek12345 commented on #696
Sure I will create a new request for this. Thank you

[2019-12-31 20:45] ZempTime commented on #851
Unsure if I'm verifying all the scenarios I need to be, and I'd like to clean up the bottom tests as well not to use `aTimeout`, but here's a run at it that appears to be working:

_beginServiceFromState.ts_
[code]

_tests_
[code]

If this changes significantly when I get through the testing of some more complex cases, I'll update this response

[2020-01-01 21:47] vivek12345 opened #921 "escalate() should allow a function as a parameter to pass an actual error event instead of just a custom error object"
## Bug or feature request?
Feature Request

## Description:
With the release of xstate 4.7 we now have a new function called as `escalate()` which basically is used to send an action of type `error` back to the parent.

This is very useful when we invoke a machine and if that machine leads to onError,  we needed a way to inform its parent about the same.

A discussion around this has already happe

[2020-01-01 22:29] vivek12345 commented on #921
Not sure if this is the right approach to solve this but I have certain implementation in mind.
[code]

Then inside `actions.ts` we can have a check like this
[code]

As I am no expert in this, it would be great if someone could help me out here.

[2020-01-02 22:15] vivek12345 commented on #921
@davidkpiano any suggestions around this approach or any other way that I should approach this.
I would be happy to send a PR.

[2020-01-03 00:47] tanishalfelven opened #922 "Delay functions get resolved even when a transient transition is going to happen first."
**Description**
In a state node when there is both a transient transition out of the state and there is also a delay, the delay time is resolved even when the transient transition should be taken first.

**Expected Result**
The delay function should not get called unless a delay is being taken.

**Actual Result**
The delay is resolved even though the transient transition is taken.

**Reproduction*

[2020-01-03 01:18] tanishalfelven opened #923 "When using a custom clock and a transition with a delay of 0, the clock setTimeout function is called but xstate transitions to the next state despite the sent continue function not having been called."
**Description**
When interpreting a machine and using a custom clock, if you have an `after` with a `delay: () => 0` then the transition will be taken even when the clock hasn't yet called for the statechart to continue.

**Expected Result**
The statechart should not continue until the function sent to `clock.setTimeout` is called.

**Actual Result**
The statechart transitions to the next state wi

[2020-01-03 03:00] #762 closed

[2020-01-03 06:40] lxcid commented on #621
I realise this when I wrote something like

[code]

and the result when transiting from `active` to `idle` flipped because `assign()` is executed first, as shown on the console result.

[code]

This doc above helped me.

[2020-01-03 09:37] Acanthostega commented on #704
We are in this situation too. We need a way to register for our application the services that are created/spawned but since the default interpreter always spawns an instance of itself, we also have to do some hacks to work around this problem, or write too much boilerplate code.

I understand the problem of the composition but rewriting completely an interpreter just to change a particular behavio

[2020-01-03 10:22] Andarist commented on #704
Could you describe your problem in a more concrete way? It's hard to discuss any details with such an abstract description. What are you trying to do?

[2020-01-03 21:15] davidkpiano commented on #820
Fix being released soon-ish: #868

[2020-01-03 21:15] #820 closed

[2020-01-03 22:14] Andarist commented on #923
I've just checked by forking your codesandbox and updating XState version there and this is working as expected by you. It had to be some bug in the older version of XState.

[2020-01-03 22:19] #923 closed

[2020-01-03 22:19] Andarist commented on #922
This is due to the fact of how things are currently implemented. It shouldn't cause any problems as your `delay` should really be a pure function - we only execute it unnecessarily in this case.

I'm afraid that it might not be worth for us to fix this in v4, but we have started to work on v5 which will have many parts of the implementation reimplemented - we should have this fixed then.

[2020-01-04 00:34] #718 closed

[2020-01-05 13:53] lucat1 opened #929 "@xstate/react: integrate `useService` with @xstate/fsm"
## Bug or feature request?
feature-request

## Description:
Similarly to #763 and 5f0e33992c48b464d13a7324fb487e6a0660b74c it would be cool if we could use the same `@xstate/react/lib/fsm` import and have `useService` without the overhead of the main `xstate` library. I have taken a look at the source code and it looks like the only funciton used from `xstate` inside the `useService` function is `

[2020-01-05 14:07] PEZO19 commented on #906
Thanks a lot!

1. What do you use for pubsub?

2. It's interesting pen and paper is good for you, for me it did not scale well lately, I'd rather use plantuml. What is the trick? :) I'd be glad to see a scratch :) but I don't want to steal too much time from you. :)

[2020-01-05 18:59] Baael commented on #704
Nope, in the end I've created my own implementation based on/compatible with Xstate build on MST, cause I've had multiple other things to solve that do not align well with Xstate itself.

[2020-01-05 20:01] Andarist commented on #929
You are right, we can't quite reuse the same useService for both. I'm gonna prepare a PR providing `useService` in `@xstate/react/fsm`

[2020-01-06 00:47] #929 closed

[2020-01-06 19:58] jeremy-deutsch commented on #552
I'm reading through the docs for the first time and just wanted to make some notes here before I forget:

- The [Getting Started](https://xstate.js.org/docs/guides/start.html) page is a good idea, but it assumes lots of familiarity with both the concepts and the library. It links to other pages when mentioning concepts like machine configuration, transitions, and interpreters, but those other page

[2020-01-07 16:46] RafalFilipek opened #934 "Missing Typestates support in @xstate/react"
Hi,

`Typestates` support introduced in 4.7.6 is super cool and works great. Is it possible to make it work with `@xstate/react` and `useMachine`. I tried to add `TTypestate` here and there in `index.d.ts` but without luck.

Here you can find repro: https://github.com/RafalFilipek/xstate-react-typestates-bug

[code]

Thank you

[2020-01-08 05:23] MiguelAraCo commented on #921
It is weird that this was not included in the original design of `escalate`. Here's a workaround for anyone needing this functionality now (like me):

[code]

[2020-01-08 14:08] #921 closed

[2020-01-08 21:32] Blacktiger opened #938 "useService isn't returning the state on first render"
**Description**
When I try to useService, I'm finding that the current state isn't being returned correctly.

**Expected Result**
The state should be available for use on first render of the component.

**Actual Result**
The state is undefined.

**Reproduction**
https://codesandbox.io/embed/crimson-http-eksyg?fontsize=14&hidenavigation=1&theme=dark

**Additional context**
On my local machine I'm o

[2020-01-08 21:35] Blacktiger commented on #938
Should I just upgrade to `1.0.0-rc1` or is this something that will be fixed on a non-release candidate version?

[2020-01-08 22:17] davidkpiano commented on #938
@Blacktiger Does it work as expected with `1.0.0-rc1`?

[2020-01-08 22:27] Blacktiger commented on #938
I tried an upgrade and it seems ok. I'm only using `useMachine` and `useService` so I suppose as long those are working fine for me it should be fine to just upgrade. I just didn't have the version initially since npm install doesn't without spelling the version out.

[2020-01-08 22:29] Blacktiger commented on #938
I'd think if you want to close this issue, it's ok since there is a working version but it might be better to leave it open until there is a "stable" version released?

[2020-01-08 22:38] davidkpiano commented on #938
I'll leave it open and we'll release `@xstate/react` and `@xstate/vue` v1 soon!

[2020-01-09 11:32] drivasperez opened #939 "Allow State.matches() to match multiple states"
## Bug or feature request?
Feature request / query

## Description:

I have a piece of UI that I'd like to display when one of multiple states is true. At the moment, I'm writing code like this:
[code]
This is okay, but gets a bit cumbersome when you add more states. It would be nice to be able to write something more like:
[code]

It might be that you can actually do something like this and I've

[2020-01-09 12:17] Andarist commented on #939
This can be easily added in userland as a custom helper, not sure if it's worth overloading a core feature with this complexity.

[2020-01-09 14:31] drivasperez commented on #939
That's fair enough. My main argument in favour of the change would be that, because it's such a core feature, it makes sense to prioritise ergonomics. The pattern of providing either a single value or an array exists elsewhere in the library (when defining actions on a state transition, for example), so I assumed it would work on matches() and was surprised when it didn't.

As an aside, the array

[2020-01-09 15:22] davidkpiano commented on #939
There are not - it's always object and/or string.

I'll add this as an enhancement to V5, which will be much more modular, so adding this helper will not be included in the bundle.

[2020-01-09 18:48] drivasperez commented on #939
Sounds good to me!

[2020-01-09 21:18] vctt94 commented on #188
I have similar behavior, but I am not sure if it is possible to achieve it.

I have a State Machine which can go from multiple states to another state (for example the settings page, which one can make some changes and then go back). So when going back from the settings page, I want to go back to the last accessed state.

Is it possible to do?

[2020-01-09 23:18] Andarist commented on #188
@vctt94 it sounds like a good use case for history states

[2020-01-10 08:12] timoxley opened #941 "Persisted machine migration across XState versions"
## Please treat the serialized format as a part of your public API.

**This is more of a plea/headsup/feature request.**

I just got bitten by an XState machine format change from back in August.

* I'm persisting XState 4.6.x machines in PouchDB.
* This change, introduced in XState 4.7.0, adds an `_event` property to the state object: ["Use SCXML.Event wherever possible"](https://github.com/david

[2020-01-10 23:10] allforabit commented on #906
I would love to see some of your pen and paper sketches @davidkpiano 😄

[2020-01-11 10:32] amanmavai opened #942 "Machine Config given in TodoMvc example is not working in visualizer"
**Description**
Machine Config given in TodoMvc example is not working in visualizer

**Expected Result**
It should work in visualizer

**Actual Result**
Machine Config given in TodoMvc example is not working in visualizer

**Reproduction**

- [CodeSandbox Link](https://codesandbox.io/s/xstate-todomvc-33wr94qv1?from-embed)

[2020-01-11 11:29] haywirez commented on #510
Not sure if the best way, but this works for me:
[code]

[2020-01-11 15:40] davidkpiano commented on #942
That machine config depends on other machines working together (spawned) and won't work as-is, until the new visualizer is released.

[2020-01-11 15:40] #942 closed

[2020-01-11 16:26] davidkpiano commented on #934
Fixed here and will be available in the next release: https://github.com/davidkpiano/xstate/pull/940

[2020-01-11 16:26] #934 closed

[2020-01-11 20:40] Andarist commented on #941
Sorry that we have overlooked this, definitely something that we should have on our minds when releasing new minor/patch versions. @davidkpiano we could prepare different test machines that we could try to serialize from now on with each version and provide those serialized values as test inputs for rehydration, WDYT? @timoxley you seem to be interested in the stability in this regard, would you b

[2020-01-12 14:12] haywirez commented on #552
I think it'd be useful to add some clarification on how to deal with Typescript in `@xstate.react`.

e.g.:

[code]

or less semantic but also working

[code]

[2020-01-12 15:32] davidkpiano commented on #941
I will be adding JSON Schema soon for the:

- machine definition
- state object
- event object

The JSON-serialized machine, state, and event will be tested against this schema moving forward.

[2020-01-12 15:33] #826 closed

[2020-01-12 17:31] FredyC commented on #552
I think it would be much nicer to be able to extract those types from the machine itself so we could do `serviceRef: ServiceType<typeof myMachine>`. I don't know exactly how to do that, but something in a similar fashion to ReturnType or Parameters, if it's even possible to tackle generics that way 🤷‍♂

[2020-01-13 04:36] UberMouse opened #943 "createMachine vs Machine and schema types"
I'm looking into the new Typestates functionality in 4.7 and I'm a bit confused about the distinction between `createMachine` and `Machine`. It looks like you have to use `createMachine` to use Typestates as there is no generic for them with `Machine`. But, `createMachine` is missing the generic for the state schema which is something I find helpful.

It doesn't look like this is an oversight, doe

[2020-01-13 08:11] Andarist commented on #943
Im curious - what kind of advantage do you see in schema type? For me it seems like a huge (annoying) repetition

[2020-01-13 13:56] davidkpiano commented on #943
In V5 we hope to get rid of `StateSchema` and instead infer the schema from the actual configuration object passed in.

However for V4.x, it might be helpful to add in support for a Typestate generic in the `Machine` factory function.

[2020-01-13 14:28] edokeh opened #944 "Delay Expressions not working"
**Description**

The example code in this doc  https://xstate.js.org/docs/guides/delays.html#delay-expressions  not working

[code]

**Expected Result**

Expect log after 3000ms

~~// after 3000ms (1000 + 2000), console will log~~

**Actual Result**

log after 1000ms

[2020-01-13 16:48] davidkpiano commented on #944
You have `event.wait` instead of `event.delay`. Maybe change it, and it will work:

[code]

[2020-01-13 20:06] UberMouse commented on #943
Ah, that sounds great. Though actually thinking about it now I'm now sure what value the schema type provides. I do find it handy to have a simple overview of all the states the machine can be in but I was thinking it provided autocomplete in the targets which I have realized is incorrect.

[2020-01-14 01:41] chenxsan commented on #944
The example in doc could be wrong,

[code]
From https://github.com/davidkpiano/xstate/blob/master/packages/core/src/actions.ts#L184, you can only set `delay` in `option`, i.e. the second arguments for `send`, so the right code could be:

[code]

[2020-01-14 02:31] edgarjrg commented on #645
I'm having this constraint right now, and using the union with `| DoneInvokeEvent<MessageStatus>` makes the events type `string` , limiting my events types.

[2020-01-14 05:08] #944 closed

[2020-01-14 18:59] andrejohansson commented on #772
@davidkpiano Given the information in this issue as well as #424 and #664 I updated an example to the latest version (4.7.6) but I can still not get it to work. I expect the child state label to update as the console does.

Is there anyone that can explain what I'm doing wrong?

[xstate-issue-424-and-772.zip](https://github.com/davidkpiano/xstate/files/4060920/xstate-issue-424-and-772.zip)

[2020-01-14 21:10] amitnovick commented on #848
Gonna pitch this suggestion again, because I think it is the easiest for users and makes the most sense  @davidkpiano @Andarist

- no `devTools` option required, but XState checks for `process.env.NODE_ENV !== 'production'` to register a single XState Devtools (assumed to be available on the `window.__XSTATE__`)
-  XState implementation:
[code]

[2020-01-14 21:11] amitnovick commented on #848
(If there is no `window` object, use `global` for Node.js)

[2020-01-15 00:46] jeremy-deutsch commented on #912
I have a reproducing case here: https://xstate.js.org/viz/?gist=bd607e804535bb3a659a9baec634a533

It doesn't crash on its own, obviously, but try replacing
[code]
with
[code]
and hitting "UPDATE". This might be an error in XState, but even so, it's probably a good idea to find out why this also causes the whole page to crash.

[2020-01-15 13:34] andrejohansson opened #945 "Accessing Invoked Child Machine State In React Typescript"
**Description**

I have two machines, a parent machine and a child machine. The parent machine invokes the child machine on start and the child machine keeps running indefinitely between three states. How can I print out the **child machine´s** current value using react?

**Expected Result**
I expect to be able to subscribe to invoked child machines state transitions somehow so that I can update m

[2020-01-15 15:08] Andarist commented on #945
Looking into the source code and it seems that this should pretty much work. I see the potential issue with `isObservable` & `isMachine` checks order, maybe that's the cause - but it seems to me that if that would be the case then parent->child communication would be broken.

Thanks for the report, I'll investigate this further today.

[2020-01-16 11:07] PickleyD commented on #100
Was a separate issue raised for the above? Unable to find it

[2020-01-16 19:32] queckezz opened #947 "@xstate/react: typescript: state is always `never` after calling `.matches()` twice in the same expression"
**Description**
@xstate/react: typescript: state is always `never` after calling `.matches()` twice (in the same expression?)

[code]

Is this an antipattern or am I doing something wrong?

Sadly I don't have enough typescript experience at the moment to understand the following code in detail:
https://github.com/davidkpiano/xstate/blob/d6eda85b28759b4cc296ca8f88633f2342045e31/packages/core/src/St

[2020-01-16 22:07] davidkpiano commented on #947
Workaround: `state.matches<any>(...)`

[2020-01-17 07:40] PetrSnobelt opened #948 "Two vizualiser packages?"
**Description**
Hi, there are two visualizer packages:
https://github.com/davidkpiano/xstate/tree/master/packages/xstate-viz
and
https://github.com/statecharts/xstate-viz

first report error after `yarn start`
`semantic error TS2300: Duplicate identifier 'useState'.`

I think the second package is correct and used on web, but it takes me some time to realize it.

Can you plz clarify the situation

[2020-01-17 08:24] PetrSnobelt commented on #818
@Andarist I try to address it in https://github.com/statecharts/xstate-viz/pull/47

[2020-01-17 08:32] PetrSnobelt commented on #948
So then it is also unclear where to add issue for a fix like this
https://github.com/statecharts/xstate-viz/pull/47

[2020-01-17 11:12] andrejohansson commented on #945
@Andarist any luck? I have not gotten any further.

[2020-01-17 13:37] Andarist commented on #945
I've managed to make it work with this - https://codesandbox.io/s/laughing-chatterjee-wemzp

`state.children` is not equal to `service.children`, so that was one of the mistakes made. I admit this is confusing a lot and we probably should do smth about it in the future. The other thing is that you have tried to access this invoked service during the first render, but it's only, currently, availabl

[2020-01-17 13:38] davidkpiano commented on #945
This is actually something not implemented yet. When `spawn()`-ing a machine, you can pass `{ sync: true }` as an option to synchronize its state, but you can't do the same when invoking a machine, at least not yet.

This would be an enhancement. Also, in V5, `state.children` will be an array, so I'm not sure we should make the change just yet @Andarist

[2020-01-17 13:39] davidkpiano commented on #948
Add current visualizer issues to https://github.com/statecharts/xstate-viz/issues/new

[2020-01-17 13:39] #948 closed

[2020-01-17 13:41] CodingDive opened #949 "Type error with raise event"
**Description**
When using the `raise` action, I'm getting type errors.

Given an event like this:

[code]

I'm getting an unreadable TypeScript error when raising an event inside a machine.

[code]

The only thing that seems to work is to not pass type arguments and use a string event instead of an object.

[code]

**Expected Result**
No type error

**Actual Result**
TypeScript fails on the line

[2020-01-17 15:55] davidkpiano commented on #949
Sure, please make a PR that demonstrates the issue in a failing test.

[2020-01-18 13:02] #810 closed

[2020-01-18 22:11] #949 closed

[2020-01-19 02:34] alizbazar commented on #941
We also experienced the same problem. We were only storing `value` and `context` (and corresponding keys from `history`) as this seemed sufficient for fully functioning rehydration. Now getting `Cannot read property 'data' of undefined` if trying to upgrade to newest XState. :/

[2020-01-19 05:50] davidkpiano commented on #941
@alizbazar Try the `State.create(config)` method, or:

[code]

[2020-01-19 09:42] Andarist commented on #941
@alizbazar if you could create a repro case that would be extremely helpful

[2020-01-19 12:05] Andarist commented on #945
Yeah, i didnt mean that we should handle this right away. I would, in general, prefer to only implement new features for v5. Why it will be an array though? It seems less ergonomic.

[2020-01-19 17:03] #905 closed

[2020-01-19 17:20] davidkpiano commented on #945
Easier to iterate, and some invoked services will not have IDs (think spawned actors).

[2020-01-19 17:25] Andarist commented on #945
Its harder to do a lookup though, which seems useful. I would expect lookup being performed much more often than iteration for those.

As to services lacking IDs - I suspect internally we need to be able to reference them anyway, so they probably would have auto-generated IDs (not necessarily with a predictable algo), right?

[2020-01-20 16:15] davidkpiano commented on #877
This (adapter) will be released in V5, and is currently in the `next` branch.

[2020-01-20 16:15] #877 closed

[2020-01-20 16:19] davidkpiano commented on #704
If you're creating your own interpreter, it is not recommended to extend `Interpreter` unless you know all the workarounds - instead, you should create your own standalone interpreter (as you have managed to do, which is awesome!).

Extending `Interpreter` is not a supported use-case.

[2020-01-20 16:19] #704 closed

[2020-01-20 16:21] davidkpiano commented on #823
This can now be accomplished in the same way as #718 - by using the `filter` option in `model.testCoverage({ option: ... })` to disregard that state.

https://xstate.js.org/docs/packages/xstate-test/#testmodel-testcoverage-options

[2020-01-20 16:21] #823 closed

[2020-01-20 16:22] davidkpiano commented on #178
We are renovating the way that types are checked in the upcoming V5 (`next` branch), so I'll close this for now.

[2020-01-20 16:22] #178 closed

[2020-01-20 16:31] davidkpiano commented on #637
The `service` created in `useMachine(machine)` can be referenced as the third returned value:

[code]

You can subscribe to that service's state changes with the [`useEFfect` hook](https://reactjs.org/docs/hooks-effect.html):

[code]

[2020-01-20 16:45] Andarist commented on #704
With that being said - you might be able to cover your use case more easily in v5 (in the works) with a custom spawn action, we decouple those from the core, so it should be easier to support other actor types, including custom interpreters.

[2020-01-20 17:42] #637 closed

[2020-01-20 20:06] morgancmartin opened #955 "The @xstate/vue package is marked private in its package.json"
**Description**
The @xstate/vue package is marked private in its package.json and therefore inaccessible from the npm and yarnpkg registries or when attempting `yarn add @xstate/vue` or `npm install @xstate/vue` commands.

[package.json](https://github.com/davidkpiano/xstate/blob/master/packages/xstate-vue/package.json) can be seen with `private: true`

The [documentation](https://xstate.js.org/do

[2020-01-20 21:56] Andarist commented on #955
The package is meant to be private for some more time because it ain't ready for a final release yet. Its docs probably shouldn't be published just yet, @davidkpiano anything that we could do easily to take those docs down for the time being? Or maybe we should just "under development" banner or smth?

[2020-01-21 14:51] davidkpiano commented on #955
@Andarist We can probably release a 0.x version for now.

[2020-01-22 13:54] schemelev opened #956 "NodeJs memory leak with interpret (xstate>=4.7.0-rc6)"
**Description**

Occurs when using `interpret`.

**Expected Result**

After executing the request, classes using `interpret` will be removed from the memory by GC.

**Actual Result**

The memory is allocated, but not freed after the request.

**Reproduction**

I currently have no idea how to show a minimal working example.

Simplified application diagram:
[code]

**Additional context**

A memory l

[2020-01-22 14:20] wilson51492 commented on #871
@ASKobayashi any luck on solving this?  I am running into a similar need.

So far, it seems like the current code may actually make it impossible, as the childMachine in the parent state is overwritten by the `exec` function https://github.com/davidkpiano/xstate/blob/master/packages/core/src/interpreter.ts#L871.

For this to work, I think the resolvedState would need to be called as the argument h

[2020-01-22 14:49] ASKobayashi commented on #871
@wilson51492 Unfortunately, I don't have a solution yet.  I did do some digging after I saw  #941.  It looks like there's some upcoming work that may help address some of these issues..  I also noticed #164 demonstrates a somewhat similar task.  I haven't been able to take the time to revisit this yet and see if a fresh take will produce better results.  I'd love to hear if you're successful at th

[2020-01-22 15:00] wilson51492 commented on #871
@ASKobayashi thanks for the quick response.  I will let you know if I come up with anything.

[2020-01-22 15:49] Andarist commented on #956
Thanks for the report, I think we know where it comes from. Gonna work on a fix later today.

[2020-01-22 15:52] davidkpiano commented on #871
I'll take a look at this soon.

[2020-01-22 16:00] ASKobayashi commented on #871
@davidkpiano I/We appreciate it.  XState is impressive work.  I would think wanting to persist complex states (and store them in a database) is a probably pretty common use case. Maybe if the documentation added an example of the "right way"™ to take a complex machine and persist/rehydrate, it would go a long way.

As an example, the one at the bottom of https://xstate.js.org/docs/guides/parallel.

[2020-01-22 16:03] wilson51492 commented on #871
dito to all of that ^

[2020-01-22 16:32] schemelev commented on #956
Thanks you! I am ready to take part in testing.

[2020-01-22 16:49] Andarist commented on #956
That would be great! I’ve already prepared a PR fixing the problem which I think is responsible for this. You could try installing the preview build from this PR. You should be able to dig to it through CodeSandbox comment posted under the PR. I’ve actually not tried to use those builds outside of the CodeSandbox, but I think it should be doable - I dont think they restrict their registry access,

[2020-01-22 17:08] davidkpiano commented on #871
I appreciate it, thank you! Persisting complex states should "just work" ideally.

[2020-01-22 19:58] Blacktiger commented on #945
Maybe the service could expose the children as an array and provide a method that looks up a particular child by id?

[2020-01-23 10:56] Andarist commented on #945
For now, we've decided to keep them as an object, so don't worry :) lookup still will be easy.

I'm wondering though - how exactly do you use `.children` property? It would be highly informative for me to get some insight on how people use it.

[2020-01-24 07:12] mreinstein commented on #826
@Andarist can we ship a new npm release for this?

[2020-01-24 10:57] Andarist commented on #826
@mreinstein done

[2020-01-24 11:22] schemelev commented on #956
@Andarist I compiled the package locally (only packages/core) https://github.com/davidkpiano/xstate/tree/267fa6d412bc13e740e5b99c5f298a2e6794d16d.

The problem has not been solved, the memory is leaking at the same pace.

[2020-01-24 12:22] Andarist commented on #956
Could you also check out the current release (I've released that fix like 2 hours ago)? I bet it won't help you much - but I'm pretty sure it has solved a memory leak because there was an internal map that was never freed of dead items (you can check out my PR).

There, of course, might be some other issue as well - I just knew about this one so I've quickly jumped into fixing it. Could you share

[2020-01-24 15:37] lucat1 commented on #929
Sorry to bring this up again, but a minor release would be appreciated as I need this feature asap.

[2020-01-24 17:40] Andarist commented on #929
We plan to release this within a week.

[2020-01-26 20:39] Vizet commented on #547
I faced a similar problem. I needув to handle side effect in component when machine dispatch action.
I used `service.subscribe`  and checked dispatching actions. I created hook.
[code]
In component i can use it
[code]

Does this solve the described problem, or am I missing something?

[2020-01-27 15:06] timoxley commented on #941
I would love to but I hit this issue on a part-time project. My investment in XState there is heavy but my attention to that project is also fleeting, hence me only detecting this now rather than when it occurred back in August.

[2020-01-27 22:46] hbarcelos opened #963 "ESM loading fails for native Node.js@13.x.x loader"
**Description**
I'm trying to import `xstate` using [Node@13 native support for ES Modules](https://nodejs.org/api/esm.html).

**Expected Result**
Should be able to import as specified is the docs

**Actual Result**

**Reproduction**

Simply run the following code after installing `xstate` and run it with Node >= 13.0.0
[code]

**Additional context**
I've tried both setting the `"type": "module"`

[2020-01-27 23:04] Andarist commented on #963
Thanks for the report - I will take a look later to see what's the best way to support this.

[2020-01-27 23:11] hbarcelos commented on #963
Just a few more context:

I tried to pair it up with `typescript`@`3.7.5` to see if I could get rid of the error.

However, after running `ts-node index.ts` with `node`@`13.7.0`, I got the following error:

[code]

Then I downgraded to `node`@`12.14.1` it works just fine with TypeScript.

I'm guessing this is more of a general problem with `node`@`13` ESM loader.

[2020-01-28 09:22] mastermike501 opened #964 "Suggestion to rename "send" API"
**Description**
[Suggestion for API enhancement] Currently the `send()` function, according to the docs (screenshot below), doesn't imperatively send an event, but rather creates a new event on the event queue. So I'm suggesting a rename of `send()` to one of the following:
- queue
- queueEvent
- queueAction

This request **will** definitely break existing functionality, but I think this rename mi

[2020-01-28 10:17] mastermike501 commented on #964
Actually come to think of it, I remember @davidkpiano mentioning that he chose the name `send()` over the name `dispatch()` due to the brevity of the name. I just don't recall where he mentioned that.

[2020-01-28 10:39] davidkpiano commented on #964
Hey, good recommendation! One correction:

The `send()` action creator doesn't do that either; it **creates an action object** just like all the other action creators.

-----

The name `send` was chosen partially for brevity, but also to be consistent with the semantics in [SCXML](https://www.w3.org/TR/scxml) and [Harel's original paper](http://www.inf.ed.ac.uk/teaching/courses/seoc/2005_2006/reso

[2020-01-28 10:46] mastermike501 commented on #964
Right, so I think the idea of looking at statemachines/statecharts (as you mentioned somewhere in the docs 😅) as microservices is key to understanding the terminology used within the library. Makes perfect sense to align with the terminology standards. 🙂

To be honest, I've only started using Xstate for a week so a few of the terminologies still fly over my head. What are the "action creators" tha

[2020-01-28 10:50] davidkpiano commented on #964
Action creators are functions that create actions:

[code]

That action object represents a side-effect (again, "action" is state machine terminology) to be executed by an interpreter.

[2020-01-28 10:52] mastermike501 commented on #964
Wait I got it now. I didn't realize that there was a `actions` export from xstate.

On the grander scale of things, I actually struggled in using the docs, I'm trying to get the hang of xstate first then see how I can contribute towards the documentation.

[2020-01-28 11:07] Andarist commented on #964
Hm, would that verbosity do any good? It's actually not even that much needed as the only possible thing accepted by `actions` (and similar properties) are actions, so once you know that then `actions.send` makes things a little bit harder to read (due to its verbosity). And this namespace~ object is also somewhat semantically incorrect because those are not `actions` but `actionCreators`.

Some i

[2020-01-28 11:25] mastermike501 commented on #964
Heartily agree with your last statement! 😉

I think the introductions to the whats and whys of statemachines and statecharts have been exemplary, all courtesy of @davidkpiano. However to me, the missing bit seems to be information to help users who are discovering or rediscovering statemachines/statecharts given that the terminology regarding the library and how it works is very specific (maybe ev

[2020-01-28 11:29] Andarist commented on #964
Maybe using more links to the glossary where different things are mentioned in different parts of the docs would help with that?

[2020-01-28 11:32] mastermike501 commented on #964
Worth a try I guess. Helping the user understand how to put on the statemachine chart thinking-cap and think like a statemachine would definitely help! 🎉

[2020-01-28 11:48] davidkpiano commented on #964
Probably not, now that I think about it. You're right.

Yeah, more introductory/"why" material would be good. I always point to statecharts.github.io as a great starting point. Its glossary is great, as well.

[2020-01-28 11:53] mastermike501 commented on #964
Gosh I didn't realize this website existed. I think this might be a case closed. I'll definitely make it a mandatory read before dabbling in statecharts!

[2020-01-28 11:56] davidkpiano commented on #964
In general, there are so many resources online about statecharts. I'll add a "Resources" section to the docs with all the general resources.

One of the biggest goals with this project is that anything you learn about state machines and statecharts (even from decades-old research papers) should be directly applicable to XState. No new/foreign concepts! If you know statecharts, you know XState.

[2020-01-28 12:02] mastermike501 commented on #964
Cool! Like I said, it's getting new users into the mindset of the statechart-ist. (Think back of Angular way, react way, redux way, etc) 😅

I'll close this thread then. Thanks @davidkpiano!

[2020-01-28 12:02] #964 closed

[2020-01-28 17:54] josephfh commented on #955
When you do release a 0.x version it would be great to add any known issues to the documentation. I will be trying it out as soon as the package is public :)

Thanks!

[2020-01-28 19:10] davidkpiano commented on #955
@josephfh Your wish is our command, try it out: https://www.npmjs.com/package/@xstate/vue

[2020-01-28 19:16] #955 closed

[2020-01-29 09:04] janmonschke opened #965 "TypeScript errors when including a nested state machine from a factory function"
**Description**
I am trying to use a nested state machine from a factory function but TypeScript is does not seem to like that and is returning an error.

This is the factory that constructs the config for the generic `FetchMachine`.
[code]

It is then embedded in an existing machine like this:
[code]

**Expected Result**
No TypeScript error

**Actual Result**
The following TypeScript error:

[cod

[2020-01-29 10:10] RomainLanz commented on #955
Nice!

I'll move my current application that use raw XState & Vue to this and see if I find any issue. 👍
With the raw version of XState I had some caching issue between view, I'll check if it's fixed in this.

[2020-01-29 10:56] filipemonteiroth opened #966 "When using global/context events, the machine should only apply the desired action and keep on the same state"
**Description**
When using global/context events, the machine should only apply the desired action and keep on the same state, but that's not what happens.

**Expected Result**
When an event is received and only actions are applied, it should apply the actions and keep on the same state.

**Actual Result**
It takes the machine back to the very initial state.

**Reproduction**
The statemachine belo

[2020-01-29 13:00] davidkpiano commented on #966
Can you try this in XState 4.7? Use CodeSandbox: https://codesandbox.io/s/xstate-example-template-m4ckv

[2020-01-29 13:58] filipemonteiroth commented on #966
Hey, just tested that now and it seems fixed! Thank you. Maybe we can close that issue?

[2020-01-29 14:13] davidkpiano commented on #965
This is one of those weird TypeScript things; it's not perfect with inference.

To fix it, add `as const` to the keyword:

[code]

[2020-01-29 14:13] #965 closed

[2020-01-29 14:14] #966 closed

[2020-01-29 14:42] janmonschke commented on #965
Ohhh, I see!
If xstate would expose an enum that has "final", "atomic", "compound", "parallel" and "history", we would not run into the issue then, I guess?

[2020-01-29 17:06] davidkpiano commented on #965
@janmonschke Sure, feel free to open an issue for that feature as an enhancement.

[2020-01-29 20:16] janmonschke commented on #965
@davidkpiano I just took a stab at it myself. Defined the `StateNode.type` to be of type `enum StateNodeType (...)` which theoretically worked. However, in TypeScript, you would now not be allowed to define the `StateNode.type` as a simple string of e.g. `'final'`.
You would be forced to use the enum and I am not sure that is desired as it would make copy-pasting machine configs between JS and TS

[2020-01-29 20:29] davidkpiano commented on #965
Right, I've tried that before and decided against it because the developer should be able to type `type: 'final'` without worrying about it.

Perhaps a better solution would be something like...

[code]

[2020-01-30 06:15] mastermike501 opened #969 "TS Question: What type is needed in the context for the parent machine to reference the child machine?"
## Bug or feature request?
Question

## Description:
In the [docs](https://xstate.js.org/docs/guides/actors.html#spawning-machines) relating to spawning child machines, the value assigned to the context value that holds the child machine is `null`.

![image](https://user-images.githubusercontent.com/9069099/73424637-634ff400-436a-11ea-9670-b7aa46a0bffb.png)

However I'm using TS and my context is

[2020-01-30 08:56] davidkpiano commented on #969
Try `Interpreter<...>`.

[2020-01-30 12:29] davidkpiano commented on #807
This was released as `@xstate/vue`! Currently version 0.1.x

[2020-01-30 12:29] #807 closed

[2020-01-30 16:09] janmonschke commented on #965
I see, that would be nice!

[2020-01-30 23:13] Andarist commented on #965
Just my 2 cents - it's not that TS is not perfect with inference here. It's that in TS inference is local, really contextual (unlike as in the case of the, for example, Flow). So if you have created a function that returns an object it just doesn't have enough information to infer any better type than a "plain  object" of a given structure and because a regular object can be mutated after it has b

[2020-01-31 00:44] mastermike501 commented on #969
Hey David, thanks for the response.

I tried that but it just says `Type expected`. It's also the first time I've seen the spread operator being used inside a generic, but I can't find any documentation on that. 🙂

![image](https://user-images.githubusercontent.com/9069099/73502853-5502e600-4405-11ea-8feb-7e809f77edc9.png)

[2020-01-31 03:39] pawnnail opened #971 "Forbidden transitions not recognized"
Have noticed that forbidden transitions in strict mode are not accepted. The machine throws a strict mode error.

As per [documentation](https://xstate.js.org/docs/guides/transitions.html#forbidden-transitions) transitions defined as `undefined` or `{actions: []}` are meant to be recognized as valid transitions.  When a matching event is sent the machine throws an error.

Example:
[code]
Have been

[2020-01-31 03:41] davidkpiano commented on #969
🤦‍♂ Haha, what I meant was try `Interpreter<SomeContext, SomeEvent>`. Not literally those... fill those in.

[2020-01-31 07:05] mastermike501 commented on #969
Hmm that kind of leads back to square one since I did try with `Interpreter` before but that doesn't allow me to assign `null`.

[2020-01-31 07:40] Andarist commented on #971
Thanks for the report - I will take a look today at this, should be an easy fix. That said - could you describe your use case for strict mode? We are considering removing it in the future.

[2020-01-31 08:16] janmonschke commented on #965
@Andarist Yep, that is what I did in `c-machine.ts` in the CodeSandBox, as described above. I added another version `d-machine.ts` that has the correct types. This was more a question of how TypeScripe would be able to defer those types :)

[2020-01-31 11:38] Andarist commented on #965
Ah sorry, I have focused on the broken example and havent noticed that you had alternative solutions there 👍

[2020-01-31 13:11] janmonschke commented on #965
No worries, I'm happy that you had a look and we came to the same conclusion :)

Thanks to both of you for your quick responses!

[2020-02-02 05:42] 11111000000 commented on #255
there i no public link for now, so we use that in booking service

[2020-02-02 05:48] 11111000000 opened #972 "There is no standalone visual component"
**Description**
There is no standalone vis component

**Expected Result**
Standalone <Statechart machine={ machine }></Statechart>

**Actual Result**
https://xstate.js.org/viz/

**Reproduction**
- [XState Visualizer](https://xstate.js.org/viz/)

[2020-02-02 14:08] davidkpiano commented on #972
Working on this - it will be `@xstate/viz`

[2020-02-02 14:08] #972 closed

[2020-02-02 21:54] pawnnail commented on #971
Thanks for the prompt reply.
I don't intend to retain the strict mode in production, just for testing. In my case, a third party library emits a sequence of events, some undocumented. So I would like to catch all & fail-fast if some events are become unaccounted for in the machine. So outside testing I don't have a valid case for the strict mode.
Hope this helps
Irek

[2020-02-02 21:59] Andarist commented on #971
I've identified the problem, I'm just unsure if we should fix this right now. I need to think about it more and discuss it with David.

When we drop strict mode from the core in the next major, our recommendation for a replacement will be just using a wildcard descriptor on the root - you could try this strategy already.

[code]

[2020-02-03 00:47] pawnnail commented on #971
Thanks for the tip, works fine and seems to do exactly the same as the strict mode.

[2020-02-03 02:36] pawnnail commented on #971
Ok, the actual workaround to simulate a forbidden transition is to simply specify the self-transition explicitly, i.e. `'SOME_EVENT': 'sameState'`, and that's fine.

If you refer to using wildcard event transition instead of strict mode it has produced some unexpected behaviour.

The wildcard action `'*': { /* your logic of failing */ }` placed at the root level appears to get triggered by an even

[2020-02-03 03:43] davidkpiano commented on #971
This is expected. The guarded transition for `EVENT_FALSE` needs some condition (please use `cond: () => false`) to be satisfied. If it is not, then no transition matches, and it's as if there is no transition for that "falsy" event, so it falls back to `'*'`.

However, you can be explicit:

[code]

[2020-02-03 04:28] pawnnail commented on #971
Thanks for the explanation!

[2020-02-03 21:27] Glutnix opened #975 "[xstate/vue] useMachine(machine) with no second parameter causes errors"
**Description**

useMachine requires a second parameter to be at least an empty object, while documentation says it is optional

**Expected Result**

`useMachine(toggleMachine)` to work as documented

**Actual Result**

`useMachine` throws a type error when it tries to spread the second parameter when it's undefined.

**Reproduction**

https://codesandbox.io/s/xsharp-vue-usemachine-second-param-f5

[2020-02-03 21:37] davidkpiano commented on #975
Thank you for the repro! I'll take a look at this 🔜

[2020-02-04 13:26] #975 closed

[2020-02-04 16:12] semopz commented on #969
Have you tried using string identifiers instead of object getters? I don't use object getters as I just can't get them to work with TS.

[2020-02-04 20:17] davidkpiano commented on #969
Can you put this in a CodeSandbox?

[2020-02-04 20:20] davidkpiano commented on #869
I believe this is fixed. Check 4.7.8 and please report back if this is not working for you.

[2020-02-04 20:20] #869 closed

[2020-02-04 20:21] davidkpiano commented on #831
`@xstate/vue` is now available (pre-1.0) with the composition API - please give it a try!

[2020-02-04 20:21] #831 closed

[2020-02-04 20:23] davidkpiano commented on #795
Looks like this is now fixed in 4.7.x

[2020-02-05 10:47] axelnormand opened #979 "@xstate/test feature request: withTestMeta helper method"
Firstly thanks for such a great library. Was inspired by your write fewer tests talk to try and use xstate in our production code.
Just trying it our for now in a small react native project to drive react navigation for some user journeys

I wanted to use the same machine for the implementation, detox e2e tests and jest tests as inspired by your excellent talk.

I was wondering the best way to do

[2020-02-05 14:37] davidkpiano commented on #979
Hey, thanks!

In general, you should create _separate machines_ for implementation and testing. Your testing machine should be as a user would perceive your app to work (thus removing all the implementation details) - so if your implementation machine changes, the testing machine should definitely break (as expected). And then you would change your testing machine to match the new expected behavio

[2020-02-05 14:37] #979 closed

[2020-02-05 15:18] axelnormand commented on #979
Many thanks for the reply!
Will share my little test repo shortly.

Sorry all a bit new to state machines. Why is it better to create a separate test machine?
In this case anyway it's pretty cool to change the user flow, not have to do anything to the tests, and they still test all paths? (assuming no new states i need to add `meta.test` keys for anyway)

[2020-02-05 15:20] axelnormand commented on #979
`extendMachine` would deffo still be useful i this case if i create a test machine, can be consumed by both e2e and unit tests then

[2020-02-05 22:18] tivac opened #980 "@xstate/test .getShortestPathPlans() doesn't run all event cases"
**Description**

I've been experimenting with `@xstate/test` and trying to use it to test events that should be run with multiple `cases`.

**Expected Result**

Whether I use `.getShortestPathPlans()` or `.getSimplePathPlans()` all of the `cases` for each event would be taken into account.

**Actual Result**

If I use `.getSimplePathPlans()` all the event `cases` are used, as expected. If I use `.

[2020-02-05 23:02] davidkpiano commented on #980
As discussed on Gitter - this is as expected, because the events need to result in different states, and the reproduction always results in the same state, regardless of the event cases.

[2020-02-05 23:02] #980 closed

[2020-02-06 13:57] davidkpiano commented on #505
Closing this as assigners/property assigners do get the state meta information:

[code]

[2020-02-06 13:57] #505 closed

[2020-02-06 14:01] davidkpiano commented on #652
Closing as stale - type inference is correct and tests are passing 😄

[2020-02-06 14:01] #652 closed

[2020-02-07 06:44] tivac opened #981 "@xstate/test warns on final states and onDone handlers"
**Description**

If your test machine uses the pattern where you have a `type : "final"` state and its parent uses an `onDone` the implicit event fired by the `final` state will be logged as a warning unless you create a definition for it in `.withEvents()`.

**Expected Result**

No warning, it's not a normal event and doesn't need a user implementation.

**Actual Result**

Warning in the console

[2020-02-07 06:58] tivac commented on #981
I added some logging of the plans and paths and noticed something that seems strange.

[code]

Unless I'm misunderstanding the output here it thinks that `#menu.initial → #menu.later` and `#menu.initial.inner2 → #menu.later` are both possible via `done.state.menu.initial`. That seems wrong?

[2020-02-07 07:12] tivac opened #982 "@xstate/test removes function event params"
**Description**

We use functions for a lot of our mocks, so I was trying to set up a way to execute our mocked behavior in an event via `exec : (ctx, event) => event.mock()` and providing multiple different mocks as `cases` to represent the different ways the event could go. Not convinced that's the right way to treat it, but I found a surprising behavior regardless.

**Expected Result**

The fun

[2020-02-07 15:31] Blacktiger commented on #552
I noticed today that the spawn API is never really documented. You can get a lot of information from the "actors" guide, but the options are never described directly. In particular, the autoForward option isn't talked about but it would be nice to have an API doc somewhere that covers name, sync, and autoForward.

[2020-02-08 09:09] CodingDive commented on #969
@semopz use string identifiers where?

@mastermike501 you can try
`localOne: Interpreter<Context, Event> | undefined` then set the value to undefined when you define the initial context. Like David said, would need to look at a sandbox why null isn't working.

[2020-02-08 17:41] jaqmol opened #986 "TypeScript error-messages incomprehensible on attempt to invoke a service"
**Description**
I'm trying to use [this documentation](https://xstate.js.org/docs/guides/communication.html#invoking-promises) to wrap my head around integrating promise-based operations into a Xstate-machine while using TypeScript. I would like to pass on some properties of the original send-event. So that those, together with the results of a promise-based operation, are ending up in the context

[2020-02-09 04:23] davidkpiano commented on #986
The error is a bit obtuse, but just looking at the code, your invocation `src` should _not_ be an async function. Try refactoring it and you'll see the error go away.

[2020-02-09 09:12] jaqmol commented on #986
Thanks, that fixed it. But I'm a bit confussed about why. As far as I know the async keyword should just change the type of the return value to a Promise of some sort and that's what's expected as one of the possible return values anyways.
I'm still wondering how I would go about fixing such problems by myself. Without intricate knowledge about implementations details of Xstate and without botheri

[2020-02-09 10:28] jaqmol opened #988 "Documentation on invoking a service for TypeScript insufficient"
Referring to https://github.com/davidkpiano/xstate/issues/986

## Bug or feature request?
Request for better documentation about how to write service invocations in TypeScript. This is not sufficient: https://xstate.js.org/docs/guides/communication.html#the-invoke-property

## Description:
It's not clear how one would need to apply custom context and event types to get an invoke service to work to

[2020-02-09 10:47] nikogosovd commented on #720
What is the current state of this bug?

Also, it would be great if we could restore the entire statechart with nested machines from a state where some nested machine has stopped (the additional context of the bug report is saying exactly that).

I'm using xstate on the server and the statechart has some nested machines, and I want to restore from any state the statechart left in.

[2020-02-09 10:56] jaqmol commented on #988
Update: I just removed all the typing of my service and applied "any" to all contexts and events. Under this conditions TypeScript is swallowing the service. With the ugly side effect that I need to do manual type-checking for any- and everything. If a type-safe solution to this problem exists, it would be worth mentioning it in the documentation.

[2020-02-09 11:09] nikogosovd opened #989 "Complete context rewrite, not assign"
The currently existing assign action cannot delete properties of the context object. It only assigns new properties or changes existing ones.
Is there a way in xstate to assign a completely new object to the context in action?

If not, I see this functionality as a new function e.g. `replace` with the API similar to the existing `assign` function. It takes the context "replacer", which represents

[2020-02-09 14:56] davidkpiano commented on #989
Yes, you can change the entire context (replace it) like this:

[code]

See here: https://xstate.js.org/docs/guides/context.html#assign-action

[2020-02-09 15:07] davidkpiano commented on #720
It's a tricky bug/enhancement to do because there is a delicate balance between what XState should do and what should be done in implementation details.

For example, if a child machine starts by sending a POST request, you probably don't want it to resend that POST request when you restore the state, right?

Still thinking through this. It's not as simple as "just restore all nested machines" - t

[2020-02-09 15:09] davidkpiano commented on #988
I can't help the verbosity of the TypeScript errors. Can you please share the code (preferably in a CodeSandbox) that currently is giving you issues?

Again, do _not_ use `async () => ...` as a `src`.

[2020-02-09 17:12] haywirez opened #990 "Conditional actions"
I think the possibility of conditional actions should be entertained, similar to guarded transitions:

[code]

[2020-02-10 08:31] jaqmol commented on #988
It'll take me some time to rebuild the core of the issue without the whole complexity of my use-case. Please don't close the issue.

[2020-02-10 10:45] jaqmol commented on #988
Just lost 2 hour of work on CodeSandbox after it went into a save-error 502 frenzy. Sorry but I have to try again tomorrow. Please keep the issue open.

[2020-02-10 10:55] tanz645 commented on #380
Is there any way we can update the meta information like
[code]

[2020-02-10 10:59] semopz commented on #990
I normally have "decision point" states with [Transient Transitions](https://xstate.js.org/docs/guides/transitions.html#transient-transitions). All the conditions go in that state which leaves the states with `entry` actions simpler.

so each action in your `entry` example will have a corresponding state (and associated `entry` action) + 1 decision point state with all the conditions.

I see `entr

[2020-02-10 12:07] jaqmol commented on #988
I think I'm just giving up on Xstate. I'm utterly incapable of reproducing the issue in smaller scale and completely drowning in TypeScript error messages in my full project. To give you as taste of it:

[code]

Sorry, but this kind of complexity is nothing a can deal with on a tight schedule.

[2020-02-10 13:47] davidkpiano commented on #990
SCXML precedent: https://www.w3.org/TR/scxml/#if

[2020-02-10 13:50] davidkpiano commented on #988
@jaqmol That's fine (you're free to use something else), but for the record, the last two lines are what you need to look at:

Like I said, do _not_ use an async function. Refactor it.

[2020-02-10 14:37] Blacktiger opened #991 "Warning when spawning actor within an assign action"
**Description**
When spawning an actor within an assign action, I'm getting a warning about attempting to spawn an actor outside of a service.

**Expected Result**
No warning printed.

**Actual Result**
"Warning: Attempted to spawn an Actor (ID: "(machine)") outside of a service. This will have no effect."

**Reproduction**
https://codesandbox.io/s/tender-leavitt-mv9le

[2020-02-10 14:54] davidkpiano commented on #380
@tanz645 No, that's not what `meta` is for.

[2020-02-10 14:55] davidkpiano commented on #991
How are you spawning this?

Also, this will be solved more holistically in V5.

[2020-02-10 15:17] Blacktiger commented on #991
I've tried a few different methods, but the failing case is using this:
[code]

I can of course pull the spawn call outside of the helper function and into the assign action directly but that doesn't remove the warning.

[2020-02-10 15:20] jaqmol commented on #988
I thought so too. Unfortunately it was more complicated. I rebuilt the complete machine from the ground up, diligently taking care of any little change in compiler outputs with every thing added. There where 2 things going south: 1st me overlooking what the onError-callback delivers, I didn't expect a "data" property in the error-handler. The 2nd thing where my union-types in the src. They where c

[2020-02-10 15:33] nikogosovd commented on #989
Thank you for the immediate reply! Actually I tried the mentioned approach and it doesn't work as you described. Here is the reproduction: https://codesandbox.io/s/vigorous-volhard-f0en1

Am I doing something wrong?

[2020-02-10 15:54] nikogosovd commented on #720
Of course, I don't.

Yeah, I feel that this feature looks tricky and possibly includes a huge refactoring. For me, this feature will be useful because child machines have isolated contexts and when the child machine is done, its context doesn't pollute parent' context (or does it in a controlled way if I want it).

When I understand how the context may be completely rewritten (https://github.com/d

[2020-02-10 16:39] davidkpiano commented on #989
Would it be sufficient to just set `{ unwantedProp: undefined }`?

[2020-02-10 16:39] davidkpiano commented on #988
Awesome! V5 will have more helpers and better type safety for this. I'll be sure to add additional documentation around this.

[2020-02-10 16:39] #988 closed

[2020-02-10 18:44] semopz commented on #969
@CodingDive, yep my comment can be ignored. I don't know what I was looking at.

[2020-02-11 02:05] CodingDive commented on #991
Try this

[code]

[2020-02-11 02:55] tanz645 commented on #380
Alright, thanks for the reply.

[2020-02-11 14:38] Blacktiger commented on #991
@CodingDive https://codesandbox.io/s/awesome-rhodes-c42u9  uses your suggested syntax but it also throws the warnings.

[2020-02-11 18:50] davidkpiano commented on #991
This is solved in V5. Is it making your code not work?

[2020-02-11 18:54] Blacktiger commented on #991
I think the code might be working correctly. If so I should be ok to just ignore it for now. I was mainly just prototyping different ways to work with forms in my system to try to come up with an easy way to share as much code as possible between them as I have quite a few different configuration forms in my application.

[2020-02-11 19:16] davidkpiano commented on #991
Don't worry about the warning; it can be ignored for now.

[2020-02-11 20:10] frehner opened #993 "Invoked machines with data wipe out child machine's context"
**Description**
When you invoke a machine with context: e.g. parent -> child, and the parent needs to pass down a piece of context, you can use [data](https://xstate.js.org/docs/guides/communication.html#invoking-with-context) to do that.

However, what if the child has its own context it needs to keep track of? It appears that when using `data` to invoke the child machine, it completely wipes the

[2020-02-12 09:39] Nohac opened #995 "useMachine stops working after fast refresh"
**Description**
The `useMachine` hook works as expected in react native when the app loads for the first time, then after a "fast reload", the hook stops updating the state, `send` still works and the machine completes actions in the background, but the state is never updated.

**Expected Result**
When performing a "fast reload", the `useMachine` hook should still return the current state.

**Actu

[2020-02-12 13:57] nikogosovd commented on #989
Actually not, because when I’m saving a context with undefined props in MongoDB, it replaces them with nulls. Yes, there is an option in mongo driver that prevents this behaviour, but MongoDB drivers must not be responsible for xstate’s unexpected behaviour.

With all respect to the effort spent on xstate and appreciation for the hard work of supporting and improving the code, the fact that xstate

[2020-02-12 14:29] Andarist commented on #989
I agree that I would expect the same result as @nikogosovd suggests (and which @davidkpiano also thought that it would be the case), but I'm not sure if everyone would expect it the same way. Given the fact that this logic is already in place for quite some time already, I would consider changing it right now unsafe because it could break somebody badly.

That being said - I believe that this coul

[2020-02-12 15:05] davidkpiano commented on #989
This has a straightforward workaround: don't link XState's behavior directly to MongoDB, and instead introduce some sort of adapter layer:

[code]

Alternatively, you can have a property in `context` that represents the data to send to `MongoDB`, and `assign({ thatProp: () => {...} })` will work as expected (regarding removed properties) since it doesn't deep-merge.

[2020-02-12 15:24] nikogosovd commented on #989
@Andarist You are right, this fix can break someone's code. That's why an introduction of the `replace` function as I described in the first message here will not break anything. And then, the upcoming v5 may merge this functionality into the `assign((ctx, event) => ({/* ... */}))` like calls and remove the `replace` function. What do you think?

@davidkpiano thank you for the detailed workaround

[2020-02-12 15:28] kingcars opened #996 "Question: Use of autoForward in conjunction with onDone and onError"
## Bug or feature request?

Potentially a bug, but could just be incorrect implementation patterns

## Description:

I'm currently working on a complex admin application which requires heavy use of hierarchical machines and parallel states; essentially, we have a main `parent` machine for each page in the admin, and each modal/banner/etc within that page gets spawned as a child machine or parallel

[2020-02-12 16:40] Andarist commented on #996
Thanks for the great repro case! Things like this shortens the feedback loop for reporters - they allow us, maintainers, to jump into answering **much** quicker (or at all, as we just can't always afford to setup repros on our own and issues get lost).

### issue number 2 (the third test in your repro)
it's not the parent machine that fails, but it's rather the inner machine (the one that has `aut

[2020-02-12 17:33] simonflk opened #997 "Visualizer crashes with `assign({ foo: null, bar: undefined })`"
**Description**

`assign()` accepts an `object` whose values are either plain values or functions that return new values. Visualizer is ok with plain values as long they are not `null` or `undefined`

**Expected Result**

Visualizer should not crash

**Actual Result**

Visualizer crashes with one of these errors:
[code]
or
[code]

**Reproduction**
[code]

[2020-02-12 17:37] davidkpiano commented on #989
Greatly appreciated, @nikogosovd. I will add a test in V5 to ensure the assign replace behavior is exactly as you expect it to be here.

[2020-02-12 19:13] kingcars commented on #996
Thanks for the quick response! I had a suspicion that `autoForward` in general is a really difficult and tedious feature to implement with all the potential for corner cases, so I definitely understand. For issue #2, we're currently implementing the workaround from the demo page of simply moving our API calls off of the parent machines and into child machines, which isn't a big deal and probably c

[2020-02-12 23:01] Andarist commented on #996
I've diagnosed the issue number 1 further - it's actually simpler than I have thought.

`done.invoke.id` events are just regular events in SCXML, so when the invoking sessions receives such it process it "as normal" and thus it also forwards it to the session which has generated it. SCXML doesn't describe how to manage your invoked sessions at all, so there is no guidance on that.

I think the bes

[2020-02-12 23:17] Andarist commented on #989
I have also thought that this change would be sound and good at first, but now I'm questioning it a little bit.

1. It deviates from the SCXML and makes the conversion harder
2. It hides implicit behavior - which is "remove other keys", but which keys are those? what if we add more context keys in the future? with the proposed change they would be removed as well, potentially introducing an easy t

[2020-02-12 23:23] Andarist commented on #995
I'm afraid that we are not React Native developers on a daily basis and fast refresh is not yet available on the web, so we don't quite know how it works exactly and what kind of constraints does it impose. From what I understand it should "just work", but apparently it doesn't. Could you dig into this deeper to provide us more information about the problem?

[2020-02-12 23:43] Andarist commented on #991
@Blacktiger your latest sandbox is not working properly, because it's using an older version of XState - if you upgrade it to the latest one then it works as expected and you receive no warnings of this kind.

There is another warning related to `sync` option though. It might be that your child actor gets actually spawned when reading `.initialState`, which would definitely be not a good thing. A

[2020-02-13 03:41] akbr opened #998 "send API differences?"
`service.send` will accept a string followed by an object payload. (https://xstate.js.org/docs/guides/interpretation.html#sending-events)

But when invoking callbacks, the `callback` argument (which sends an event to the parent) does not. (https://xstate.js.org/docs/guides/communication.html#invoking-callbacks)

Any reason for this discrepancy? I've tripped over this a few times now.

[2020-02-13 10:19] Andarist commented on #998
I don't think there is any particular reason for this discrepancy. I think that we should just unify both in the upcoming v5 and drop support for `service.send(type, payload)`. That would also match `send` action which doesn't support this `(type, payload)` thing. @davidkpiano WDYT?

[2020-02-13 11:58] sibljon commented on #947
Just wanted to call out that this work around doesn't solve the TypeScript error for me in the aforelinked Code Sandbox.

Regardless, thank you for this great library and constant support.

[2020-02-13 11:58] sibljon commented on #947
P.S. sign up as a Brave Content Creator to be able to receive BAT tips 💪

[2020-02-13 13:42] davidkpiano commented on #998
For V5, here's what we should do:

- ✅ Keep `service.send(string)`
- ➕ Allow `actor.send(string)` (can really be `actor.send(any)` - implementation details should not be mandated by XState)
- ❌ Remove `service.send(string, payload)`
- ✅ Add `send(string, payload)` to:
  - `@xstate/react`
  - `@xstate/vue`
  - All other future framework integrations
- ✅ Keep `service.send(object)` and `actor.send(o

[2020-02-13 14:18] Blacktiger commented on #991
Correct, with this setup I'd need to skip most of the component's logic during the initial state. I don't really see any other way to handle it though unless I want to spawn the field machines outside the form machine and inject them as initial context.

[2020-02-13 14:19] Andarist commented on #991
I believe that ideally, you should be able to do exactly what you do and there is a small problem on our side, which we need to figure out.

[2020-02-13 14:23] Blacktiger commented on #991
Nice catch, if I just update to xstate 4.7.8 it appears that the warning is fixed. In that case this issue can be closed.

[2020-02-13 14:23] #991 closed

[2020-02-13 16:43] akbr commented on #998
A little sad to lose `send(type, payload)` from the interpreter — imho, it's a very intuitive expansion of the `send(string)` form. That said, a consistent, simpler API for core probably makes the most sense.

[2020-02-13 17:15] Andarist commented on #998
We already use a certain "protocol" for sent events (that it is an object with a type property) and we send such to actors. IMHO it's a good thing to enforce this simple (and familiar to most) protocol as it simplifies the implementation in most cases and makes things more predictable by removing the need for defensive code. Seems like a good common denominator that should/could be enforced. If on

[2020-02-13 18:12] davidkpiano commented on #998
It will not and it has not (or at least I haven't heard anything about it yet). It's a developer experience item, influenced by Vuex: https://vuex.vuejs.org/guide/actions.html#dispatching-actions

If you feel strongly about removing it, we can ask the community what they think, but I feel like it's a harmless and useful addition.

[2020-02-13 18:14] davidkpiano commented on #998
We can forego `actor.send(string)` but definitely not `service.send(string)` - that is in very common use.

[2020-02-13 18:16] davidkpiano commented on #998
@akbr A simple change can be made to allow passing strings to `callback(stringType)`, which will be equivalent to `callback({ type: stringType })`

[2020-02-13 18:40] pandomic opened #999 "onDone is not fired anymore for parent nodes starting from 4.7.1"
**Description**
Starting from `4.7.1` `onDone` is not fired for the parent node. This happens for transitions and actions (in the example below you may find two versions).

**Expected Result**
When reaching a final state, `onDone` should be triggered for the parent node.

From the example below, the output should include either `ENTERING "WORLD", DONE` or `ENTERING WORLD, ENTERING "LITTLE"` depend

[2020-02-13 19:56] davidkpiano commented on #999
This is expected and specced behavior:

In this case, the machine is that top-level `<scxml>` element. When a machine reaches its final state, it is terminated (hence "final").

You probably didn't mean to use `type: 'final'` here.

[2020-02-13 19:56] #999 closed

[2020-02-14 03:22] Iskereat opened #1001 "XState Viz crashing"
**Description**
When i try the paste code below it crashes and the screen goes white.

I get a "Uncaught TypeError: Cannot read property 'indexOf' of undefined" error.

**Reproduction**

post below xstate.
It seems to be something with the actions?
I removed them and it worked fine.
I dont think the problem is on my end (im a newb so maybe idk)
[code]

[2020-02-14 22:22] Nohac commented on #995
So I ended up trying out the hook that was used in this youtube video https://youtu.be/73Ch_EL4YVc
I rewrote it to typescript, and that ended up working fine. Here's the code for anyone interested:
[code]

My biggest suspicion lies with the use of `useConstant` instend of `useMemo`, but I haven't been able to confirm that yet.

[2020-02-14 22:56] Andarist commented on #998
Just a note - I was strictly advocating for removing `send(type, payload)`, not a simple `send(type)` form, and was arguing against supporting `send(any)` in actors.

IMHO it's (`send(type, payload)`) just yet another way of doing the same thing (the third one), which for me seems like too much - such things often only bring inconsistencies across codebases and needless discussions in teams about

[2020-02-14 23:38] Andarist commented on #995
That's also my suspicion, but would be great to confirm it and to actually understand why this happens. From what I understand Fast Refresh tries to "sync" states before & after refresh and I would expect a similar thing to happen for refs, and if this cannot be done Fast Refresh should cause a full reload in such a case (its the fallback behavior I believe). This technique (useConstant) is mentio

[2020-02-14 23:55] Nohac commented on #995
You're completely right, I don't have the `useConstant` version, sorry about that. I only looked at the code on github since "go to definition" only takes me to the `index.d.ts` file.
So it's possible that the next release will work, then.. What is the easiest way to test the new changes?

[2020-02-14 23:58] Andarist commented on #995
[code]

[2020-02-15 00:14] Nohac commented on #995
Same issue with that version, however, it gave a warning this time:
[code]
And when trying to send an event after fast refresh:
[code]

[2020-02-15 07:54] Andarist commented on #995
Could you paste in the code of your component?

[2020-02-15 11:16] Nohac commented on #995
This is essentially what my code looks like, but simplified.
Tested with `@xstate/react@1.0.0-rc.3`, same problem.
[code]

[2020-02-15 12:05] Andarist commented on #995
Ok, i think the whole module reloads so `myMachine` gets recreates - which is not good for us. Could you create a repro case for this using expo? I would love to take a look at how exactly this behaves and having a repro case would allow me to jump into this quicker

[2020-02-15 12:39] sarimarton commented on #906
Can't it be answered? We can assume that middlewares are interceptor responders to dispatched events, so in case we have a LOAD_STARTED and LOAD_SUCCESS event, and we go back to LOAD_STARTED, then the time travel engine sets the store to the snapshot before LOAD_STARTED, dispatches LOAD_STARTED, and then the middleware re-runs the fetch.

What's the catch in this?

[2020-02-15 13:50] davidkpiano commented on #906
That doesn't fit every use-case. If some fetch already ran, you might not want to run it again.

[2020-02-15 14:08] davidkpiano commented on #998
I suppose a good compromise would be a helper function:

[code]

[2020-02-16 14:34] CodingDive commented on #547
I'm running into the same problem with services when invoking a promise. The promise is being executed twice.

The parent machine is responsible for invoking a promise and changing states accordingly while the child machine is responsible for sending the event to the parent.

[code]

(`grandParentMachine` invokes `parentMachine` which invokes `childMachine`)

Any idea how I could prevent the servi

[2020-02-16 15:42] Andarist commented on #547
@CodingDive could u prepare a runnable repro case?

[2020-02-16 20:34] davidkpiano commented on #547
Also, you can specify effects as the second argument:

[code]

Anything passed to `actions`, `services`, etc. _will be updated internally_, so the machine will never reference stale values when executing side-effects.

[2020-02-16 20:36] CodingDive commented on #547
Here is the repro. https://codesandbox.io/s/magical-cloud-pv0i1
Click on the button and check the console.

[2020-02-16 20:40] CodingDive commented on #547
@davidkpiano what do you mean with updated internally? Services might still be executed twice but they won't have stale values or something different?

[2020-02-16 22:00] CodingDive commented on #995
This isn't limited to the fast refresh of React native. I've been using fast-refresh in my CRA project for quite a while now using https://github.com/esetnik/customize-cra-react-refresh. I had to manually refresh the browser on every change as the machines stopped handling events. That being said, the state was always preserved correctly.

@Andarist if you would you rather debug this with normal R

[2020-02-16 23:00] Andarist commented on #547
This happens because you are using execute with the latest state which holds to last executed actions and thus you are re-executing them:
https://github.com/davidkpiano/xstate/blob/a6d7d28a42f7b57083c5cc85db2132773c07be71/packages/core/src/interpreter.ts#L246-L252

I wouldn't recommend this pattern of calling `execute` from the effect based on the `state`. You should rely on how XState executes ac

[2020-02-16 23:01] Andarist commented on #995
@CodingDive that would be sweat!

[2020-02-16 23:24] CodingDive commented on #547
Thank you for the clarification. I'd normally pass actions or services to the `useMachine` but when I'm already working with a service/actor reference (`parentRef`), I'm not aware how to inject actions other than calling `ref.execute` within the `useEffect`.

How could I pass some actions to the interpreter without reexecuting the service? Most actions I pass in there are not reliant on the machin

[2020-02-17 01:44] fasiha commented on #965
Could this possibly be related to why the example in https://github.com/davidkpiano/xstate/tree/master/packages/xstate-react#configuring-machines- no longer compiles with TypeScript 3.7.5 (current as of now)? I couldn't resolve the error by adding `as const` to any strings.

The error is absolutely inscrutable, apologies for deciding to include it:
[code]

[2020-02-17 03:30] davidkpiano commented on #547
When you're already working with a live service instance, you can't stop it from executing side-effects. It's a shared instance with side-effects that _will execute_, so you deciding to also `useEffect(...)` to execute your own side-effects on top of that must take that into consideration.

If you want to share a service that does not execute side-effects (and instead hand that responsibility to c

[2020-02-17 03:33] davidkpiano commented on #965
@fasiha Can you put that in a CodeSandbox and open a separate issue for it? Thanks!

[2020-02-17 03:59] sukima commented on #463
@alizbazar Could you expand on how this is a closed discussion? I've red ever conversation in here and I was unable to discover a resolution/consensus.

I can produce with the latest XState V4 (in production today!) with https://xstate.js.org/viz/?gist=3b570a34ea938bd5a7f6692e11272bad

[code]

There are no unhanded exceptions in the console (FF 73, Chrome 80). How would one make sure that a reject

[2020-02-17 04:04] sukima commented on #463
This can be further complicated if an onError/action throws an exception resulting in an undefined react error: https://xstate.js.org/viz/?gist=efb5e501a585bf7533d1122117209b5a

[2020-02-17 08:40] Andarist commented on #547
Well - if you made particular responsibility a part of a particular machine then I would say that it's much better to colocate this stuff with it. It's basically a similar problem (& solution) to React's [lifting state up](https://reactjs.org/docs/lifting-state-up.html#lifting-state-up)

[2020-02-17 09:18] CodingDive commented on #547
It's not that I necessarily want to use useEffect, I just want a way to pass an action to the live service.

I guess as of now, I could either pass the action to the event of the grandParent machine which spawns the service. That feels rather dirty `parentRef: (context, event) => spawn(parentMachine.withConfig({ actions: event.actionDump})`

Or move every action to the top of the hierarchy chain.

[2020-02-17 11:09] Nohac opened #1009 "Highlight transition line on hover in visualizer"
**Description**
If there are a lot of transitions overlapping in the visualizer, it's impossible to know where the transition ends up. It would be nice if the transition line would be highlighted on mouse hover.

![states](https://i.imgur.com/Gthfszs.png)

[2020-02-17 11:10] Andarist commented on #547
This kinda baffles me - maybe I don't understand the whole context that you have in mind.

On the one hand - you want to have this managed inside `todosMachine`, but on the other hand you want to only have it partially. Which exact parts would you like to have at which place? Seems like you want to have events and actions higher in the tree (parent/grandparent component) but you want to have an ac

[2020-02-17 12:19] CodingDive commented on #547
I was saying managing this within the todosMachine is the wrong place as the ref and correspondingly the action exist further down the component/machine hierarchy.

Your solution of passing the parent service into the child component and onto `parent` is super cool! I love your solution because it colocates the action with the component where the action actually takes place. This is exactly what I

[2020-02-17 13:55] fasiha opened #1010 "@xstate/react example fails to compile in TypeScript"
**Description**
The example in the documentation for @xstate/react under ["Configuring Machines "](https://github.com/davidkpiano/xstate/tree/master/packages/xstate-react#configuring-machines-) fails to compile in TypeScript.

**Expected Result**
The example to compile.

**Actual Result**
This compiler error:
[code]

**Reproduction**
https://codesandbox.io/s/relaxed-https-lo7u4 (I used the Vanilla

[2020-02-17 14:03] davidkpiano commented on #1010
This is because TypeScript can't fully infer the types of the `assign(...)` calls in `onDone` and `onError`.

To fix, it's important that if you use `context`, you provide a generic type for context in your machine.

In short, this fixes the problem:

[code]

[2020-02-17 14:03] #1010 closed

[2020-02-17 16:18] davidkpiano commented on #547
I only skimmed the above comments (sorry!) but in general, I think there is a missed point about a machine vs. a service:

A machine is a template for creating a service. When you call `useMachine(...)`, the service is created with the actions that you specify, because the server doesn't exist before calling `useMachine(...)`.

When calling `useService(...)`, the service **already exists.** It's s

[2020-02-17 19:48] davidkpiano commented on #1009
This will be fixed in the next update.

[2020-02-18 00:28] CodingDive commented on #995
@Andarist https://github.com/CodingDive/xstate-cra-fast-refresh-example didn't work within a Codesandbox probably because their templates are still on CRA v1.

[2020-02-18 07:37] Nohac commented on #995
@CodingDive It's the same as I'm getting with react native. I also updated and tested with 1.0.0-rc.3 which gives me the same warnings as I mentioned earlier.

[2020-02-19 17:12] CodingDive commented on #547
Thank you for the great analogy @davidkpiano. With the analogy in mind, whenever I wrote that I want to inject or pass an action into the live service, I should've said: "I want a way to react/subscribe to an action from within React."

I want to use the example of this [Codesandbox](https://codesandbox.io/s/nifty-banach-dvvx2?fontsize=14&hidenavigation=1&module=%2Fsrc%2FParent.tsx&theme=dark) to

[2020-02-20 10:31] marceloadsj commented on #1001
I think your **entry** keys should be a string or an array of strings.

[2020-02-20 14:50] wereHamster commented on #947
I wrote myself this little helper to work around this issue:

[code]

Hm, actually it could be simplified to this probably:

[code]

[2020-02-20 16:31] andrewgordstewart opened #1013 "[Docs] Clarify transition configuration options"
**Description**
It's possible to define a transition config at the machine level. There are, in fact, examples of this [in the guides.](https://xstate.js.org/docs/guides/transitions.html#multiple-targets) However, it's probably worth spelling that out at the start of the [transition section,](https://xstate.js.org/docs/guides/transitions.html) since that's where I'd expect to find out where and ho

[2020-02-20 18:21] Andarist commented on #963
I've educated myself about ESM support in node@13 and I think I understand its intricacies now. It's not as easy to support it as I have thought - when you also want to support older nodes, bundlers etc (and we do).

I will explore making it work in v5, but at the moment I don't think it's worth it to include this in v4.

If you want to patch your node_modules and xstate in it then I think this sh

[2020-02-20 18:47] davidkpiano commented on #947
Make sure you're using the latest version of TypeScript as well. For anyone who is still seeing issues, what version of TS do you have?

[2020-02-21 12:04] semopz opened #1014 "Can't get pure() actions to work"
**Description**
Using `pure()` in xstate 4.7.8 seems to just throw errors or log warnings. Tried using it in event `actions` and state node `entry` and get the same result.

Got usage instructions from [a discussion](https://spectrum.chat/statecharts/general/conditional-raise-inside-a-declared-action~c4531b4c-b5f1-406f-9294-abce524660cb) that I didn't want to hijack.

**Expected Result**
When I re

[2020-02-21 12:05] Khaled-Ch opened #1015 "Compilation issues with Typescript v3.8.2 & xstate v4.6.7"
I am using xstate version 4.6.7 and typescript version 3.8.2.
I am having the following issue during the compilation process of my project.

` node_modules/xstate/lib/interpreter.d.ts:17:22 - error TS2589: Type instantiation is excessively deep and possibly infinite.`

`export declare class Interpreter<TContext, TStateSchema extends StateSchema = any, TEvent extends EventObject = EventObject, TTyp

[2020-02-21 16:41] davidkpiano commented on #1015
Is it possible to upgrade XState?

[2020-02-21 16:43] davidkpiano commented on #1014
Please keep in mind that `pure()` is still being developed and not part of public API yet. I'll look into this.

[2020-02-21 16:48] Khaled-Ch commented on #1015
typescript v3.8.2
xstate v4.7.8
Still same error.

[2020-02-21 16:58] davidkpiano commented on #1015
It's difficult to know what the issue is without seeing a reproducible code example, please

[2020-02-21 17:36] Khaled-Ch commented on #1015
Dependencies in package.json file:
`"dependencies": {
"typescript": "^3.8.2",
"xstate": "^4.7.8"
}`

tsconfig.ts file:
`{
  "compilerOptions": {
    "module": "commonjs",
    "declaration": true,
    "noImplicitAny": false,
    "removeComments": true,
    "noLib": false,
    "allowSyntheticDefaultImports": true,
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
    "target": "

[2020-02-21 21:12] andrewgordstewart commented on #1013
@davidkpiano I put together [this diagram](https://xstate.js.org/viz/?gist=319012b0c128bac986cf8da0f4003ca9) which (I think?) is an overview of
- All of the places where a transition can be defined
  * including `onDone` and `onError` transitions in
- All of the ways of targeting states

What about including something like that in the guides as a quick reference for transition configs?

[2020-02-21 23:01] davidkpiano commented on #1013
@andrewgordstewart That looks great.

Note: I don't want to encourage `on: { ... }` transitions on the machine (top-level state node) level, because that goes back to an event-first paradigm, which is what causes the bugs that state machines solve.

In short, the docs should say that it _can_ be done, but only when needed.

[2020-02-22 10:42] Andarist commented on #1015
This is not a repro case though - to investigate we need to have a runnable, complete, repro case

[2020-02-23 09:13] davidkpiano commented on #547
Simpler idea:

[code]

https://codesandbox.io/s/distracted-keller-gbhk5

[2020-02-23 09:50] Andarist commented on #547
Keep in mind that you should not use XState's state as a dependency of an effect, because you might miss stuff when React decides to batch subsequent rerenders.

A more safe version of this would look something like this:
https://codesandbox.io/s/admiring-thompson-o5wbo

I still have to read carefully through @CodingDive's latest post so I can post a comment on all the mentioned concerns etc, but

[2020-02-23 11:13] 0xR opened #1020 "Using rehydrated state causes error when accessing `currentState.nextEvents`"
**Description**
I'm trying to persist the current state to disk, but when using this to rehydrated state I get the error  `Cannot read property 'map' of undefined` when accessing `currentState.nextEvents`. After some debugging I discovered then when I use `JSON.stringify(currentState)`, `currentState.configuration` is not part of the resulting JSON. It seems there are circular references or someth

[2020-02-23 20:51] kpollich commented on #1015
Hi all! I'm running into the same TypeScript compilation error as @Khaled-Ch.

Here's my dependency versions per `package.json`

[code]
I've pushed this up to a CodeSandbox, but I haven't used their server-side templates much. Hopefully it's functional for everyone!

https://codesandbox.io/s/github/kpollich/hangman

I've also pushed the code up to GitHub here: https://codesandbox.io/s/github/kpoll

[2020-02-23 23:53] CodingDive commented on #547
`useAction` seems indeed like a beautiful API. Since it just works on any service, one can react to child services, which should allow me to spawn actors like I'm used to and prevents me from having to pass down the `parentService`.

[code]

Since it doesn't use `execute`, it also won't run any side-effect twice. 🎉 This is exactly what I hoped for. I love it! 😍

@Andarist you can ignore my long po

[2020-02-24 01:34] hrafnkellpalsson commented on #1013
Yeah, that had me confused when reading about self transitions since those examples use transitions at machine level.

On a related note the wordMachine in the [docs](https://xstate.js.org/docs/guides/transitions.html#internal-transitions) doesn't work in the visualizer, it doesn't seem to like the machine id being used in the full path 'word.justify' in the JUSTIFY_CLICK event and gives an error

[2020-02-24 01:52] hrafnkellpalsson commented on #1013
[Here's](https://xstate.js.org/viz/?gist=bffa24ddda74e48dfe0dc89c0b811e8f) another simpler example of self transitions. In this case the node being entered and exited is not a parent node of anything, so maybe the emphasis in the docs about _parent_ actions being executed or not (external vs internal) is not the right strategy?

[2020-02-24 01:55] hrafnkellpalsson commented on #1013
In hindsight, I probably should have created a new issue, I just that I started investigating self transitions in more detail because of confusion about transitions at the machine config level.

Will happily create a new issue if appropriate!

[2020-02-24 02:34] davidkpiano commented on #1015
@kpollich @Khaled-Ch Can you please try with `@xstate/react@next`?

[2020-02-24 02:45] davidkpiano commented on #1013
That sounds appropriate, thanks!

Also, feel free to contribute a better example; I'll gladly use it.

[2020-02-24 02:58] Khaled-Ch commented on #1015
For me solved by adding this to my tsconfig.json
```"skipLibCheck": true```
Now able to compile without no problems

[2020-02-24 12:54] kpollich commented on #1015
@davidkpiano Updating to `@xstate/react@next` fixed my issues. Thank you!

[2020-02-24 23:13] Andarist commented on #956
@schemelev I think I've fixed another memory leak in https://github.com/davidkpiano/xstate/pull/1023 . Would you be able to check if this patch helps your case?

[2020-02-25 14:21] schemelev commented on #956
@Andarist Thanks! I will do a test of this patch in the near future.

[2020-02-25 15:47] ZempTime opened #1025 "es modules/web versions of @xstate/test & @xstate/graph"
**Description**
Would like es/web exports for `@xstate/graph` and `@xstate/test` so I could:

[code]

**Expected Result**
I expected to be able to pull these in without needing to modify testing config.

**Actual Result**
<img width="1542" alt="Screen Shot 2020-02-25 at 9 40 32 AM" src="https://user-images.githubusercontent.com/3596468/75262967-ea9a5700-57b2-11ea-87c5-60bdd94ff9c1.png">

**Reprodu

[2020-02-25 15:59] mymai91 opened #1026 "Delayed Events not working"
I'm trying to use **Delayed Events**
https://xstate.js.org/docs/guides/delays.html#delayed-events

I defined actions:

[code]

If I use either the setTimeout or only send the type the code work well

[code]
Or

[code]
But send with option delay. This event is not running the REACHED

[code]
I don't know is this my approach is wrong or delayed-events is not working.
I'm using version **4.7.8**

Giv

[2020-02-25 17:27] davidkpiano commented on #1026
Please read the warning:

[2020-02-25 17:27] #1026 closed

[2020-02-25 17:31] davidkpiano commented on #1025
I would accept a PR for this, if you could 🙏

[2020-02-25 20:21] NerdCowboy opened #1027 "Expose machine's states as parent-level booleans"
## Bug or feature request?
Feature Request

## Description:
Expose machine's states as parent-level booleans. Mostly just want for syntactic sugar as writing `state.isLoading` in JSX/templates is easier to write/read than `state.matches('isLoading')`

Happy to try my hand at a PR, but wanted to see if it's something you like first.

## (Feature) Potential implementation:
Would need to loop through

[2020-02-25 20:43] davidkpiano commented on #1027
This is something that will likely not be built into core XState, but you're more than welcome to create a package for this in user-land!

The reasoning: `state.isLoading`, using `is` as a convention for "**is** in this state", can bet better represented by something non-convention-based, like `state.is('loading')`, which... is essentially what `state.matches('loading')` is. And `matches` is a bet

[2020-02-25 20:43] #1027 closed

[2020-02-26 01:43] mreinstein opened #1029 "xstate/fsm: state.changed is undefined when service first starts"
Setup code:

[code]

I see this in the console:
[code]

[2020-02-26 01:45] mreinstein commented on #1029
I'm thinking this is related to #826 , like we're not setting the changed value as expected when we run the initial state's entry callback

[2020-02-26 02:10] davidkpiano commented on #1029
This is expected. The very first state can't be considered changed or unchanged from some previous state (which does not exist)... and `undefined` represents that it does not exist.

[2020-02-26 02:11] davidkpiano commented on #1029
Although... are you seeing two `init` updates in the console? Can you share a reproducible code example? That might be a different bug.

[2020-02-26 02:27] mymai91 commented on #1026
Hi @davidkpiano

This is my elevator Machine. Can you help me take a look at actions: `errorPressDirection` and activities: `moving`

Thanks so much.

[code]

[2020-02-26 07:28] davidalekna commented on #1015
I'm also getting this error and updating to `"@xstate/react": "^1.0.0-rc.3"` doesn't solve my issue. I'm working with a component lib and when compiling with `tsc` this is being thrown no matter what I do 😩

[2020-02-26 09:48] schemelev commented on #956
A superficial check showed that a memory leak remained. After the release of version 5, I plan to do a detailed study of the problem. If the problem remains, I will make a repository with a minimal case.

[2020-02-26 09:57] wildskyf commented on #993
Here is my solution:

[code]

[2020-02-26 10:26] davidkpiano commented on #993
This is currently "by design" but the way that context will work in V5 is by shallow merging, so you won't have this problem.

[2020-02-26 11:29] Andarist commented on #956
Could you tell me how have you tested this?

@smirzo has provided a repro case (at least for one of the problems) and when testing this fix he has thought at first that the issue hasn't gone away because the memory was increasing but when monitoring the heap over a longer period of time he has noticed that memory is actually freed after some time. My conclusion was that GC just wasn't that eager a

[2020-02-26 11:31] SaulEntersekt commented on #986
I'm running into the same issue with the base example.

[2020-02-26 14:06] mymai91 commented on #1026
Hi @davidkpiano,
I really want to hear your opinion.

[2020-02-26 15:29] Andarist commented on #1026
Please be patient - you can't expect to always get a response immediately. I bet David has seen your previous post or will get to it **when he can**. We have lives and we do this in our free time.

[2020-02-26 16:03] mymai91 commented on #1026
@Andarist yah, I know. I'm asking like a normal way. I don't rush. I just want to let him know that I shared the code and wanted to hear his opinion about my approach. It does not mean I'm asking he have to answer asap and I don't mean disturb his life. The difference timezone is one more reason.
And I apologize if  either you or he feel frustrating

[2020-02-26 17:18] mreinstein commented on #1029
It's possible I mangled the example in my attempt to keep the setup code as simple as possible.

I'll construct a working example right now to validate that this extra `init` update is really happening. I'll post here with whatever I find.

[2020-02-26 17:44] jbreckmckye opened #1031 "Question: how to listen for final states in React components?"
This is a somewhat open-ended question and is arguably a bit of an X/Y problem.

Today I was trying to write a UI component that used XState to model its state.

The component was a kind of date picker. It could return either a Date or a null representing whether or when an event had occurred. The UI had two states: a low-resolution state (has the event occurred?) and a high-resolution state (when

[2020-02-26 17:45] mreinstein commented on #1029
test.js
[code]

output:
[code]

looks right to me! I must have mangled the example. Sorry about that!

[2020-02-26 17:46] #1029 closed

[2020-02-26 18:38] davidkpiano commented on #1031
This is the problem:

[code]

Because you're calling `service.onDone(...)` in the component function scope, it will be called _on every rerender_, which means you will be registering that `props.submit` function more than once.

There's two solutions to this:

1. Idiomatic React: make this call in `useEffect()`:

[code]

2. Use an action in the machine instead, in your `'DONE'` state:

[code]
[cod

[2020-02-26 18:38] #1031 closed

[2020-02-26 18:42] davidkpiano commented on #1026
@mymai91 Great elevator example, can you put this in a CodeSandbox?

Also, the activity should be considered fire-and-forget, so what you really want here is to invoke a service:

[code]

And invoke it this way:

[code]

[2020-02-26 18:46] jbreckmckye commented on #1031
Ah! I'm an idiot! I forgot to wrap my call in a `useEffect`! So therefore every re-render will re-bind the function call. That explains it.

Thank you for answering so swiftly.

[2020-02-26 22:27] Andarist commented on #1026
And that `reachedLevel` should be most likely refactored to a guarded transient transition, smth like:
[code]

[2020-02-27 14:57] mymai91 commented on #1026
@davidkpiano
Thanks for your answer. I think, invoke a service is exactly what I need but the only thing is it might not support `delay` (I read the document and see that https://xstate.js.org/docs/guides/communication.html#invoking-callbacks)

I still using setTimeout for my purpose because I want the level_value slowdown transition 1 second.
This is my demo: https://codesandbox.io/s/thirsty-rain

[2020-02-27 15:58] ZempTime commented on #1025
I got graph building on a local branch. How should I handle the shared config across packages? cc @Andarist . Here's a list of approaches I can think of:

* Keep it in root of monorepo & pull it in
* Separate it out into it's own package [example](https://github.com/open-wc/open-wc/tree/master/packages/building-rollup)
* duplicate across all places (core, graph, test)

Would one of these be prefer

[2020-02-27 16:31] davidkpiano commented on #1026
@mymai91 No problem; feel free to ask in spectrum.chat/statecharts so we can help you further.

[2020-02-27 16:32] Andarist commented on #1025
For now, just duplicate it. V5 branch has already a completely new build setup using [preconstruct](http://preconstruct.tools/), so most likely your work will be removed (sorry!) when we merge back master to the next branch - that setup should have it already covered.

Are you interested purely in ESM builds or do you want to consume them somehow in browsers **without** a bundler?

[2020-02-27 19:40] adamkl commented on #1015
@davidalekna Just an FYI, `xstate@next`, as per npm, refers to `4.7.0-rc6` from 4 months ago. So I think you fixed the problem by downgrading `xstate`.

I'm running `@xstate/react@^1.0.0-rc.3` and `xstate@^4.7.8` and still seeing the issue.

`skipLibCheck` in my `tsconfig.json` didn't seem to help either.

[2020-02-27 20:09] adamkl commented on #1015
A follow up; downgrading from `typescript@3.8.2` to `typescript@3.7.5` got me up and running again for now.

[2020-02-27 22:10] ivorpad commented on #1001
The problem is not what's wrong in this code, the problem is that while I was making a state machine the XState Viz crashed and I lost all my progress. I know it's my fault but still is worth noting it.

[2020-02-27 22:35] garrettlancaster commented on #351
Hi @davidkpiano , I am still having this issue even on master branch -- is there a different branch I should be working from?

I receive `scheduler.js:87 Uncaught Error: Unable to send event to child 'computedFilters' from service '(machine)'.` and `service.children` is empty while `service.state.children` shows the invoked computedFilters machine.

For reference, here is the relevant part of the

[2020-02-28 00:42] marceloadsj commented on #1001
Yep, makes sense. Of course we can have problems on the code of the machine itself, but the viz shouldn't break because of this!

I just pointed the problem there to help to actually fiz that specific issue on the machine config.

[2020-02-28 12:51] joshdcuneo commented on #947
Here is a codesandbox with a simple reproduction. Interestingly I seem to sometimes only get an IDE error and sometimes an error when Typescript is compiling as well.

Typescript 3.8.2
xstate 4.8.1
@xstate/react 0.8.1

[2020-02-28 13:18] RomainLanz commented on #1015
Hey all 👋

I have the same issue with `xstate` & `@xstate/vue`. The error occurs after upgrading to `typescript` **3.8.2**.

The exact error is:
[code]

[2020-02-28 15:22] ZempTime commented on #1025
Will do. I'm mainly interested in ESM builds. However, I do on occasion go straight to the browser without a bundler, but never for real production. That'd get occasional use from me, but it's certainly not something I'd genuinely request.

[2020-02-28 20:11] madsbuch opened #1034 "Complex typing"
**Description**
After integrating xstate into our project we have experienced a quite significant editor slowdown. After having upgraded to typescript version 3.8.2 we have also started to get type erros / warnings about these matters.

![Screenshot from 2020-02-28 12-00-32](https://user-images.githubusercontent.com/1612807/75583339-34d53f80-5a22-11ea-9a46-e63fc0aa4d74.png)

**Expected Result**
We

[2020-02-28 22:39] davidkpiano commented on #1034
Thanks for reporting. We're currently working on V5 and types will be overhauled and simplified, which should (hopefully) mitigate these issues. Using `skipLibCheck: true` is a good idea.

Also, it seems that others downgrading TS to an earlier 3.7.* version alleviated the problem, as a workaround.

For reference, TypeScript has an arbitrary limit (50 I believe) for recursive types, which causes t

[2020-02-28 22:40] davidkpiano commented on #1034
We'll track this here: https://github.com/davidkpiano/xstate/issues/1015#issuecomment-592508668

[2020-02-28 22:40] #1034 closed

[2020-02-29 00:07] CodingDive commented on #1015
I also got the `Type instantiation is excessively deep and possibly infinite` error upon calling `state.matches`. It was working for a while with TypeScript 3.8.2 and I got the error out of the blue.
I saw that my global typescript installation was still on an older version (you can check with `npm list -g --depth=0`) and upgraded my app to TypeScript 3.8.3. I now no longer see the error which mak

[2020-03-01 17:31] MrNovado opened #1036 "Feature request: conditional action (qol)"
# Request

Now, I know there are conditions and actions already, but the thing is they might be really awkward to use when in order to check a condition you have to make the same'ish amount of work needed to make an action.

Like, for an actor in a game, in order to make a proper move, you'll have to find a desirable spot first and then check if it's free to move to, concluding the conditional che

[2020-03-01 18:59] davidkpiano commented on #1036
Thanks! Yeah, the typing can be stronger - a lot of the things we do in XState push the limit of TypeScript (we need dependent types!) but version 5 will simplify and restrict the types so that the TS experience is better.

I'm going to merge this issue with the pre-existing request: https://github.com/davidkpiano/xstate/issues/990

In short, conditional actions are a good idea, SCXML-compatible,

[2020-03-01 19:00] #1036 closed

[2020-03-01 19:28] MrNovado commented on #990
From #1036 just for visibility and potential discussion.
The conditional action could also be represented as ```(context, event) => action | false```, coupling action and conditional-check together, restricting the context and allowing for a simpler/optimized transition.

Or, to put it in perspective:
[code]

For reasoning and examples check out the linked issue.

[2020-03-01 19:43] davidkpiano commented on #990
@MrNovado There is an undocumented (because it's experimental) `pure()` action creator that might do what you want:

[code]

Let me know if that satisfies your needs! `pure()` is just an action creator that lets you dynamically specify which action(s) you want to execute, by providing a "pure" function to `pure(pureFn)` (hence the name) that does _not_ actually execute side-effects.

[2020-03-02 14:52] MrNovado opened #1038 "API revision: coupling action and condition in transitions (QoL)"
## Point
I think it would be beneficial to have a simplified version of transitional-action, which couple actions and conditions together:
[code]

So instead of declaring transitions like this:
[code]
I think it would be nice to have a more concise version like that:
[code]

## Reasoning
I've been trying to make my point in #1036, but I got lost in semantics and mixed the transitional-action with

[2020-03-02 15:01] MrNovado commented on #990
@davidkpiano playing with it for a while, I realized conditional-actions, while cool and should definitely exist, is not the thing I actually wanted. I want a simpler way of declaring a transition.

Made another issue for it here #1038; hopefully, explained myself better this time.

`pure` looks great btw and I want the same'ish API for transitions, but with guard-resolution signaling.

[2020-03-02 20:52] MrNovado commented on #1038
Probably the easiest way to think about this issue is to consider the current `TransitionConfig` as a state-model:
[code]
By defining `cond` and `actions` separately you have this combination of states in the context of executing an action:
[code]
Where I would argue, that the first variant is overly verbose. If the condition is true, then all we care about on the execution phase is an `action`, a

[2020-03-03 18:52] JackCA commented on #849
I believe this is happening in[ my example](https://codesandbox.io/s/magical-shape-dw9yz?fontsize=14&hidenavigation=1&theme=dark) as well.

@bradwoods FYI those are 404ing for me

@Aleksion have you modified your original example? It looks like you're getting a different issue now.

Were you getting somethign like I'm seeing in my example?
[code]
x-state 4.8, typescript 3.8.3

[2020-03-03 20:15] bradwoods commented on #849
Sorry about that. Here's the updated link - https://codesandbox.io/s/actor-type-error-m2r91

[2020-03-03 23:42] davidkpiano commented on #849
@JackCA Workaround:

[code]

[2020-03-05 16:30] Avocher opened #1047 "actionMeta.state.meta value differs depending on action type"
**Description**
When calling actions on `entry`, an `assign` action has the previous state nodes `meta` in `actionMeta.state` while a callback action has the entered state nodes `meta`.

**Expected Result**
I expected the `assign` action to have the `meta` object from the state node its entering, not the previous node.

**Actual Result**
`actionMeta.state.meta` value differs even if the actions ar

[2020-03-05 18:23] JackCA commented on #849
@davidkpiano that fixed the above error but later on when I try and reach into an `Actor`, the `state` object is typed as `any`

[Example](https://codesandbox.io/s/x-state-spawn-actor-typing-mcs2k)

[2020-03-05 23:41] derek-duncan opened #1048 "Actor DX Questions"
I've done quite a bit of experimenting to see how actors would work on a large scale. Here are a couple things that keep coming up I wanted some input on. This is not criticism but questions popping up from implementing the dream in practice ✨

1. **Debugging**. When an event is dispatched and forwarded between many actors, it gets pretty tedious to trace the flow of events and to replicate the ti

[2020-03-06 00:18] davidkpiano commented on #1048
Thanks for this write-up; this would make good documentation, so I'll take some time to answer these, and welcome others to answer these questions as well, as they are not specific to XState but rather common questions with microservice architectures, as you've mentioned.

[2020-03-06 14:58] allforabit opened #1050 "Todo example routing not working correctly"
**Description**
The example todo app doesn't restore it's router state correctly.

**Expected Result**
The todo app should jump to the correct state after refreshing the page.

**Actual Result**
It just jumps to the initial `all` state, even if you are on one of the other routes (e.g. `complete`).

**Reproduction**
It can be seen in the linked code sandbox: https://codesandbox.io/s/xstate-todomvc-

[2020-03-06 17:32] davidkpiano commented on #1050
Great, fixed! Thanks!

[2020-03-06 17:32] #1050 closed

[2020-03-07 03:48] JackCA opened #1051 "xstate/graph "unable to transition" error swallows stacktrace"
**Description**
The [thrown error here ](https://github.com/davidkpiano/xstate/blob/master/packages/xstate-graph/src/graph.ts#L115-L119)swallows the stack trace of the original error, making it difficult to debug.

**Expected Result**
The stack trace (or perhaps the log) should reflect where the original error actually occurred.

**Actual Result**
The only stack trace shown is from the catch block

[2020-03-07 04:28] JackCA opened #1052 "xstate/graph getSimplePaths issue with Actors"
**Description**
When using `getSimplePaths` with a machine that spawns actors, warnings are emitted:

`Warning: Attempted to spawn an Actor (ID: "child") outside of a service. This will have no effect. `

**Expected Result**
No warnings and no errors, or documentation about how to use xstate/graph and xstate/test with Actors.

**Actual Result**
Warnings and eventually an error

**Reproduction**
ht

[2020-03-07 09:46] Andarist commented on #1051
We are going to rethink how thrown errors are handled in the upcoming v5. In SCXML those would be converted to `error.execution` events, but I'm not sure if we want to follow that. @davidkpiano have your thought about this recently by any chance?

[2020-03-07 12:53] davidkpiano commented on #1051
Yes, so error traces should be preserved and carried through to the ultimate `error.execution` event. I'll look into this.

[2020-03-09 09:24] knordman opened #1053 "Invokes and entry actions not called when starting from an explicit state"
**Description**
When a service is started from an explicit state, by passing that to the `start` interpreter method, e.g. `service.start("here-i-wanna-go")` or ` service.start(State.from("here-i-wanna-go"))` no entry actions or invokes are called.

**Expected Result**
Entry actions and invokes called when starting from an explicit state. E.g. `service.start()` would be the same as passing `service

[2020-03-09 12:18] davidkpiano commented on #1053
This might be an invalid use-case. The actions to execute (from `entry` etc.) should be present in the starting state passed to `.start(state)`. Here, you're just passing a state with _no_ actions.

If your use-case is rehydrating from a state, you should be saving the actual state observed, which does include those actions.

What is your use-case here?

[2020-03-09 12:53] knordman commented on #1053
Thanks for the reply. My use case is connected to rehydration. This is part of a node backend serivce: a microservice orchestrator taking as input a statechart and then executing the "pipeline" defined by that statechart. So far my "pipelines" are mostly sequential states using invokes and actions from a pre-defined "library": works great with the `withConfig` machine option.

So what I'm trying t

[2020-03-09 20:52] MrNovado opened #1056 "Proposal: a tool for generating machine-modules (schema, creator, helpers, exhaustive and sound typing)"
So I've been playing around with TS and XState for a while now and... I have to say, the value TS brings to the table here for the end-user is very limited.

Like, it's cool to be able to somewhat competently build schema' artifacts, and see actions' descriptors and whatnot, but when it comes to implementing a schema into a machine -- you feel almost completely disconnected. Working with big-enoug

[2020-03-09 22:24] Andarist commented on #1056
This is already, somewhat, on our roadmap (exhaustive type generation). It will take some time before we deliver this though as we are focused on some other work right now. Would you maybe be interested in helping us out with this?

[2020-03-10 01:11] hyusetiawan commented on #1015
I am having the same problem as well, tried: skiplibcheck and update to @next version. Still not working, I am hesitant to downgrade the typescript, any other workaround I've missed until it's fully fixed?

[2020-03-10 08:47] AleBlondin opened #1058 "Xstate <> React <> TypeScript integration snippets"
## Bug or feature request?
Documentation / feature proposal

## Description:
Hi, I just implemented my first state machine on my React/TypeScript project with xstate ! I followed the documentation but I faced some issues. I would like to present some technical solutions and code snippets that I wrote to overcome those issues:
- createMachineContext instead of createContext to overcome TypeScript i

[2020-03-10 10:02] MrNovado commented on #1056
@Andarist, sure, do you have a particular vision on how something like this should be done? Or any proof of concept would suffice for now?

[2020-03-10 10:49] Andarist commented on #1056
I have not yet thought much about technical details on how this could be implemented. I think it would be better to reuse existing tooling as much as possible, so I would start with exploring ESLint + TypeScript programmatic APIs to see what's possible. Most likely we'd need to actually write generated types onto the file system to make TS actually type check against that generated schema.

Any pr

[2020-03-10 13:40] davidkpiano commented on #1058
The `createContext(null)` problem is an existing "issue" with React TypeScript (that won't be fixed). Here is a workaround: https://gist.github.com/sw-yx/f18fe6dd4c43fddb3a4971e80114a052

Or you can do `createContext(null as any)`.

[2020-03-10 14:45] osdiab opened #1059 "@xstate/react/lib/fsm missing TypeState support"
**Description**
It just sets the `TypeState` to `any`, which I didn't expect

**Expected Result**
Don't throw away the `TypeState` generic so that it can be used in the component without a typecast

**Actual Result**
`state.context` isn't narrowed by `value` because `useState` passes `any` as the typestate generic

**Reproduction**
- [CodeSandbox template (React)](https://codesandbox.io/s/competen

[2020-03-10 14:58] osdiab commented on #1059
Additionally: the FSM implementation of `StateMachine.State` just sets `value: string`, which means that the typestate is ignored again and narrowing with the `useMachine` hook fails again.

[2020-03-10 17:34] davidkpiano commented on #1059
I'd accept a PR for this. cc. @Andarist

[2020-03-10 18:09] Andarist commented on #1059
`@xstate/react/lib/fsm` has exposed TS types. From what I understand this is about those types not working as expected - it's hard for me to relate to it because the provided repro case doesn't contain a faulty code (it refers to `xstate` and not `@xstate/fsm`). Could you prepare a one showcasing your issue?

[2020-03-10 19:43] haywirez commented on #988
Had a similar error since a few days, started after a `^4.8.0` and typescript `3.8.3` update. I was surprised to learn this, my code had a lot of async fn services before, and somehow everything was fine 🤔

Refactoring to callback-hell style functions fixed the compiler error (but also not the root cause yet 😄...)

But is theoretically possible to make it work with async functions in the future? I

[2020-03-10 19:50] davidkpiano commented on #988
@haywirez It is possible... it's just that the return value is expected to be a cleanup function, and not a Promise. But you can open a new issue to track this.

[2020-03-11 07:04] osdiab commented on #1059
@Andarist oops looks like i needed to save or something to get it to reflect properly, is it good now?

https://codesandbox.io/s/competent-kirch-9vhgm

[2020-03-11 07:13] osdiab opened #1060 "assign doesn't support ensuring Context matches TypeState"
**Description**
Currently xstate supports changing state in an action using `assign`. This works great, but it is implemented in a way that ensures that if you provided a `TypeState`, it may mutate the context in a way that defies the `TypeState` definition.

If you pass a callback to `assign`, it correctly provides a `TypeState`-narrowed version of `Context` as an argument based on the origin sta

[2020-03-11 07:22] Andarist commented on #1059
I've prepared a fix for this: https://github.com/davidkpiano/xstate/pull/1061 . Keep in mind that to narrow down typestates you would have to use `.matches()`, you can't do that with a simple comparison of the `.value` property.

[2020-03-11 07:57] lozandier commented on #1015
Tried a simple state machine from the Intro to Xstate Egghead.io course as a sanity check
[code]
Tried hooking it up in the middle of creating a simple demo of it working or not only to get the `error TS2589: Type instantiation is excessively deep and possibly infinite.` error using the latest version of TypeScript & XState (
`
[code]

@davidkpiano Example glitch this occurs (Node 8 & 12 was used)

[2020-03-11 08:12] RomainLanz commented on #1015
It's a [known issue](https://github.com/microsoft/TypeScript/issues/34933) in TypeScript @lozandier.

You need to downgrade your version to make it work for the moment.

[2020-03-11 08:33] lozandier commented on #1015
@RomainLanz Tried downgrading all the way to TypeScript 3.5 w/ no luck

[2020-03-11 11:33] knobo opened #1062 "Document that respond is in actions"
**Description**
I don't know if this is intentional, but I had to get respond from actions.
[code]
There was nothing about this in the docs.
From the docs I would expect that it would be possible to import respond directly from xstate.
Like this:
[code]

[2020-03-11 15:07] haywirez opened #1063 "Typescript: support async function types in invoke service src"
As a follow up to #988, I think it'd be great to support `async` functions in invoke `src` types.

[2020-03-11 15:37] davidkpiano commented on #1062
Can you make a PR for this?

[2020-03-11 15:38] #1059 closed

[2020-03-11 15:59] hansschenker opened #1064 "Xstate sample in Angular!"
## Bug or feature request?

## Description:

## (Bug) Expected result:

## (Bug) Actual result:

## (Bug) Potential fix:

**Required!** If you found a bug and can consistently reproduce it, please take a minute to think about what the potential fix might be.
Even if the fix is incorrect, this can help diagnose and find the solution to the issue as quickly as possible.

I also strongly encourage yo

[2020-03-11 16:02] cschlittPHI commented on #947
Where do I import `Context` and `Schema` from?

[2020-03-11 16:12] davidkpiano commented on #947
@cschlittPHI Those are types you provide yourself.

[2020-03-11 17:11] wereHamster commented on #947
I think you should be able to set `unknown` for the type parameters, as they are not depended on by the implementation.

[2020-03-11 21:24] Andarist commented on #1063
Isnt `src: () => async function(){}` working already?

[2020-03-12 01:55] GrayStrider opened #1065 "Enforce typesafe state values in events"
basic machine:
[code]

TS doesn't complain when I use invalid values, like so:
![image](https://user-images.githubusercontent.com/43771776/76479511-21819580-6460-11ea-8fc8-24efd3290534.png)

*Expected behavior:*
Infer allowed values from
[code]
like so:
![image](https://user-images.githubusercontent.com/43771776/76479625-80470f00-6460-11ea-90d3-43c1bc305457.png)

Or is it not possible, since the m

[2020-03-12 08:42] knobo commented on #1062
Should I add something more?

[2020-03-12 08:43] knobo commented on #1062
It is a bit confusing that some actions can be imported directly from `xstate`, but other has to come from `actions`

[2020-03-12 11:43] GrayStrider commented on #1065
I've read a bit more and it looks like these values can be quite dynamic and refer to keys completely out of the  main machine's scope.

[2020-03-12 11:43] #1065 closed

[2020-03-12 13:58] davidkpiano commented on #1063
I don't believe this works if the `async function` is a callback function rather than a promise.

[2020-03-12 19:20] #1062 closed

[2020-03-12 20:25] derek-duncan commented on #1048
About item two and four, [we discussed some ideas in the chat](https://gitter.im/statecharts/statecharts?at=5e6a6f3d02dbe022a181b1ad) with using event busses and messaging/subscribing to spawned actors.

[2020-03-13 00:54] davidkpiano commented on #1062
Most of these are intentional, but we'll fix `respond` coming from the main import instead.

In the future, action imports will look like:

[code]

[2020-03-13 11:55] allforabit opened #1067 "Invoked child service not initialized correctly when used with useMachine"
**Description**
When using the `useMachine` hook to create a service in a parent component and then passing down an invoked child service (using `current.children`) the sub interpretor doesn't seem to be initialized correctly in all cases and so the `useService` hook in the sub component doesn't always work. This only happens if the invoked service is in the initial state of the parent machine. If

[2020-03-13 12:42] davidkpiano commented on #1067
This is fixed in the latest XState and `@xstate/react` 1.0.0-rc3, which will be released soon. Please use those versions.

[2020-03-13 12:42] #1067 closed

[2020-03-13 12:44] allforabit commented on #1067
Ah great thanks very much @davidkpiano!

[2020-03-13 16:43] MattiaPontonioKineton commented on #264
Hello there,
Where is the reference in the global scope of the `machines` and `states`?

[2020-03-13 17:59] davidkpiano commented on #529
I see the utility of this now - this should come in the form of something like:

[code]

Where the implementation details for `customerAPI` are provided.

[2020-03-13 18:00] davidkpiano commented on #464
@Andarist is this still a valid issue?

[2020-03-13 19:17] Andarist commented on #464
Yes, https://codesandbox.io/s/nervous-fermat-cik98

To fix this we should generate **unique** IDs (dont have to be random) for invoke definitions returned from [this `.map` call](https://github.com/davidkpiano/xstate/blob/1335d344a8321859bfda975422b93e1dfceb20a5/packages/core/src/StateNode.ts#L275). If explicit ID is given we could use it because explicit IDs should be unique already (a separate t

[2020-03-13 19:18] davidkpiano commented on #1001
Closing - this will be fixed soon and issues with XState Viz (the current visualizer) should be moved to github.com/statecharts/xstate-viz

[2020-03-13 19:18] #1001 closed

[2020-03-13 19:20] Andarist commented on #529
So would this just fill arguments of the given `customerAPI`?

[2020-03-13 19:27] davidkpiano commented on #529
No, that's up to the implementation. (Contrived example below)

[code]

[2020-03-14 00:51] CodingDive commented on #529
Will the third argument be a `"stateService"` object that not only has the extra `service` data like you demonstrated but also the current `state`?
I once had to dump the state (value) into an event just to use the state inside a service. This wasn't pretty at all, accessing it within a service would be really helpful!

[2020-03-14 04:39] knobo commented on #1052
Just a note. I had to add an id to the spawn function to make your example work.
[code]

[2020-03-14 12:02] semopz commented on #996
I a somewhat related problem. I have a service that spawns actors which eventually go into a 'final' state. I have a cleanup function in my `assign` callback to get rid of the stopped actors from the context but I've subsequently found they remain as 'children' so the warning messages ramp up due to autoForward hitting a growing number of stale actors. AFAIK, there's no way to set up a way to auto

[2020-03-14 12:19] Andarist commented on #996
You could experiment with `actions.pure(ctx => actions.stop(ctx.actorRef.id))`. This is just a wild guess of mine, seems like we need to improve the story around this use case.

[2020-03-14 14:38] semopz commented on #996
This is another thing I'm not too sure about: isn't it redundant to stop a service that is already in its final state? Is your line of thinking that `actions.stop` should remove the actor from the parent's children?

As for pure, I'm not too sure how to use it https://github.com/davidkpiano/xstate/issues/1014

[2020-03-14 15:15] Andarist commented on #1014
Seems like the problem is that returned actions from `pure` are not resolved. It should be an easy fix.

[2020-03-14 15:16] Andarist commented on #996
Well, we probably should clear children automatically upon receiving `done.invoke.ID` event. I've proposed this purely as a temporary workaround.

I've looked into the problem with `pure` and responded back in that thread.

[2020-03-14 15:44] davidkpiano commented on #996
I'll look into why `autoForward` is still forwarding to stopped machines. However, we shouldn't have any special-casing or filtering for autoForward - if the developer decides to use `autoForward`, they should be aware that _all_ events will be sent to the relevant actor.

[2020-03-14 17:02] semopz commented on #996
Let me know if this is unrelated and I'll log a separate issue.
@Andarist I appreciate you were proposing a workaround but I was just wandering what `actions.stop` does for a services in its final state.

@davidkpiano I agree. Question is, how do I (as a developer) remove a child that I no longer have a need for (so that it isn't autForwarded any further events)?

Have a look at this (instructions

[2020-03-14 18:20] davidkpiano commented on #590
Producing a `done` event can be considered the implementation-dependent manner for this. We'll close this out as it's stale regardless, and bring it up again if it contradicts any SCXML tests.

[2020-03-14 18:34] davidkpiano commented on #686
History algorithm has been reworked in V5 (`next` branch right now).

[2020-03-14 18:34] #686 closed

[2020-03-14 18:36] davidkpiano commented on #672
Marking this for documentation, as it is better resolved there.

In V5, there will be no distinction between services/actors, so the implementation and usage will be much simpler. This also means that `{ sync: true }` will be better replaced with more intuitive, explicit patterns.

[2020-03-14 18:36] #672 closed

[2020-03-14 18:36] davidkpiano commented on #733
History is being reworked in V5, so this should be already fixed in the `next` branch.

[2020-03-14 18:36] #733 closed

[2020-03-14 18:37] davidkpiano commented on #737
Known issue - let's move this (and similar issues) to github.com/statecharts/xstate-viz

[2020-03-14 18:37] #737 closed

[2020-03-14 18:38] davidkpiano commented on #678
Closing this as getters for targets will be removed in V5. Other userland-implemented patterns for building machines will be preferred, rather than baking this into the core API.

[2020-03-14 18:38] #678 closed

[2020-03-14 18:40] davidkpiano commented on #529
Yes, just like the third "meta" argument for actions and guards, it will have the current `state`.

[2020-03-14 20:20] Andarist commented on #590
There won't be any SCXML test for this as it's hard to write one - can't listen for events sent from "root" SCXML service there.

However, it can be easily confirmed by the `exitInterpreter` algorithm: https://www.w3.org/TR/scxml/#exitInterpreter .:
[code]
Currently our implementation doesn't adhere to this 1to1. We just generate `doneInvoke` for a finished machine, the parent gets notified about

[2020-03-14 20:24] CodingDive commented on #529
I agree. In my use case, I modeled some radio buttons as state nodes and needed to send their value to the server. Haven't ran into any other scenario where I needed state inside a service but it's useful to know  that it'll be possible.

[2020-03-14 20:34] #570 closed

[2020-03-14 20:43] ChenXiaofan opened #1072 "doc transitions example run error"
**Description**

https://xstate.js.org/docs/guides/transitions.html#internal-transitions
copy the wordMachine code to
https://xstate.js.org/viz/
alert error
Child state 'word' does not exist on 'word'

Is it a outdated feature but the docs havent updated?
**Expected Result**

**Actual Result**

**Reproduction**

- [CodeSandbox template](https://codesandbox.io/s/xstate-example-template-m4ckv)
- [Co

[2020-03-14 20:51] Andarist commented on #996
Oh, this repro explains to me your problem - you should not call imperatively things on your actors. Use events! It's hard to quickly adjust your demo because of the `autoForward` in use, but if you want to stop a child from the outside you should send an event to it so it can stop on its own.

Apart from that, I've noticed why we don't clear things correctly and gonna prepare a PR for it in a mom

[2020-03-14 22:14] FredyC opened #1074 "Cleanup non-cancellable promise on user cancel"
My use case is around getting an audio stream (microphone) in a browser and let the user cancel anytime. There is a basic call to `navigator.mediaDevices.getUserMedia()` which returns a promise that cannot be canceled. Once it resolves, the browser shows an indication of the active microphone. To deactivate arbitrary code has to be called on the resolved stream object.

The `getUserMedia()` is fas

[2020-03-14 22:30] Andarist commented on #1074
You should rather create a machine (or an actor, maybe a callback one) wrapping that interface and "cancel" it by sending an event to it - rather than trying to call imperatively a stop method on it.

[2020-03-15 06:42] FredyC commented on #1074
Um, that feels even weirder to me. This machine is already pretty specific and narrow in what it does. Splitting it to extra machine doesn't feel to have much of a benefit.

With an actor, you mean like https://xstate.js.org/docs/guides/communication.html#invoking-callbacks? I thought about that, but either I don't understand it correctly or it will call cleanup whenever I leave that state. That's

[2020-03-15 08:47] FredyC commented on #1074
And now I am realizing another weakness of this pattern. I cannot use `services` config this way which would useful for mocking in tests.

[code]

[2020-03-15 09:31] Andarist commented on #1074
I understand that it's quite specific, but you have a machine (business logic~) integrating with some non-machine entity here (which doesn't need to know about any business logic). The split makes sense because you just have to wrap that non-machine entity into a common interface (an actor) which should be able to handle its internal state based on received commands and you wouldn't have to worry

[2020-03-15 09:49] semopz commented on #996
Ok I think we're on the same page. In real life, my actors are sent events and the actors themselves decide whether to go into a 'final' state or not. My confusion up to this point was this: when an actor is in a final state, is it up to the developer to clean things up?

It seems at this point, the answer is NO and that `xstate` should do the cleanup (when it comes to children). As for actor refs

[2020-03-15 09:59] Andarist commented on #996
Exactly :+1:

[2020-03-15 10:37] FredyC commented on #1074
Thank you @Andarist, I did rewrite it with actor and spawning and it does feel less convoluted. And it's also nice to be able to have spawning action in the config so I can override it in tests.

https://codesandbox.io/s/charming-firefly-txu85

There is some TypeScript issue on line 85, I don't consider it a big problem, but if you want, I can open a new issue with it.

[2020-03-15 10:37] #1074 closed

[2020-03-15 15:37] haywirez commented on #1063
Aren't all async functions promises?

[2020-03-15 15:59] davidkpiano commented on #1063
No:

<img width="233" alt="Screen Shot 2020-03-15 at 11 58 46 AM" src="https://user-images.githubusercontent.com/1093738/76705163-600f8e00-66b4-11ea-9cfc-f025d72a4f34.png">

[2020-03-16 23:05] Andarist commented on #990
A draft implementation is available here: https://github.com/davidkpiano/xstate/pull/1076

[2020-03-17 21:59] RafalFilipek opened #1079 "`data` function is executed before machine enters final state."
**Description**
`data` function is executed before machine enters final state.

**Expected Result**
`data` function should be executed after machine enters final state.

**Reproduction**
https://codesandbox.io/s/vibrant-chandrasekhar-v8q61

**Additional context**
Maybe this behavior is expected. I'm trying to validate output data here. But it is impossible if this function is executed earlier.

Th

[2020-03-18 08:09] alexreardon commented on #938
I'm not sure if this is the same issue, but it appears as though the service being returning from useMachine is not initialized so it has no state on the first render unless you start the service yourself:

https://codesandbox.io/s/vigilant-solomon-nfzxw

[2020-03-18 08:13] alexreardon commented on #938
I can confirm that the service is initialized on initial render for rc.3

https://codesandbox.io/s/mystifying-sun-q2hgc

[2020-03-18 08:36] alexreardon commented on #938
Things don't seem to be working if you use `@xstate/fsm`: https://codesandbox.io/s/boring-rubin-5104z

[2020-03-18 08:36] alexreardon commented on #938
Also for some reason the codesandbox was saying that I needed `xstate` to use `@xstate/react` 🤷‍♂

[2020-03-18 09:03] alexreardon opened #1080 "Suggestion: add `.state` to `@xstate/fsm` service"
an intepreted service for an `xstate` machine as a `.state` property which is pretty useful to be able to grab. `@xstate/fsm` tracks this state (`let state = ..`), but does not expose it.

Context: I am looking to create an alternative `useService` for react and getting the state for initial render is tricky as you need to setup a subscriber and grab the state in the first render.

[2020-03-18 10:40] Andarist commented on #1080
Could you give some context on why do you want to implement an alternative `useService`?

[2020-03-18 10:56] Andarist commented on #938
That's because you were trying to use `useService` for `xstate`, just import it from `@xstate/react/lib/fsm`: https://codesandbox.io/s/frosty-night-j6muu

Can't quite repro this, but it might be related to the former problem.

[2020-03-18 14:10] davidkpiano commented on #1080
We're going to be refactoring to use what's called an `ActorRef` (if you are familiar with Akka, same concept), which will have the notion of a `.current` value on it (which can be considered the locally "cached" latest value that the actor emitted).

So let's hold off on that so that `.state` (or `.current` etc.) isn't just an ad-hoc property on some object and rather part of a standard `ActorRef

[2020-03-18 20:11] BharadwajMP opened #1081 "Invoke service is not subscribed"
**Description**

I have a login state machine,
const loginMachine: Machine = {
  id: 'login',
  context,
  initial: 'autoLogin',
  states: {
    autoLogin: {
      invoke: {
        src: 'tryAutoLogin'
      },
      on: {
        SUCCESS: {
          target: 'loggedIn'
        },
        FAILURE: {
          target: 'loggedOut'
        }
      }
    },
    loggedOut: {
      entry: ['errorMsg'],

[2020-03-18 20:30] davidkpiano commented on #1081
Please put your code in a CodeSandbox to demonstrate the failure. I'll reopen this when that is done.

[2020-03-18 20:30] #1081 closed

[2020-03-19 07:45] RafalFilipek commented on #1079
Is there any other way to send such data? Right now I have to fill whole context object to avoid errors while reading nested objects.

Thanks

[2020-03-19 08:24] alexreardon commented on #1080
Thanks @davidkpiano. I was having some typing issues with `useService` and I also wanted to explore what writing one could look like. Today you need to do something like this to have the initial value populated on first render:

1. create the machine
2. create a service by interpreting the machine. Don't start the machine!
3. add a subscriber to the machine.
4. start the machine
5. read the value

[2020-03-19 08:53] Andarist commented on #1079
Please be patient, you have opened your issue **yesterday** - we all have lives and are doing this in our free time, getting an answer might take a couple of days (and that's normal).

I'll look into this in the following days to see what's going on.

[2020-03-19 08:58] RafalFilipek commented on #1079
@Andarist Sorry if my comment sound this way. I was just wondering if there is any quick workaround that you are aware of. It was not my intention to rush anyone.
Thank you for your help and have a nice day :)

[2020-03-19 13:28] davidkpiano commented on #1079
@RafalFilipek No workaround yet; you can set a small delay to go to the final state, although that might not be the ideal solution.

[2020-03-19 15:07] derek-duncan commented on #1048
More information and discussion around two and four [in this post](https://spectrum.chat/statecharts/general/faq-for-managing-hierarchy-of-xstate-actors-in-react~23ed85e9-4fda-4522-826d-97d301b500ba).

[2020-03-19 16:23] jonbjk opened #1083 "sendParent invoke event handler twice on parent machine"
**Description**
sendParent invokes event handler twice on parent machine

**Expected Result**
Event handler on parent machine should only be invoked once.

**Actual Result**
Event handler on parent is invoked two times

**Reproduction**
- [XState TodoMVC](https://codesandbox.io/s/xstate-todomvc-33wr94qv1?from-embed)

The
[code]
in the todoMachine.js will invoke "TODO.COMMIT" two times on todosMach

[2020-03-19 16:59] davidkpiano commented on #1083
Just tested this; it's only being called once. Can you create a simple reproduction?

[2020-03-19 21:17] jonbjk commented on #1083
https://codesandbox.io/s/xstate-todomvc-6nlwe
Added a console.log in todosMachine.js (line: 70-72)
If I edit an existing todo and press Enter, there will be two console.logs from the todosMachine

[2020-03-19 22:33] Andarist commented on #1083
This happens because of this:
[code]

`state` should not be used as a dependency of an effect - by doing this, actions of a particular `state` might get fired twice (once during regular execution and once in this effect).

[2020-03-19 22:45] davidkpiano commented on #1083
Yeah, we'll have to edit the docs for this one, and introduce the `useAction` hook to make this safer.

This would be better done (right now) as:

[code]

[2020-03-19 23:05] jonbjk commented on #1083
Thank you for the quick reply. That cleared up my confusion.

[2020-03-19 23:05] #1083 closed

[2020-03-19 23:11] #1079 closed

[2020-03-20 02:51] #1080 closed

[2020-03-20 04:21] alexreardon commented on #1080
Amazing! Thanks @davidkpiano 👏

Is there a way I can consume that change?

[2020-03-20 07:55] Andarist commented on #1080
Not yet, but we are going to cut a new release soon.

[2020-03-22 08:20] qtiki opened #1089 "Visualizer does not show activities"
**Description**

The visualizer does not show state activities at all.

**Expected Result**

The visualizer should show activities in a similar manner as invoked services.

**Reproduction**

https://xstate.js.org/viz/?gist=d114ffd788befbe352abddcf3819194b

[2020-03-22 16:55] davidkpiano commented on #1089
Please post visualizer questions in http://github.com/statecharts/xstate-viz/issues/new

[2020-03-22 16:55] #1089 closed

[2020-03-22 17:17] qtiki commented on #1089
Ah okay I've copied the issue there. I didn't realize the visualizer issues go to another repository as there are some with the `🔬 visualizer` tag open in this one as well: #997, #912, #834 and #683

[2020-03-22 19:44] klvnptr opened #1091 "How to determine the allowed events from the current state?"
Hello

First of all thanks for this fantastic package. I was wondering how to deremine the allowed events to be sent when I'm in a certain state? To check if the state machine will respond to a certain event in the current state.

Thanks so much,
Peter

[2020-03-22 20:37] Andarist commented on #1091
There is `nextEvents` property which currently serves this purpose.

[2020-03-22 22:31] davidkpiano commented on #1091
See here: https://xstate.js.org/docs/guides/states.html#state-nextevents

[2020-03-22 22:31] #1091 closed

[2020-03-23 07:25] Andarist commented on #963
I've looked into what it would take to add support for this - even if it looks simple, it is not that trivial in the case of XState (it has some module state). I want to add support for this eventually, but it's not a priority right now.

[2020-03-23 07:37] #1025 closed

[2020-03-23 14:35] #990 closed

[2020-03-23 15:18] ahmdtalat opened #1093 "Toggle component name need to be fixed"
**Description**
xstate-vue-todo-mvc not working due to component name.

**Expected Result**
The Todo app will work just fine

**Actual Result**
Can't import Toggle from @component/toggle/Toggle

[2020-03-23 15:48] davidkpiano commented on #1093
Can you please create a reproduction? Or better yet, make a PR?

[2020-03-23 16:11] ahmdtalat commented on #1093
I made a [PR](https://github.com/AleksejDix/xstate-vue-todo-mvc/pull/1) to this [repo](https://github.com/AleksejDix/xstate-vue-todo-mvc).
I think this where it happens.

[2020-03-23 18:44] davidkpiano commented on #1093
Ah okay, so it's for a different repo. We'll track it there.

[2020-03-23 18:44] #1093 closed

[2020-03-24 03:27] jeremy-deutsch opened #1094 "Proposal: a React-specific interpreter hook"
## Bug or feature request?

Technically a feature request, but I'm about to make a bunch of uninformed claims about React's concurrent mode, so let's call it a proposal draft discussion.

## Description:

Once React's concurrent mode is released, `@xstate/react` should look into including a `useMachine`-style React hook (let's call it `useInterpret`) that doesn't use an `Interpreter` instance inte

[2020-03-24 06:34] knordman commented on #1053
I came to the conclusion that the best and simplest way to achieve what I want, is just to have a machine factory that can set the `initial` property of the machine as needed :slightly_smiling_face:

[2020-03-24 06:34] #1053 closed

[2020-03-24 08:11] Andarist commented on #1094
I'm very interested in this area and thought about this extensively. However, I don't quite see right now why we'd like, for example, to delay the execution of particular actions. Machines, even if tied to some component, are still living beside components - it's like a parallel system in my head (which only integrates with React). Queuing etc also makes things **a lot** harder to reason about and

[2020-03-24 15:27] jeremy-deutsch commented on #1094
Yeah, I think I see your point. I don’t really think of it as “delaying” the actions, but it would definitely have that effect some (or a lot) of the time.

I don’t know how often in practice it’s important that side effects fire immediately, though. In the case you gave, where an event gets sent by a user interaction, the state and/or context would still be updated at a high priority (almost sync

[2020-03-24 20:12] MrNovado commented on #1056
@Andarist, progress report. Finally been able to play with xstate a little more on this one.

I've made a repo here for now:
https://github.com/MrNovado/xstate-gentype-proof

I entertained the idea of generating a ts-machine-module from a simple machine config in JSON, using xstate-machines 😋.

_The example here is just a simple tree-traversal machine_
https://github.com/MrNovado/xstate-gentype-pr

[2020-03-25 11:01] wesselvdv commented on #1079
I am having exactly the same issue, and it's quite blocking :-( I tried to use master to see if that fixes it, but I am still seeing that it's executed before the machine enters final state?

[2020-03-25 12:56] jaqmol opened #1097 "Feature req: Straight forward way to forward event to other actions or chain actions"
## Feature request

## Description

There seems to be no straight forward (or no documented) way to forward events to other actions or chain actions, without losing the original event's properties.

### raise(...)

https://xstate.js.org/docs/guides/actions.html#raise-action
Raise is not useful because it drops all event properties of the previous event.

### forwardTo(...)

https://xstate.js.org/d

[2020-03-25 13:30] jaqmol commented on #1097
I just discovered in an example of another issue that the `send(..)` function has a hidden overload option and can used like:

[code]

After a couple of minutes of digging I even found it mentioned in the documentation:

It would have been nice to find all the overloads of the send function mentioned in the table directly at the beginning of the documentation section, expressed in wording that fol

[2020-03-25 13:30] #1097 closed

[2020-03-25 14:19] davidkpiano commented on #1097
The "lingo" comes mainly from the SCXML spec: https://www.w3.org/TR/scxml

[2020-03-25 14:51] jaqmol commented on #1097
Thanks for the reply. What do you think about the section header:

I'm asking to find out if I'm having another issue concerning my understanding of the SCXML lingo.

[2020-03-25 21:59] LouDou opened #1099 "TS Question: Correct event types for StateNodeConfig composition?"
## Bug or feature request?

Possible type specification bug; maybe more a general enqiury.

## Description:

What's the best or correct way to compose state node configs with regards to allowed event types?

Essentially, I think it should be possible to arbitrarily compose/nest state node configs and have the types correctly unioned at the parent

Example 1: with non-empty Contexts
[code]

Example

[2020-03-26 01:51] davidkpiano commented on #1099
States cannot have specific contexts. The context is only specific to the machine.

[2020-03-26 11:38] LouDou commented on #1099
OK, that's understood regarding the context.

Do you have any advice on how to compose the sub-states' event types?

[2020-03-26 12:29] Andarist commented on #1056
@MrNovado I just want to let you know that I've seen this! Thanks for doing this ❤️ . I'm still thinking about various things regarding the whole topic so I can make sure that I give a thoughtful comment on this.

[2020-03-26 15:08] rjdestigter commented on #1099
My advice would be to not take that path. I dove quite deep into this trying to come up with a system that would compose a single machine configuration for forms in ReactJS and it just became a difficult web with no real benefits.

[2020-03-26 19:47] Iskereat opened #1100 "invoked onDone not transitioning after invoking an observable."
**Description**
Invoked onDone (not the state onDone) is not transitioning after invoking an Observable.

**Expected Result**
whatever is in invoke: { onDone: ???} should fire. it doesn't. =/

**Actual Result**
The observable is emitting all its values... but the onDone doesn't fire.

**Reproduction**
https://codesandbox.io/s/ondone-not-working-bcrs6?from-embed

**Additional context**
Pretty new a

[2020-03-27 11:21] qtiki commented on #463
I just found my way here because I was trying to figure out why we don't get a proper sentry.io error from a service that fails in strict mode. Turns out that the error is just logged to console and not propagated to Sentry's unhandled promise rejection handler. While logging is great for backend applications this happens in frontend code where we rely on Sentry error collection as it groups the e

[2020-03-27 19:44] Iskereat commented on #1100
Fixed it. My obs wasn't actually emitting anything.

[2020-03-27 19:44] #1100 closed

[2020-03-27 22:17] jaetask commented on #850
Interesting, I am also facing a similar issue but it involves multiple checks.

For instance. how would you validate a text input with multiple guards? min length, max length, invalid characters, maybe a regex as well. I am rewriting a multiform wizard that currently uses Formik and Yup, but ideally would like all logic the machine so it can be tested independently of Formik.

[2020-03-27 22:45] larrybotha commented on #487
For anyone attempting to wrap their heads around using actors with the hierarchical approach described in here, I've put together a proof of concept that allows long-running tasks' states to be easily displayed as notifications.

https://codesandbox.io/s/xstate-tasks-and-alerts-poc-yotik

There are 5 machines that are interacting to simulate a real-world use-case:

- app machine:
  - spawns a sing

[2020-03-28 00:44] reinoute commented on #939
[code]
Would that work?

[2020-03-28 00:55] davidkpiano commented on #850
@jaetask You can probably come up with a solution in userland for this, no?

[2020-03-28 01:30] gunn4r commented on #1015
I'm getting this same issue with:

[code]

[code]

[2020-03-28 20:32] jaetask commented on #380
Hi @davidkpiano , I see that meta was not supposed to be used like this but that was over a year ago. Is there any other mechanism for passing values to a state when a condition is met?

[code]

[2020-03-28 20:46] jtmthf opened #1101 "Allow useMachine to accept a new machine between renders"
## Bug or feature request?

Feature request: `@xstate/react`

## Description:

Currently `useMachine` accepts only the first machine instance passed to it and logs a warning if a new instance is passed to it between renders. This prevents the use of a dynamically created machine derived from props. One such example is the `createrCounterMachine` factory function from the [context docs](https://xst

[2020-03-28 21:06] davidkpiano commented on #380
@jaetask You can use `assign()` for this.

[2020-03-29 15:06] dagda1 opened #1102 "useMachine typing issues with typescript 3.8.3"
**Description**
I cannot get `useMachine` to compile with tsc when I supply the 2 type arguments and specifically the `TEvent` argument.  I have a reproducible codesandbox below.

**Expected Result**
I can type the actions I will be calling.

**Actual Result**
A lengthy stack trace

**Reproduction**
- [codesandbox](https://codesandbox.io/s/usemachine-typescript-problems-nvcr0)

[2020-03-29 15:09] dagda1 commented on #1102
ha!  Writing the codesandbox fixed my issue

[2020-03-29 15:09] #1102 closed

[2020-03-30 14:25] davidkpiano commented on #1101
Hey @jtmthf - this is one of those "can" vs. "should" questions.

Can we allow the `machine` to be dynamic? Absolutely, it would be very easy to support this.

Should we? **Probably not.**

Machines that describe the behavior/logic of a component should be as static and deterministic as possible. If we introduce functionality that allows the hot replacement of a machine at any time, then that defe

[2020-03-30 14:39] Andarist commented on #1101
Well, it would be great if we could support preserving the old machine instance (to keep its state) if we could compare the previous and current configs (to check if they are the same) and if they wouldnt be the same then we should force the whole component to reinitialize (with the new machine). This, of course, would only apply to the hot module replacement scenario. I'm not sure though how to h

[2020-03-30 16:15] jtmthf commented on #1101
@davidkpiano That makes sense. Perhaps I'm not approaching my problem in the correct way. In my situation, the value I need to initialize the context with is provided asynchronously. I imagine suspense will eventually solve this problem, but in the meantime I need to explore alternatives. Would a better solution for this use-case be to provide an internal transition for updating the context?

[2020-03-30 18:31] JackCA opened #1104 "Support arrays for actions in machine options"
## Bug or feature request?
Feature Request

## Description:
Given the following machine:
[code]

It would be nice to refactor it as

[code]

Currently, `actions` in the `option` must be mapped to a single function

[2020-03-31 12:33] anttiahola opened #1105 "Interpreter.start does not assign meta into state"
**Description**
If you serialise state into JSON and start a new interpreter from that state the `meta` is preserved, but if you start interpreter from a string value of state, the state does not contain the expected `meta`.
[code]

**Expected Result**
When starting the interpreter from a string value of, the result state should contain the state's `meta`.

**Actual Result**
Meta is empty object `

[2020-03-31 13:45] BurningDog opened #1106 "@xstate/vue README example doesn't work"
**Description**

I copied the Vue component in the README at https://github.com/davidkpiano/xstate/tree/master/packages/xstate-vue into a file in a local `@vue/cli` project (Vue 2.6.11) and ran it.

**Expected Result**

Click on the button and see the copy `Active! Click to deactivate` appear.

**Actual Result**

First I was prompted to install `@vue/composition-api` - is the xstate Vue readme exa

[2020-03-31 14:26] davidkpiano commented on #1106
Yes, this is for the Vue composition API.

CC. @AleksejDix can we add the render component for Vue 2?

[2020-03-31 14:27] davidkpiano commented on #1105
I'm confused - if you call `interpret(fsm).start("someStringState")`, of course it won't have metadata, because you're only providing the state value, and not the entire state.

[2020-03-31 16:39] chriscalo opened #1107 "CDN-hostable build of @xstate/vue"
## Bug or feature request?
Feature request

## Description
Vue prides itself on being progressively adoptable, particularly by just including a CDN-hostable build of the Vue framework via a `<script>` tag via unpkg.com, jsdelivr.com, etc. I do this a lot when building quick prototypes to avoid having a compilation step.

And in these prototypes, I'd love to do the same with `@xstate/vue`: link to

[2020-03-31 20:12] davidkpiano commented on #1107
I'd gladly welcome a PR for this!

[2020-03-31 20:23] CodingDive commented on #603
Very happy to hear this getting fixed in v5. 😍
Does a version already exist where assign actions are not prioritized?

I have an event that deletes an actor by executing three actions.
1. Sending an event to the child machine.
2. Sending the stop event.
3. Assigning and removing the ref from context.

Because action three is executed first, the first two are never executed because I lose the ref t

[2020-03-31 23:30] davidkpiano commented on #603
Once `v5/microstep` is merged in, that will be the "version" that has that applied.

For now, go ahead and execute those actions in `assign()`.

[2020-04-01 05:23] anttiahola commented on #1105
Well, I disagree on the idea of meta being part of dynamic state. Just like the documentation says about meta:

Since meta is static and part of the machine definition, I think it should be made available when I call `interpret(fsm).start("someStringState")`. Of course I can use `fsm.getStateNode("someStringState").meta` as a workaround, but it would be cleaner to have it available without the wor

[2020-04-02 10:17] piojablonski opened #1109 "exit action is not triggered on child machine"
**Description**
Child machine runs using invoke on parent machine. Child machine has exit action defined.

**Expected Result**
I expect child machine exit action to trigger after it reaches it final state

**Actual Result**
Exit action on child machine is not fired

**Reproduction**
[code]
https://xstate.js.org/viz/?gist=5ebf91269382bbd3e0bc66c62643a2fa

[2020-04-02 13:01] Andarist commented on #1109
I can confirm that this should be fired as per [`exitInterpreter` procedure](https://www.w3.org/TR/scxml/#exitInterpreter)

[2020-04-02 13:45] BorisDaich opened #1110 "Question: how to do send('something', {to: ctx.sendToAsStr }) in MachineOptions"
## This is a question

very much like this one
["Can I pass values when sending events from one machine to another in xState" ](https://spectrum.chat/statecharts/general/can-i-pass-values-when-sending-events-from-one-machine-to-another-in-xstate~a4c3c146-fc07-4723-a5a3-b856f5c339ea)

## Description:

How to create an action in MachineOptions actions section that sends a message to a actor who's ID

[2020-04-02 17:42] Andarist commented on #1110
Make to an expression, not the whole action.

send(EV, { to: ctx => ctx.actorId })

[2020-04-03 09:29] piojablonski commented on #1109
I tried to do a workaround by using an "a" state exit hook, unfortunately id doesn't work etiher.
[code]

[2020-04-03 15:36] renerbaffa opened #1111 "onDone not triggered for parallel states"
**Description**
I was studying parallel states and more specifically trying out the example in the documentation (https://xstate.js.org/docs/guides/final.html#parallel-states). The `onDone` function does not get fired when children states get into the final state.

This issue might be related to https://github.com/davidkpiano/xstate/issues/335?

**Expected Result**
As the example in the documentat

[2020-04-03 16:57] davidkpiano commented on #1111
Try doing it in a child `parallel` state, rather than directly on the machine.

[2020-04-03 17:05] renerbaffa commented on #1111
It works only for the first parallel child moving to a final state.
The second `onDone` is also not being fired:

https://codesandbox.io/s/infallible-haze-h73e2

You can change the order of events sent to see it.

In any case, if that `onDone` in the machine level does not work, how would you fill up `data` to pass context to the parent?

[2020-04-03 18:48] phryneas opened #1112 "Docs vs implementation: should `autoForward` also forward events to other services than just machines?"
**Description**

The documentation states:

This wording implies that all children, also callbacks, should get those forwarded events. In reality, those are only forwarded to machines as the actor is only added to `forwardTo` in `spawnMachine`:

https://github.com/davidkpiano/xstate/blob/master/packages/core/src/interpreter.ts#L986-L988

This has cost me about 6 hours of wondering why my code does

[2020-04-04 00:13] dsebastien commented on #941
I'm quite interested in first class support for state serialization/deserialization.

In my system, I find it interesting to be able to persist (also in CouchDB, as it happens) the state of some data types. Being able to reconstruct a typed state object and further on a service/machine is very appealing.

I'm still hesitating between a simple union type, disconnected from whatever I do with XState

[2020-04-04 12:15] ThaddeusJiang commented on #742
Hi @davidkpiano
Could we writing a real world Testing Example.
like your talking https://www.youtube.com/watch?v=tpNmPKjPSFQ

[2020-04-06 08:38] mkarajohn opened #1116 "Cleaning and stopping spawned actors"
**This is a question**

This was originally asked on [StackOverflow](https://stackoverflow.com/questions/61013927/cleaning-and-stopping-spawned-actors-from-inside-a-service-in-xstate) and on Spectrum chat. Posting a question on Github was the last thing I wanted to do, sorry.

The question below is copy pasted from StackOverflow

**Description**
I have extensively read the docs, however, there are

[2020-04-06 14:20] thomas-m-andrus commented on #552
Could you include a more complex Typescript example? Maybe a todo list that is fully in typescript, where models, actions, guards, and services are separated into their own files and imported into the machine file. I was having particular trouble with creating an adequate model for a service, defined outside of the original file, and invoked in the machine. I eventually dropped the invoke entirely

[2020-04-06 14:52] renerbaffa commented on #1111
what would be the direction here?

[2020-04-07 05:13] viglucci commented on #255
Our team at [Blizzard](https://blizzard.com) leveraged xstate for the first time (via xstate-react) to control the various states on our beta signup panel on the official [World of Warcraft Shadowlands](https://worldofwarcraft.com/en-us/shadowlands/) website.

![image](https://user-images.githubusercontent.com/6305490/78632038-8f548d80-7863-11ea-954d-7e5879987662.png)

[2020-04-08 01:38] ezetreezy commented on #255
That's awesome.

[2020-04-09 04:51] IceSentry opened #1117 "[@xstate/react] Issue when updating a machine while rendering that affects another component"
**Description**
I'm not sure how to explain it, but I've made a code sandbox that shows the issue. The issue happens when calling send() from a component that is being rendered. When that send triggers a change and another component is looking at the state react throws an error.

**Expected Result**
no error thrown

**Actual Result**
calling send() raises an error that links to https://fb.me/setst

[2020-04-09 04:54] IceSentry commented on #1117
Sorry, I was using the send of the service directly instead of useService()

[2020-04-09 05:17] IceSentry commented on #1117
I closed it too fast, the issue still happens even when using send() from the useService() hook

[2020-04-09 10:30] SteelFace87 commented on #939
I have made the following helper function that seems to work well.

[code]

[2020-04-09 10:34] Andarist commented on #1117
Why do you want to send an event to a machine **during** rendering? This seems like a huge React anti-pattern. Send is still sort of a side effect so it shouldn't be used like this.

[2020-04-09 12:08] piojablonski opened #1118 "Delayed self transition on parallel state is always treated as internal transition."
**Description**
Delayed self transition on parallel state is treated as internal transition even with `internal: false`. In effect it doesn't reenter itself and doesn't trigger entry/exit actions.

**Expected Result**
I expect an event `log` to be fired every second.

**Actual Result**
Event `log` is fired only once, when the machine initializes.

**Reproduction**
https://xstate.js.org/viz/?gist=d

[2020-04-09 12:49] Andarist commented on #1118
As far as I can tell by checking this quickly - it works correctly: https://codesandbox.io/s/quizzical-field-f45v6?file=/src/index.js . There might be some bug in the visualizer though.

[2020-04-09 13:19] IceSentry commented on #1117
To do some things like in the code sandbox. I want to show the current state of the machine in another component that isn't the one that triggers the send. If you know of a better way to do that I'm opened to suggestions.

[2020-04-09 13:20] IceSentry commented on #1117
Oh, I realize my mistake now, I should have put the send in a useEffect()

[2020-04-09 13:35] IceSentry commented on #1117
Yep, I updated my sandbox and useEffect() fixed it, I'm not sure hwo I missed that sorry...

[2020-04-09 13:35] #1117 closed

[2020-04-09 13:46] davidkpiano commented on #1118
The visualizer is using an older version of XState (4.6).

[2020-04-10 00:52] chancestrickland opened #1120 "State type should be used in the Config type"
**Description**
The `StateMachine.Config` interface should accept a third generic for our state type, which should then be provided when used in the `createMachine` function. I think. I have declared my own module and haven't had any issues, but if there are any reasons this wasn't set up this way originally let me know. Happy to submit a PR with a fix otherwise.

[code]

Using the state type prov

[2020-04-10 07:05] piojablonski commented on #1118
Thanks, indeed it works correctly on version 4.8, I tested it only on the visualizer.

[2020-04-10 07:05] #1118 closed

[2020-04-10 13:51] davidkpiano commented on #1120
Want to create/discuss in a PR? 🙏

[2020-04-10 17:02] #1120 closed

[2020-04-11 21:55] chriscalo commented on #1107
I've used [microbundle](https://github.com/developit/microbundle) to do stuff like this in the past. Is that an acceptable solution?

[2020-04-11 22:21] Andarist commented on #1107
This has already been tackled by #1108

[2020-04-11 22:21] #1107 closed

[2020-04-12 02:29] jrogado commented on #963
I get the same problem with node v13.9.0 and xstate 4.8.0.

`SyntaxError: The requested module 'xstate' does not provide an export named 'interpret'`

Any developments on this issue?

[2020-04-12 06:11] Andarist commented on #963
Literally the previous comment says that we wont work on this right now and that we are going to tackle this in upcoming v5

[2020-04-12 10:49] #1110 closed

[2020-04-12 10:50] BorisDaich commented on #1110
Big thanks!

[2020-04-12 14:06] geekox86 opened #1123 "Feature request & question: dynamically import machines?"
Greetings all and thanks for the wonderful project.

I am wondering about the recommended strategies to scale larger state machines.
In particular, how can we load child machines on demand and destroy them when not needed, with optionally saving their final states for later.

I could not see in the definition of InvokeCreator an option to return a Promise<StateMachine>, so that I can use a dynamic

[2020-04-12 14:11] davidkpiano commented on #1123
Yes, the invoked service should be destroyed once you exit the state.

You can invoke promises: https://xstate.js.org/docs/guides/communication.html#invoking-promises

[2020-04-12 14:12] davidkpiano commented on #963
With that said, I'd accept a PR from someone who wants to fix this for the current version.

[2020-04-12 14:17] geekox86 commented on #1123
@davidkpiano Hi David. Thanks for the prompt response.

So basically I can invoke a promise that dynamically loads the child machine and then when the promise is resolved I can invoke the loaded machine, i.e. a double invoke.

If my understanding is correct then, I just need a syntactical sugar to make it easy to reuse this approach. Any suggestions?

[2020-04-12 14:41] Andarist commented on #963
Problem is that this would be a breaking change for all of our ESM-node consumers - im not sure if it would be a good thing to “fix” this within v4 for that reason because we know that this would break all of those consumers immediately.

[2020-04-12 16:17] jrogado commented on #963
So, in the meantime what is your advice to keep things gong? Revert to a previous version of node.js? Which, by the way?

[2020-04-12 17:14] jrogado commented on #963
In the meantime, found this workaround:
[code]
Also added this line to launch.json node xstateTest.js launch configuration:
`"runtimeArgs": ["-r", "esm"]`

[2020-04-12 17:16] maroshii commented on #945
In my case, I have an initial _identify_ state that invokes a new machine that `onDone` sets a session to the parent context. Only then I transition. This child machine is plucked from `rootService.children.get("identify")` and injected through react props/hooks. This keeps both machines (and react trees) loosely coupled.

Hope this helps! Happy to hear about other ways to go about it.

[2020-04-12 18:46] davidkpiano commented on #1123
Err, okay now that I understand it more clearly, that's probably not what you'd want to do.

Try invoking a callback instead. You would use a strategy like:

[code]

Sending back up to the parent gets a bit more complicated, since we don't have direct access to the service here (but that's changing in V5). However, you can still use `callback` as normal to sort of do this with a custom action:

[c

[2020-04-12 18:56] geekox86 commented on #1123
Thank you again for taking the time to respond to our questions. This is really helpful in quickly adopting Xstate.

This is what have got so far. What do you think?

[code]

And then it can be used like this:
[code]

Btw., what is the difference between `createMachine` and `Machine`?

[2020-04-12 18:59] geekox86 commented on #1123
Also, now when `appMachine` exists state `x`, will the invoked `dynamicMachine` be left for garbage collection?

[2020-04-12 19:00] geekox86 commented on #1123
Where can I read more about v5?

[2020-04-12 20:12] geekox86 commented on #1123
For sending events up to parent, how about adding a wildcard '*' event in the wrapper machine of `loadMachine` that catches all sent events from the dynamic machine and forward them to the intended parent using `sendParent`. I just need to use practically unique names for existing events to avoid collisions.

[2020-04-13 01:59] davidkpiano commented on #1123
This is problematic:

[code]

Don't mutate `context`.

[2020-04-13 14:03] Yuyz0112 commented on #1080
Any chance to schedule a new release with this patch?

[2020-04-13 15:27] krishna-prakash opened #1124 "useMachine hooks makes the component renders twice on mounting"
**Description**
I started learning xstate with some examples as given in documentations, but i am facing a weird issue. I am using xstate with react and hence ended up with useMachine hooks. But when i try to define it within my component and console the state it prints twice.

**Expected Result**
The component should render only once.

**Reproduction**
https://codesandbox.io/s/learning-xstate-zoe

[2020-04-13 16:40] krishna-prakash commented on #1124
sorry guys it was because of React strict mode, please ignore this issue

[2020-04-13 16:40] #1124 closed

[2020-04-13 22:05] davidhennemann commented on #795
Unfortunately the above error above is still happening for me as of today (with `4.8.0`). Only workaround for me was using `step0WithADelay` as @zed-k described. Any ideas on this?

[2020-04-14 02:24] FMcIntosh opened #1125 "[@xstate/react] rc.4 has an issue when sending events from parent to child"
**Description**
xstate/react@v1.0.0-rc.4 causes an issue with sending events from a parent machine to a child machine.

**Expected Result**
Sending an event from the parent machine to the child machine causes the child to transition and fire any actions associated with the transition.

**Actual Result**
The child seems to transition to the new state but doesn't run the actions

**Reproduction**
St

[2020-04-14 11:24] geekox86 commented on #1123
@davidkpiano Yes, thank you for pointing that out. Where can I read more about v5?

[2020-04-14 11:24] #1123 closed

[2020-04-14 12:54] davidkpiano commented on #1125
Verified this - it's because invoked machines inherit options from the parent, and in `rc.4`, `execute` is set to `false` (because React executes side-effects in `useEffect`) and that is set in child interpreters as well.

The fix here is to _not_ inherit the `execute` option. Will fix soon.

[2020-04-15 08:03] macs91 commented on #1015
Same issue here 👋

[2020-04-15 13:48] 3plusalpha opened #1127 "Question: can a nested state of type "final" terminate all parent states?"
## Question

I couldn't find it in the docs: can a nested state of type "final" terminate all parent states?

[2020-04-15 15:13] Andarist commented on #1127
You can raise an event and handle it in the top-level final state.

[2020-04-15 17:52] davidkpiano commented on #1127
This is described in the docs: https://xstate.js.org/docs/guides/final.html#final-states

[2020-04-15 17:52] #1127 closed

[2020-04-15 18:14] davidkpiano commented on #1015
Please try `xstate@latest` (4.9.0) with the latest TypeScript. This should be fixed now.

[2020-04-15 18:14] #1015 closed

[2020-04-16 07:06] RomainLanz commented on #1015
I confirm this is fixed on my application! Thanks! 🎉

[2020-04-16 13:24] davidkpiano commented on #1015
@RomainLanz Thanks for confirming!!

[2020-04-16 22:16] kevinold opened #1132 "useService logs warning about uninitialized service when service is passed to child component"
**Description**
In v4.7.0-4.9.0 a warning is logged to the console when calling `useService` on a service prop.

**Expected Result**
No warning.

**Actual Result**
Warning: Attempted to read initial state from uninitialized service 'toggle'. Make sure the service is started first.

**Reproduction**
https://codesandbox.io/s/xstate-react-template-uninitialized-service-warning-cz351

**Additional con

[2020-04-16 23:04] davidkpiano commented on #1132
This behavior likely occurred in 4.8.x as well, can you check there?

[2020-04-17 00:05] kevinold commented on #1132
@davidkpiano Yes, checked all the way back to 4.7.0 where this issue begins. It was not present 4.6.7 and 4.7.0 RC's throw errors.

[2020-04-17 12:44] pat123456 opened #1136 "CDN url broken"
Hello,
The [https://unpkg.com/@xstate/vue/dist/xstate-vue.min.js](https://unpkg.com/@xstate/vue/dist/xstate-vue.min.js) url is broken, no "dist" folder ?

[2020-04-17 19:20] ColCh opened #1138 "createMachine fails to infer typestate for particular state"
**Description**

given this code

[code]

**Expected Result**

assertion is not satisfied since `context` within `entry` is inferred as `YesNoContext`

![image](https://user-images.githubusercontent.com/599439/79606802-d6137480-80fa-11ea-9e2a-1c2859742915.png)

**Actual Result**

Within state, it should be inferred as one of literal contexts, see assertion functions

**Reproduction**

- [CodeSandb