[2021-05-06 13:38] davidkpiano commented on #2176
Duplicate of #2147, will be fixed soon in #2149

[2021-05-09 12:09] mr-bjerre opened #2183 "Entry action not fired when using service.start in specified state"
**Description**
I'm starting an interpreter in a specified state by

[code]

**Expected Result**
I'd expect the entry action in `inactive` to be fired right away.

**Actual Result**
The `entry` is action only fired when transitioning to `inactive` not when starting in `inactive`

**Reproduction**

Here is a [CSB](https://codesandbox.io/s/gracious-sara-rf37y?file=/src/index.js:551-671) demonstratin

[2021-05-09 15:37] mr-bjerre commented on #2183
It's definitely a valid point. I'd argue that both options make sense to me though.

As a minimum we should add a note in the docs about it. What do you think? Either in `entry` or in `.start`

[2021-05-09 16:13] Andarist commented on #2183
Question - could u describe ur concrete use case in more detail?

[2021-05-09 17:52] davidkpiano commented on #2183
@mr-bjerre This happens because `"inactive"` is interpreted as a state with no actions.

You can resolve it like this:

[code]

It's a bit awkward, because this isn't the normal way to do it. Ideally, when restoring state, the state comes from a previous interpretation of the machine, so you don't have to do `State.from` and `machine.resolveState`.

[2021-05-09 17:52] #2183 closed

[2021-05-10 12:41] engineersamuel commented on #2048
I've found that this workaround in #2127 is still too slow and can crash the inspector for even moderately complex contexts.

[2021-05-10 13:57] VanTanev commented on #2048
@engineersamuel

[code]

Here is a "big hammer" workaround for now :)

[2021-05-10 14:07] engineersamuel commented on #2048
Hahaha, yes that would work! But the inspector is so amazing I wouldn't want to give it up, but technically I guess I wouldn't be giving it up, I could still see the state, just not the context here, so point taken.    Likely part of the problem is the stringifying of more complex objects, likely I need to write a toJSON that ignores anything but primitive types and basic objects.

[2021-05-10 14:12] VanTanev commented on #2048
Yeah, that was my point in [my previous comment](https://github.com/davidkpiano/xstate/issues/2048#issuecomment-829944049) - to do a `toJSON()` implementation that is specific to a given context, and simplifies it to only the most important parts you need to be able to check in the inspector.

[2021-05-10 14:13] engineersamuel commented on #2048
So that may work on the initial context, but I think assign may be overriding it.  What we really need is the built in ability to override the toJSON without hacking it like this.  xstate should provide a function that can be overridden.

[2021-05-10 14:22] engineersamuel commented on #2048
@VanTanev I see, I dug deeper, and there is an issue still here.  The toJSON is not called when invoking `send`.   When invoking send the following code is invoked:

[code]

So you'll see the stringify is called there which does *not* respect the `toJSON`.    I think the inspector likely respects it, but sending it to the inspector performs a full stringify:

utils.js:
[code]

[2021-05-10 15:03] VanTanev commented on #2048
you can apply a similar fix to send event objects:
[code]

[2021-05-10 16:42] engineersamuel commented on #2048
Awesome, that works, I made a slight change, will record here for others as well.

[code]

Then call send with:

[code]

[2021-05-10 23:37] davidkpiano commented on #2101
This is now fixed by #2035

[2021-05-10 23:37] #2101 closed

[2021-05-17 21:13] monotykamary commented on #1997
The easiest workaround I use is to just augment and overload the `from` function:

[code]

[2021-05-18 17:59] berndartmueller opened #2210 "@xstate/fsm + Preact + Next.js - Shallow routing causing machine service to stop and not starting again"
**Description**

Using @xstate/fsm + Preact + Next.js and shallow routing leads to re-rendering of the component and causing the xstate service to stop. Unfortunately, it seems the service is not restarted again.

The main issue here seems to be Preact. I tried the same setup with React.js without any issues.

**Expected Result**

Machine service should be stopped and restarted accordingly.

**Act

[2021-05-19 17:29] morrisis opened #2216 "Memory leak in interpret when using invoke"
**Description**
First, as a new user of xstate of only a month, please excuse my lack of knowledge of the xstate terminology.

When using 'invoke'd async javascript functions, there is a constant and persistent memory leak. This is being generated in the interpreter. Creating a small interpreter to invoke the same actions results in no memory leak.

**Expected Result**
No memory leak, resident mem

[2021-05-19 21:14] davidkpiano commented on #2216
Hey @morrisis, thanks for the reproduction! For anyone curious (and hopefully I'm not doing this wrong), I'm running it by doing:

1. `node --expose-gc --inspect ./path/to/file.js`
2. Inspecting via Chrome dev tools: https://nodejs.org/en/docs/guides/debugging-getting-started/

I don't think the memory leaks are coming from the invoked promises. If you remove the invocation:

[code]

You will see

[2021-05-19 21:14] #2216 closed

[2021-05-19 23:34] morrisis commented on #2216
David - Thanks for the followup. I see what you are doing. It makes sense. It is the "global registry" which is hurting me. In my scenario, I am building machines and interpreters for an accessed database record and all children (recursive as needed). Performance is good. It will be necessary to keep track of all the interpreters and manually "stop" them.

There is never a "final" state for this d

[2021-05-20 17:15] rgedwill opened #2219 "'Edit this page' button is broken in docs"
**Description**
Clicking on 'edit this page' in the docs leads to a 404 page on github instead of the edit page.

**Expected Result**
Redirect to 'edit' page of respective docs file.

**Actual Result**
Leads to 404

**Reproduction**
1. Go to a docs page (https://xstate.js.org/docs/guides/transitions.html)
2. Scroll to bottom and click 'edit this page'

**Additional context**
I would offer to fix t

[2021-05-20 21:28] Andarist commented on #2216
If you stop the parent then all children (recursively) should be stopped as well. If you just dereference the parent then this won't happen though - in a similar fashion as if you would dereference unresolved promise, if it ain't resolved then it continues to live in memory.

[2021-05-20 23:43] #2219 closed

[2021-05-21 20:25] davidkpiano commented on #1491
The `useSelector(...)` hook now solves this:

[code]

See here: https://codesandbox.io/s/xstate-react-render-forked-u9nbk?file=/src/index.js

[2021-05-21 20:25] #1491 closed

[2021-05-21 20:30] davidkpiano commented on #1617
Closing as this cannot be reproduced.

[2021-05-21 20:30] #1617 closed

[2021-05-21 20:31] #346 closed

[2021-05-22 10:38] niallpaterson opened #2232 "Typescript documentation example is not type-correct"
**Description**
The documentation provides an example of how to use typescript with xstate. But the documented example is not type-correct.

**Expected Result**
I expected the typescript documentation example to be type-correct.

**Actual Result**
The provided example throws type errors, in particular with the second and third generic parameters of createMachine.

**Additional context**
If I switc

[2021-05-22 12:19] davidkpiano commented on #2232
Yes please!

[2021-05-22 18:07] VanTanev commented on #2232
Back a while ago I wrote this small script that validated typescript examples in documentation:
https://github.com/VanTanev/angular-styleguide/blob/typescript-examples/a1/scripts/verifyTypescript.js

Maybe we could adopt something like it 🤔

[2021-05-23 10:16] niallpaterson commented on #2232
@VanTanev yeah that's a great idea! What an awesome little script 😊

[2021-05-24 13:19] matthewp commented on #293
Are there plans for this? People have asked for support for JSON output in Lucy and I'd love to support it but don't want to do so until there's a JSON format that other tools use. See https://github.com/lucydsl/liblucy/issues/45

[2021-05-24 14:20] davidkpiano commented on #293
Yes there are. The schema that will likely be used (subject to minor changes, if any) is here: https://github.com/davidkpiano/xstate/blob/main/packages/core/src/machine.schema.json

[2021-05-25 04:06] SimeonC opened #2238 "Children machines get stopped/dereferenced when targeting sibling parallel machine"
**Description**
If a machine sends an event to a parallel state, the child machines of the sending machine are stopped.

[code]

The workaround for this is to change `on: { SOMETHING: 'machineA.two' }` to `on: { SOMETHING: ['#machineA.two', '#machineB.start'] }

**Expected Result**
On sending `SOMETHING`;
* machineA should be in state `two`
* machineB should be still in state `start'
* `someMachin

[2021-05-25 12:34] davidkpiano commented on #2238
One workaround that you can do is to `raise(...)` an event internally:

[code]

[2021-05-25 16:38] VanTanev opened #2239 "machine.withConfig() returns a StateNode type instead of a StateMachine type, breaking event inference downstream"
**Description**
`StateMachine.withConfig()` returns a `StateNode` instead of a `StateMachine`. This breaks interpreter inference.

[code]

**Reproduction**
https://codesandbox.io/s/machinewithcontext-returns-a-statenode-type-instead-of-a-statemachine-type-k2mxk

**Fix?**
[code]

[2021-05-25 16:58] VanTanev commented on #2239
PR: https://github.com/davidkpiano/xstate/pull/2240

[2021-05-25 17:04] #2239 closed

[2021-05-25 19:27] davirbeiro-1 commented on #2216
Hello I have a question about the promises behavior in xstate. How to control a transition sent by `interpret.send(event),` when a promise didn't finished yet? The activities property indicates when the promise is over, turning its properties values to false. My idea is to always verify the activities property before sending the next event. Is this a good approach?

[2021-05-25 20:16] VanTanev commented on #2216
Not the place for this discussion, open a new one in the discussion tab.
But basically, there are better ways to handle this depending on constraints.
You can have a guard on the event, and do the transition only if some condition is met. You can abandon the promise, that is usually also OK. Depends on the goal.

[2021-05-26 15:44] #1520 closed

[2021-05-27 22:09] bernarma opened #2249 "The TODO MVC VueJS Application does not save a change to a TODO item once created."
Example from here: https://xstate.js.org/docs/examples/todomvc.html#todomvc-with-vue

**Description**
Open the CodeSandbox via the link above.
Add a new TODO Item.
Double click on the newly created TODO item and attempt to modify the name.
Press enter to save.

**Expected Result**
The TODO item should be updated with the newly entered name.

**Actual Result**
The TODO item name reverts back to the

[2021-05-29 21:09] robertpenner opened #2258 "Difficult to realize initial state is missing, due to unclear error message"
**Description**
While defining a machine, I find it's quite easy to forget to define an initial state. This triggers a run-time error, which is good, but the error message doesn't help me pinpoint the problem.

**Expected Result**
A clear error message diagnosing the initial state issue, e.g.:
[code]

**Actual Result**
The error message reads:
[code]
(Secondarily, in XState Viz, this error doesn't

[2021-05-29 21:42] davidkpiano commented on #2258
Yeah, when the visualizer is updated (still working on it), this problem will go away, so I'll close this as a duplicate (since there are other issues related to the visualizer being out-of-date) if that's okay.

[2021-05-29 21:42] #2258 closed

[2021-06-02 10:15] VanTanev opened #2271 "getSnapshot() should be part of the ActorRef type"
**Description**
Currently `getSnapshot()` is on the `SpawnedActorRef` type. This seems incorrect.
`SpawnedActorRef` seems to represent actors that XState controls in some fashion, while `ActorRef` is the more generic actor object.

It seems like `getSnapshot()` belongs on the generic `ActorRef` type, as all actors should provide this interface - including user-defined ones. Was this not done becau

[2021-06-02 13:14] davidkpiano commented on #1063
Closing as this is supported.

[2021-06-02 13:14] #1063 closed

[2021-06-02 13:47] el-dav opened #2273 "'Global' actions are overridden by state specific actions when both are triggered by the same event"
**Description**
'Global' actions are overridden by state specific actions when both are triggered by the same event

**Expected Result**
Both 'Global' and state specific actions should be triggered

**Actual Result**
Only the state specific action is triggered

**Reproduction**
- [CodeSandbox (JavaScript) reproduction](https://codesandbox.io/s/determined-bell-cic83?file=/src/App.js)

**Additional

[2021-06-02 14:26] with-heart commented on #2273
I believe that's intentional although I couldn't find anything about it on Discord or in the docs. It allows more specific states to override the `actions` defined in outer states, sort of like overriding defaults.

I've run into situations where I wish I could specify that I wanted them both to happen though.

[2021-06-02 14:39] davidkpiano commented on #2273
Yes, this is working as designed.

That's where parallel states come in handy. Otherwise, you can do this in user-land:

[code]

[2021-06-02 14:39] #2273 closed

[2021-06-02 15:32] with-heart commented on #2273
@davidkpiano Thanks for the info!

[2021-06-02 17:19] el-dav commented on #2273
Okay thanks, good to know!

[2021-06-03 02:57] joneshf opened #2276 "Adding a second event to a model seems to cause type errors"
**Description**

It seems like using a model can cause a type error if there's more than one event.
I've made a reproduction of the issue at https://github.com/joneshf/xstate-model-type-error.
E.g. going from:

[code]
to

[code]
Seems to trigger the issue.

I could totally be doing something incorrect here.

For posterity, this is the code from the linked repo:

<details>
<summary>index.ts</summar

[2021-06-03 14:49] davidkpiano commented on #2152
Added a Replay for this: https://replay.io/view?id=902fa34c-5fa0-4f60-bce9-d96f6db55edf&point=12656223600751063219641806915371361&time=6917.484634404804&hasFrames=true

[2021-06-03 18:08] ilyavf commented on #321
Wow, this is really verbose. Here is how `parallelServices` helper may look like if we need to run different actions per service:
[code]

And to use it:
[code]

[2021-06-04 00:47] jasonLaster commented on #2152
Oh hey @SimeonC! @davidkpiano and I were pairing this morning and found some pretty interesting things in the replay. All of this is in the comments, but passing it along here too:

1.  The fact that the second counter has a custom comparator matters
2. The subscribe call is never called for the default comparator  [link](https://replay.io/view?id=902fa34c-5fa0-4f60-bce9-d96f6db55edf&point=1265622

[2021-06-04 03:15] SimeonC commented on #2152
Hey @jasonLaster! Small world 😀 Xstate and replay.io together is like a superhero crossover event!

I had a look through the replay too and added a comment. My guess is that the useEffect is getting re-called on every render with a non-default comparator forcing the actor to be re-subscribed to. I wonder what would happen if we added the `actor` to the dependencies of the useEffect 🤔 . I think tha

[2021-06-04 08:01] Andarist commented on #2152
Yep, the problem is that a deferred actor is created at first and it's based on a null actor that has a stub `subscribe` method. So we subscribe to that and we never re-subscribe to the correct actor because we only depend on `selector` and `compare`:
https://github.com/davidkpiano/xstate/blob/62c171d745fe25d04361d8dce553add06464fc96/packages/xstate-react/src/useSelector.ts#L48

The suggestion to

[2021-06-05 01:32] devanshj commented on #2126
It does look like an TS issue to me too but here's a [workaround](https://www.typescriptlang.org/play?#code/GYVwdgxgLglg9mABBATgUwIZTQZQgCzQFsMAeAFQD4AKDAfgC5EMwBPASifMQG8AoRInRQQKJBgDcfAL58+MMNhTAMENIgCiANzSKA8gCMAVmmi8BiKKwAOaJgGcoKBQHMpsvlduIAsqvwKuATEZOQAwgjYAB5QADSI5Nq6UIhoMboAJvaaOvrGplCUiAC85oL2wSSMZYLIkWlQ1eH1MVK1qblQ9k1Jim2I0v0I1fztANoA0ogKCb1QYwBEXmgLALqIAD6ICwBUa4wW7VMNmdm7C4ftiHSIYCBEB

[2021-06-05 07:47] Andarist commented on #2126
@devanshj thank you for providing this workaround - it will probably come very helpful in fixing this. Why don't you believe this is a TS issue though? The hover tooltips have this information and providing generics in a different way doesn't result in this problem.

[2021-06-05 07:55] devanshj commented on #2126
Umm I literally said "It does look like an TS issue to me too" hahaha XD. I agree with you that it indeed is a TS issue for the same reason you stated - the tooltip thing. Am I missing something or just a miscommunication? xD

[2021-06-05 22:26] #1105 closed

[2021-06-06 06:28] Andarist commented on #2126
this is what I get when I'm rushing through GitHub issues between family things 😅 I've misread your comment - thanks for clarifying 👍

[2021-06-07 00:49] #2271 closed

[2021-06-08 13:56] TheDutchCoder opened #2289 "Xstate devtools injects itself into certain pages and breaking them"
## Bug or feature request?
Bug

## Description:
When visiting pages that use Redux, the Xstate Devtools seems to inject itself and throw an error, breaking the page.
I discovered this while visiting an invite page for Officevibe, where I couldn't accept the invitation because ReduxDevTools would throw a console error (uncaught promise).

I went through all extensions and isolated it to the Xstate

[2021-06-08 14:02] davidkpiano commented on #2289
Is it because of this extension? https://chrome.google.com/webstore/detail/xstate-devtools/aamnodipnlopbknpklfoabalmobheehc?hl=en

We do not own nor maintain that extension.

[2021-06-08 14:52] TheDutchCoder commented on #2289
My apologies, I thought it was an "official" extension. I'll take it up with them!

[2021-06-08 14:52] #2289 closed

[2021-06-09 11:41] houkagoweedtime commented on #239
@davidkpiano perhaps not entirely related to the question, but how would I add generic typings for typescript via `.withConfig`?

[code]
I tried something like
[code]
this doesn't work though...is there some idiomatic way of doing this?

[2021-06-12 20:59] davidkpiano commented on #239
Can you ask this in the discussions?

[2021-06-15 08:53] SimeonC opened #2300 "Bug with @xstate/immer and delete"
**Description**
According to the immer.js docs we should be able to use `delete context.value` or `delete context['value']` but neither of these seem to work. The workaround is to set the value to `undefined` directly.

https://immerjs.github.io/immer/update-patterns#object-mutations

**Expected Result**
Triggering `deleteAction: assign(context => { delete context.value; })` should delete the valu

[2021-06-15 12:27] davidkpiano commented on #2300
I believe this was mentioned (without Immer) in a previous issue, but you can assign `undefined` to it instead.

[2021-06-16 02:21] SimeonC commented on #2300
Thanks, yea that workaround works fine for me. I think the previous issue was https://github.com/davidkpiano/xstate/issues/989 from my searching. I was searching specifically for immer issues so didn't find that last time.

[2021-06-17 11:04] Silverwolf90 opened #2306 "Eventless transition actions are passed different events"
**Description**
Eventless transition actions are getting passed different events depending on if they are a built in (assign, pure) or just a normal function.

**Expected Result**
They would all receive the same event (preferably the one logged in the function, as that is more useful than a null event).

**Actual Result**
- `assign`, `pure` (didn't test other built in actions) receive a null event

[2021-06-17 11:32] Andarist commented on #2306
This is something that we are aware of and something that is going to be fixed in the next major version.

[2021-06-17 12:29] Silverwolf90 commented on #2306
Ah thanks, good to know! Is there a workaround? For `assign` actions it looks like I can grab the event from the `meta.state.event`, but the `meta` is not available for `send`/`pure`.

[2021-06-17 12:41] allestaire commented on #696
I've got this problem but the error was caused with,
The machine I was created was recreated as a machine which doe not causes error
so the code was
[code]

The error was not so clear. But hopefully this experience would help :)

[2021-06-17 13:55] Silverwolf90 commented on #2306
As a workaround I've simply replaced `always` in favor of `entry` + `send`

[code]

[2021-06-20 16:46] joneshf commented on #2276
Hey so, somehow it started erroring on the code sandbox. Nothing's changed since this issue was opened, but it at least reproduces the issue now. The error is on like 46 now (due to reformatting).

[2021-06-20 18:39] davidkpiano commented on #2276
If you remove the type annotations, it works fine:

[code]

[2021-06-20 20:38] Andarist commented on #2276
This is because the `ActionObject` type has a contravariant property (`exec`). We plan to remove this in the future (or rather - remove that from the type) - so this should become assignable.

[2021-06-21 03:12] davidkpiano opened #2319 "Errors should respect source maps & unhandled rejections"
I just found my way here because I was trying to figure out why we don't get a proper sentry.io error from a service that fails in strict mode. Turns out that the error is just logged to console and not propagated to Sentry's unhandled promise rejection handler. While logging is great for backend applications this happens in frontend code where we rely on Sentry error collection as it groups the e

[2021-06-21 03:42] davidkpiano commented on #463
Closing this because the original issue (sync errors in actions) is now working as expected (errors are thrown, not swallowed).

#2319 will be used to address the source map + unhandled promise rejection issue.

[2021-06-21 03:42] #463 closed

[2021-06-21 03:53] davidkpiano commented on #1198
This problem can now be mitigated using `createModel`: https://xstate.js.org/docs/guides/models.html#typescript 📖

It will be improved in v5.

[2021-06-21 03:53] #1198 closed

[2021-06-21 03:55] davidkpiano commented on #945
The original issue is now fixed with the latest `@xstate/react` and `xstate` versions: https://codesandbox.io/s/great-hill-31eqd

[2021-06-21 03:55] #945 closed

[2021-06-21 03:57] #1112 closed

[2021-06-21 04:04] davidkpiano commented on #1060
Moving this to a more general discussion, since this is not yet a feature of XState: https://github.com/davidkpiano/xstate/discussions/2322

[2021-06-21 04:04] #1060 closed

[2021-06-21 04:07] davidkpiano commented on #1547
This is no longer an issue in the latest `@xstate/react`

[2021-06-21 04:07] #1547 closed

[2021-06-23 19:35] #1471 closed

[2021-06-24 03:14] snikch opened #2332 "Performance issue with xstate inspector + rxjs Subject + fast-safe-stringify"
**Description**

I've somehow managed to create a state that takes 11s to send to the interpreter. In looking into the issue, I've discovered that the `fast-safe-stringify` `stringify` method's runtime is somewhat linear to the complexity of a state chart under certain circumstances.

The offender appears to be when you invoke an `rxjs` `Subject`. The resulting call to `stringify` calls `decirc` a

[2021-06-24 16:21] DexterShepherd opened #2336 "Discord link on xstate.js.org is invalid"
**Description**
It seems like the discord invite on xstate.js.org is invalid. Maybe it's expired?

Thanks for the great library. Looking forward to getting into the community and learning more.

**Expected Result**
Clicking the discord link on xstate.js.org/docs or the community link on xstate.js.org should link to a valid discord invite or community page.

**Actual Result**
Both links point to an

[2021-06-24 16:26] santicros commented on #2336
Can you try to open the link on incognito? It's this one: https://discord.com/invite/xstate

For me it's working! Maybe its some chache or something

[2021-06-24 16:29] DexterShepherd commented on #2336
Interesting, it does in fact work in incognito mode. Must be something on my end then, feel free to close.

Sorry for the false report, I'm not that familiar with discord and assumed these were just static links that either worked or didn't.

[2021-06-24 17:35] davidkpiano commented on #2336
For all others having trouble: https://discord.gg/xstate

[2021-06-24 17:35] #2336 closed

[2021-06-24 21:06] BrunoQuaresma opened #2338 "Typescript - Context type error when using model.InitialContext"
**Description**
Context is returning type error when using model.initialContext

**Expected Result**
 No type error

**Actual Result**
A type error

**Reproduction**
Here is a codesanbox https://codesandbox.io/s/late-shadow-kelkd?file=/src/dragMachine.ts

[2021-06-24 21:57] davidkpiano commented on #2338
Will be fixed in #2334

[2021-06-24 22:01] BrunoQuaresma commented on #2338
Perfect, thank you.

[2021-06-24 22:01] #2338 closed

[2021-06-24 22:27] Andarist commented on #2338
I don't think that #2334 will fix this entirely.

The problem is that the first overload has failed to match and the second has been tried - which didn't match either and resulted in a cryptic error. This might get fixed with #2334

There is more to it though. Our types are not smart enough (this is a *very* hard thing to do at the type level) to know what kind of events `implementations.actions`

[2021-06-24 22:57] davidkpiano commented on #2338
Right; this will be fixed for actions that do _not_ restrict event types in `actions` (per @Andarist's explanation)

The workaround, for now, is to specify those `model.assign(...)` actions inline.

[2021-06-25 14:06] davidkpiano opened #2341 "Machine input ideas"
Another idea (from Discord) for reference:

[code]

_Originally posted by @davidkpiano in https://github.com/davidkpiano/xstate/pull/2334#discussion_r658337635_

[2021-06-25 21:14] BrunoQuaresma commented on #2338
Using @Andarist as base, how could I make the `guards` on `implementations` be typed? https://codesandbox.io/s/serene-sunset-c8wun

[2021-06-25 21:31] davidkpiano commented on #2338
We should make a helper for this, but you can do this:

[code]

[2021-06-25 21:53] BrunoQuaresma commented on #2338
The `ModelSomethingFrom` is quite helpful tho, thanks.

[2021-06-26 22:37] johnnydecimal opened #2349 "Nested parallel states don’t bubble up the `done` event"
Nested parallel states don’t seem to bubble up the `done` event. As a result, the `onDone` transition is not taken.

Both the docs and the spec seem to indicate that this should be possible.

[SCXML spec, 3.4.2.](https://www.w3.org/TR/scxml/#parallel)
In the context of children of a <parallel> node, the following is allowed:

[XState docs, Final/Parallel states](https://xstate.js.org/docs/guides/f

[2021-06-27 20:15] santicros commented on #2249
The current example of the todo-mvc for Vue has different problems and is outdated with Vue 2. It's currently not even working for me :(

In this PR I've created a new version of it with everything working and updated to Vue 3:
https://github.com/davidkpiano/xstate/pull/2351

[2021-06-28 13:27] woutermont commented on #1997
RxJS v7 no longer has the depracated methods, but XState's `Interpreter` still does not to work with `Observable.from()`.

Compilation now fails with `Argument of type 'Interpreter<Context, Schema, Event, State>' is not assignable to parameter of type 'ObservableInput<any>'.`

This makes sense, since v7 also removed `Subscribable<any>`, on which the `Interpreter` was modeled, from the union type o

[2021-06-28 13:31] davidkpiano commented on #1997
Is there a way to do this without depending on `rxjs`?

Also, I'd appreciate a PR for this if you have an idea of how to make this work 🙏

[2021-06-28 13:43] woutermont commented on #1997
Actually, I just noticed that symbol is already added in the `Interpreter` class ... so I have no idea why that would not work.

[2021-06-28 13:44] woutermont commented on #1997
Btw: using `Symbol.observable` would exactly be NOT depending on RxJS, since that is a package-independent interop symbol.

[2021-06-28 14:36] woutermont commented on #1997
Okay, so I got this to work in a project where we're using XState, and it was solved by adding the following line to the typing of the `Interpreter`:

[code]

However, I can't see why this would not already appear based on the current TS code, or how I would add it (but maybe I'm missing something obvious).

[2021-06-28 15:14] davidkpiano commented on #1997
It's currently typed as `any` (for some reason) and seems like more of a runtime thing.

Made a PR for this, though: #2358

[2021-06-28 15:29] woutermont commented on #1997
Indeed, wrote the same code locally, but it behaves differently than expected (which also makes the test fail).

[2021-06-28 18:36] j-funk commented on #2232
Since this is related to TypeScript docs / examples I noticed that `MachineOptions` is not mentioned at all in the documentation.  I found out about it via the following blog:

https://dev.to/giantmachines/an-introduction-to-xstate-in-typescript-1pdn

[2021-06-28 18:52] davidkpiano commented on #2232
Ideally you shouldn't have to manually reach for types like that.

[2021-06-28 19:11] j-funk commented on #2232
Thank you for replying @davidkpiano, love XState.

I am defining / implementing my guards and actions in a separate options object and eslint was complaining:
![Screen Shot 2021-06-28 at 3 09 58 PM](https://user-images.githubusercontent.com/4483540/123690859-e953c100-d822-11eb-80af-ed50f2fe5752.png)

I'm new to TypeScript, maybe I'm missing some part of the rationale or perhaps I should structure

[2021-06-28 19:31] davidkpiano commented on #2232
@j-funk Try to type your guards as:

[code]

And your actions as:
[code]

[2021-06-28 20:59] j-funk commented on #2232
Thank you David, but isn't that quite redundant?  Using `MachineOptions<Context, Event>` resolves it nicely without needing to type every parameter, which can be a lot if you have a significant number of actions/guards etc.  I do appreciate your time commenting on this, thank you.

[2021-06-28 23:31] #2249 closed

[2021-06-29 02:41] davidkpiano commented on #2232
Yes, it is redundant; I was moreso addressing [this comment](https://github.com/davidkpiano/xstate/issues/2232#issuecomment-869923341); the typical use-case would be defining actions, etc. inline or as the 2nd argument to `createMachine(config, options)`. You can use the `MachineOptions` type to externally define machine options, but the documentation cannot cover every possible use-case. We can i

[2021-07-01 23:00] alavkx opened #2373 "Passing a ref to @xstate/inspect crashes/throws"
**Description**

Passing an HTMLVideoElement ref to `useMachine` when `devtools: true` throws
[code]

In the Electron app that this code was written in the app infinite loops and freezes, with no runtime error in the console.

**Expected Result**

Can inspect machine

**Actual Result**

App crashes

**Reproduction**

https://codesandbox.io/s/agitated-knuth-g18yr?file=/src/MediaPlayer.tsx

**Additi

[2021-07-02 07:07] Andarist commented on #2349
I've dug into this and it turns out that this isn't a bug - at least not according to the SCXML spec.

The problem is that parallel states are not compound states - only `<state>` elements can be classified as compound. And the only moment where `done.state.id` events are created is in the [`enterStates` procedure](https://www.w3.org/TR/scxml/#enterStates). As we may see there the `done.state.id`

[2021-07-02 09:49] davidkpiano commented on #2349
I agree, this could be an additive enhancement; one that's not contradictory to SCXML's normal behavior (except in unlikely/theoretical edge-cases) so I would be open to deviating slightly from the spec here to support this.

[2021-07-02 20:54] johnnydecimal commented on #2349
Thanks gents. Alternatively if you’d prefer to stay on-spec, I’d be happy to contribute docs explaining an alternate solution (after I’ve figured out what that would be!).

[2021-07-04 11:26] Andarist commented on #2349
@johnnydecimal I'm looking into implementing this - should have a PR for it this week, I only need to write down tests for this and rethink how this plays with some other parts of the algorithm that we already have in place.

[2021-07-04 17:17] johtso opened #2380 "ActorRef.getSnapshot() missing from docs"
I was bumbling around with spawned actors, directly accessing `myActor.state` and typescript was rightfully telling me off.

I had to look at the type definitions to see that `ActorRef` has a `getSnapshot` method. A search of the docs only shows it mentioned in the context of the vue/react packages.

I'm guessing it's new and the `Actor` docs page needs to catch up?

Edit: A useful description fro

[2021-07-04 18:23] johtso commented on #2127
This is also the story when using redux / redux dev tools etc., every step of the way you get punished for using modern javascript data structures 😆

Would be beyond awesome if using Map and Set with xstate would "just work".

[2021-07-04 18:27] johtso opened #2381 "[statecharts.io/inspect] Narrow window breaks display"
When you reduce the window width everything disappears. Awkwardly this seems to happen at exactly 50% of the width of a 13" macbook screen 🙈

https://www.loom.com/share/a587ccc3b6604cb99896689e09f0553b

[2021-07-04 20:23] davidkpiano commented on #2127
It does "just work" in XState, just not with the inspector 😓

[2021-07-04 20:34] davidkpiano commented on #2381
Duplicate: https://github.com/statelyai/xstate/issues/1431

[2021-07-04 20:34] #2381 closed

[2021-07-04 21:43] johtso commented on #1431
Had a poke around and this is the offending CSS:

[code]

[2021-07-05 09:19] johtso commented on #2127
I guess one of the the potential pain points is persistence, but xstate leaves that to the user so it's up to you to use the right serialisation approach (e.g. orjson).

[2021-07-05 16:22] bard opened #2383 "Machine stops due to Fast Refresh"
**Description**

When fast refresh is enabled and a component that calls `useMachine` is modified, the service run by `useMachine` stops.

**Expected Result**

Service stays active.

**Actual Result**

Service stops.

**Reproduction**

I suspect that this is a lower level issue that what can be reliably checked on CodeSandbox, so I created a reproduction which is little more than the XState/React+

[2021-07-06 17:39] #2380 closed

[2021-07-07 22:14] johtso commented on #2383
Would be interested in a workaround for this. Fast refresh is super useful for development.. but now that I'm using xstate I'm having to refresh the page any time I make a change.

[2021-07-07 22:22] johtso commented on #1431
Oops, saw a familiar bug while exploring youtube 🤣 (great video by the way)  https://youtu.be/onEGFGNHEV0?t=1388

But yeah.. I think just removing the `display: none` rule for now is probably a good step. Things do get a bit unusable when the window is too narrow.. but that's trickier css/design problem to solve (maybe have a portrait mode with the events displayed above the machine?).

[2021-07-08 11:30] davidkpiano opened #2397 "I don't think there is a `stateNotIn` guard, instead you need to use `not(stateIn(...))`. I guess it's just the change note that's wrong?"
I don't think there is a `stateNotIn` guard, instead you need to use `not(stateIn(...))`. I guess it's just the change note that's wrong?

_Originally posted by @johtso in https://github.com/statelyai/xstate/issues/1443#issuecomment-876300036_

[2021-07-08 22:34] #1997 closed

[2021-07-09 07:57] korrix opened #2400 "Invalid order of invoked services teardown"
**Description**
When an invoked machine uses `sendParent` action at `exit` it is not guaranteed that the parent will exist at the time.

**Expected Result**
Nested machines should be torn down in topological order

**Actual Result**
XState crashes due to invalid ordering

**Reproduction**
- [CodeSandbox](https://codesandbox.io/s/friendly-proskuriakova-chqpy?file=/src/index.ts)

**Additional contex

[2021-07-09 08:09] korrix opened #2401 "External self-transition does not work as expected inside parallel state"
**Description**
External self-transition does not invoke entry/exit actions if the state is member of a parallel state

**Expected Result**
State should get exitted and reentered

**Actual Result**
Nothing happens

**Reproduction**
- [CodeSandbox](https://codesandbox.io/s/young-shadow-2jboh?file=/src/index.ts)

**Additional context**
XState 4.22.0

[2021-07-10 22:05] karfau opened #2410 "using `useSpawn` in @xstate/react@>=1.5.0 requires at least xstate@v4.22"
**Description**
`useSpawn` tries to import from `xstate/[src|lib]/behaviors` which seems to only exist since v4.22.

**Expected Result**
Not sure, ideas:
- correct version range for 1.5.2 version in
[code]
- conditionally check if the behaviors import is required/are available?
- update changelog/release notes of 1.5.0 and 1.5.1 regarding this issue
- ???

**Actual Result**
With an earlier version

[2021-07-10 22:08] davidkpiano commented on #2410
cc. @Andarist

[2021-07-14 13:04] rlaffers opened #2412 "[@xstate/react] send function from useActor"
**Description**
The `send` function returned from the `useActor` hook has not the same API as the send function returned from `useService`. Since the docs recommend replacing the now deprecated `useService` with `useActor` their accepted arguments should be equivalent.

**Expected Result**
[code]

**Actual Result**
[code]

**Reproduction**
https://codesandbox.io/s/hungry-sound-gmbny?file=/src/inde

[2021-07-15 02:32] Sczlog opened #2415 "Assign action in entry get a wrong state"
**Description**
Action in entry will get different state for assign action and non-assign action;
[code]
**Expected Result**
They should have same state value, I think the state should be the target state, not previous state;

**Actual Result**
They have different state value:
![image](https://user-images.githubusercontent.com/29588646/125718637-708dfffc-002d-4e41-8946-a10c5e2c7391.png)

**Reprodu

[2021-07-16 01:19] ilmarmors opened #2419 "Delay function can't access current state where it is referenced"
**Description**
There is option to specify delay in state after section as function. In my use case it makes sense to use one function that calculates delay based on current state and optionally context variable value. It looks like currently delay function is called first, even before interpreter changes state.value and is calling onTransition listener.

Probably most general solution would be ad

[2021-07-16 11:43] rlaffers opened #2421 "The third argument passed to services has no "state" prop"
**Description**
While guards and actions receive the machine state in its third "meta object"  argument, services don't.
(Less importantly - but inconsistently too - there is no "_event" property on the meta object).

[code]
Compare vs a guard or an action:
[code]

**Expected Result**
[code]

**Actual Result**
There is no state property on the third argument passed to services.

**Reproduction**
h

[2021-07-16 12:37] rlaffers commented on #2306
A partial workaround for the `assign` action - use the meta object passed as the 3rd argument to some actions.
[code]
Alas, this does not work for the `pure` and `send` action creators (I haven't checked others).

[2021-07-16 22:29] Blitz2145 opened #2423 "Context type becomes `any` after `matches` conditional"
**Description**
Context type becomes `any` after `matches` conditional

**Expected Result**
Context type maintained.

**Actual Result**
Context type becomes `any` after `matches` conditional

**Reproduction**
https://codesandbox.io/s/objective-noether-11jjk?file=/src/index.tsx

**Additional context**
Strict mode typescript, see codesandbox index.ts line 39 for the error.

[2021-07-17 13:53] dqunbp opened #2424 "Create machine from the model typescript example doesn’t work"
**Description**
When creating a state machine from a model, types are not in woks correctly

**Expected Result**
Works correctly with types as in the example from the docs
https://xstate.js.org/docs/guides/models.html#typescript

**Actual Result**
Shows `ts(2322)` error in the actions

**Reproduction**
- [CodeSandbox example (TypeScript)](https://codesandbox.io/s/xstate-model-6i98z)

**Additional

[2021-07-17 14:10] paulrberg opened #2425 "TypeScript guide doesn't show how to use the "UserEvents" type"
Copy-pasting from the [Actions](https://github.com/statelyai/xstate/blob/d803c3313047969fc9d1bb35274531c34b1c99e4/docs/guides/typescript.md#actions) section:

[code]

The `UserEvents` type is not used.

[2021-07-17 14:22] paulrberg commented on #460
I think that this has been removed from the docs in the meantime?

I can't find any reference to `assign` in the [TypeScript guide](https://xstate.js.org/docs/guides/typescript.html#using-typescript).

[2021-07-17 14:44] paulrberg commented on #2276
I just encountered this type error in my project as well, and it took me a while to stumble upon this issue.

I think that this limitation of `assign`, that is, that it cannot be used in certain situations with union types, should be explicitly mentioned in the [guide](https://xstate.js.org/docs/guides/typescript.html).

[2021-07-18 12:34] davidkpiano commented on #2424
Resolved in #2426

[2021-07-18 12:34] #2424 closed

[2021-07-18 16:55] hiaux0 opened #2431 "Completions incorrect from Typescript "User" example"
**Description**

I went through some guides, and wanted to check out the Typescript completions capabilities ([User example](https://xstate.js.org/docs/guides/typescript.html#typestates)).

Here is a [TS playground (link)][1] with code copy pasted from said guide
However, I encountered 2 issues
1. Bug(?) in line 67
  ![image](https://user-images.githubusercontent.com/30693990/126075456-a4544c55-d4

[2021-07-19 08:57] mattpocock commented on #1161
@davidkpiano Can this be closed by dint of being a duplicate of #1125?

[2021-07-19 09:05] mattpocock opened #2434 "Services started with State.from() do not run invoked services in their initial states"
**Description**
https://www.loom.com/share/da5467b0ff994490a46212d1ad8e35ce

**Reproduction**
https://codesandbox.io/s/wandering-cloud-0o9ds?file=/src/index.js

**Additional context**
XState version 4.23.0

[2021-07-19 09:23] JReinhold commented on #2434
Furthermore "always" transitions (and possibly other eventless transitions as well) are not triggered either, but they ARE triggered when the actor receives an event, any event, bogus or not.

See repro: https://codesandbox.io/s/amazing-taussig-dcjsv?file=/src/index.js

[2021-07-19 09:52] #1161 closed

[2021-07-19 09:59] davidkpiano commented on #2434
The state that is passed into `service.start(persistedState)` is expected to have all the actions it wants to be executed, because (currently) the service will blindly execute those actions instead of trying to determine what are the right actions it needs to execute.

There's also good reason for this: since there are potentially many ways to reach a state, there can be different actions that sho

[2021-07-19 10:16] JReinhold commented on #2434
But when I read the [docs on State.from and State.inert](https://xstate.js.org/api/classes/state.html#from) it reads to me like it is in those calls that we decide if any actions or services on the state should be executed or not?

[2021-07-19 13:12] paulrberg opened #2435 "TypeError: Cannot use 'in' operator to search for 'getSnapshot' in undefined"
**Description**

The `useActor` hook throws an error when used with the `useInterpreter` hook.

**Expected Result**

I should get the state by using the hook.

**Actual Result**

[code]

**Reproduction**

See http://github.com/paulrberg/xstate-useActor-bug.

**Additional context**

- xstate@npm:4.23.0
- @xstate/react@npm:1.5.1

[2021-07-19 14:47] Andarist commented on #2435
Your `Web3StateProvider` is not used anywhere in your app - I suspect that when you fix that then the problem will go away.

You can check out this working example of the `useInterpret` and `useActor` combination: https://codesandbox.io/s/goofy-ellis-rk7hz?file=/src/App.js

[2021-07-20 09:16] fraserdrops opened #2438 "[core] Action meta objects are different"
**Description**
The meta object (third argument) for action is currently different for different actions.

I was trying to use action payloads to parameterize a send action, but the send action doesn't seem to have access to action in the actionMeta object (third argument):
[code]

**Expected Result**
I would expect all actions get the same meta object, or at least all have the action property in

[2021-07-20 12:08] polx opened #2439 "xstate-inspect from a local viz?"
**Description**
[xstate-inspect](https://github.com/statelyai/xstate/tree/main/packages/xstate-inspect) has URL option but how to build the "destination"?

**Expected Result**
I'd expect to download a repository and be able to adjust it and deploy it to a static URL and direct the `inspect` function call to this URL.

**Actual Result**
Only https://statecharts.io/inspect seems to be working.

**Re

[2021-07-20 12:08] polx commented on #2439
From [here](https://github.com/statecharts/xstate-viz/issues/67#issuecomment-631482869) it seems that something was baking somewhere. But where?

[2021-07-20 12:27] Andarist commented on #2439
We are currently rebuilding the visualizer which is going to also work as the inspector - and the current plan is to open source it once it's get released.

A sideways question from my side is - why do u want to self-host the inspector?

[2021-07-20 12:31] polx commented on #2439
Thanks @Andarist : three reasons to self-host the inspector:

- Save bandwidth as at least one of our major developers is behind very shaky networks (even in Europe this happens!); this is probably moot in many cases but is crucial.
- Keep information internally by ensuring no network activity goes outside. This might well be the case in xstate's visualizer but there seems to be no documentation a

[2021-07-20 14:04] #2423 closed

[2021-07-20 15:19] Andarist commented on #2439
So - once we'll release the new version it should be possible to do this. I've added an issue about this in our internal issue tracker.

[2021-07-20 19:21] andriworld commented on #1206
I didn't immediately understand how to migrate to Typestates, so I went with a solution like this:

[code]

This has the advantage of type-checking your state configs.

[2021-07-20 22:19] #2425 closed

[2021-07-20 23:01] davidkpiano commented on #1387
No longer reproducible with the latest versions (and some corrections): https://codesandbox.io/s/xstate-transition-action-issue-forked-9g7nw?file=/index.ts

[2021-07-20 23:01] #1387 closed

[2021-07-20 23:03] davidkpiano commented on #1341
Closing as working as intended. Feel free to discuss the ergonomics of `done.state.*` events in https://github.com/statelyai/xstate/discussions/new

[2021-07-20 23:03] #1341 closed

[2021-07-21 09:22] mattpocock commented on #2434
@JReinhold yeah that does make sense. Ideally, you'd use `State.inert` when you want an actor without entry actions.

@davidkpiano It does concern me that we don't run invoked services. Are you sure it's working as intended?

[2021-07-21 09:29] mattpocock commented on #2431
@hiaux0

https://www.loom.com/share/4e7b1b7f85f342639db8a045815fb7d6

I'll add a docs PR to fix this.

[2021-07-21 09:30] mattpocock commented on #2431
In fact, ignore the docs PR. The example is actually working and typechecking fine, but the event types you were passing in the TS playground were incorrect. Closing, working as intended.

[2021-07-21 09:30] #2431 closed

[2021-07-21 09:31] mattpocock commented on #2435
Working as designed, @paulrberg feel free to re-open if you have any other issues.

[2021-07-21 09:31] #2435 closed

[2021-07-21 09:32] mattpocock commented on #2412
@rlaffers Agree that this would be a useful enhancement.

@davidkpiano, should we do this?

[2021-07-21 09:34] mattpocock commented on #2419
@ilmarmors Could you fill in a bit more detail on your use case? What is it that you're trying to achieve? Are you trying to have one delay length while in one state, and another delay length while in another?

We might be able to model this more idiomatically using current tools.

[2021-07-21 09:39] mattpocock commented on #2415
@Sczlog Thanks for the repro. This is strange. When the very first assign runs, its state value is undefined.

I assume this is something to do with the batching of assign actions before non-assign actions.

[2021-07-21 09:46] mattpocock commented on #2415
Added a failing test in #2445

[2021-07-21 09:52] mattpocock commented on #2415
This may be working as intended currently, though I'd need an SCXML doyen like @Andarist or @davidkpiano to know for sure.

[2021-07-21 10:20] ilmarmors commented on #2419
I have set of exercises user is going through one by one. All the exercises have the same flow - start, intro, position check, feedback and more. So basically all the exercises go through the same states and I'm using the same state machine. But there are differences among exercises for the same states - different duration, different parameters etc, which are stored in json configuration file

For

[2021-07-21 11:07] mattpocock commented on #2419
It seems fairly reasonable that since we have meta for actions, we should do something similar for delay calculation. @Andarist, @davidkpiano thoughts?

[2021-07-21 11:11] Sczlog commented on #2415
@mattpocock Thanks for the reply.
I am not sure about the root cause, but I found In `resolveActions` function it will process actions first and group them by assign action and other action first,
then it will `updateContext` by assign action first. No matter the assign action is assigned in entry or actions.
I think we may need split assign action by entry action and normal action and only do nor

[2021-07-21 12:07] davidkpiano commented on #2412
@mattpocock Yeah, ideally the `send` should be the same function signature as its actor, even if it takes multiple arguments. Will have to do some TypeScript magic to make this work, but it would be an improved DX.

[2021-07-21 12:22] mattpocock commented on #2412
Alright, I'll take a crack at this

[2021-07-21 16:07] paulrberg commented on #2435
Oh, right! So the issue was that I forgot to put the `Web3StateProvider` in `App.tsx`. Duh!

Thanks.

[2021-07-21 19:01] davidkpiano commented on #2415
You can now add `.preserveActionOrder: true` in the root machine config to resolve this.

[2021-07-22 03:27] Sczlog commented on #2415
@davidkpiano
I updated my repro with `preserveActionOrder:true` in the config but I still get a wrong state here.
![image](https://user-images.githubusercontent.com/29588646/126586255-f1f04eea-44c9-4628-910c-56f03ce6b378.png)
![image](https://user-images.githubusercontent.com/29588646/126586265-ddb6ad65-b2c8-44fe-8cf1-0c654d4b0aa9.png)

[2021-07-22 10:17] Andarist commented on #2415
Note that "direct assign" is just a transition action, non-`assign` one. Unless I've missed something here - this has nothing to do with `assign`.

Q1: in your opinion, what's the "correct" state in here to be received?
Q2: why do you want to access state in an action? what's your use case?

[2021-07-22 11:25] Andarist commented on #2412
The actor interface doesn't currently allow `send` with multiple arguments:
https://github.com/statelyai/xstate/blob/10944fa6195a3146c7c120d7c3c5c5defeff4e72/packages/xstate-react/src/types.ts#L72

Type incompatibility showcased on the CodeSandbox:
https://codesandbox.io/s/fragrant-wave-ovwvz?file=/src/App.tsx:226-241

IMHO allowing variadic argument length would make things for ourselves unnecess

[2021-07-22 12:01] Andarist commented on #2419
Note that `actionMeta.state` might not always be what you think it is. For `assign` actions it's the "source state" (the state before transition) and for custom actions (functions) it's the state in which the machine lands after resolving all microsteps (after resolving all raised and null events) in a transition. This is not necessarily how it should work but it is how it currently works. We plan

[2021-07-22 12:15] Andarist commented on #2434
Always transitions are triggered after receiving an event (whatever event, matched or not). Since if you `start` with a persisted state those transitions were already triggered - just before you could persist that state, so reselecting them again *without* a new event sounds potentially incorrect.

I think that Ideally, the persisted state would have children persisted states on it and we would "r

[2021-07-22 12:42] davidkpiano commented on #2412
@Andarist Looking at this from a different perspective, this isn't "adding a new way" to send events, given that we can send:

- Event types: `send('SOMETHING')`
- Event objects: `send({ type: 'SOMETHING', payload: 42 })`

And that offering a way to send event types _with payload_ would just be an extension of the 1st way: `send('SOMETHING')` vs. `send('SOMETHING', { with: 'payload' })`. As is evi

[2021-07-22 12:49] ilmarmors commented on #2419
Is there any info in documentation, which describes what is the sequence of microsteps during state transition? Or it is too implementation specific so it shouldn't be specified and people wouldn't rely on that information? Although I would say that clear logical sequence is good thing to be described.

For my case possibility to pass additional function argument (object that can contain many prop

[2021-07-22 12:50] sbaechler opened #2448 "[@xstate/inspect]: Old (and buggy) versions in the CodeSandbox projects"
**Description**
The CodeSandbox projects linked in the docs still have old versions of `xstate` and `@xstate/inspect`.

https://github.com/statelyai/xstate/tree/main/packages/xstate-inspect#xstateinspect

A few bugs like the double arrow on invoke have been fixed since.

Maybe use minimum versions instead of fixed versions.

**Expected Result**
The template for the CodeSandbox project contains the

[2021-07-22 13:23] rlaffers commented on #2412
@Andarist Yes, there's a mismatch between the `send` action's arguments (one must use the event object when sending some data along) and the `send` method's arguments (more permissive, can combine the event type + payload as the second arg, which makes the DX slightly better when refactoring).

Personally, I would not mind if the permissiveness of the send method was removed altogether to make thi

[2021-07-22 14:06] rlaffers opened #2450 "Sending events on `exit` throws if the machine is stopped"
**Description**
The `send` action used as an exit action throws an error when the machine is stopped.

**Expected Result**
`send` in the `exit` actions should just send the event. If the target actor (e.g. the machine itself) is stopped already, the event should be ignored.
[code]

**Actual Result**
When the machine sends an event to itself when it was stopped, an error is thrown:
`TypeError
Canno

[2021-07-22 14:10] davidkpiano commented on #2450
Related: https://github.com/statelyai/xstate/issues/2057

[2021-07-22 15:10] Andarist commented on #2450
This is because those actions here never get "resolved":
https://github.com/statelyai/xstate/blob/10944fa6195a3146c7c120d7c3c5c5defeff4e72/packages/core/src/interpreter.ts#L519-L523

That is definitely a bug. What should happen when a machine is being stopped and the target actor is stopped already? In this particular situation those probably just act as noops, conceptually they should be treated

[2021-07-22 19:42] Andarist commented on #2419
Yes, this is already supported for some things (mainly for actions) - we should look into supporting this pattern for all the implementation "types" (guards, services, etc)

Right - I think what usually people want here is some kind of representation of the state node from which the thing is called (exactly like you have described it). The current `meta.state` doesn't deliver that (it is *sometime

[2021-07-23 01:53] ChrisShank opened #2457 "Difference between `service.machine.initialState` and `service.initialState`"
**Description**
A consumer of `xstate-vue2` noticed a bug where there is a critical difference between accessing the initial state on `service.machine.initialState` and `service.initialState` when spawning another machine. They put up a fix [here](https://github.com/ChrisShank/xstate-vue2/pull/3).

**Expected Result**
Accessing `service.machine.initialState.context` does not cause an extra `entry`

[2021-07-23 02:05] davidkpiano commented on #2457
The only difference between `service.machine.initialState` and `service.initialState` is that:

- `service.initialState` will return the state with the initial context with _actors spawned on the parent_
- `service.machine.initialState` is basically `machine.initialState` which is completely unaware of the parent

The fix that they put up should be fine (most likely).

[2021-07-23 02:19] ChrisShank commented on #2457
Thanks for the quick response! I will merge it in and update this issue if any unintended side effects come up!

For book keeping `service.machine.initialState` is used [here](https://github.com/statelyai/xstate/blob/main/packages/xstate-react/src/useService.ts#L11), [here](https://github.com/statelyai/xstate/blob/main/packages/xstate-vue/src/useMachine.ts#L32), and [here](https://github.com/state

[2021-07-23 07:57] Andarist commented on #2457
Note that in the React land this would not work properly (at the time). The `service.initialState` variant is not pure and might execute side-effects at the wrong time: https://codesandbox.io/s/sleepy-almeida-ql101?file=/src/App.js

[2021-07-23 09:15] benbender opened #2458 "[xstate/svelte] bundling of @xstate/svelte/lib/fsm with sveltekit & vite is broken"
**Description**
If I create a new sveltekit-app:

1. `npm init svelte@next xstate-sveltekit-repro`
2. install its dependencies via `npm i && npm add @xstate/svelte @xstate/fsm`
3. add the example for the usage of `@xstate/svelte/lib/fsm` from the docs @ https://xstate.js.org/docs/packages/xstate-svelte/#usemachine-machine-with-xstate-fsm
4. build the app via `npm run build`
5. start it via `npm pr

[2021-07-23 09:23] floratmin commented on #2458
I just made it work with the description from:
[https://xstate.js.org/docs/recipes/svelte.html](https://xstate.js.org/docs/recipes/svelte.html)

But contrary to the description the `@rollup/plugin-replace` breaks the build. Without this step everything seems to work.

[2021-07-23 09:26] benbender commented on #2458
@floratmin `svelte@next` is `sveltekit`, which uses `vite` as its bundler. Additionally I did no extra steps - as stated above. So I don't think both problems are related.

[2021-07-23 09:51] floratmin commented on #2458
No that's right I use it with SvelteKit.

[2021-07-23 09:53] benbender commented on #2458
@floratmin It works in a production-bundle with the fsm-packages? If yes, did you do anything special?

[2021-07-23 10:06] floratmin commented on #2458
No I use it with the full xstate package, I tried it also with `@sveltejs/adapter-static` where it also worked.

[2021-07-23 10:09] benbender commented on #2458
As I said. Different context. This is a problem with the bundling of the /lib/fsm-subpackage.

[2021-07-23 10:38] floratmin commented on #2458
I just replaced `xstate` with `@xstate/fsm` and it does not work. I get the error :
`'default' is not exported by node_modules/@xstate/fsm/es/index.js, imported by src/lib/state/login.ts`

[2021-07-23 10:40] benbender commented on #2458
@floratmin try the example here: https://xstate.js.org/docs/packages/xstate-svelte/#usemachine-machine-with-xstate-fsm. And let's try to stop cluttering this bug-report ;)

[2021-07-23 13:05] floratmin commented on #2458
@benbender This could related [https://github.com/sveltejs/kit/issues/928](https://github.com/sveltejs/kit/issues/928)

[2021-07-23 13:34] rlaffers commented on #2450
Well, it would be nice to have those events logged somewhere (either in a synthetic dead letters actor, or just like any other event on  the target actor). If the target actor is stopped, it can just simply ignore the event.
By the way, in my case above, the event is being sent to the machine itself, so there an additional conundrum: if the source actor is being stopped, should it even send the ev

[2021-07-26 08:08] Sczlog commented on #2415
@Andarist
Sry I didn't check message for a few day.
Q1: I am not sure which one is the correct state, but I think they should be the same one? I declare them in the same entry actions array and I suppose they get the same meta data. And for me, I think it should be equal to the state I set in direct assign.
Q2: I want to know my target state node, I want assign a property in my context by the targ

[2021-07-26 10:35] mattpocock opened #2462 "Send action documentation appears to be incorrect for sending events to actors"
**Description**
https://xstate.js.org/docs/guides/actions.html#send-action

[code]

`context.someActor.name` and `context.someActor.ref` appear not to work.

[2021-07-26 11:30] Andarist commented on #2462
Could you prepare a codesandbox representing the issue? Given how the `someActor` is created in the `entry` action it looks OK to me, would love to check what's going on in the repro case.

[2021-07-26 11:43] Andarist commented on #2415
I would say that in this case, you don't actually need what is currently provided as `state`. You need some kind of a representation/reference to the state **node** on which a particular action is defined. Would that be correct?

Could you explain how do you want to utilize that on a more concrete example? Maybe there is a better way to handle this requirement.

[2021-07-26 17:05] davidkpiano commented on #2462
It should be:
[code]

I'll fix this.

[2021-07-27 13:14] #2462 closed

[2021-07-27 14:07] annaghi commented on #2448
It seems that maintaining the templates and examples both on GitHub and CodeSandbox doubles the efforts.

A longer term solution might be to maintain the templates and examples only on one place (here on GitHub), and replace the direct CodeSandbox links with the embedded variants everywhere in the docs.

The `TodoMVC with Vue` is a good example:
- Source of the example on GitHub: https://github.co

[2021-07-27 14:13] davidkpiano commented on #2448
I completely agree with this; let's do this moving forward.

We can also find a way to automate the documentation for the examples; I'll investigate this.

[2021-07-27 14:25] annaghi commented on #2448
I will check the examples, if they can be used as CodeSandbox project.

[2021-07-27 15:27] sbaechler commented on #2448
As a quick fix you can use the "latest" tag instead of a fixed version. This way the templates are always going to load the most recent versions.

[code]

[2021-07-28 02:18] Sczlog commented on #2415
@Andarist
I am making a event matching machine, it receive native dom event and transfer it to the user interaction on the website.
I use native events as xstate event and current interaction type(like click, drag, keydown and etc) as statenode. And store detailed info in the context.
The code is here:
https://github.com/Sczlog/interaction-recorder/blob/optimize-matcher-event/src/matcher/machine.t

[2021-07-28 09:14] Andarist commented on #2415
I'm not yet convinced that we should expose the target state there anyhow - mainly because it might doesn't end up being the actual target when you consider parallel states which come with target deconflicting.

As a workaround you could do this:
[code]
This should be available in the `assign`'s implementation like this:
[code]

Please also note that it's highly discouraged to perform any side-eff

[2021-07-28 10:01] Sczlog commented on #2415
@Andarist
Got it. It seems work well in my app.
But I still feel confused about the difference value of state between assign action and non-assign action in the same entry array, it that epxected?

[2021-07-28 10:49] Andarist commented on #2415
Not quite but this mismatch is there long enough that it would be a breaking change to fix this at the moment. We will be fixing this in the next major release (v5) but we might also introduce a new meta property that would describe the state in which a particular action is defined.

[2021-07-29 19:36] mcuppi commented on #2434
I've found that you can use [`getInitialState()`](https://xstate.js.org/api/interfaces/statemachine.html#getinitialstate) to start a service at a specific state node and run its invoked services. Resolving a state in this manner will also cause the interpreter to run the node's `entry` actions, as well as root level invocations.

_Please note, I haven't extensively tested or researched all of the

[2021-07-31 03:17] gepd opened #2482 "Error with spawned machine and Global State"
**Description**

I am spawning a machine in the context to use it in a component with `Global State/React Context`. As David told me in discord, this code should work

[code]

**Expected Result**
use the spawned machine without any error

**Actual Result**
In the code sandbox I'm getting the error: `Cannot read property 'context' of undefined`

**Reproduction**

- https://codesandbox.io/s/lazy-spa

[2021-07-31 08:49] benbender commented on #2458
Not quite sure on what side this got resolved, but the issue is gone \o/

[code]

[2021-07-31 09:44] annaghi commented on #2458
@benbender What happens when you run `npm run preview`?

[2021-07-31 09:54] benbender commented on #2458
Oh sh*t. You're right... Its still broken - my memory betrayed me as I thought that it broke when building. sorry for the noise!

Btw, my old workaround:

[code]

Works for now even if its not pretty...

[2021-07-31 10:01] annaghi commented on #2458
No problem :) Thanks for confirming!

With your workaround we have two possible solutions now! Good.

[2021-07-31 13:09] gepd commented on #2482
Using `useSelector` seems to avoid the error:

[code]

But I'm wondering if there is a better way to do this, I would like something like with no spawned machines

[code]

[2021-08-01 04:39] gepd opened #2486 "Error sending event to spawned machine in initial context"
**Description**
Send an action after spawn a machine in the context result in an error: `Unable to send event to child 'spawnedMachine' from service 'toggle'.`

**Expected Result**
Send an action to the spawned machine

**Actual Result**
Error telling that isn't possible to send the event

**Reproduction**
https://codesandbox.io/s/lazy-spawn-forked-uxeux?file=/src/toggleMachine.ts

Press the `Upda

[2021-08-02 20:51] ynhhoJ commented on #2439
@Andarist, any ETA?

[2021-08-02 21:21] davidkpiano commented on #2439
All updates will be announced on [@statelyai (Twitter)](https://twitter.com/statelyai) and the [Discord community](https://discord.gg/xstate).

[2021-08-04 14:02] RomainLanz commented on #2067
I have multiple issue related to this one.

The mistyping happen "randomly" when calling `useMachine()` with the following TypeScript error.

[code]

It is also happening when using the `assign()` function.

[code]

[code]

If needed, I can provide my entire machine (270 LOC).

[2021-08-05 07:00] Andarist commented on #2067
@RomainLanz could you open a new issue about this that would contain the full reproduction of the problem?

[2021-08-05 07:04] RomainLanz commented on #2067
Yes, I will create a new issue with the minimum amount of code to reproduce the problem.

However, this has to wait a little bit. I do not believe I will have time before mid-august if that is ok for you.

[2021-08-06 08:35] VanTanev opened #2493 "After "state" deprecation in ActorRefFrom, there is no easy way to get the type of an ActorRef"
**Description**
Previously, when I needed a way to extract the context from an ActorRef of a generic machine, I could do something like this:
[code]

**Expected Result**
We probably can provide a utility type like:
[code]

Used like this:
[code]

Let me know what you think and if I should open a PR.
Thanks!

[2021-08-06 09:59] davidkpiano commented on #2493
Yes please! This would be a good addition (cc. @Andarist)

[2021-08-06 14:51] #2493 closed

[2021-08-07 20:11] davidkpiano opened #2498 "Remove `Object.defineProperty` usage in v5"
We should also create a ticket for v5 to consider removing a very similar `Object.defineProperty` call in the `State` class: https://github.com/statelyai/xstate/blob/fb7ea97465dfba0b7ef17edbf327c7c21848c7e8/packages/core/src/State.ts#L253-L257

_Originally posted by @Andarist in https://github.com/statelyai/xstate/issues/2491#issuecomment-891810011_

[2021-08-08 20:46] IceSentry commented on #2412
So, I just hit this bug recently and the typescript type still shows that an optional payload argument is accepted so it was really hard to figure out what was going on.

I get that it takes time to fix, but adding a single line in the migration guide that mentions this would have saved me and I assume a lot of other people a lot of debugging time.

[2021-08-08 21:37] davidkpiano commented on #2412
Addressing this in #2501

[2021-08-09 16:57] #2412 closed

[2021-08-10 13:58] p-j opened #2505 "`useMachine(machine, { state })` returns the initial state instead of the `service.state`"
**Description**
As [discussed on discord](https://discord.com/channels/795785288994652170/809564609383890965/874567900126642197)
the following code
[code]
The state returned by the hook is equal to the `initialState` (as the [code suggest it should](https://github.com/statelyai/xstate/blob/2236b9f3ca4c9c9c475d976cf375987eb11213fc/packages/xstate-react/src/useMachine.ts#L115-L124)) but in this part

[2021-08-10 14:52] p-j commented on #2505
in the end this is what I'm going with for my use case:
[code]

[2021-08-11 03:18] github0013 opened #2507 "Cannot read property 'children' of undefined when spawned machine is at the final state"
**Description**
When you have multiple levels of machines in context by spawning machines, if a grand child machine's state is `final`, you get an error saying `Cannot read property 'children' of undefined.`

**Expected Result**
This error should not happen.

**Actual Result**
`Cannot read property 'children' of undefined` error occurs.

**Reproduction**

parent -> child -> grand child (final)
htt

[2021-08-11 20:32] chopfitzroy commented on #1187
Hey @davidkpiano I am having exactly this issue but I am struggling to understand what you mean by:

Would it be possible to expand on this a bit?

[2021-08-11 23:40] benmccann commented on #2458
It's best to used named imports instead of default imports for this reason. Then it will work the same with both ESM and CJS

[2021-08-12 07:20] berndartmueller commented on #2210
Bump

[2021-08-12 22:16] davidkpiano commented on #2210
Can you please PR the fix? Would be greatly appreciated 🙏

[2021-08-13 14:17] davidkpiano commented on #2439
This can now be done: https://github.com/statelyai/xstate-viz

[2021-08-13 14:17] #2439 closed

[2021-08-15 15:11] davidkpiano commented on #1536
This is fixed in the newest visualizer: https://github.com/statelyai/xstate-viz

[2021-08-15 15:11] #1536 closed

[2021-08-15 15:13] #993 closed

[2021-08-15 17:05] alavkx commented on #1536
excellent!

[2021-08-16 11:05] rlaffers opened #2520 "Delayed transitions are cancelled when transitioning in parallel state"
**Description**
Delayed transitions are never executed if an event triggered a transition in a parallel state.

[code]

**Expected Result**
In the linked CodeSandbox, the expected events logged in the console are:
[code]
Regardless of whether the "TOGGLE_MODE" event was fired, the machine remains in the Operation.Waiting state,
therefore the delayed transition to Operation.Fetching should occur af

[2021-08-16 13:27] Andarist commented on #2520
You can check out this discussion: https://github.com/statelyai/xstate/discussions/1829 to learn why this happens. You can also let us know what do you think about the problem, proposed changes, etc

[2021-08-16 13:36] #2520 closed

[2021-08-17 16:20] j-funk commented on #849
@davidkpiano the `Interpreter` workaround is no longer working - getting the following error when trying to spawn actors in TypeScript. I suspect something has changed from RC 1.0.0 when this was opened to latest.

Workaround works here:

https://codesandbox.io/s/x-state-spawn-actor-typing-forked-ods1g?file=/src/index.tsx

But does not work here with updated dependencies:

https://codesandbox.io/s

[2021-08-18 12:20] VanTanev opened #2528 "ActorRef<any> is wider than desirable when representing a machine"
**Description**
Currently, `ActorRefFrom<Machine>` returns an `ActorRef` object with the following `getSnapshot()` type:
[code]

However, a machine actor ref will never return `undefined` from `getSnapshot()`.

The only current solution is to sprinkle bangs when machine refs are used, eg
[code]

**Expected Result**
`ActorRef` instances that can be inferred at creation time to always return a defin

[2021-08-18 16:18] j-funk opened #2531 "Spawned Machines are not removed from `children` after `stop()` is called"
**Description**
Spawned Machines are not removed from `children` after `stop()` is called.

**Expected Result**
I would expect the machine would be deactivated and also the reference removed from the `children` object.

**Actual Result**
References to stopped machines are accumulating in the `children` object and could present significant memory leaks if spawning actors is used on a large scale.

[2021-08-18 19:34] #2507 closed

[2021-08-19 03:10] DavKato opened #2533 "Version 4.23.0 breaks typing of "$" prefixed service inside svelte component"
**Given this**
[code]

**Until 4.22**
[code]

**From 4.23.0**
[code]

[2021-08-19 10:46] OlaoluwaM commented on #2002
Any update on this? Also having type issues with the history state node when I add a `target` property

[2021-08-19 11:54] annaghi commented on #2533
`service` is not a reactive store, you cannot use the `$` sign on it. `state` is the store:

[code]

https://github.com/statelyai/xstate/blob/5da8724bb6c4dada5d6e8cc61e36c7e2c771838b/packages/xstate-svelte/src/index.ts#L62-L80

[2021-08-20 06:03] DavKato commented on #2533
@annaghi Thank you for a quick response!
Actually I'm not refering to xstate-svelte, I'm just using a plain xstate.

Service here is just a xstate service like this.

[code]

Service is subscribable and we still can access it's state with "$" syntax, only the typings is broken with 4.23.0.

[2021-08-20 09:09] annaghi commented on #2533
@DavKato Oh, you are right! I was not aware of that the `service.subscribe` is compatible with the Svelte store contract. Sorry for my silly comment. :)

[2021-08-20 13:08] DavKato commented on #2533
@annaghi No worries! I updated the issue to make the point clearer.

[2021-08-20 14:51] Andarist commented on #2533
@DavKato could you prepare a runnable repro case? It would make it easier for us to jump straight into playing with this problem

[2021-08-21 01:53] jebeck opened #2542 "documented syntax for entry actions crashes the inspector"
**Description**
The configuration that exists in the documentation for `entry` actions and does _not_ cause any errors in application code crashes the inspector.

**Expected Result**
Can view the working machine and spawned child machine in the inspector.

**Actual Result**
"An unexpected error has occurred." in the inspector. Dev tools shows:
<img width="685" alt="Screen Shot 2021-08-20 at 18 21

[2021-08-21 07:32] Andarist commented on #2542
This is using the old inspector - we've recently released a new one and the issue seems to be fixed there. You just need to change the URL to https://stately.ai/viz?inspect=1

https://codesandbox.io/s/affectionate-antonelli-0spuz

[2021-08-21 11:55] DavKato commented on #2533
I couldn't configure codesandbox, so here's a github repo.
https://github.com/DavKato/xstate-typefail

[2021-08-23 13:52] Kazintsev commented on #370
Hello David!

To clarify - in the current vesion do these code is correct:
[code]

[2021-08-23 14:44] davidkpiano commented on #370
I'm not sure what you're asking, can you clarify?

[2021-08-23 15:12] Kazintsev commented on #370
I mean call `send()` directly on action with target as a return from some
custom function.

пн, 23 авг. 2021 г., 17:44 David Khourshid ***@***.***>:

[2021-08-24 01:50] jebeck commented on #2542
Yep, you're right, both syntaxes work in the new one. Would you like a PR on the docs and/or the @xstate/inspect package updating the URL? Happy to do those small changes to pay it forward to future people like me who might similarly get frustrated.

[2021-08-24 07:15] Kazintsev commented on #370
I think the good discussion are [here](https://github.com/statelyai/xstate/issues/434) and [here](https://github.com/statelyai/xstate/discussions/1835).

And I found an answer for my question there - when it is ok and when not.

[2021-08-24 13:15] davidkpiano commented on #2542
That would be great!

[2021-08-26 17:14] riccardo-forina opened #2565 "A sendParent used in the entry action of the initial state of a lazily spawned machine crashes the process"
**Description**

A sendParent used in the entry action of the initial state of a lazily spawned machine crashes the process. When executing the machine in a Jest test, it causes high CPU usage and eventually a crash of the node process.

**Expected Result**
Should work.

**Actual Result**
Laptop gets hot 😂

**Reproduction**
A bunch of tests here, a few with the actual machine that caused the issue

[2021-08-27 11:44] KevinGulj opened #2566 "Pure actions are called twice when invoking machines"
Hello 👋

**Description**
I have been using pure actions, and after moving to Models & invoking machines, some pure actions are called twice.
Also the child machine is seemingly invoked twice.

**Expected Result**
Both should happen only once?

**Actual Result**
Getting multiple calls for pure actions & invoke

**Reproduction**
As you can see in the console, pure actions are being called twice, als

[2021-08-29 16:35] alysakowski opened #2573 "Payload not passed using useActor and send second argument"
**Description**
I was trying to use a combination of `useInterpret` + `useActor` with GlobalStateContext, but seems like `send` returned by `useActor` is not working the same way as for `useMachine`. Passing the second argument to `useActor's` `send` is not passed forward

**Expected Result**
I would expect those two functions to work exactly the same, at this abstraction level

**Actual Result**

[2021-08-29 20:47] davidkpiano commented on #2573
Sorry, this was missing from the documentation  (https://xstate.js.org/docs/packages/xstate-react/#api), which should provide this warning:

-----

Also, keep in mind that only a single argument (the event object) can be sent to `send(eventObject)` from `useActor(...)`. When migrating to `useActor(...)`, refactor `send(...)` calls to use only a single event object:

[code]

[2021-08-29 20:47] #2573 closed

[2021-08-29 20:49] alysakowski commented on #2573
@davidkpiano awesome! 🤝

[2021-08-29 21:02] davidkpiano opened #2576 "[v5] Avoid ad-hoc `State` creation"
I like the overall idea of this PR - this seems like a very useful picture. However, I don't quite like how this fits in the existing API. This is by no means a blocker for this PR but I would appreciate it if we could reconsider how this works in the v5.

I'm OK with `State` having a link to a machine to use it for stuff like that but that IMHO means that the `State` should only be created by mac

[2021-08-30 09:12] Andarist commented on #2542
Since this works in the new inspector I'm going to close this issue.

[2021-08-30 09:12] #2542 closed

[2021-08-30 23:30] wKovacs64 opened #2586 "[@xstate/react] v1.6.0 breaks merging of service definitions"
**Description**

`@xstate/react` v1.6.0 seems to break the ability to define services in your machine if you also include service definitions in your `useMachine` call. Specifically, the service definitions passed to `useMachine` seem to overwrite the service definitions that already existed in the machine definition.

**Expected Result**

I expected the service definitions to be merged, as they w

[2021-08-31 12:46] #2586 closed

[2021-08-31 15:11] maxime4000 opened #2594 "No Implementation found for action type ''"
**Description**
I just update xstate from 4.23.1 to 4.23.3, @xstate/react 1.5.1 to 1.6.0 and @xstate/inspect from 0.4.1 to 0.5.0.
My app was working fully before I update and now it's barely do anything.

I have 2 places where actions are defined. In the machine config and in the react component using useMachine
[code]

There is one machine that spawn 3 other machine through an initSpawn action in

[2021-08-31 15:22] maxime4000 commented on #2594
Quick update. @xstate/react 1.6.0 is causing the issues and not xstate in itself.

[2021-08-31 17:17] davidkpiano commented on #2594
Can you try it with `@xstate/react` version `1.6.1`? Just released a patch: https://github.com/statelyai/xstate/pull/2591

[2021-08-31 17:33] maxime4000 commented on #2594
Yeah thanks ! The issue is fix :)

[2021-08-31 17:33] #2594 closed

[2021-09-01 09:14] waspeer opened #2600 "*From utility types returning `never`"
**Description**
[code]

The `ContextFrom` and `EventFrom` utility types were working great, but since a recent update they return `never`.

**Expected Result**
I expected them to return the inferred context and event types.

**Actual Result**
They returned `never`

**Reproduction**
Weirdly enough a reproduction in CodeSandbox does not have the same results. I also added my `tsconfig.json` to it.
h

[2021-09-01 11:34] davidkpiano commented on #2600
cc. @mattpocock Can you take a look into this?

[2021-09-02 13:05] NoriSte commented on #2594
Confirm, fixed, thanks @davidkpiano!! 🙏

[2021-09-02 14:00] patel-jeel92 commented on #981
I am running into the same issue. For my test paths generated with xstate/test, my tests that have paths with done.state.* fail and there is no way to trigger transitions for that state. Has there been any update on this?

[2021-09-02 21:16] theianjones commented on #2600
Oddly enough, when you add an `actions` object that is non-empty, it resolves the issue.

I forked that code sandbox here:
https://codesandbox.io/s/exciting-chatterjee-yhxb2?file=/src/index.ts

[2021-09-02 21:19] a-y-u-s-h opened #2605 "CDN for @xstate/inspect"
**Description**
There's confusion regarding usage of @xstate/inspect in a VanillaJS project. Docs don't say much about it right now. And though I tried multiple combinations of links and tried importing variables from files ([this](https://unpkg.com/@xstate/inspect@0.5.0/lib/index.js) and [this as well](https://unpkg.com/@xstate/inspect@0.5.0/es/index.js)), with `type="module"` specified in `scrip

[2021-09-03 16:32] #2600 closed

[2021-09-06 09:40] RafalFilipek opened #2619 "`createModel` second param cause TS errors"
**Description**
Second parameter in `createModel` cause type errors in machine.

For example:

[code]

**Reproduction**

https://codesandbox.io/s/dark-darkness-5pwig?file=/src/index.ts

**Additional context**

 - `xstate`: `4.23.4`
 - `typescript`: `4.2.3` / `4.4.2`

[2021-09-06 10:01] Andarist commented on #2619
I think the error is expected here as `createModel` encourages you to declare available events and actions upfront. If you add the `initWidget` action to your `createModel` call then it works as expected:
https://codesandbox.io/s/bold-jang-8u3z7?file=/src/index.ts

[2021-09-06 10:10] RafalFilipek commented on #2619
Hmmm, @Andarist when this was introduced? My update was from version `4.23.1`. To be clear, I love this change.

[2021-09-06 13:49] davidkpiano commented on #2619
Going to reopen this because not specifying actions should result in the same behavior as before, especially since the `actions` param in `createModel` isn't documented yet.

[2021-09-07 18:15] chanced commented on #2533
I have a slightly different take on the svelte implementation here: https://github.com/chanced/xstate-svelte

I just spiked it out last night so it doesn't have tests but you can find a quick example of the usage here: https://github.com/chanced/xstate-svelte/blob/main/src/routes/index.svelte

If its something that you guys are interested in, I can work on a pull request with tests and such. Other

[2021-09-08 06:23] PaulPCIO opened #2629 "[@xstate/inspect]: Overflow scroll on side panel"
**Description**
If you have a large state, the side panel will not scroll to the bottom because the containing div has a height of 100%:
![image](https://user-images.githubusercontent.com/39598117/132456402-80532378-79d9-404b-a752-75f5454f6e76.png)

**Expected Result**
I would expect the side panel to be scrollable

**Actual Result**
You can not scroll if text overflows

**Reproduction**
1. Implem

[2021-09-08 07:12] jSalinasNuavis opened #2630 "SCXML imported machine events missing"
**Description**
When importing a machine from a Scxml format events raised with the tag <send> do not appear in the machine.events property. As an example I have used the following machine:
[code]

**Expected Result**
When using `console.log(machine.events)` I expected to get `["ev1", "entrySt2", "ev2"]`

**Actual Result**
`["ev1", "ev2"]`

**Reproduction**
The issue has been reproduce on the foll

[2021-09-09 14:44] thiagomata opened #2631 "Unable to draw a parent and child state machine using the Stately UI"
**Description**

The stately tool is unable to draw the parent and child machines when created with independent states.

**Expected Result**

Both machines visible in the UI

**Actual Result**

Only the child machine is drawn.

**Reproduction**

https://stately.ai/viz/21a8b712-f229-4d8d-a316-36c1577ac631

**Additional context**

creating a child state machine that sends and receives data from the

[2021-09-09 20:38] nirname commented on #351
It seems when using persistent state nested machines dont get events anymore. I can assume that they are treated like services, and dont get reinvoked anymore

[2021-09-10 01:44] davidkpiano commented on #351
This is currently being worked on.

[2021-09-10 17:24] richtera commented on #2629
Same issue here.

[2021-09-11 08:25] Andarist commented on #2629
Could you try using the new inspector with:
[code]

[2021-09-11 08:46] richtera commented on #2629
Thanks that works great. BTW is it possible to self-host the inspector?

[2021-09-11 10:06] Andarist commented on #2629
Maybe the canvas position doesnt get reset? Could u try to use the third (iirc) icon on the bottom to reset it?

[2021-09-11 10:09] richtera commented on #2629
There is an opacity left on the canvas after switching actors.
![image](https://user-images.githubusercontent.com/708186/132944327-7dc58334-d32f-436d-86e4-607f15f504f6.png)
Also I am noticing that actors names don't seem to be displayed.

[2021-09-11 10:35] Andarist commented on #2629
Its definitely a bug then - could u file an issue in the other repo with the repro steps listed?

[2021-09-11 16:21] ronaldborman commented on #2138
@davidkpiano I just have experienced this bug when trying to send a DOM event directly. Initially I was looking in other directions before seeing this issue. A warning in the inspect documentation would be useful imho.

[2021-09-11 21:19] Andarist commented on #2138
I've been discussing this briefly last week with David. One of the options to solve this would be to accept an option like `serialize` that would allow us to serialize complex data types before sending them through serialization boundaries like 2 different windows. We'd probably have to ship some built-in, simple, serializer but allow this to be configured.

[2021-09-12 00:11] davidkpiano commented on #2605
cc. @Andarist What can be improved here?

[2021-09-12 03:19] davidkpiano commented on #2629
Closing this as the original issue is no longer an issue with the new inspector. Please file a separate issue for the actor change visual bug.

[2021-09-12 03:19] #2629 closed

[2021-09-12 03:20] davidkpiano commented on #2619
This is fixed in https://github.com/statelyai/xstate/pull/2632 cc. @Andarist

[2021-09-12 03:59] davidkpiano commented on #2138
This addition has been made here: https://github.com/statelyai/xstate/pull/2640

So you will be able to do something like this:

[code]

[2021-09-13 18:08] f-elix opened #2642 "[@xstate/svelte] Missing ESM exports"
**Description**
Right now, the distributed package of @xstate/svelte only exports CJS and this caused some problem after an update in SvelteKit (https://github.com/sveltejs/kit/issues/2418).

**Expected Result**
In any case, Xstate core exports both CJS and ESM. Is there any reason why it isn't the same with @xstate/svelte? If there isn't any, I think it should have an ESM export.

[2021-09-13 23:36] Enteleform opened #2643 "unexpected results with `preserveActionOrder`"
## Description
With `preserveActionOrder` enabled, post-`assign` consumers are not receiving the expected `context`s.

## Results
Executing an event several times, with different event data, will result in:

**Expected:**
- [x] `action`s being evaluated in sequential order
- [x] each action receiving a `context` which reflects the preceding `assign` actions and current `event` data

**Actual:**
-

[2021-09-14 12:34] Andarist commented on #2643
Thank you for the report - I've recognized the issue and gonna be fixing this soon. Could you report the other problem (the one about undefined from the comment within the code of that viz playground) in the https://github.com/statelyai/xstate-viz/ ? I think I've diagnosed it as well but I would prefer to keep both discussions separate so I'll describe the issue in the dedicated issue once it gets

[2021-09-14 12:44] #2619 closed

[2021-09-14 22:29] pke commented on #2415
I wanted to add, that the `meta.state.value` in `entry` assign actions still points to the previous state. This doesn't seem right.

[2021-09-15 05:16] #2643 closed

[2021-09-16 12:35] Enteleform commented on #2643
@Andarist

I'm running `4.24.1`, and ran into what I think might be a related issue.

Should `preserveActionOrder` be affecting `sendParent` actions as well?

I have something like the following:

[code]

-----

I'm expecting the output of `childMachine.INITIAL_EVENT` to be:
[code]

but I'm getting:
[code]

`preserveActionOrder` is enabled for both machines.

[2021-09-16 12:40] Enteleform commented on #2643
Would have created a stately.ai repro but am currently having issues w/ getting parent/child machines working. Started a conversation about it @ https://discord.com/channels/795785288994652170/873201691032420442/886669124594434089, but it died off. Will create an issue for it soon.

[2021-09-16 18:33] maxime4000 opened #2664 "(xState+Typescript) Change Typing definition of assign function to allow no context argument."
**Description**
I use Typescript with xstate. I'm using ESLint to lint my files and in some of my machine, I do assign without using the context arguments. Though, I'm force to set the context argument or the typing definition goes off.
[code]
I'm expect to add eslint disable rules comment for each ctx because they are unused, but why does I need to have the ctx if I'm not using it ?
[code]
**Coul

[2021-09-16 19:56] davidkpiano commented on #2664
Can you make a CodeSandbox with this? 🙏  [CodeSandbox (XState TypeScript template)](https://codesandbox.io/s/xstate-typescript-template-6dsws)

[2021-09-16 22:44] maxime4000 commented on #2664
I was able to replicate the issue with the config I made. I remove all the meaning of the machine so it won't work but the typing definition is the issue here.
https://codesandbox.io/s/xstate-typescript-template-forked-v6x6r?file=/src/index.ts

Just in case, here a screenshot and the typing error:

![image](https://user-images.githubusercontent.com/4070713/133692393-e7b186c5-5cbe-4e87-a607-d9caa4d

[2021-09-17 01:46] davidkpiano commented on #2664
That's super strange. Recorded the behavior here in case any TypeScript experts want to tackle this...

https://user-images.githubusercontent.com/1093738/133710544-fcebfa33-5cf6-4bca-86e1-cf9dfecb1e15.mp4

[2021-09-17 08:18] mattpocock commented on #2664
@davidkpiano We'd need to bump the repo to `strict: true` to fix this, since it only happens then. Detailed in our 'Using Typescript' docs:

https://xstate.js.org/docs/guides/typescript.html#troubleshooting

[2021-09-18 14:16] DavKato commented on #2533
I found out that reverting this commit solves this issue.
https://github.com/statelyai/xstate/pull/2371/files

[2021-09-18 17:15] davidkpiano commented on #2533
Reverting this will likely break other things, though, no?

[2021-09-19 05:42] DavKato commented on #2533
Yes :|

[2021-09-19 14:46] davidkpiano commented on #2642
cc. @farskid @Andarist

[2021-09-20 11:34] davidkpiano commented on #2630
Should `send` events be placed in the internal event queue, as well as `raise` events? The SCXML spec doesn't explicitly say this, but it make ssense.

cc. @Andarist

[2021-09-21 20:43] jschppll opened #2678 "(xState) state.hasTag() doesn't work when starting at a state"
## Bug or feature request?
Bug

## Description:
When starting at a specific state in the tree tags are not set properly into the config.

## Expected result:
state.hasTag() should work the same way that state.matches() works and should be available even starting at a specific state.

## Actual result:
`state.hasTag("some-tag")` always returns false when starting at the state with the tag.

## (Bug

[2021-09-22 10:04] redbar0n commented on #906
Thinking aloud here…:

Couldn’t this be solved if all side-effects (including mutating the DB) are made idempotent?

Then you could just re-execute them.

Presuming also delete operations are idempotent to the DB, and would [always return success](https://stackoverflow.com/a/45194747) if executed on the server. If failing to execute on the server, then subsequent time-travelled attempts should als

[2021-09-22 14:40] Andarist commented on #2678
Thank you for the report! I've already diagnosed the issue (our [`resolveState`](https://github.com/statelyai/xstate/blob/3ee8c2b98d0352fc6a51c27be277b8758b3faad5/packages/core/src/StateNode.ts#L709-L721) method doesn't resolve tags) but I need to write a test for this and analyze how this relates to [this other issue](https://github.com/statelyai/xstate/pull/2540/files) that I've recently fixed b

[2021-09-28 03:32] cunneen opened #2692 "Dynamic machine definitions - Best Practices"
### Discussed in https://github.com/statelyai/xstate/discussions/2646

<div type='discussions-op-text'>

<sup>Originally posted by **cunneen** September 14, 2021</sup>
Hi,

We want to interpret asynchronously-retrieved machines at runtime similar to (but not identical to) #1123.

Based on the comments (specifically [this comment](https://github.com/statelyai/xstate/issues/1123#issuecomment-6126594

[2021-09-28 19:12] davidkpiano commented on #2486
Verified to be working with the latest XState (4.25.0)

[2021-09-28 19:12] #2486 closed

[2021-09-30 02:54] marklawlor opened #2698 "xstate-inspect server example fails with latest version of ws ^8.0.0"
**Description**

https://github.com/statelyai/xstate/blob/main/packages/xstate-inspect/examples/server.ts

Using this example with  `ws: ^8.0.0` does not work and will silently fail.

The error appears to be these lines, as message is of type `Buffer` not string

https://github.com/statelyai/xstate/blob/d98d948a534b028f4af8b271eb431a8625ab5cb3/packages/xstate-inspect/src/server.ts#L74-L76

**Expec

[2021-09-30 17:50] epikhighs opened #2702 "useSelector not updating state.context when used with spawned machine"
**Description**

When using useSelector on a spawned machine, the state.context of the spawned machine does not update with an `assign` action.  However, directly accessing the machine's state.context does contain the updated value.  Refer to the repro.

**Expected Result**

When using a spawned machine, I expect the state.context values to be in sync whether I use `useSelector` or `useActor` to o

[2021-10-02 09:22] christoph-fricke opened #2706 "Spawned Behavior Does Not Fully Support Actorref's `send` Type"
I noticed that the `send` function for actors that are spawned from behavior does not behave the same as the `send` function for interpreted machines. Generally, the `ActorRef` interface uses the `Sender<TEvent>` type for its send function, i.e. both `send("hello")` and  `send({type: "hello"})` are supported.

This works as expected if the `ActorRef` refers to an interpreted machine. However, `Beh

[2021-10-02 11:56] davidkpiano commented on #1200
This works as expected with the latest versions + `useActor`: https://codesandbox.io/s/invoke-child-bug-forked-h4gpz

[2021-10-02 11:56] #1200 closed

[2021-10-02 11:57] #1048 closed

[2021-10-02 11:57] #2692 closed

[2021-10-02 13:03] #2341 closed

[2021-10-03 08:25] Enteleform opened #2710 "using `actions.raise` with a callback results in a type error."
### Description
Using `actions.raise` with a callback results in a type error.

### Expected Result
- [x] The `raise` action is executed with the same outcome as `send`.
- [x] No type errors are present.

### Actual Result
- [x] The `raise` action is executed with the same outcome as `send`.
- [ ] No type errors are present.
[code]

### Reproduction
https://codesandbox.io/s/empty-silence-7t6c2?fil

[2021-10-03 09:01] Andarist commented on #2710
`raise` doesnt accept a callback atm but I think that it should, since it will become more powerful. Even if the ine in SCXML doesnt support this

[2021-10-03 09:09] Enteleform commented on #2710
It seems to be working with a callback. This is a code snippet of where I actually ran into the issue:

[code]

The `UPDATE_ENTRY` action is definitely executing. If I comment it out, it results in an error in my program due to the missing `context` assignment to a child actor.

[2021-10-05 05:35] DavKato commented on #2533
I think the tag `@xstate/svelte` is inaccurate here, this issue is caused by the typing change in the `core` and there is nothing to do with `@xstate/svelte`.

But I'd say severity of this issue has dropped significantly by the introduction of `useSelector` to `@xstate/svelte`.
I'm pretty positive that one should always prefer using `useSelector` instead of direct access with `$`.

[2021-10-05 08:45] christoph-fricke commented on #2706
@davidkpiano I would like to contribute this enhancement to the project. What is the type signature for `send` that should be used going forward? `send: (e: Event<TEvent>) => void` or `send: (e: TEvent) => void`?

[2021-10-05 11:55] Andarist commented on #2706
If anything this should be `Sender<TEvent>` because `(e: Event<TEvent>) => void`, unfortunately, isn't type-safe.

I would be in favor of unifying this (so adding the runtime support for `Sender<TEvent>`) regardless of potential changes in the future. However, as you have said: David likes the sugar for payloadless events so this probably will stay here.

[2021-10-09 17:56] davidkpiano commented on #2702
Would you be able to add a failing test for this? That will be very helpful in getting this fixed.

[2021-10-11 13:27] yaffol opened #2727 "Type error returned from useActor"
**Description**

A type error is returned when attempting to send a message to an actor which has been subscribed to use `useActor(actor)`

Whether the message is just a string, or an object (defined in the Event type of the target machine), a type error is thrown  `Type 'string' is not assignable to type 'never`.

**Expected Result**

The call to send(..) should not throw a type check error.
**Ac

[2021-10-12 05:40] epikhighs commented on #2702
hi @davidkpiano - is this what you were looking for?  obviously, the code isn't up to whatever standards your dev team has, but I got it reproducing in the unit test on my fork (https://github.com/epikhighs/xstate/commit/7e1a3aef32db4b5dc9afa1dc30a8404cfc0626a1)

[2021-10-12 11:49] davidkpiano commented on #2702
Yes, thank you!

[2021-10-12 17:34] ronaldborman opened #2730 "Build step 'Build docs' errors out"
It looks like since the merge of PR #2697 the docs are not build. The build step exits with the following error:
npm ERR! missing script: vuepress

See for instance https://github.com/statelyai/xstate/actions/runs/1288902485 or later actions regarding the Docs workflow.

I ran the docs:build script (which seems to start this workflow) locally from a recently forked repo and there also the same err

[2021-10-16 00:07] kyleconkright commented on #424
@davidkpiano Any plans to add the `onInvoke` method? Currently working on an implantation of xstate and this is the exact thing I need.

[2021-10-16 12:39] davidkpiano commented on #424
Not yet, it might not be necessary, since you can accomplish the same thing by checking for the existence of `state.child[someId]` in `.subscribe(...)` to detect if something has been invoked.

[2021-10-17 15:04] #2702 closed

[2021-10-19 22:52] eyezick opened #2744 "Type error on event properties in actions"
**Description**
Typescript compiler is not detecting the properties of additional event type definitions that are joined by ORs (`|`) when the properties are referenced in actions

**Expected Result**
No error when the event is properly typed

**Actual Result**
Error is thrown: `TS2339: property 'payload' does not exist on type 'MachineEvent'`
This is the error thrown by the `savePayload` action i

[2021-10-20 09:53] laurakalbag opened #2745 "Build docset format of docs so they can be added to apps like Dash"
[Instructions on how to generate docsets specifically for Dash](https://kapeli.com/docsets).

This needs some research to establish and plan the best approach for VuePress.

[2021-10-26 14:09] Andarist opened #2753 "Can't sent event to an initial child actor from within `useEffect`"
**Expected Result**

I should be able to send an event to a child from within `useEffect`

**Actual Result**

The event is missed because the captured child is "deferred" and events sent to it are never "replayed". IMHO part of the problem is that we ditch that deferred actor (IIRC), so its identity is not preserved.

**Reproduction**
https://codesandbox.io/s/friendly-hugle-gyzm4?file=/src/App.js

[2021-10-26 21:05] danthegoodman1 opened #2759 "Entry actions not fired when state specified in `interpreter.start()`"
**Description**
When specifying any state in the `.start()` method of an interpreter, an entry action will not fire even if the initial state is specified. An entry state will only fire on machine creation if the `.start()` has no first argument.

**Expected Result**
Any entry action should be fired.

**Actual Result**
Entry actions are not fired.

**Reproduction**
https://replit.com/@danthegoodma

[2021-10-26 21:10] #2759 closed, assigned to nobody

[2021-10-28 09:14] prashantgthorat opened #2764 "getSimplePath get path of when back ward state is pointed , last transition event is missing"
### Discussed in https://github.com/statelyai/xstate/discussions/2763

<div type='discussions-op-text'>

<sup>Originally posted by **prashantgthorat** October 27, 2021</sup>
Hello Team,
i am facing issue to generate path for when the transition is pointing to backward state , then that transition event is not capture in path.

Able to generate Generated path
**Add Log -> save -> submitted -> done*

[2021-10-30 11:38] VanTanev commented on #2528
It doesn't seem like this is moving forward, although I really would've liked `getSnapshot()` to not return `undefined`.

[2021-10-30 22:22] davidkpiano commented on #2528
It's still a valid issue, so we'll keep it open.

[2021-10-31 15:28] CodingDive opened #2777 "EventFrom marks optional properties as required"
**Description**
When extracting event types from a model blueprint with `EventFrom`, optional properties of the event will be treated just like required properties.

**Expected Result**
The type of optional properties should be preserved

**Actual Result**
Optional properties are marked as required

**Reproduction**
See PR with failing test or codesandbox [here](https://codesandbox.io/s/patient-ho

[2021-10-31 18:28] janovekj commented on #2777
I have only briefly looked into this, but so far it doesn't look like this is was introduced by #2743.

Weirdly enough, this seems to work when I'm testing it right inside [types.ts](https://github.com/statelyai/xstate/blob/main/packages/core/src/types.ts)
<img width="713" alt="bilde" src="https://user-images.githubusercontent.com/10179626/139596856-9c153c47-90d1-4cfb-b5b3-d7ad38dce490.png">

[2021-10-31 21:10] Andarist commented on #2777
@CodingDive there is a difference between an optional property and a property with an undefined value. Since we are using the return type to create final event types, this is somewhat expected (although inconvenient). See a slightly modified variant of your code to see how it can behave differently:
[TS playground](https://www.typescriptlang.org/play?strict=false&strictNullChecks=false#code/JYWwDg

[2021-11-01 11:23] CodingDive commented on #2777
@Andarist interesting! Thank you so much for for sharing.

The syntax you described actually seems to fix the issue I've been having as the event type now rightfully shows the property can be optional/undefined too.

[code]

Feel free to close the issue if this is the syntax we should be using going forward!

[2021-11-01 11:37] #2777 closed

[2021-11-01 17:43] j-funk commented on #2531
I've created a [new fork](https://codesandbox.io/s/xstate-todomvc-forked-vq563?file=/todosMachine.js) of the TODO MVC example which uses the `stop` action as recommended.  The length of `children` continues to grow however.  Happy to investigate any alternative implementations that would work around this issue.  Let me know.

[code]

[2021-11-04 22:10] gepd opened #2788 "Viz does not update the list of removed machines"
**Description**
When you invoke a machine, you will se the machine in the list of machines of the viz, you will see it in the `children` object as well. When the invokation ends, it's removed from the `children` object but not from the viz

**Expected Result**
The viz should not show the children machine in the list

**Actual Result**
The machine keeps in the list of machines

**Reproduction**
htt

[2021-11-05 02:58] Enteleform commented on #414
@davidkpiano

I just implemented this following the `namespace.utility` convention of `actions` (*`actions.choose`, `actions.pure`, etc.*).

[code]

-----

This implementation allows me to reuse `guards` in any machine, without the boilerplate of the previously proposed solution (*target guards defined externally to MachineOptions, `every` guard defined in MachineOptions*).

Two questions:
- Are y

[2021-11-05 11:36] davidkpiano commented on #414
@Enteleform That actually seems like a great idea. Can you add it as an idea to a new discussion? I don't see much danger in exposing the machine configuration directly (which it already is, for `state.machine`) but we can support that more directly.

[2021-11-05 16:59] stevenmusumeche commented on #2157
I'm having the same issue.

[2021-11-07 02:17] leandrojo commented on #2744
Use `interface`:

[code]

[2021-11-07 15:34] davidkpiano commented on #2744
TypeScript isn't smart enough to know where the action will be used, so without upcoming tools like the VS Code XState extension with typegen, you will have to ensure that this is the expected event:

[code]

[2021-11-07 15:34] #2744 closed

[2021-11-07 20:01] davidkpiano commented on #2745
Feel free to take this and make a PR!

[2021-11-08 03:38] davidkpiano opened #2791 "Refactor `instanceof`"
Let's figure out an alternative approach than using `instanceof`. While it sounds a little bit silly it really can be a PITA and I know that the pain ain't mine only - I've seen Ben Lesh and Jay Phelps mentioning this stuff on Twitter once.

It's just that with complex-enough applications/monorepos it's somewhat easy to end up with multiple copies of a library - and even though the structures crea

[2021-11-08 17:26] derekmartinjs commented on #2745
@davidkpiano Will do! I should have this turned around by next week; stay tuned.

[2021-11-10 12:12] acollazomayer commented on #369
Any idea if on how to make this works using useInterpret? I tried it but it seems that the context does not update with the latest state

[2021-11-10 12:41] davidkpiano commented on #369
See here: https://dev.to/mpocock1/how-to-manage-global-state-with-xstate-and-react-3if5

[2021-11-11 11:26] qingmingsang opened #2803 "can() will trigger assign()"
**Description**
can() will trigger assign()

**Expected Result**
do not trigger

**Actual Result**
can() will trigger assign()

**Reproduction**
[code]

[code]

[2021-11-11 11:30] Andarist commented on #2803
I can confirm - this shouldn't happen, ideally we'd stay away from any transition resolving logic there. We only need to check if a particular event can be handled or not.

[2021-11-11 21:21] davidkpiano opened #2805 "v5: event vs. _event"
Having both `event` and `_event` is IMHO confusing. Not a lot of people care about SCXML all that much for it to be so explicitly called out in our internal structures. Especially that our `_event` is not fully compliant with the SCXML one - in SCXML the `type` doesn't appear in the `_event.data` nor `_event.data` is bound to be an object (it can be just a string or whatever and there are SCXML te

[2021-11-11 23:38] dslatkin opened #2806 "Syntax highlighting for @xstate/svelte package is broken on docs page"
**Description**
Syntax highlighting is broken Svelte on [this docs page](https://xstate.js.org/docs/packages/xstate-svelte/).

**Expected Result**
See syntax highlighting.

**Actual Result**
Text is white all highlighted the same color.

**Reproduction**
https://xstate.js.org/docs/packages/xstate-svelte

**Additional context**
It [looks fine on the GitHub page](https://github.com/statelyai/xstate/

[2021-11-14 10:17] SimonGAndrews commented on #674
Hi, have you decided if or not, future version will use the 'first in doc order' as the default when initial not specified on a compound state ?   I suppose if used it means there could never be a transition to a compound state, is that correct??

[2021-11-14 10:20] SimonGAndrews commented on #674
pS ... I mean the a transition would never resolve to a compound state.  :)

[2021-11-14 15:35] davidkpiano commented on #674
I don't believe we will use "first in doc order" since that ordering isn't guaranteed with object keys: https://stackoverflow.com/questions/5525795/does-javascript-guarantee-object-property-order

[2021-11-16 10:06] VanTanev opened #2821 "[@xstate/react] Leverage useSyncExternalStore() now that React 18 is in beta"
**Description**
[React 18 beta announcement](https://github.com/reactwg/react-18/discussions/112)
[useSyncExternalStore() discussion](https://github.com/reactwg/react-18/discussions/86)
[Redux PR for React 18 compat](https://github.com/reduxjs/react-redux/pull/1808)

[2021-11-16 10:16] Andarist commented on #2821
We are keeping a close eye on those advancements - the change itself should be rather easy to introduce in a draft PR but until React 18 hits its stable version we can't start using `useSyncExternalStore`. There is a "shim" package (`use-sync-external-store/shim`) for it that we plan to use but its peer deps are declared in a way that installing this would result in warnings - and even if it didn'

[2021-11-17 23:45] davidkpiano opened #2823 "Docs: add note that `state.can` should come from resolved state"
Resolving can actually be important in some situations though. For instance - `state.can` won't work without it (for that one state, any state that will replace this "rehydrate" state will already work with `state.can`).

_Originally posted by @Andarist in https://github.com/statelyai/xstate/pull/2813#discussion_r749313646_

[2021-11-19 06:12] VanTanev opened #2825 "state.can() returns false on NOOP transitions"
**Description**
`state.can()` returns `false` for transitions that are valid, but do not change the state.

[code]

**Workaround**
Adding an empty action to the event makes this work:

[code]

[2021-11-19 06:58] aldovelco commented on #2332
I was able to reproduce this but found the issue isn't related to the `Subject` but having a complex object stored in `context`. I believe the inspector is trying to stringify the whole object to be able to show it in the state panel.

[2021-11-19 09:00] Andarist commented on #2825
This is kinda on purpose - only if the transition results in some kind of a change then it's considered as "allowed". This IMHO matches a pattern described somewhere in the docs:
[code]

in this situation IMHO it's completely OK to return `false` for this "forbidden" transition. And this is basically what your snippet implements, just using a different syntax.

[2021-11-19 10:57] overtune opened #2826 "Docs: Add example of using selectors to get child actors state/context"
**Description**
It would be good to add some documentation about using "global" machines, actors and `useSelector`.
E.g. we have a global machine which uses child actors (accessible through the global machines context), and wants to select the state of the child actor.

I think it should be something like this:

[code]

**Additional context**
Link to the discussion about this on Discord:
https://d

[2021-11-19 11:51] VanTanev commented on #2825
I think that your and my example are fundamentally different in the intent of the code.

In your example, it definitely makes some sense that FOO is forbidden as it overwrites an existing transition. I would argue the definition is very vague, an explicit definition would definitely be better, something like:

[code]

Also notice, in your case you used `undefined` for the value of a forbidden tran

[2021-11-19 15:38] Andarist commented on #2825
I see how you can see this differently but if we stick to the basic XState syntax for defining transitions:
[code]
is just a sugar over
[code]
and because we can use targetless transitions this way:
[code]
we can come to a conlusion that both:
[code]
and
[code]
are just sugar syntaxes for:
[code]

The only thing that happens internally is this:
[code]

But I feel that this is kinda irrelevant anyw

[2021-11-19 17:01] VanTanev commented on #2825
In that case, the naming is unfortunate, because to me it reads as "Can the current state execute this event." By comparison, in xstate-helpers I named the same functionality very clunky `useIsXStateTransitionAvailable()`, but I think that is a much more accurate description of what the functionality is - "is a transition available from the current state given this event".

You are correct that th

[2021-11-19 18:07] Andarist commented on #2825
Could you showcase this use case in code? It's quite to see build a proper mental model for this, only based on the description.

[2021-11-19 22:38] davidkpiano commented on #2332
This seems like something that https://github.com/statelyai/xstate/pull/2640 will fix, once we determine a proper solution.

[2021-11-21 17:00] HerbCaudill opened #2829 "Project using XState fails to build with Typescript 4.5"
**Description**

TypeScript 4.5 was released 4 days ago (2021-11-17) and it's no longer happy with `/lib/types.d.ts`. This prevents any project that depends on XState from building with the latest version of TypeScript.

This was picked up by the TypeScript team's bot prior to the release, but they seem to have concluded that this is XState's problem and not theirs.
https://github.com/microsoft/Ty

[2021-11-21 23:20] mattpocock commented on #2829
We have an open PR introducing it to our repo:

#2828

[2021-11-22 14:01] Andarist commented on #2829
This should be fixed in [the latest XState releases](https://github.com/statelyai/xstate/releases/tag/xstate%404.26.1). If the issue persists please comment back here and I will reopen this ticket.

[2021-11-22 14:01] #2829 closed

[2021-11-22 20:50] fedekau commented on #2373
@alavkx Did you find a way to avoid this? The exact same thing is happening to me. I tried using the `serialize: false` option but it did not help

[2021-11-22 21:31] alavkx commented on #2373
I didn't—just avoided passing refs to machine context. It seems like an anti-pattern anyways so it didn't bother me too much.

[2021-11-23 08:35] VanTanev commented on #2825
Extracting the full context is super lenghty. I'll try to do a light version here, that hopefully captures the important points.

[code]

Then, on the frontend there is a very complext state machine. Again, I'll try to extract the important part:

[code]
So, in the above code, we have two options:
1) When `START_TAGGING` is valid, we do 1 extra network request to change the state of the workflow i

[2021-11-23 19:31] kantorv commented on #1735
@dhirjgupta  can you please provide some codepen with workaround? playing a few days on issue, still have no idea how to use inspector and pass ref objects to the machine, every time getting the `Uncaught TypeError: Converting circular structure to JSON ...`
have some workaround with passing `id` of element, then getting it with `getElementById`, but if there is a more suitable solution, whould li

[2021-11-24 06:41] hrant-nurijanyan opened #2833 "Import error"
`import { createMachine } from '@xstate/fsm';` fails with error `SyntaxError: Named export 'createMachine' not found. The requested module '@xstate/fsm' is a CommonJS module, which may not support all module.exports as named exports.
CommonJS modules can always be imported via the default export, for example using:`

I copied the super quicstart code from [your npm site](https://www.npmjs.com/pack

[2021-11-24 08:41] mattpocock commented on #2833
@hrant-nurijanyan Could you give us more information about your setup? What are you using/building?

Node/Vite/Create React App/Next.js?

[2021-11-24 09:53] hrant-nurijanyan commented on #2833
It's node.js clean environment, just created it with `npm init -y` for testing.

[2021-11-24 10:00] hrant-nurijanyan commented on #2833
It worked when I changed the code to this
[code]

Please update your quickstart doc accordingly)

[2021-11-24 10:38] Andarist commented on #2833
Support for ESM in node has been released in a way that conflicts with the existing ecosystem. Fixing compatibility with it can only be done in a major version. We'll be doing that but it's really cumbersome to do that in the current release line without breaking one environment or another in some way.

[2021-11-24 13:10] woutermont opened #2834 "Let ActorRef be an RxJS InteropObservable"
A while back we fixed the `Interpreter` so that it was recognized by RxJS as an `InteropObservable` (using interop symbols). However, when retrieving children of a machine, this does not suffice, since these children are typed as `ActorRef`. Would it be possible to have `ActorRef`, or even it's parent interface `Subscribable`, to either mandate their subclasses to contain the necessary symbols, or

[2021-11-24 13:19] davidkpiano commented on #2834
I think this is a good idea. Feel free to make a PR!

[2021-11-25 23:04] #2138 closed

[2021-11-25 23:14] davidkpiano commented on #2825
@VanTanev Thanks for the context/explanations. The use of no-op transitions on the backend machine doesn't make much sense because those transitions are not being used for their intended purpose; you're using them as "indicators" that something can be done on the frontend machine.

Another (more semantic IMO) way to do this is with tags:

[code]

And then the guarded transition on the front-end ma

[2021-11-25 23:37] #2803 closed

[2021-11-29 00:57] kantorv commented on #1735
found some workaround here, works on html elements, not on refs, but seems like it's a minor issue
[https://github.com/statelyai/xstate/issues/2048#issuecomment-836944939](https://github.com/statelyai/xstate/issues/2048#issuecomment-836944939)

[2021-11-29 22:24] chasm opened #2843 "TypeScript documentation"
### Discussed in https://github.com/statelyai/xstate/discussions/2842

<div type='discussions-op-text'>

<sup>Originally posted by **chasm** November 30, 2021</sup>

There doesn't appear to be any real TypeScript documentation despite that TypeScript is highly recommended by xState. Am I missing something? Is there a repository of excellent, detailed, and _complex_ examples in TypeScript?

For exa

[2021-11-29 22:27] davidkpiano commented on #2843
The documentation is currently being renovated and we will include both JavaScript and TypeScript for each of the code examples.

[2021-11-30 00:39] Luke-SNAW opened #2844 "Docs: Link of the vue recipe is missing."
**Description**
Link of `the Vue recipe` (https://github.com/statelyai/xstate/blob/main/recipes/vue.html) in https://github.com/statelyai/xstate/tree/main/packages/xstate-vue#warning-vue-2-notice is missing.

**Expected Result**
Open the document.

**Actual Result**
404 error.

[2021-11-30 02:44] #2844 closed

[2021-11-30 12:19] FloValence commented on #1223
Hello,
Any news on the Guard typing? It seems that I'm still forced to cast `cond` as `any` using the `Condition` type for the guards.

[2021-11-30 12:34] Andarist commented on #1223
@FloValence  I'm not sure if your issue is exactly the same as the one outlined in this issue. We are working on improving TS experience in https://github.com/statelyai/xstate/pull/2674

[2021-12-01 12:49] davidkpiano opened #2851 "v5 - avoid mutation of `state.children`"
This probably should be refactored to avoid mutation of `this.state` - I think most people treat this as immutable. Maybe grabbing the actor ref to stop within machine APIs~ and embedding that in the action would help? This way we wouldn't have to access this here by ID

_Originally posted by @Andarist in https://github.com/statelyai/xstate/pull/2840#discussion_r758498981_

[2021-12-03 03:59] github0013 opened #2854 "[Unexpected warning]: Machine given to `useMachine` has changed between renders"
**Description**
I am using Next.js dynamic routing. `pages/test/[value].tsx`.
[value] is predefined as 1 to 100, so I have pages `/test/1`, `/test/2` ...  `/test/100`.

1. Each of the page has a link going to the same route using different `[value]`.
2. Because nextjs doesn't fully reload the same route page, it doesn't run `React.useEffect(() => {}, [])` to initialize values.
3. I am using `useIn

[2021-12-03 08:43] huan opened #2855 "Modeling Events example in docs has typing problem"
**Description**

The official docs for **Modeling Events** has typing errors:

Link: <https://xstate.js.org/docs/guides/models.html#modeling-events>

**Expected Result**

No typing errors

**Actual Result**

[code]

**Reproduction**

<https://codesandbox.io/s/dazzling-elbakyan-bt0ft?file=/src/index.ts>

**Additional context**

- XState@4.26.1
- TypeScript@4.5.2 (my local environment)

[2021-12-04 02:40] huan opened #2859 "`interpreter.state.can()` does not work with `createModel`"
**Description**

With `createModel()`, the typing of `interpreter.state.can()` seems not right.

**Expected Result**

`state.can()` should accept the EVENT names from `createModel()`

**Actual Result**

**Reproduction**

https://codesandbox.io/s/tender-https-vm798?file=/src/index.ts

**Additional context**

I have tried:

[code]

But without any luck.

[code]

[2021-12-04 08:30] JoshuaAmaju opened #2860 "Multiple ways to initialise machine context"
The doc currently shows one way to initialise the context object of a machine. And it appears there are other ways of doing that not included in the docs. Currently what we have is:

[code]

mean while this is also possible:

[code]

[2021-12-04 14:14] davidkpiano commented on #2859
This is behaving as expected. `state.can(...)` accepts an event type of _simple events_, which are events that have no payloads; otherwise, it requires a full event.

A simple work-around:

[code]

However, it makes sense for a use-case to be "I want to know if this event with any parameter will cause a transition to be selected". We have some changes (#2850) coming in that might permit this.

cc.

[2021-12-04 17:02] huan commented on #2859
Thank you very much for the quick reply and the clear explanation!

So it seems that the below workaroun works:

[code]

And the above is what exactly I want, it would be great if we can have a compatible `can('EVENT')` to achieve that!

[2021-12-04 20:50] VanTanev commented on #2825
@davidkpiano Thanks for your thoughts. In most cases, I think tags are a very good approach to solving this!

In my particular case, `workflow.state` is `(string)State.value`, so the code would be a tad more involved, but still very doable.

With that said, I think it's safe to close this issue. Thanks to all!

[2021-12-04 20:50] #2825 closed

[2021-12-04 20:56] VanTanev commented on #2821
One minor thought here: When `@xstate/react` switches to `useSyncExternalStore()`, we should update the documentation that memorizing selectors is no longer required. I think this is a pretty great change in and of itself, because `useSelector()` type inference fails with an inline `React.useCallback()` for the selector, which is _very_ annoying.

As far as I understand the shim, this change will

[2021-12-05 07:42] huan opened #2861 "`respond` only work when it's in the first state that receiving the EVENT"
**Description**

When using `respond` to send events to parent/actors, the `respond` action has to be put in the state that first receives the EVENT.

If I use an `always` to transition state to another one, then the `respond` will not work as my expected (the respond-ed EVENT will be lost)

Does this behavior is expected?

**Expected Result**

The `respond` can send the EVENT to the latest valid

[2021-12-05 08:16] Andarist commented on #2861
This is something that we’ve recently fixed on the next branch - we prepare a v5 release there. Unfortunately, it’s not possible to change the behavior in v4 - unless we’d introduce an opt-in flag for that

[2021-12-05 08:54] huan commented on #2861
Awesome, it is great to know that we have fixed it in the v5 release!

Is there any plan for publishing the v5 alpha/RC/next version for the community for now? I read a lot about the coming v5 and I'd like to try it as soon as possible.

Thank you very much!

[2021-12-05 11:49] Andarist commented on #2861
We'll think about publishing a prerelease version sometime soon.

[2021-12-06 03:05] huan commented on #2861
Thank you very much for letting me know that the ?v
5 prerelease will be published soon!

 Close this issue and looking forward to it!

[2021-12-06 03:05] #2861 closed

[2021-12-06 11:58] huan opened #2862 "Can not reuse an existing `model.events` in another `createModel()`"
**Description**

I have a child model and I want the parent model to reuse the event definitions in the child so that it will be DRY:

[code]

**Expected Result**

The typing system should be happy.

**Actual Result**

The typing system is not happy:

[code]

**Reproduction**

https://codesandbox.io/s/floral-rgb-bz9zr

[2021-12-06 12:17] huan commented on #2862
After investigating it turns out that it's because of the additional `type` property added by the `createModel`.

I realized the `createModel({}, { events: {} })` will act as a creator and added the `type` in the payload, which caused the returned `events` does not same as the value in args.

I think we need a way to do this, I don't know if there has already solution, but for now I write this one

[2021-12-07 01:55] #564 closed

[2021-12-07 02:25] davidkpiano commented on #971
Closing this as there is a workaround and strict mode will be removed in v5.

[2021-12-07 02:25] #971 closed

[2021-12-07 02:27] #943 closed

[2021-12-07 02:34] davidkpiano commented on #1020
The way to resolve the state is this:

[code]

https://codesandbox.io/s/xstate-serialization-issue-forked-zoyd8?file=/src/index.tsx

[2021-12-07 02:34] #1020 closed

[2021-12-09 17:06] huan commented on #1138
This use case should be supported by the `Typestate` because it is an intuition.

I feel very strange why the `context` is not following the `Typestate` under a specific `state` and trying to figure out why until I find this thread and read the answer from @davidkpiano.

Really looking forward to upgrading with the v5 alpha/RC/beta/next because there are lots of exciting improvements.

[2021-12-11 14:19] davidkpiano opened #2870 "[v5] Optimize mailbox"
I wonder if we should implement a better data structure for the mailbox, shifting arrays is not the best for performance

_Originally posted by @Andarist in https://github.com/statelyai/xstate/pull/2869#discussion_r767138263_

[2021-12-11 18:04] tivac commented on #2870
You could track your index in the array, then set `.length = 0` when you're done iterating

[2021-12-14 03:17] allestaire opened #2877 "Vue 2 docs not clear nor complete"
I've check this documentation but it seems like not too clear for as wanted a to go example in setting it up
The documentation only shows how to setup states but Im wondering why not include on how to include `services`, `guards` and so when creating state

https://xstate.js.org/docs/recipes/vue.html

Though upon checking the `createMachine` docs it provides options
But not seeing clear informatio

[2021-12-14 03:28] allestaire commented on #2877
Found this docs
https://xstate.js.org/docs/guides/communication.html#configuring-services

Now Im guessing the docs it misinformed but it is right at some point, if the dev doest work with `services`, `actions` and `guards`
The I guess the `createMachine` should be placed on the `created` hook.

[2021-12-14 09:10] mattpocock commented on #2877
@allestaire Yep, good shout - the recipes/vue docs need updating.

Do these docs help?

https://xstate.js.org/docs/packages/xstate-vue/

[2021-12-14 23:55] allestaire commented on #2877
Sorry, but the docs you shared seems like specific for composition-api only.

There are still old projects that uses or may not use xstate and as for me xstate is a great package for long forms and it helps me alot. This helps me to manage codes, easy maintained, easy tracking, less component variable.
Totally a life saver.

But if I want to implement this, of course I'll go to the site and find t

[2021-12-18 07:58] huan commented on #1767
Yet a new learner here +1

Looking forward to using the `onMicrostep` in v5!

[2021-12-18 09:52] huan opened #2880 "TypeError: Cannot read properties of undefined (reading 'name')"
**Description**

When a child machine has been in a state with the `exit: sendParent` action set, if the parent machine stop, then the error will be thrown.

I guess this is because the parent has been destroyed before the child.

**Expected Result**

The interpreter should be stopped gracefully. (executed all the `exit` from all children before destroy parent?)

**Actual Result**

[code]

**Repro

[2021-12-18 10:13] huan commented on #2870
It's great to see that we will have a mailbox wrapper in XState v5!

I'm trying to figure out how to make the async events processing follows the actor pattern (one message at a time) with XState v4 this week, and I have a Mailbox prototype at https://github.com/wechaty/bot5-assistant/blob/actor-pattern/src/mailbox/mailbox.ts

Basically, I'm using three parallel states in the mailbox:

1. `router`

[2021-12-18 10:43] Andarist commented on #2880
I can confirm that this is a bug - and most likely a duplicate of another issue. I will try to look into this after the weekend as I already exactly know what happens, just need to figure out the most appropriate solution and write tests for this and related scenarios.

[2021-12-18 10:44] Andarist commented on #2870
@huan note that the Scheduler used in v4 works sort of like a mailbox for most cases so we still process one message at a time. This is mostly an implementation change in v5 - not a behavior change.

[2021-12-19 17:52] huan commented on #2870
@Andarist thanks for noticing me that!

Today I have written [a unit test](https://github.com/wechaty/bot5-assistant/blob/507f3a85c7d958b4a4100188f7cca521e374eb84/src/mailbox/integration.spec.ts#L88-L102) to prove that the Mailbox pattern is missing in the XState default machine settings:

1. [#1 unit test](https://github.com/wechaty/bot5-assistant/blob/507f3a85c7d958b4a4100188f7cca521e374eb84/src

[2021-12-21 15:41] davidkpiano commented on #2870
Hey @huan, thanks for this, but it's a bit confusing. What specifically are the features you would like XState to support?

[2021-12-21 16:31] Andarist commented on #2870
Hm, correct me if I'm wrong. The expectation here is what actually happens but you would have expected it to behave differently? If I decode this correctly you are receiving only a single `DONG` event back because one a single `DING` event reaches the `dingMachine` when its state is idle. Other DINGs are delivered to it when it's in its busy state and because of that those messages are being dropp

[2021-12-21 20:09] ahamid opened #2886 "[4.26.1 Typescript] Narrowed assign action not compatible with machine ActionFunctionMap when using Typescript"
**Description**

Taken directly from example in [Model docs](https://xstate.js.org/docs/guides/models.html#typescript), it is more or less implied that this should work:

[code]

This relates to and perhaps is already addressed (or documented as expected) in v5 as mentioned on https://github.com/statelyai/xstate/issues/1198

**Expected Result**
The top-level `actions` ActionFunctionMap typechecks

[2021-12-22 01:50] davidkpiano commented on #2886
Related to this probably: https://github.com/statelyai/xstate/pull/2845

[2021-12-24 02:45] huan commented on #2870
Hi @Andarist ,

Thank you very much for letting me know the "selective receive" of Erlang. After I googled it and spend a few hours reading the related links, I created a new Coffee Machine to explain my use case.

Disclaimer: I'm new to both the XState and Actor, have very limited experience with those concepts, so I'm just following my own intuition.

## CoffeeMaker Machine

A naive state machin

[2021-12-24 03:18] huan commented on #2870
Hello @davidkpiano ,

Thank you very much for asking me to describe this feature that I want to implement with XState!

I'm keeping studying the great XState framework and trying to implement production actors for my Wechaty chatbot on WeChat, I have described what I want to solve in the above reply to @Andarist , I hope it can help me make my work a little bit clearer.

After I have written more

[2021-12-24 04:08] huan opened #2891 "The `context` provided to the `expr` inside a State should be exactly the **context in this state**"
**Description**

I spent lots of hours debugging my state machine with some logic like the below transition code:

[code]

**Expected Result**

I thought that in the states `step1`, the `context` should be set by the `entry` actions of the `step1`.

**Actual Result**

In the states `step1`, the `context` is set by the `entry` actions of the `step2`.

I got the below result, which means that in the

[2021-12-24 10:26] Andarist commented on #2891
This is already fixed in v5. In v4 you can get the fixed behavior if you set `preserveActionOrder: true` at the top level of your machine

[2021-12-24 12:11] huan commented on #2891
Awesome, great to know this can be fixed with the `preserveActionOrder` option! I have run my test with it again and the order is expected now.

Is there a way to use v5 for users like me? I'd like to develop with v5 to prevent future problems like this (already fixed).

Thank you very much!

[2021-12-24 13:33] Allaoua9 commented on #809
It would be nice to have this :+1:  !

[2021-12-24 17:25] davidkpiano commented on #2891
Not yet! We're working on the final tasks to release an alpha, hopefully by the end of the year.

[2021-12-24 17:25] #2891 closed

[2021-12-25 01:45] huan commented on #2891
I hope we can complete the final tasks soon and looking forward to using the v5 alpha in 2021!

Thank you very much for working on the great XState!

[2021-12-26 08:42] heinschulie opened #2893 "CreateModel causes SvelteKit to fail during build"
**Description**
Hi there. Firstly, thanks for Xstate. It's made my life considerably easier.

For context, I am encountering this issue using SvelteKit. When creating machines using "createMachine" there is (obviously) no problem and all works well.

Expecting that this may be beneficial moving forward, I have recently started refactoring these machines using the "createModel" pattern. Although ev

[2021-12-26 10:07] Andarist commented on #2893
Your `home.model.ts` is being executed within node itself and since you have set `"type": "module"` in your package.json this gets loaded using the new node's ESM loader semantics. Therefore, to make it work you need to apply this diff:
[code]

We are going to improve the story around this but XState v4 has been released **before** node's ESM support. We couldn't anticipate how it would work and u

[2021-12-26 15:03] davidkpiano commented on #2450
For reference, the [`exitInterpreter` procedure](https://www.w3.org/TR/scxml/#exitInterpreter) in the SCXML algorithm exits active states when the interpreter is exited/stopped, so this is the expected behavior.

Regarding the original issue, a "dead letter actor" can be considered; another related solution is handling `error.communication` events (or ignoring them): https://github.com/statelyai/x

[2021-12-26 16:57] davidkpiano commented on #849
We need to support inferring an `ActorRef` from an `Interpreter` to make this easier, but the initial example should now be this: https://codesandbox.io/s/keen-grass-qiuz6

The `ActorRef<TEvent, TEmitted>` type should now be used instead of `Interpreter<...>`.

[2021-12-26 16:57] #849 closed

[2021-12-27 06:39] heinschulie commented on #2893
@Andarist - thanks for the super quick response. Especially at this time of year. All works well now. Really looking forward to v5.

[2021-12-27 11:52] tom-sherman commented on #2698
@marklawlor what version of `ws` is known to work?

[2021-12-27 11:59] Andarist commented on #2698
@tom-sherman could you prepare a runnable repro case of the problem? The mentioned change is specifically documented as a breaking change included in [the `ws@8.0.0` release](https://github.com/websockets/ws/releases/tag/8.0.0). Our code was also developed against 7.x as per the declared peer dep range:
https://github.com/statelyai/xstate/blob/d98d948a534b028f4af8b271eb431a8625ab5cb3/packages/xsta

[2021-12-27 13:52] #2893 closed

[2021-12-27 15:21] #2698 closed

[2021-12-27 23:11] davidkpiano commented on #671
Closing as stale; feel free to reopen.

[2021-12-27 23:11] #671 closed

[2021-12-28 00:21] wKovacs64 opened #2897 "Cannot use raise action in model-based machine"
**Description**

TypeScript gets mad when you try to use the `raise` action inside a model-based machine definition.

**Expected Result**

I would expect it to work as it does with a machine not created from a model.

**Actual Result**

[code]

**Reproduction**

https://stately.ai/viz/293fb8f2-2ede-4e1f-965f-9e1288097cb3

**Additional context**

I created this minimal reproduction because it wasn'

[2021-12-28 12:16] Andarist commented on #2897
I'm not yet sure what happens here, but this is what I've gathered:
1. the problem goes away if we remove [the `exec` property from the `ActionObject` type](https://github.com/statelyai/xstate/blob/df5ffce14908d0aa8056a56001039dfd260be1a4/packages/core/src/types.ts#L46)
2. the ['bivarianceHack'](https://github.com/statelyai/xstate/blob/28ef36941b7a3be859770ecf2ce623c28c11ec3a/packages/core/src/typ

[2021-12-28 12:53] Andarist commented on #2897
Ok, I think I've cracked this - but I didn't try to fix this yet. I **think** that the error is because transition actions are narrowed down to accepting a particular event type. In this example the accepted event type would be `RAISE`:
<img width="606" alt="Screenshot 2021-12-28 at 13 45 35" src="https://user-images.githubusercontent.com/9800850/147567786-b4ffc414-d1b0-492c-a419-d01cc87f2891.png"

[2021-12-28 13:53] davidkpiano commented on #2897
I'm working on this here: https://github.com/statelyai/xstate/pull/2690

That PR will improve action types so that they also accept a `TSpecificEvent` generic, since that is different from `TEvent` for transitions.

[2021-12-28 15:11] davidkpiano commented on #2791
@Andarist Until it can be demonstrated that this is an actual problem, let's close this one out.

[2021-12-28 15:11] #2791 closed

[2021-12-28 15:36] #2458 closed

[2021-12-29 00:59] huan commented on #2870
Update: I have drawn a diagram ([slides link](https://docs.google.com/presentation/d/13oUOIEnzdLWO6KZWztD_pMuu22AQ3SIMjk2wp8f-f18/edit#slide=id.g109fc535984_0_202)) for implementing the "selective receive" pattern with the code updated at [here](https://github.com/wechaty/bot5-assistant/blob/actor-pattern/src/mailbox/mailbox.ts)

![image](https://user-images.githubusercontent.com/1361891/147617671

[2021-12-29 17:33] Andarist commented on #2870
I think you are slightly misinterpreting the mailbox and actors. There might be implementations out there that might handle this slightly differently but if we focus on the concepts there is nothing wrong with how XState implements this. It's just that XState works differently from your expectations.

The main difference is that XState **doesn't block** "the thread". When XState receives a message

[2021-12-29 22:22] ahamid commented on #463
I am still seeing the synchronous exception swallowing behavior with 4.26.1 per @davydof's example. Should I be trying to catch an `xstate.error` or `error.execution` event? (I don't think any are being emitted)

[2021-12-30 13:24] davidkpiano commented on #463
Can you please open a new issue with a reproduction?

[2021-12-30 16:58] davidkpiano commented on #2727
I cannot see the specific error in the CodeSandbox reproduction. Was the sandbox changed?

I'll reopen this if there is a valid repro.

[2021-12-30 17:10] davidkpiano commented on #2753
The issue in the repro is caused by a stale closure. This works:

[code]

[2021-12-30 17:10] #2753 closed

[2021-12-30 17:11] davidkpiano commented on #2764
The next version of `@xstate/test` will give better options for this, but for now, you can target a nested state of `Test Blood sugar` to accomplish this:

[code]

[2021-12-30 17:11] #2764 closed

[2021-12-30 17:13] davidkpiano commented on #2788
Please use the new visualizer, and post viz-related issues there: github.com/statelyai/xstate-viz

Thank you!

[2021-12-30 17:13] #2788 closed

[2021-12-30 17:14] davidkpiano commented on #2630
Actually, this is invalid - `machine.events` only lists events for which transitions are defined. In this case, `entrySt2` is not handled in this machine.

[2021-12-30 17:14] #2630 closed

[2021-12-30 17:19] davidkpiano commented on #2566
This is working as intended. Actions returned from a `pure(...)` action creator may contain `assign(...)` actions, which need to be evaluated to determine the initial state. Since services aren't started immediately in React (limitation: effects are run _after_ the initial render), there are two times the initial state is determined:

1. When the component is instantiated
2. When the service is st

[2021-12-30 17:19] #2566 closed

[2021-12-30 17:20] davidkpiano commented on #2565
Is this still reproducible with the latest `xstate` and `@xstate/react` versions?

[2021-12-30 17:24] davidkpiano commented on #2531
Here is how it should be done: set `preserveActionOrder: true` on the machine and stop the actors first, before removing them:

[code]

https://codesandbox.io/s/xstate-todomvc-forked-69hct?file=/todosMachine.js:2197-2567

[2021-12-30 17:53] davidkpiano commented on #2482
We're exploring some sort of a receptionist pattern like you demonstrated in the second code example.

Closing this as `useSelector` is the workaround.

[2021-12-30 17:53] #2482 closed

[2021-12-30 18:00] rossng commented on #2373
I see [this commit](https://github.com/statelyai/xstate/commit/65f4322efd184057490b93e4cad820ec88172739) from a few months ago which added this handler:

[code]

The `stringify` function here is safe, I think - if `JSON.stringify` fails it falls back to [a circular-proof method](https://www.npmjs.com/package/fast-safe-stringify).

However, at the same time, that commit leaves in place a duplicate

[2021-12-30 18:06] davidkpiano commented on #2306
This is a breaking change in v4, but is fixed for v5: https://github.com/statelyai/xstate/pull/2824

[2021-12-30 18:06] #2306 closed

[2021-12-30 23:38] #2834 closed

[2021-12-31 08:31] riccardo-forina commented on #2565
I'm afraid so

[code]

[2021-12-31 08:33] riccardo-forina commented on #2565
Same with the minimal repro

[2021-12-31 09:54] Andarist commented on #2565
Thanks for the report - I will take a look into that after New Year's eve.

[2022-01-01 00:04] Andarist commented on #2880
Just an update - I'm implementing a fix for this, should open a PR in a couple of days. The issue/fix is somewhat delicate so I'm making sure to cover as many edge cases as I can.

[2022-01-01 00:38] DavidOrchard opened #2910 "Xstate test: How to control service return or error depending upon test plan."
**Description**

We'd like to be able to model based test xstate services.  The next state, ie success or failure, is dependent upon a service return.  We like to have a callback in the test run that can look at which path it's on, ie success or failure test path, and cause an effect on the service such that it returns the value needed.  In our real world application, we do API calls in services w

[2022-01-03 08:20] huan opened #2914 "Machine exit actions have been called twice"
**Description**

I have a machine with two children: one is spawn-ed and the other is invoke-ed.

They all have `entry` and `exit` actions which is a spy for testing.

**Expected Result**

after the `interpreter.stop()`, the parent and two children `exit` actions will be called once.

**Actual Result**

They have been called twice instead of once.

**Reproduction**

https://github.com/wechaty/bot5

[2022-01-03 08:49] Andarist commented on #2914
Have you tried with 4.27.0? This should have been just fixed there: https://github.com/statelyai/xstate/releases/tag/xstate%404.27.0

[2022-01-03 09:52] huan commented on #2914
@Andarist Thank you very much for the information!

I can confirm that this issue has been fixed by the 4.27, appreciate your fix!

[2022-01-03 09:53] huan commented on #2914
And may I ask your option for the exit order is not as same as the entry order problem?

- Entry order: spawn, invoke, parent
- Exit order: parent, spawn, invoke

I think the exit order should be exactly the reverse order of the entry, or do we have any reason that make those order like this?

[2022-01-03 10:40] Andarist commented on #2914
The exit actions order is being fixed here: https://github.com/statelyai/xstate/pull/2903

[2022-01-03 11:46] huan commented on #2914
Aha, brilliant!

[2022-01-03 11:46] #2914 closed

[2022-01-03 14:47] #464 closed

[2022-01-03 20:53] EdmundsEcho opened #2917 "xstate is generating an compile-time warning: failing to find source-map"
xstate version:
-   "xstate": "^4.13.0"
-   "@xstate/react": "^0.8.1",

## Description
When I run or build the create-react-app, I get the following Failures that describe missing source-maps for xstate.

[code]

[2022-01-03 20:55] Andarist commented on #2917
Have you tried the latest releases of the mentioned packages?

[2022-01-04 21:03] milanbgd011 commented on #2854
I do not get errors like this anymore after update to 4.27.0:
https://github.com/statelyai/xstate/releases/tag/xstate%404.27.0

Please confirm that this is now working please.

[2022-01-04 21:04] milanbgd011 commented on #2383
I do not get errors like this anymore after update to 4.27.0 in NextJS app:
https://github.com/statelyai/xstate/releases/tag/xstate%404.27.0

Please confirm that this is now working or not in CRA.

[2022-01-04 22:53] JoshuaAmaju commented on #2862
That should be considered a bad practice. Under what conditions would you want to share events? That would disrupt how you think about your state machine, making it difficult to pin down where a certain event was fired.

[2022-01-04 22:59] JoshuaAmaju commented on #2664
I think `createModel` was introduced to fix this. But it's a very old issue

[2022-01-05 04:40] davidkpiano commented on #2664
Yes, `createModel(...)` should be used for this:

[code]

Docs: https://xstate.js.org/docs/guides/models.html#models

[2022-01-05 04:40] #2664 closed

[2022-01-05 12:28] #2833 closed

[2022-01-05 12:37] davidkpiano commented on #2498
Being done in #2905

[2022-01-05 12:38] davidkpiano commented on #2457
@ChrisShank Can this be considered answered/solved? Or should we add documentation for this?

[2022-01-05 12:39] davidkpiano commented on #2450
Addressed in #2903

[2022-01-05 12:54] #2397 closed

[2022-01-05 12:55] #2300 closed

[2022-01-05 14:09] ChrisShank commented on #2457
@davidkpiano Its answered, but does the vue package still have this bug?

[2022-01-05 16:42] Andarist commented on #2450
@davidkpiano this PR addresses a different problem. I have a branch locally to fix this one though - but I still need to write tests for it.

[2022-01-05 16:50] Andarist commented on #2457
As far as I see it might have that bug - I'll assign myself to this issue, write a test and fix the bug (or just add a test if it turns out that there is no bug after all).

[2022-01-05 21:16] mindy opened #2919 "Testing `onError` transition using Jest surfaces unexpected console.error"
## Description
When trying to test the `onError` transition logic using Jest, it surfaced a console.error stating that the `onError` handler was missing, even though it was defined in the machine. However, adding a `target` property fixes the error:

[code]

The error only appears during testing and does not appear when interacting with the machine in the browser.

## Expected Result
Should not se

[2022-01-05 21:35] Andarist commented on #2919
Thank your for the report and the repro case. From the description it looks like a bug but given that escalate is also used here - maybe there is some parent & child relationship that makes a difference here. Gonna examine this carefully asap

[2022-01-05 22:56] horacioh commented on #963
I know this is not going to be fixed for this version (I read the older comments), but just as a question: does this it not fixed by either using the `.mjs` extension or adding the `"type": "module"` to the package.json?

trying to learn about these issues myself, since I have a full-ESM setup even for testing (using [vitest](https://vitest.dev/))

[2022-01-06 05:09] mindy opened #2920 "When multiple side-effects are used, testing machine logic using Jest fails"
## Description
When mocking `sendParent` in Jest tests, and only if `sendParent` is called inline along with more than one side-effect, tests start to fail due to a type error.

For example, the following code:
[code]

causes the following error when running Jest:

[code]

But having just one sendParent call does not cause an error: `actions: sendParent("BACK")`

And moving sendParent to "actions"

[2022-01-06 12:38] Andarist commented on #963
`.mjs` extension might break some older tools that might work with XState today.

I feel super bad about issues like this - I understand the pain of the users trying to utilize this. I've wasted dozens of hours maneuvering through that ESM mess, trying to figure out a solution that would work everywhere, with every tool, for every package. This has been proven to be just impossible.

Some solution

[2022-01-06 14:05] horacioh commented on #963
I have a reproduction repo I can push tonight! I manage to fix it by setting a config on vitest side.

one solution that could work is basically having a separate esm version of the library. since this could be just a different build config it could be generated so we can avoid code duplication and inconsistencies. something like:

[code]

not sure if this is important for this version or maybe v5

[2022-01-06 14:10] horacioh commented on #963
adding some references of issues that happens with other packages with similar configurations as xstate:

https://github.com/vitejs/vite/issues/6395

https://github.com/horacioh/vitest-radix-demo

[2022-01-06 17:39] Andarist commented on #2920
The problem is that if the `actions` is an array then we assume that its items are valid and defined. I wasn't able to quite fix this in the provided repro - even though I believe that I've diagnosed the issue correctly...

If you mock `sendParent` like this:
[code]
then u effectively replace `sendParent` with a function that returns `undefined` and this is why the XState's code was tripping over

[2022-01-06 17:55] Andarist commented on #963
I've verified that node can load XState just fine, using the code like this:
[code]

If the issue is about Vite/Vitest... well, this is kinda their issue, right? 😉 I mean, especially for Vitests, this sounds like an infancy problem that hopefully should be fixed somewhat soon. Fixing this anyhow on our side would be rather counter-productive because that would only fix compatibility with this spec

[2022-01-06 20:11] bautistaaa opened #2922 "Visualizer stuck in loading state"
**Description**

When using the visualizer it appears to stay in an loading state with multiple keys in `on`. When using only **one** key it appears to load fine.

**Expected Result**

It should load the state chart

**Actual Result**

**Reproduction**

- [XState Visualizer](https://stately.ai/viz/56df1cfd-d677-429b-bb40-a781f4a35c97#)
if you uncomment lines 39 - 45 you will see the loading state

[2022-01-06 21:13] horacioh commented on #963
@Andarist yes you are right, there's no real issue withing XState in order to use it with Vite nor Vitest. I was commenting the issues I have related to libraries as XState that does not export `.mjs` modules or have the `"type": "module"` attribute in the `package.json`.

I add those references since you mentioned you are trying to figure out a way to make the compat issue for v5. Just as a refer

[2022-01-06 22:44] devanfarrell opened #2923 "`sendTo` not directly importable from xstate"
**Description**
The `sendTo` action was introduced in `4.27.0` per the [release notes](https://github.com/statelyai/xstate/releases/tag/xstate%404.27.0) but is not usable without importing from `xstate/lib/actions`

**Expected Result**
`sendTo` should be defined in at least one of these scenarios.

[code]
[code]

**Actual Result**
`sendTo` is undefined when imported as done above.

**Additional co

[2022-01-06 22:46] devanfarrell commented on #2923
I'm willing to take this on. Only question is if it should be accessible in the former or both access patterns?
[code]
[code]

[2022-01-07 00:17] davidkpiano commented on #2923
Would love a PR for this. I'd choose the first pattern `import { actions } from 'xstate'`

[2022-01-07 15:58] mindy commented on #2920
Thank you so much @Andarist! Changing the mock sendParent function as you suggested fixed the issue I was having.

I also ran into this when I was writing tests -- glad to have more clarity on what was going on here.

Going to close out this ticket -- thanks again for all of your help.

[2022-01-07 15:58] #2920 closed

[2022-01-07 16:25] jbouecke opened #2926 "the 'in' guard works only if the state is defined by a complete path or a 'custom' id but it should work also with relative path"
**Description**
If a transition is guarded via an 'in' property, the state that is referenced there cannot be addressed in the same way the 'target' is addressed. This isn't documented and also no good behaviour.

**Expected Result**

If the state in the transition that the machine must be 'in' is rerenced via a 'custom' id, it works, if it is referenced with a 'complete' path (including top level

[2022-01-07 23:19] DavidOrchard opened #2928 "Can't skip a state for testing by filtering on meta."
**Description**
I want to skip testing for a state that is the first state after initialization.  If I do {filter:(state) => !!state.meta} as suggested, the state is still tested, and with a compound name like `#statemachine.checking`.  When I log the states that are passed into filter, none of them are the state I want to ignore.

I want to be able to skip a state for testing through filtering.

[2022-01-07 23:24] DavidOrchard opened #2929 "simplePathPlan fails but shortestPathPlan succeeds"
**Description**

I'd like to be able run shortest and simplest path plans but simple fails, 2/5 tests pass.

**Expected Result**

Simple plan returns 5 plans which should all pass.  Shortest does return 4 plans which do succeed.

**Actual Result**

simple plan returns 5 plans but only 2/5 pass

**Reproduction**

https://github.com/DavidOrchard/xstate-model-testing-loading/tree/simple_fails_shortes

[2022-01-08 05:46] Bickio commented on #2533
I was grappling with this issue today for longer than I'd like to admit (compounded by this one https://github.com/tomblachut/svelte-intellij/issues/266).

The issue here is that the `subscribe` method returns an `Subscription` object, instead of a plain `() => void` function, meaning svelte doesn't consider it a `Readable`.

I think the best solution (assuming there are strong reasons for returni

[2022-01-08 13:32] davidkpiano commented on #2533
What version of Svelte are you using? I see in the Svelte docs that returning an object with `.unsubscribe` is allowed:

[2022-01-08 19:12] Narretz commented on #2054
This issue is fixed and can be closed

[2022-01-08 21:11] #2054 closed

[2022-01-08 21:15] davidkpiano commented on #2926
This behavior is changing in v5 to avoid confusing behavior, where there will be `stateIn(...)` guards that work like `state.matches(...)`.

Additionally, for v4, `in: ...` guards are relative to the _parent parallel state_ or with an ID. All state nodes have an ID which is the state node's path:

[code]

[2022-01-09 08:16] jbouecke commented on #2926
I understand that, but wouldn't it be nice to refer the states in the same way as you can refer target states?
If I get you right, the behaviour in v5 will be again working just with id's or complete path?

[2022-01-09 17:04] davidkpiano commented on #2926
It will expect either the ID or the complete path: https://github.com/statelyai/xstate/blob/next/packages/core/test/stateIn.test.ts

[2022-01-09 17:04] #2926 closed

[2022-01-10 16:22] huan opened #2931 ""An unexpected error has occurred" with statecharts.io/inspect"
**Description**

https://statecharts.io/inspect?server=localhost:8888

Can show the state charts when my program has just begun, but after a while when I switch the machine in the state menu at the right panel, it shows an error message:

with the following console log:

![image](https://user-images.githubusercontent.com/1361891/148800304-03743968-171a-4a04-8f13-d5d4889a4ad7.png)

[code]

The rela

[2022-01-10 16:35] Andarist commented on #2931
Thank you for the repro case - I should be able to take a look at this soon.

[2022-01-11 09:02] huan commented on #2931
@Andarist I can confirm that the code that trigger this problem is at https://github.com/wechaty/bot5-assistant/blob/cf146d180714e468ac4a1a859900772b0dfa2751/src/actors/brainstorming-actor.spec.ts#L198-L200

If I add two `await new Promise(resolve => setTimeout(resolve, 15000))` before it and after it, then at the first 15s, the statechart is OK, then the statechart crash when the code executed af

[2022-01-11 10:28] Andarist commented on #2919
This is almost the same problem as the one described [here](https://github.com/statelyai/xstate/issues/2920#issuecomment-1006778813). You have mocked `escalate` and when that function is called it returns `undefined` but it should return something resembling an action (like a function).

The logic responsible for throwing the error that you are observing is based on this:
https://github.com/statel

[2022-01-11 10:55] Andarist commented on #2931
The given repro case was quite involved so I didn't dive into that (thank you for providing it though as repro cases are very often essential for debugging issues). Based on the given stack trace though I was able to repro this with a minimal amount of code:
https://codesandbox.io/s/loving-hill-i81kb?file=/src/App.js

The problem is somewhat known to me and goes beyond this `log` action. We could

[2022-01-11 12:43] huan commented on #2931
Yeah I post my repo is to make sure you can see what happens, it is a complicated one and I'm always missing myself on it, that's why I need the state chart to visualize my state machine! :^)

And great to know that we have a minimum reproducible code and know how to fix it.

Looking forward to using the fixed version, please let me know when there's any workaround I can use.

Thank you very much!

[2022-01-13 15:28] alirezavlz opened #2938 "Low performance in spawning thousands of machines at same time/loop."
**Description**

Low performance in spawning thousands of machines at same time/loop.

**Expected Result**

Be able to run and spawn machines in queue or improve the performance.

**Actual Result**

**Additional context**

Hi, Thanks for this great work. Really enjoying of Xstate these days :)

However I found some poor performance results in spawning actors in a loop which makes me sad.

Basicall

[2022-01-13 16:19] #2938 closed

[2022-01-14 09:16] Andarist commented on #2938
It could be interesting to investigate a performance profile of that perf problem. Note there will always be some boundary amount of machines that you can create in a single synchronous loop - but maybe there are some things that we could do to raise that amount 😉

[2022-01-16 15:55] BrunoQuaresma commented on #321
I tried to use it but I'm getting a TS error, so probably I'm doing something wrong:

[code]

I tried to use the `onDone` inside of the `always` but looks like it is not supported. The idea is to add some events to the DOM in parallel during the initialization.

[2022-01-17 12:07] Andarist commented on #2919
Gonna close this for now as there is nothing actionable for us here but if you believe that the issue/question has not yet been addressed in full, let us know so we can provide more information.

[2022-01-17 12:07] #2919 closed

[2022-01-17 14:02] Andarist commented on #2565
@riccardo-forina thank you for being patient and providing that minimal repro. Thanks to that I was able to prepare a fix for this: https://github.com/statelyai/xstate/pull/2943

[2022-01-17 14:07] riccardo-forina commented on #2565
Awesome, thank you 🙇

[2022-01-17 16:24] Isokaeder opened #2945 "machine.transition is not pure (delete history.history)"
**Description**
By calling `machine.transition` on a predefined state, that state's history is mutated. This is in contradiction to the doc's claim that [machine.transition is a pure function](https://xstate.js.org/docs/guides/interpretation.html#custom-interpreters).

**Expected Result**
State is not mutated by being used as a parameter in `machine.transition`

**Actual Result**
`state.history` i

[2022-01-17 16:43] #2565 closed

[2022-01-17 16:45] Andarist commented on #2945
We agree with this and that's one of the reasons why `state.history` has been removed on the `next` branch: https://github.com/statelyai/xstate/pull/2882

[2022-01-17 16:54] davidkpiano commented on #2945
This is fixed in v5 (like @Andarist said) and a wontfix for v4 since it would be a breaking change - _not_ deleting `history.history` would cause a memory leak, as previously reported (accidental blockchain).

[2022-01-17 17:12] FlorianWendelborn commented on #2945
That’s good enough for our use-case as we don’t expect to be relying on history at all. Is `next` already reliable/stable? If no, do you have a rough, educated guess-based estimate when it could be approximately ready?

I think there’s a misunderstanding here. @HansAuger and I aren’t suggesting that `history.history` should not be deleted. The issue here is that `oldState.history` gets accidentall

[2022-01-18 19:09] Greg-Hitchon opened #2950 "Property 'observable' does not exist on type 'SymbolConstructor'. (Updating from 4.27.0 to 4.28.0)"
**Description**
After updating to 4.28.0 I get the error:

`Property 'observable' does not exist on type 'SymbolConstructor'.` for a number of xstate type defs:

![image](https://user-images.githubusercontent.com/3837138/150002334-57068f93-f9af-4b06-8092-e2c683fd2b9b.png)

**Expected Result**
No errors

**Additional context**
It seems that #2835 removed a declaration:
![image](https://user-images.

[2022-01-18 19:41] umerkk commented on #2950
+1. it is a breaking change for us.

[2022-01-18 22:43] Andarist commented on #2950
Sorry for the inconvenience. I'm investigating the issue and we should have a fix out for this tomorrow.

[2022-01-18 22:48] davidkpiano commented on #2950
cc. @woutermont

The change is here, for reference: https://github.com/statelyai/xstate/pull/2835

[2022-01-18 22:52] Andarist commented on #2950
You should be able to work around this by using [`skipLibCheck`](https://www.typescriptlang.org/tsconfig#skipLibCheck) (this is a recommended thing to do either way since it can improve your TS startup times etc)

[2022-01-19 06:41] woutermont commented on #2950
Ahh, could have known... Removed the necessary declaration because of a comment, since it did not seek to matter anymore (https://github.com/statelyai/xstate/pull/2835#discussion_r765040293_) ... apparently it does. Restoring it should fix that.

[2022-01-19 12:37] DavKato commented on #2533
I believe the problem here is not subscribe method returning the Subscription, but the call signature of `subscribe` method.

This simple reorder of overload signature solve the issue for rxjs, introduced an issue for svelte.
An interesting fact I learnt from [@Andarist 's comment on this PR](https://github.com/statelyai/xstate/pull/2371) says:

The signature that svelte expects for subscribe meth

[2022-01-19 14:21] umerkk commented on #2950
Do we have any ETA for a new patch release?

[2022-01-19 15:12] huan commented on #2870
Hi @Andarist ,

Thank you very much for your feedback, it's very valuable. I was keeping working on my mailbox codes for the past 3 weeks, and I will write my thought down and share it with you after they get stabilized for my use case.

[2022-01-19 16:48] davidkpiano commented on #2533
@DavKato Would reordering the overload signatures fix the issue for both RxJS and Svelte?

[2022-01-19 21:37] tkaragianes opened #2951 "Transient initial state with lazily initiated context causes two child actor spawns"
## Bug or feature request?
Bug.

## Description:
When a parent machine spawns a child actor in a lazily initialized context (`  context: () => ({ child: spawn(child, "child") })`), and there is a transient initial state, the parent spawns two child actors: one referenced in the context, and one referenced in it's children property. Without the transient initial state, a single actor is spawned as

[2022-01-19 21:59] manyaagarwal commented on #2505
@davidkpiano I would like to take this issue if no-one else is working on it?

[2022-01-19 22:28] davidkpiano commented on #2505
Yes, please!

[2022-01-19 22:51] Andarist commented on #2951
Would you be able to test out if this gets fixed with the patch from [this PR](https://github.com/statelyai/xstate/pull/2943/files)?

Even if it doesn't get fixed with that - we were just talking today with David about refactoring the code around initial actors and this work has been planned for the next two weeks. This should resolve issues like this holistically.

[2022-01-19 23:03] Andarist commented on #2533
That's unlikely because those overloads have been explicitly reordered to fix the RxJS problem so reordering them again would just flip the situation - break compatibility with RxJS but improve it with Svelte.

@DavKato do you happen to know where Svelte tries to compute the type of the $-prefixed variables? Just looking into the `.svelte` file opened with VScode doesn't give me that much insight

[2022-01-19 23:58] chanced commented on #2533
This can be rectified in the svelte-xstate package. See https://github.com/chanced/xstate-svelte/blob/b68fde50eeb149ef4b4d02c96c65adb973bf9a15/src/lib/bootable.ts#L35-L126

It has been awhile since I touched xstate and I can't recall where I left off with that spike. However, I'm pretty sure it was working. Ignore the silly name (bootable). I was planning on changing it.

[2022-01-20 06:02] Kuncheria-Kuruvilla commented on #1101
Another option would be to use `useMachine(machine, { context: { ... }})`.

[2022-01-20 10:02] Andarist commented on #2533
The problem here is slightly different though because it's not about using a machine within a component and tieing the lifetime of this machine to the component (this is what `@xstate/svelte` is about) but rather about using our interpreter etc as readable. In this case, the interpreter can be instantiated outside of Svelte and just imported to the component.

We could, of course, provide some kin

[2022-01-20 13:42] chanced commented on #2533
Your interpreter being service, yea?

[code]

[2022-01-20 14:14] chanced commented on #2533
The other issue with `@xstate/svelte` is how the interpreter is stopped. The codebase I linked resolves that as well.

[2022-01-20 16:16] Andarist commented on #2533
The code that you have pasted here is about a different problem though - as mentioned, this issue is about treating interpreters as readables (at the TS level) and not about converting/wrapping machines/interpreters into readables. Your code looks OK - it's just solving a different problem than outlined here.

Could you create a new issue about this? Mentioning expected & actual results for a give

[2022-01-20 19:17] chanced commented on #2533
That's my fault. Sorry about that.

[2022-01-20 21:16] ahamid opened #2954 "Error propagation from entry actions execution using interpreter"
**Description**

Same as #463 but specifically for automatic entry (and presumably exit) actions which are invoked automatically by the state machine / scheduler, so cannot be caught by calling code. Is the alternative to convert all actions to explicit states with internal service calls (which can fail/be rejected, and handled via state machine definition)? That seems a bit cumbersome.

**Expecte

[2022-01-20 21:17] ahamid commented on #463
#2954

[2022-01-20 23:02] p-j commented on #2505
If that helps, I've updated the code above to this now:
[code]

This is because as I've had issues with guards referencing a `context` that wasn't part of the machine's definition but passed afterward either using the context option of `useMachine` or the `.withContext` method.
In those case, the previous code would crash when attempting to compute the `intialState`.

[2022-01-20 23:12] #2950 closed

[2022-01-21 09:37] Andarist commented on #2954
At the moment how errors are handled in the runtime is a little bit under-specified. We are aware of the issue and we plan to address it. I've created an RFC going into more details - I would appreciate it if you could take a look at it and give feedback about those proposed changes: https://github.com/statelyai/rfcs/pull/4/files

[2022-01-21 10:09] Andarist commented on #2410
See the closing comment below the PR that was meant to fix this in the past: https://github.com/statelyai/xstate/pull/2411#issuecomment-1018362868

[2022-01-21 10:09] #2410 closed

[2022-01-21 18:32] tkaragianes commented on #2951
This patch doesn't quite fix it. Initial state now has a child actor referenced in children, and one in context, but they are different instances still. This isn't a blocker for me, so I can wait for the refactor.

The reason this popped up is because invoked actors can be referenced on the children property, but aren't in context. If you want to invoke a sibling child actor B and pass it the refe

[2022-01-23 17:44] mindy commented on #2919
Apologies for my late reply @Andarist -- I appreciate your explanation (that makes total sense!) and the time and effort you took to look into this. Thank you!

[2022-01-24 17:29] erikras commented on #2450
'sup team. I just ran into this bug. Child machine wanted to `sendParent` on `exit` of a state. When the whole system, including parent and child is shutting down, it caused an exception.

My fix: Because the state that was sending this on `exit` is one of two "toggle" states, I just put the `sendParent` on the `entry` of its opposite state.

[2022-01-24 18:44] Andarist commented on #2450
@erikras expect it to be fixed in Feb

[2022-01-24 18:44] EdmundsEcho opened #2959 "bug in production version of xstate (absent in dev version)"
**Description**

Initialization of the machine generates `xstate.error` in production mode.  It does not happen in development mode.

The difference between code that works as expected and otherwise generates the error in production mode is the following:
[code]
These functions (fn) are arrow functions.  They should have generated an error in the development version.  I believe this to be true bec

[2022-01-24 19:01] Andarist commented on #2959
Could you prepare a runnable repro case for this problem?

[2022-01-25 04:15] EdmundsEcho commented on #2959
I took a bunch of time to try and get something to replicate it... before somehow losing the work (despite saving).  From what I did get up and running, the console generated a warning... I don't know how to play with this in dev vs production modes using sandbox (and clearly other basic sandbox skills! :)).

[2022-01-26 13:27] el-dav opened #2966 "[TS] issue matching on parent compound state when using TypeStates"
**Description**
Given a machine with a compound state where states have been modelled using TypeStates e.g
[code]

When using `state.matches` you get a Typescript error when using `state.matches('parentState')`. This forces running a match on each combination of parentState and childState. This isn't an issue when not using TypeStates.

**Expected Result**
You should be able to match on just `pare

[2022-01-26 13:44] davidkpiano commented on #2966
Moving forward, we do not recommend using typestates because they are unsafe – it is possible to create an impossible typesafe. With the upcoming typegen, we will eventually be able to safely infer typestates.

[2022-01-27 06:34] andy-zhou opened #2971 "Can't reassign actions to more specific types"
**Description**

The following code:

[code]

Has the following error:
[code]

This is relevant when I define an action that I use in my machine

[code]
which gives the error

[code]

**Expected Result**
No type error

**Actual Result**
Type error

**Reproduction**
https://codesandbox.io/s/relaxed-bush-sb326?file=/src/index.ts

![image](https://user-images.githubusercontent.com/3608830/151304691-3

[2022-01-27 10:10] imsergiobernal opened #2974 "History state doc is confusing"
**Description**
1. First of all, it would be nice if there could be some kind of comparative example between `shallow` and `deep` types.

2. Also, some kind of fan type introduction to the reader. There are a lot of fan types.

This one is obviusly not
![image](https://user-images.githubusercontent.com/20087388/151335706-0a8c5f1c-fbed-4dda-9ac2-f0c613ccbb1e.png)

But is this one?
![image](https://

[2022-01-27 10:46] yaffol commented on #2727
Apologies, the link to the sandbox was incorrect.

This is the correct codesandbox https://codesandbox.io/s/ibyxc

If the sandbox container has already built and is running cached then you need to create a new terminal and `npm run build` to trigger the error.

[2022-01-27 11:06] el-dav commented on #2966
Interesting, is there somewhere I can hear more about the typegen plans?

I'm currently working on a library where I generate a machine via a factory function. This is partly so that my consumers could pass some types via a generic to include in the machine's Context type. Would this be supported by the typegen approach or would it only work where you have a fully formed machine with a fixed Conte

[2022-01-27 14:41] Andarist commented on #2966
Beta support for the typegen has been just released in [xstate@4.29.0](https://github.com/statelyai/xstate/releases/tag/xstate%404.29.0). It requires our [VS Code extension](https://marketplace.visualstudio.com/items?itemName=statelyai.stately-vscode).

The config argument passed to the `createMachine` has to be statically analyzable for this to work. If you only want to configure parts of the con

[2022-01-27 14:56] el-dav commented on #2966
That's very exciting! I'll try it out as soon as I can.

I think the shape of the states is stable in my use case so hopefully this will work. I had considered whether I could use factories to optionally add features to a machine but it's not something I'm currently working on.

An example use-case might be if I was creating a drag and drop library, I might want to optionally include a feature in

[2022-01-27 14:56] #2966 closed

[2022-01-27 15:16] Andarist commented on #2727
I'm looking into this but so far I only see TS trying to troll me:
[TS playground](https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAbzgYygUwIYzQWQ8gC2ADs0AaOE7KMdGCgQWRmgCU0AzOAXzg6ggg4AcgAeAZxhY0wgFCyYATzBo4AFQgBzTQBs0AUQBuaYvAC8iOEpUAuEWoDyAcScAZfcJ7zkEYpLhCFqiY2HiEJGgAPEg+AK6mdsSxIABGaFA8FBraekYmMAB8ABQI3ACUsj5+8OJwFlTptGgwRSAVsgAmaMg6GOhWyqp5pg4cTCxQ7ByRauPQcGii2MQdtXOTnJEYxIoU24oFBXXq6

[2022-01-27 15:39] Andarist commented on #2966
That would technically be possible at runtime but this makes stuff like visualization much harder. So my general advice is that - just don't try to do this. I don't think there is good RoI for us supporting this kind of a thing at the tooling level.

This can still be achieved with factory parameters and guards+always transitions in the machine.

Yeah, there are ways around that 👍

[2022-01-28 08:06] mlegait opened #2979 "Compilation issue with xstate@4.29.0 and typescript@4.5.5"
**Description**
Since I've upgraded xstate to 4.29.0, my project doesn't compile anymore.

**Expected Result**
TypeScript compilation ok.

**Actual Result**
Here is the error I get:
[code]

Thank you for your help :)

[2022-01-28 08:08] mattpocock commented on #2979
@mlegait Could you add a repro in a codesandbox? That will help us diagnose the issue. It looks like it's something to do with `.withConfig`, `.withContext`?

[2022-01-28 08:30] mlegait commented on #2979
@mattpocock here is a repro in codesandbox: https://codesandbox.io/s/competent-darkness-2lfu5?file=/package.json

[2022-01-28 08:51] Andarist commented on #2979
@mlegait did you save your codesandbox? it looks pretty empty to me. TS compilation issues should also be pretty easy to replicate in the TS playground itself - creating those playgrounds can often simplify the experience for **type-only** repro cases.

[2022-01-28 10:22] rjokelai commented on #2979
Hi @Andarist, try modifying src/app.ts. It's a server-side codesandbox and they behave a little differently. You need to be logged in to be able to fork the sandbox and run the server containers

[2022-01-28 11:20] Andarist commented on #2979
Please use `"skiplLibCheck": true` in your `tsconfig.json` - it will be beneficial for your compilation performance anyway.

We are aware of this incompatibility between those types (`StateMachine` & `StateNode`) but fixing it didn't seem like a worthwhile thing to do:
https://github.com/statelyai/xstate/blob/e38ee00456c81513cbbd6a91ded6868f820b8eac/packages/core/src/types.ts#L997-L998

The proble

[2022-01-28 12:18] mattpocock commented on #2979
@Andarist is this `skipLibCheck: true` tip worth adding to the docs?

[2022-01-28 13:08] Andarist commented on #2979
Hm, I don't think so - this accidentally caused problems twice in a row but that's super accidental. Our code should still work without this flag so this was a legitimate bug report.

If we want to educate people about this option - we can do that, it goes outside of XState's scope but it's also not harmful in any way.

[2022-01-28 13:19] #2979 closed

[2022-01-28 15:02] mlegait commented on #2979
Thank you so much for your reactivity 🙏

[2022-01-28 15:11] josmithua opened #2984 "Type error when using popular `createInterpreterContext` in v4.29.0, @xstate/react v2.0.0"
**Description**
Type error when using popular `createInterpreterContext` util, after upgrading to `@xstate/react v2.0.0` and `xstate v4.29.0`.

Here is the full code that causes the error:

[code]

Here is a screenshot with the error:

![Screen_Shot_2022-01-28_at_10 50 59](https://user-images.githubusercontent.com/3375071/151569118-6761915d-0dcc-4a17-8f50-d4e530e0f115.png)

**Expected Result**
Sho

[2022-01-28 15:33] umerkk commented on #2984
This problem is all across the board with yesterday's release and not just with React.
Not sure why minor/patch releases are introducing breaking changes lately.

[2022-01-28 16:30] mattpocock commented on #2984
@josmithua The issue here is you need to add two more `any` generics to the Interpreter in your custom function:

https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAKjgQwM5wEoFNkGN4BmUEIcA5FDvmQNwBQdokscA3nAK6pYDKWANlnzQ4AXzhES5AAIAPVDGQwsAekp4YtRuGjx2udcoCyeABbAAdlgA0cAJIXlUMJSe2HTl1icAxYqXFJUjJ5RWUtOhUVOCwoYig4CFxcDih0CAsJCH5+CAB3SwBzOH5LLAAuOlwMhTgAfTgAXjgDHGUPWK8nAGEM5VkYAB4O51dYvxJBmABPM

[2022-01-28 16:34] Andarist commented on #2984
@umerkk please review our semver policy: https://github.com/statelyai/xstate#semver-policy

[2022-01-28 21:17] rtmruczek opened #2985 "Exception in `xstate >= 4.28.0` using actorRefs `TypeError: Cannot use 'in' operator to search for 'getSnapshot' in undefined`"
**Description**
Since `xstate@4.28.0`, my colleagues and I have seen breaking behavior with `actorRef`s. It's the same error as seen in this issue report: https://github.com/statelyai/xstate/issues/2435

The above reported issue seems to suggest that this was not an issue with xstate, however it's strange that this issue just started to manifest in  `xstate@4.28.0` and later.

**Expected Result**

[2022-01-29 07:32] Andarist commented on #2985
This is a change introduced by [this PR](https://github.com/statelyai/xstate/pull/2864). To resolve it you can add an explicit `id` to your `invoke`.

[2022-01-29 09:49] simonflk opened #2986 "[TypeScript] typegen creating output which conflicts with @typescript-eslint/ban-types"
**Description**

Typegen output is offending `@typescript-eslint/ban-types` whose mission statement is

**Expected Result**

Typegen output should not use incorrect types which are flagged by the `@typescript-eslint/ban-types` rule

**Actual Result**

The specific error is:

[code]

And can occur on `invokeSrcNameMap`, `eventsCausingServices`, `eventsCausingGuards`,  and `eventsCausingDelays`:

![

[2022-01-29 09:51] simonflk commented on #2986
I'm currently working around this with an override in my eslint.json to disable that rule for `*.typegen.ts`

[2022-01-29 10:45] Andarist commented on #2986
@mattpocock we can probably just output `never` at those locations instead of `{}` - but it's best to double-check that and add those to all existing type gen tests in this repo. Maybe we could even just skip those keys if they are empty~? That could be even better as we'd save some parsing time.

[2022-01-29 12:50] davidkpiano commented on #2985
This was a long-standing bug that was fixed in https://github.com/statelyai/xstate/pull/2864 (issue: #464)

If you are referencing an invocation, you need to specify the ID for it:

[code]

cc. @Andarist Should we add a dev-time warning when IDs aren't specified for invocations?

[2022-01-29 14:42] mattpocock commented on #2986
Yes, although applying any linting whatsoever to generated files is probably not a great idea. When we release the CLI, we'll even be able to gitignore these assets and generate them on CI.

This is a cheap enough change to make, though.

[2022-01-30 15:07] Jimmy89 opened #2990 "4.29.0 specific issue with delays within spawned child"
**Description**
I'm reporting this bug knowing that I cannot fully explain the bug, in the hope that others might be able to add information.

I found out that my jest test for a complex machine was having some endless loop when initiating a child machine directly on the context of a parent machine init. Zooming in on the problem I found out: this issue started occuring on v4.29.0, on v4.28.1 this

[2022-01-30 15:48] BrunoQuaresma opened #2991 "[Typescript] When using schema, context is returning any"
Hey folks, I'm using the new schema prop to generate better types but looks like it is typing the context with any.

Here is the Codesandbox: https://codesandbox.io/s/floral-snowflake-dqxti?file=/TakeExamForm.tsx

<img width="1680" alt="Screen Shot 2022-01-30 at 12 46 46" src="https://user-images.githubusercontent.com/3165839/151706714-c646bb38-d613-43ac-a328-aa22a24c1c30.png">

[2022-01-30 15:50] mattpocock commented on #2991
@BrunoQuaresma Great catch!

[2022-01-30 16:00] mattpocock commented on #2991
Added a failing test here:

https://github.com/statelyai/xstate/pull/2992

[2022-01-30 19:59] Andarist commented on #2990
That is somewhat stranger because 4.29.0 doesn't come with any particular changes that would have the potential to affect the runtime like that.

It's hard to look into this further if we don't receive a repro case for the problem. Would you be able to create one?

[2022-01-30 22:31] kfern commented on #2974
Hi! A real world use case at https://www.youtube.com/watch?v=fT9p9CCSrn8&t=1260

[2022-01-31 03:17] hedgepigdaniel opened #2994 "Bug: send() with specific TContext/TEvent/TSentEvent not assignable to `on.<event>.actions`"
### Description

The return type of `send<TContext, TEvent, TSentEvent>()` is `SendAction<TContext, TEvent, TSentEvent>`. As I understand, the generics have the following meaning:
 * `TContext`: the type of the context of the machine where the action is sent from
 * `TEvent`: the type of the events of the machine where the action is sent from
 * `TSentEvent`: the type of the event that is sent (po

[2022-01-31 08:37] Andarist commented on #2994
The problem would go away if we'd remove this pesky contravariant property from the `ActionObject` type:
https://github.com/statelyai/xstate/blob/1bc344e74d66661f81f9385d1a0b9893ffb5b2de/packages/core/src/types.ts#L69

This is a bigger refactor that we plan to do eventually - unfortunately, I don't have any quick wins for this.

[2022-01-31 09:35] Andarist commented on #2985
They are not required though and often can be redundant so I would not make this a hard rule - and a dev-time warning that would be printed at all times would kinda make it such.

[2022-01-31 15:25] rtmruczek commented on #2985
Makes sense, thanks for letting us know about the fix @Andarist  and @davidkpiano .

Just my two cents because I have no idea what the original bug was - perhaps it makes sense to adjust the type and make this value required if it could potentially cause an exception if the value's not present. I understand that it's not required for most typical use cases though, so maybe we could default to usin

[2022-01-31 21:38] devanfarrell commented on #2923
Verified fixed in [4.28.0](https://github.com/statelyai/xstate/releases/tag/xstate%404.28.0)

[2022-01-31 21:38] #2923 closed

[2022-01-31 22:59] RoyalHunt opened #2998 "Bug: Could not find a declaration file for module '@xstate/react'"
### Description

Hi there!
I've tried to update react xstate library to the latest version.
<img width="818" alt="Screenshot 2022-02-01 at 00 57 30" src="https://user-images.githubusercontent.com/22590130/151886874-d8d3d2f9-be3f-4b45-addb-61d3e9ad88cb.png">

But start receiving the error on the build process.
<img width="963" alt="Screenshot 2022-01-31 at 23 33 59" src="https://user-images.githubu

[2022-02-01 14:14] davidkpiano opened #3002 "Add dev-time warning for invoke ID confusion"
Makes sense, thanks for letting us know about the fix @Andarist  and @davidkpiano .

Just my two cents because I have no idea what the original bug was - perhaps it makes sense to adjust the type and make this value required if it could potentially cause an exception if the value's not present. I understand that it's not required for most typical use cases though, so maybe we could default to usin

[2022-02-01 14:14] #2985 closed

[2022-02-01 14:28] thantos commented on #890
This work around only works when there is a single level transient transition. I am writing a machine that relies on an unknown number of transient transitions.

This has worked so far...

[code]

used like...

[code]

[2022-02-01 15:14] Andarist commented on #2998
It would help us out if you could share a runnable repro case. Alternatively, I could try to read the output of running `tsc` with [`--traceResolution`](https://www.typescriptlang.org/tsconfig/#traceResolution) but you'd have to provide one to me.

[2022-02-01 15:52] Andarist commented on #2991
This got fixed by https://github.com/statelyai/xstate/pull/2992 and will go out in the very next release

[2022-02-01 15:52] #2991 closed

[2022-02-01 19:25] RoyalHunt commented on #2998
Hi Mateusz,
Thank you for your quick response. I've made a repo with the problem. Xstate together with tsdx falling down on the building process. The issue is in the tsdx, but could be interesting for you as well.

Repo: https://github.com/RoyalHunt/xstate-tsdx

[2022-02-01 20:04] Andarist commented on #2998
Thanks, gonna take a look at this when I get some free time to do so.

[2022-02-01 20:07] RoyalHunt commented on #2998
Thank you.

[2022-02-01 22:50] Andarist commented on #2998
One big problem with TSDX is that it will use its own TS version because it's specified as a dependency:
https://github.com/jaredpalmer/tsdx/blob/9dc28f28cf6105bfa724b2e439e074a56989d48d/package.json#L99

So this will actually try to load types for `<4.0` even though you are using `4.5.5`.

The second problem is that we forgot to add the file targeting `<4.0`:
https://github.com/statelyai/xstate/b

[2022-02-02 00:42] BrunoQuaresma commented on #2991
Thanks!

[2022-02-02 08:01] EgorOvechkin commented on #2998
I have the same issue. I want to add xstate to my react project with typescript. Should I use prev version @xstate/react@1 to avoid the problem ?

[2022-02-02 08:07] RoyalHunt commented on #2998
You have couple of options:
1. Remove tsdx - switch to any other bundler
2. Downgrade the xstate. Version ^1.x works fine.

[2022-02-02 08:11] RoyalHunt commented on #2998
Thank you for your thorough response. Before I upgraded xstate, I planned to replace a bundler. As a result, there will be a reason to do it :)

[2022-02-02 08:11] #2998 closed

[2022-02-02 08:23] Andarist commented on #2998
@EgorOvechkin which TS version are you using? Are you also using tsdx?

[2022-02-02 08:33] EgorOvechkin commented on #2998
@Andarist sorry I missunderstood the problem. I dont use tsdx, but I use typesrcipt version 3.9.3. I think if I updtae my ts version to 4 the problem will sloved, right ?

[2022-02-02 11:04] Andarist commented on #2998
Yes, upgrading your TS version in such a situation should help you to fix this. I've rechecked with DefinitelyTyped what's their level of support for older TS versions. It seems that the official support for 3.8 ends up this month but 3.9 will be supported till May. I think it makes sense to follow their support schedule (which is: versions released in the last 2 years) - so I'll try to make a PR

[2022-02-02 14:09] ShaneAtJag opened #3004 "Bug: React useMachine state type checks stopped working in latest versions"
### Description

xstate@4.28.1 + @xstate/react@1.6.3
https://codesandbox.io/s/fast-wave-0vkb3?file=/src/index.tsx
![Screenshot 2022-02-02 at 08-52-06 CodeSandbox](https://user-images.githubusercontent.com/95544653/152168932-aa13e0bd-a6b7-4263-b88d-7db2f9cb7aa2.png)

xstate@4.29.0 + @xstate/react@2.0.0
https://codesandbox.io/s/red-breeze-2e9ub?file=/src/index.tsx
![Screenshot 2022-02-02 at 08-52-25

[2022-02-02 14:12] mattpocock commented on #3004
@ShaneAtJag I think this is a bug, but it's interesting. The new typegen features are an improvement on declaring typestates, because you don't need to add the typestates - state.matches will be typesafe anyway.

We're also looking to deprecate typestates in the near future.

Not saying that this is a "won't fix", but thought this was worth pointing out.

[2022-02-02 14:22] ShaneAtJag commented on #3004
@mattpocock I understand now. That helps a lot. I extracted a machine from code using the previous versions into a new repo and couldn't figure out what went wrong.

Deprecating typestates makes sense. I love the direction you're going in.

Thank you.

[2022-02-02 21:20] BrunoQuaresma opened #3005 "XState init is being called twice"
### Description

Hey folks, I noticed the machine is being initialized twice even using the `useInterpret`. Here is the example:

<img width="1354" alt="Screen Shot 2022-02-02 at 18 21 24" src="https://user-images.githubusercontent.com/3165839/152239365-a1c9f5c5-7dbb-4576-897e-4cfbc0fb05f0.png">

[code]

### Expected result

Not being initialized twice.

### Actual result

It is being called twice

[2022-02-02 22:46] hugobdev commented on #2984
For those googling, I had a similar issue after I updated to `4.29.0`, but with `StateMachine`.

The `StateMachine` type definition changed from `~4.28.0`.

You have to add definitions for `TAction, TServiceMap, TResolvedTypesMeta` if you are trying to have it match the return from `createMachine<TContext, TEvent, TTypestate>`.

[code]

I have to declare the type because some of my machines have a

[2022-02-02 23:53] davidkpiano commented on #3005
This is expected behavior; the initial state needs to be determined before interpreting (starting) the machine, so the `assign` action is evaluated. Then, when the machine is started, it is evaluated again, because it might change; and in this case it does, since `spawn` now needs to know which actor is doing the spawning (the parent).

[2022-02-03 00:00] hedgepigdaniel opened #3006 "Bug: Impossible to use generic TContext with `createMachine`"
### Description

The types for `createMachine` have a [check](https://github.com/statelyai/xstate/blob/7e17c41f68d3805181ebaad09118caf39847872f/packages/core/src/Machine.ts#L89-L98) that aims to prevent passing `Model` instead of a `MachineConfig`. But this check triggers incorrectly for any generic type, because any generic type might add properties such that it extends `Model<any, any, any, any>

[2022-02-03 00:03] BrunoQuaresma commented on #3005
I'm just receiving an SSR warning related to the component key on the client not be matching the one from the server since the ids are being generated twice, not a big deal tho. I appreciate your explanation, thanks.

[2022-02-03 01:55] hedgepigdaniel commented on #2994
Hmm, after some experimentation I did manage to write some restricted types, that actually narrow the type of `send` and `sendParent` without any casting:

[code]

Reference: https://github.com/statelyai/xstate/issues/3006

So then you can use it as follows:
[code]
`sendToSelf` and `sendToParent` only accept events compatible with the current or parent state machines respectively, and where they a

[2022-02-03 01:59] hedgepigdaniel commented on #2994
I think what fixed it is the distinction between `TAllEvents` and `TEvent`:
* `TAllEvents`: all the events of the machine triggering the action
* `TEvent` all the events that could have triggered this particular action.

`TEvent` is often different from `TAllEvents`:
 * in `on.<event>.actions`, it is more specific, i.e. the specific `<event>` that triggered the action
 * in `states.<state>.invoke.

[2022-02-03 02:01] hedgepigdaniel commented on #1250
I've worked around this issue by narrowing the types for `send` and `sendParent`, in a way specific to each machine: https://github.com/statelyai/xstate/issues/2994#issuecomment-1028529632

[2022-02-03 14:50] thomasaull commented on #675
@davidkpiano I just had this issue, where, when I try to use a nested state on the `initial` property of my state machine, I'm getting an error:

[code]

The example state machine:

[code]

This issue was closed without any comment about why, it seems the issue is still present. Do you consider reopening or is this something which won't be fixed?

[2022-02-03 15:05] thomasaull commented on #1476
A quick follow up, one problem I encountered with this method, that for this state:
[code]
the self-transition (and thus the action) would never run.

[2022-02-03 16:17] Andarist commented on #675
@thomasaull could u describe ur use case for this feature?

[2022-02-03 16:34] thomasaull commented on #675
@Andarist In my case, I was trying to start a state machine in an arbitrary state, by stopping the interpreter, update the state machine `stateMachine.initial = 'my.nested.state` and starting up everything again. However I noticed this does not work as I would expect it, so for my usecase it's useless anyway. Mainly I was just wondering, because the outcome of the discussion seem to lead to that t

[2022-02-04 01:24] chbdetta opened #3010 "Bug: Node.js types are included in 4.29.0"
### Description

After update to 4.29.0, type check fails:

[code]

Somehow the Node.js types are brought into my project. This was not an issue in 4.28.1

### Expected result

No type error should arise

### Actual result

gets error

### Reproduction

https://github.com/chbdetta/xstate-node-js-type-reproduce

### Additional context

_No response_

[2022-02-04 09:40] thomasaull opened #3011 "Bug: Starting service with `getInitialState` doesn't trigger delayed transitions"
### Description

I'm starting a state machine from an arbitrary state like this:

[code]

if the state `myState` has a delayed transition defined:

[code]

it does not happen, the transition is ignored. However a delayed event like this works:

[code]

### Expected result

According to this part in the documentation https://xstate.js.org/docs/guides/delays.html#behind-the-scenes delayed transition

[2022-02-04 15:41] #3010 closed

[2022-02-04 16:24] Greg-Hitchon opened #3014 "Bug: Layout of event node when transitioning to parent state"
### Description

For an event transitioning from some originating state to a parent state the event node is relative to the parent state in the editor. When the event node is placed within the originating state it makes sense to keep it relative to the originating state.

![event anchor](https://user-images.githubusercontent.com/3837138/152564691-84dbf634-1aea-4d61-84f3-b5789559a44e.gif)

### Expe

[2022-02-04 16:48] #3014 closed

[2022-02-07 11:03] Andarist commented on #3005
Note that we'll be working on improving the situation slightly in February. With the changes that I have in mind `assign` we won't be recomputing initial states twice within `@xstate/react` and thus `assign` won't be called twice in such a scenario.

This sounds like a slightly different problem though. IDs mismatch between the server and the client is a different issue than the initial state bein

[2022-02-07 11:58] violabg opened #3021 "Bug: atomWithMachine typescript error after updating xstate to version 4.29.0"
### Description

I have updated xstate to version 4.29.0, and I'm getting a typescript error when adding a machine to atomWithMachine.

### Expected result

no typescript error

### Actual result

[code]

### Reproduction

update to version 4.29.0, and add a machine to atomWithMachine

### Additional context

_No response_